<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle"> з сьомгою та горбушею </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Незвичайні та неймовірно ніжні пельмені  з сьомгою та горбушею ручної роботи від ТМ SmaCom створені для гурманів та любителів неординарного і  витонченого смаку. </p>	
						<p>У цих  пельменях використовується не звичний фарш – охолоджене філе сьомги та горбуші.  Ця промислова риба сімейства лососевих дуже корисна за всіма показниками –  завдяки своїй високій поживній цінності. У рибопродуктах прихована справжня формула здоров'я: легко засвоювані білки, жирні кислоти, вітамін D і цілий ряд мінералів, таких, як йод, селен, фтор, магній, кальцій.  За технологією риба обробляється з дотриманням усіх стандартів якості, що забезпечує максимальну її поживність. А додавання майорану до фаршу, дає свою “родзинку” і має неповторний смак. Це не лише смачно, але й корисно.</p>
						<p>Смакуйте на здоров’я!</p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, філе риби (сьомга, горбуша), вода питна, цибуля, яйця курячі, сіль, олія соняшникова, майоран, перець чорний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>11,9 г</span></li>
			<li>жири<span>4,5 г</span></li>
			<li>вуглеводи<span>24,4 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>777 кДж</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені  з сьомгою та горбушею, не розморожуючи, засипати в киплячу підсолену воду /1:4/ з додаванням лаврового листа або мускатного горіха. Варити 5-7 хвилин на слабкому вогні до повної готовності. Виловити шумівкою пельмені та викласти їх на велике блюдо. Приправити за смаком.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>