<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з вишнею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_3.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Щедру українську кухню абсолютно неможливо уявити без вареників. ТМ SmaCom пропонує  продукцію «преміум» класу ручного ліплення – вареники з вишнею. </p>	
						<p>В Україні з цим кулінарним шедевром познайомилися завдяки туркам: східне блюдо «дюш-вара» спочатку стало «варАниками», а потім «варЕниками». Сьогодні в арсеналі української кухні нараховуються тисячі рецептів приготування вареників, але найбільш затяті прихильники цієї страви, звичайно, скажуть, що справжні вареники все ж повинні бути солодкими.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Класична рецептура у домашніх традиціях використана при виробництві вареників з вишнею від ТМ SmaCom.  Для начинки використовується калібрована заморожена вишня, що зберігає її поживність – інноваційна та екологічно безпечна технологія швидкої заморозки дозволяє від збору до приготування зберігати аромат і смак свіжих ягід, а також усі корисні вітаміни та мікроелементи. Вареники з вишнею від ТМ SmaCom – здоров'я круглий рік! </p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, вишня свіжоморожена, вода питна, цукор, яйця курячі,крохмаль картопляний, олія соняшникова, ванілін.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>4,0 г</span></li>
			<li>жири<span>1,0 г</span></li>
			<li>вуглеводи<span>37,9 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>738,9 кДж</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники з вишнею засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та полити розігрітим вершковим маслом або сметаною. Окремо до вареників можна подати солодкий сироп, найкраще вишневий або черешневий, можна варення.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>