<div class="popupHeader">
    <div class="title"><h1>Бульмени </h1><span class="subtitle">со свининой и говядиной</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>ТМ SmaCom имеет большой ассортимент продуктов, но это не заставляет нас стоять на месте. Мы постоянно генерируем новые идеи, чтобы удивлять своих потребителей новыми вкусами.</p>
                <p>Представляем абсолютно новый продукт, не похожий ни на один из существующих на рынке замороженных полуфабрикатов. Это бульмени со свининой и говядиной. Креативная название образовано путем объединения слов «бульон» и «пельмени».</p>
                <p>Бульмени – это нежный и сочный кулинарный шедевр, перед которым невозможно устоять! Секрет бульменей раскрывается при варке, во время которого в середине продукта образуется мясной бульон.</p>
                <p>Уверены, маленькая круглая форма бульменей понравится не только взрослым, но и детям.</p>
                <p>Рекомендуем попробовать бульмени с индейкой, и бульмени с говядиной.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">
                Фарш: мясное сырье замороженное 64,5% (мясо свинины жилованное 28,9%, мясо говядины жилованное 29,8%, сало свинины 5,8%), вода питьевая, лук репчатый, соль поваренная пищевая, перец черный молотый, глутамат натрия. Тесто: мука пшеничная в/с, вода питьевая, клетчатка пшеничная, соль поваренная пищевая.
            </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>8,9 г</span></li>
                <li>жиры<span>10,3 г</span></li>
                <li>углеводы<span>25,4 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>961,9 кДж /229,9 ккал.</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,900 кг<span>± 15 г</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Бульмени не размораживая, засыпать в кипящую подсоленную воду (1 часть бульменей: 4 части воды), перемешать. Довести до кипения и варить 3 минуты после всплытия на слабом огне. Бульмени  можно подать к столу со сливочным маслом, сметаной, соусом и пр.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>