<div class="popupHeader">
    <div class="title"><h1>Khinkali caucasus</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/mother/img-khinkali-kkz_pop.png" alt="">
    </div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>To cook khinkali the cooks of TM Smacom use author’s receipt, following all Caucasus traditions. There are ones of tasting this meal. Khinkali’s unique  taste is opening when you eat them hot. Also, you need to do it with your hands only, no forks or knives not to let the broth bursts out.</p>
                <p>Another feature of khinkali is thin dough and they are stuffed with meat and natural spices only.</p>
                <p>Khinkali is a very delicious main course, you feel full and satisfied during the day. You can serve them with sauce and greens.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Extra class flour, chilled chicken fillet, mid-back fat, water, butter, egg powder, salt,
                black pepper.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>8,43 g</span></li>
                <li>fat<span>18,4 g</span></li>
                <li>carbohydrates<span>26,1 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>201,02 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,9 kg<span>± 5 g</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts
                of water). Boil them until half-cooked, put in pots and pour with the hot broth with sour cream and
                fried mushrooms. Close the pots and cook in the oven until ready.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>