<div class="popupHeader">
    <div class="title"><h1>Meat dumplings with pork</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-dumpling-pork_pop.png" alt="">
    </div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>The name of food line “Mother’s receipts” fully reflects the concept of semi-finished products. They address love to the customer through their delicious taste.</p>
                <p>Having tried pelmeni you can think that mother’s hands made pastry, cooked ground pork and made pelmeni of dumpling shape.</p>
                <p>Firstly, the important difference of these pelmeni is thin dough. Secondly, the filling is selected pork with natural seasonings: ground black pepper and salt.  You will be delighted with juiciness, taste and nice shape of pelmeni.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Pelmeni presented in a carton lined package with transparent piece on it that it is possible to see 100% of product. The package is bright, so it is easy to distinguish them among new others. </p>
                <p>The trademark is that there is a receipt of pickled cucumbers sauce. We recommend it to highlight the flavor of the meal itself during serving.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                <strong></strong>
                <br>
                <strong></strong>
                <br>
                <strong></strong>
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>8,3 g</span></li>
                <li>fat<span>19 g</span></li>
                <li>carbohydrates<span>26,0 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>1289,5 kJ / 308,2 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,6 kg<span>± 15 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p></p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>