<div class="popupHeader">
	<div class="title"><h1>Meat dumplings</h1><span class="subtitle">"Siberian"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/sib_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
                            Siberians are amazing people with ancient traditions and magnificent traditions. Siberia has many beautiful myths and legends, one of which tells us about national pride Siberians - the dumplings.

                            The recipe of these Siberian pelmeni has many features. For example, the filling of the dumplings are made from elk and cooled with ice, and as "juicy raisins" add cranberry juice, cranberry or blueberry.
</p>


						</div>
						<div>
							<div class="title">2</div>
                            <p>
                                Dumplings "Siberian" TM SmaCom is pure taste and progressive technology. Dumplings "Siberian" is an ancient recipe Siberian masters and innovative production, a unique symbiosis step-by-step follow traditions and commitment to absolute quality.

                                Neat, petite-exquisite - (real Siberian dumplings must be small!) - dumplings "Siberian" from TM SmaCom represent the best examples of home Siberian cuisine.
                            </p>

						</div>						
						<div>
							<div class="title">3</div>
                            <p>
                                Plastic, thin crust, chilled strictly Siberian technologies, with elegant crown molding comprises natural meat stuffing (real Siberian dumplings should include three kinds of meat, no less!) - pork, beef and poultry, observed in a very strict proportions. Homemade onion and garlic deliver amazing juiciness, and allspice and black pepper create a delicious and spicy dishes.
                                Dumplings "Siberian" from TM SmaCom - original flavor! Live for real! Live with SmaCom!
                            </p>
						</div>			
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">the meat/pastry - 50/50
                dough: wheat flour, drinking water, egg powder, refined vegetable oil, salt;
                beef: beef - 40%, pork - 25%fat, 10%, onions, drinking water, wheat fiber, salt, dried garlic, parsley, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>8,0 g</span></li>
				<li>fat<span>19,1 g</span></li>
				<li>carbohydrates<span>26,7 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>311,1 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,45 kg<span>± 5 g</span></li>
				<li>0,9 kg<span>± 5 g</span></li>
				<li>2,5</li>
			</ul>												
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Well frozen dumplings "Siberian" to fill in the low-fat broth, seasoned with spices (marjoram, pepper and others). After cooking all the liquid carefully decant (serve dumplings in broth Siberians considered mauves ton). Dumplings serve on a platter with a special sauce. To prepare the sauce you want on a dry hot pan fry the flour to brown, then dilute it with meat broth, put the butter, add to taste ground black pepper and salt. Separately to the dumplings to serve the vinegar and broth.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>