<div class="popupHeader">
	<div class="title"><h1>Dumplings “Firmovi”</h1><span class="subtitle"> from selected pork and flavored nutmeg</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
		<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>“Smacom” presents a new author recipe – dumplings “Firmovi” from selected pork and flavored nutmeg. “Firmovi” is a product of high quality level, for this production we used only selective and natural ingredients.</p>
							<p>These dumplings are characterized by a special taste and aroma due to spicy nutmeg. Nutmeg is a very well known spice in the world, it’s widely used in cooking to achieve the perfect taste. Nutmeg with intensely spicy aroma and sweet-bitter taste gives the meat delicacy and piquancy.</p>
							<p>Dumplings from selected pork and nutmeg can be considered a perfect taste.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Dough: wheat flour / s, potable water, eggs, salt. Minced meat: raw frozen meat (pork tendon removed, chicken meat), fresh onion, water, salt, nutmeg.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>9,6 g</span></li>
							<li>fat<span>10,3 g</span></li>
							<li>carbohydrates<span>24,9 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>230,7 kcal</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,8 kg<span>± 5 g</span></li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Boil them until half-cooked, put in pots and pour with the hot broth with sour cream. Close the pots and cook until ready in the oven. Strew with greens when serving.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>