<div class="popupHeader">
	<div class="title"><h1>Meat dumplings </h1><span class="subtitle">"Branded"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_10.jpg" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>SmaCom™ offers to try miniature meat dumplings "Branded", the base of which is thin dough and juicy ground beef with slices of Ukrainian lard. These meat dumplings have a crescent shape and weigh only 5 g each. A juicy combination of minced pork and beef is worshiped by our compatriots. Ratio of dough to minced meat is 50:50, which will amuse men with taste and satiety, and housewives with the most convenient cooking.</p>
							<p>Cooking the meat dumplings "Branded" is quick and easy! Thanks to the elegant, accurate molding they are great for both everyday eating and for holidays, and their miniature size and natural ingredients are ideal for children.</p>
							<p>Meat dumplings "Branded" are always appetizing, elegant, delicious!</p>
						</div>		
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">
							Dough: extra class flour, water, egg powder, refined sunflower oil, salt. 	<br>
Filling: semi-fat beef, water, mid-back fat, onion, salt, ground black pepper.

						</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>9,1 g</span></li>
							<li>fat<span>14,5 g</span></li>
							<li>carbohydrates<span>25,4 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1123,4 кJ</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,6 kg<span>± 5 g</span></li>
						</ul>												
					</div>
				</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Cook on low heat for 5 minutes until soft. You can pour sour cream or butter and strew greens on the meat dumplings while serving.</p>	
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>