<div class="popupHeader">
	<div class="title"><h1>Meat dumplings</h1><span class="subtitle"> "Home"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/dom_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>What is the most reminiscent of home? What creates a unique coziness? A meal with a familiar taste. It gives strength and health of hearth. And if there is one most favorite homemade dish in the world, it is certainly meat dumplings. Cooking meat dumplings is not just a culinary act, it is a ritual. </p>
							<p>But if you don't have time to cook, SmaCom™ is ready to offer you a decent solution - real homemade meat dumplings for the whole family. Their recipe was created in compliance with all standards and is notable for a special, true home care. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Thin meat dumplings dough embodies juicy natural fillinf, carefully created from tender poultry meat and extra quality beef by masters of their craft. Skillful, curly molding will remind you the best masterpieces of home cooking.</p>
							<p>You will always be able to prepare "Home" meat dumplings quickly and accurately and you will feel like home enjoying your native taste! SmaCom™ meat dumplings "Home": you're always at home! Designed with a true family care!</p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Extra class flour, beef, mid-back fat, onion, water, salt, egg powder, vegetable oil, black pepper.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>9,06 g</span></li>
							<li>fat<span>6,47 g</span></li>
							<li>carbohydrates<span>26,11 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>198,95 kcal</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,45 kg<span>± 5 g</span></li>
							<li>0,9 kg<span>± 5 g</span></li>
							<li>2,5 кг</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Boil them until half-cooked, put in pots and pour with the hot broth with sour cream. Close the pots and cook until ready in the oven. Strew with greens when serving.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>