<div class="popupHeader">
	<div class="title"><h1>Dumplings “Firmovi”</h1><span class="subtitle">with mushrooms</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop3.png" alt=""></div>

	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>
					Product range of dumplings “Firmovi” of TM SmaCom was added with unique dish: dumplings with mushrooms.
					The thing of brand “Formovi” is that we use only natural meat, homemade cooking, unique form of product and eco craft packaging as well.
				</p>
				<p>
					The filling consists of mushrooms 80% so that it has good mushroom taste. We added fried onions, salt and pepper as well.
					Dumplings with mushrooms are dietary healthy dish, it can be consumed both vegetarians and people who go on a fast.
				</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">
				Dough: top-grade flour, potable water, deodorized sunflower oil, edible table salt. Filling: mushrooms 80%, fried onions, edible table salt, milk powder, black ground pepper.
			</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>6,5 g</span></li>
				<li>fat<span>1,5 g</span></li>
				<li>carbohydrates<span>27,0 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>617,1 kJ /147,5 kcal.</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,8 kg<span>± 15 г</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>

			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>