<div class="popupHeader">
	<div class="title"><h1>Dumplings “Firmovi”</h1><span class="subtitle"> with tender turkey fillet</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop2.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>“SmaCom” has created a special line of dumplings by unique author's recipe. “Firmovi” is a product of high quality level, for this production we used only selective and natural ingredients.</p>
							<p>We made sure that the consumer can easily select the product for his taste from a wide range. Particular attention should be paid to turkey meat dumplings, they are low-calorie, sweet, diet and healthy. Also dill gives the dumplings a special savory taste.</p>
							<p>Let’s try the dumplings “Firmovi” with a tender turkey fillet and rate the quality on taste!</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Dough: extra class flour, potable water, eggs, salt. Stuffing: frozen raw meat (turkey meat, chicken meat), fresh onion, water, margarine, salt, dill, white sugar.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>11,8 g</span></li>
							<li>fat<span>4,5 g</span></li>
							<li>carbohydrates<span>24,5 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>185,7 kcal</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,8 kg<span>± 5 g</span></li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Boil them until half-cooked, put in pots and pour with the hot broth with sour cream. Close the pots and cook until ready in the oven. Strew with greens when serving.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>