<div class="popupHeader">
    <div class="title"><h1>Khinkali</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-khinkali_pop.png" alt=""></div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Brighten your weekdays! Invite your friends and celebrate a Khinkali’s day! Khinkali are a specialty of the Caucasus nation of Georgia.  You will like this meal cooked by TM Smacom. Important element of cooking khinkali is a tasty broth inside. You will be delighted with it.</p>
                <p>The name of food line “Mother’s receipts” fully reflects the concept of semi-finished products. They address love to the customer through their delicious taste. </p>
                <p>Having tried khinkali you can think that mother’s hands made pastry, cooked ground meat and made khinkali themselves.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Another feature of khinkali is thin dough and they stuffed with meat and natural spices.</p>
                <p>Khinkali presented in a carton lined package with transparent piece on it that it is possible to see 100% of product. The package is bright, so it is easy to distinguish them among new others.</p>
                <p>The trademark is that there is a receipt of sauce. We recommend it to highlight the flavor of the meal itself during serving.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                <strong></strong>
                <br>
                <strong></strong>
                <br>
                <strong></strong>
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>9,2 g</span></li>
                <li>fat<span>9,0 g</span></li>
                <li>carbohydrates<span>25,8 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>924,7 kJ / 221,0 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,6 kg<span>± 15 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p></p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>