<div class="popupHeader">
	<div class="title"><h1>Dumplings “Firmovi”</h1><span class="subtitle"> with beef, pork and fresh coriander</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop1.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>“SmaCom” presents a novelty in dumplings line – dumplings “Firmovi” with beef, pork and fresh cilantro. These dumplings can be called a culinary masterpiece due to a combination of selected meat with fresh herbs.</p>
							<p>Fresh coriander is often used in cookery, it gives tо dishes a unique flavor and useful properties. Cilantro is best combined with meat! The tradition to use cilantro came to us from the Caucasus and it is popular in Spain and Thailand also. So, who wants to feel the taste of Caucasian kitchen, we offer to try new dumplings “SmaCom”.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Dough: extra class flour, water, eggs, salt. Stuffing: raw frozen meat (pork, beef), margarine, onion, fresh, water, salt, coriander, black pepper, basil, nutmeg.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>8,5 g</span></li>
							<li>fat<span>14,7 g</span></li>
							<li>carbohydrates<span>24,9 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>265,9 kcal</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,8 kg<span>± 5 g</span></li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Boil them until half-cooked, put in pots and pour with the hot broth with sour cream. Close the pots and cook until ready in the oven. Strew with greens when serving.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>