<div class="popupHeader">
	<div class="title"><h1>Compote</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/four_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Summer is a the perfect time of vitamins and time of harvesting the nature gifts for winter. Warm time gives us a lot of delicious berries, thanks to which we can enjoy summer drinks in cold weather.</p>
						<!--</div>
						<div>
							<div class="title">2</div>-->
							<p>TM «SmaCom» preserved a piece of summer in the frozen juice, which vitamins help to keep the human body in winter. The drink contains cherry, black currant, strawberry and plum is a very good berry combination!</p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Drinking water, frozen mixture for compote (cherry, black currant, strawberry, plum), sugar, citric acid.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>0,1 g</span></li>
				<li>fat<span>0,04 g</span></li>
				<li>carbohydrates<span>7,0 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>120,3 kJ (28,8 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 l</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <div class="text">Defrost until completely thawed.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>