<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">с творогом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вареники с творогом от ТМ SmaCom – это традиционные вареники, созданные для тех, кто не только любит вкусную и сытную пищу, но и для тех, кто чтит молочные продукты и заботится о своём здоровье. Творожная начинка служит отличным источником кальция и фосфора. Без этих элементов невозможно формирование костной системы. Потому вареники с творогом от ТМ SmaCom полезны для всех, но особенно рекомендуемые детям.</p>	
						<p>Тесто приготовлено из муки высшего сорта. При варке оно получается необыкновенно нежным и пышным. Специальная технология его охлаждения позволяет добиться стопроцентной прочности и цельности теста. Творог для начинки является исключительно натуральным кисломолочным продуктом.</p>	
						<p>Изящное и вкусное сочетание пышного теста и сладкого творога полезно детям и взрослым. Нежный вкус вареников с творогом ТМ SmaCom никого не оставит равнодушным!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: мука пшеничная в/с, вода, масло подсолнечное, яичный порошок, соль; начинка: творог кисломолочный, крупа манная, сахар, соль, ванилин. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>3,3 г</span></li>
			<li>жиры<span>11,4 г</span></li>
			<li>углеводы<span>33,9 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>211,1 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники, не размораживая, засыпать в кипящую воду (1 часть вареников: 4 части воды), довести до кипения и варить на слабом огне 7-10 минут. Вареники подавать со сливочным маслом, сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>