<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">с картофелем</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_k_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вареники с картофелем от ТМ SmaCom – исконно национальный продукт, который стал настоящей классикой украинской кухни. Этот деликатес создан, чтобы быть кулинарной гордостью, а потому отвечает самим серьезным требованиям гурманов. </p>	
						<p>Тонкое нежное тесто и золотой рассыпчатый картофель – это сочетание не только эстетичное, но и очень вкусное. Именно эту гармонию вкуса мы воплотили в варениках с картофелем. Это удивительный синтез энергии картофеля, сочного лука и специй. Но ключевой компонент, конечно же, действительно домашняя рецептура. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Где бы Вы ни были, Вы всегда сможете за 7-10 минут приготовить вареники с картофелем и почувствовать себя дома. Это полезное блюдо на каждый день.  </p>
						<p>Вареники с картофелем ТМ SmaCom – вкусно и питательно!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: мука пшеничная в/с, вода, масло подсолнечное, яичный порошок, соль; начинка: картофель отварной, лук жареный, соль, перец черный молотый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>5,6 г</span></li>
			<li>жиры<span>2,2 г</span></li>
			<li>углеводы<span>40,2 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,35 кг<span>± 15 г</span></li>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники, не размораживая, засыпать в кипящую подсоленную воду (1 часть вареников: 4 части воды), довести до кипения и варить на слабом огне 7-10 минут. Вареники подавать со сливочным маслом, сметано</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>