<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">с вишней</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_10.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вишня всегда была в почете у славянских народов. Эту сочную ягоду собирали в огромных количествах, делали из неё варенье, сахарили с алкоголем и, конечно же, использовали в приготовлении блюд. Вареники с вишней - ещё один культовый украинский тренд, который известен всему миру. </p>	
						<p>Вареники с вишней от ТМ SmaCom – это белое тесто из муки высшего сорта и сочные замороженные вишни, измельченные в процессе производства. Рецепт выдержан мастерами ТМ SmaCom согласно классической украинской традиции с домашним вкусом. Ультрасовременные технологии и профессиональный контроль на всех этапах делают вареники ТМ SmaCom абсолютно безопасными и гарантирует целостность блюда после приготовления. </p>	
						<p>Приятного аппетита!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: мука пшеничная в/с, вода, масло подсолнечное, яичный порошок, соль кухонная; начинка: вишня, сахар, картофельный крахмал. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>10,9 г</span></li>
			<li>жиры<span>3,3 г</span></li>
			<li>углеводы<span>35,3 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники, не размораживая, засыпать в кипящую воду (1 часть вареников: 4 части воды), довести до кипения и варить на слабом огне 7-10 минут. Вареники подавать со сливочным маслом, сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>