<div class="popupHeader">
    <div class="title"><h1>Вареники </h1><span class="subtitle">с клубникой</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/new_pack/var_kl_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Вареники - это изначально украинское блюдо, которое сочетается с разной начинкой. Этими сытными «пирогами» с привычным солено-овощным наполнением уже не удивить современного потребителя.</p>
                <p>И мы решили, почему бы не попробовать сладкие вареники? Выбрав спелую, сочную, ароматную клубнику, повара ТМ SmaCom создали тестово-фруктовый дуэт.</p>
                <p>Ягодки – вкус детства, их любят как дети, так и взрослые. Сладкими варениками можно наслаждаться с чаем, кофе или компотом!</p>
                <p>Выберите свой любимый вкус сладких вареников ТМ SmaCom и окунитесь в уютную атмосферу украинских традиций.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">
                Начинка: клубника 75%, сахар белый, крахмал картофельный.
                <br>
                Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, клетчатка пшеничная.
            </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>3,9 г</span></li>
                <li>жиры<span>0,9 г</span></li>
                <li>углеводы<span>36,6 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>711,7 kJ(кДж)/170,1 kcal/ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,9 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>
                Вареники, не размораживая, засыпать в кипящую подсоленную воду (1 часть вареников: 4 части воды), довести до кипения и варить на слабом огне 7-10 минут.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon5.jpg" alt="">
    </div>
</div>