<div class="popupHeader">
	<div class="title"><h1>Хинкали </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Хинкали – это национальное блюдо грузинской кухни, завоевавшее популярность во всем мире. Как любая гордость и символ, хинкали, блестяще воспетые Нодаром Думбадзе, имеют свои особенности и секреты, которые передаются из поколения в поколение. В приготовлении хинкали  TM SmaСom использовалась  древняя рецептура народов Кавказа.</p>
						<p>Гармоничное сочетание говядины с куриным филе, ароматной зелени и душистых специй делает блюдо незабываемо вкусным. Это ни с чем несравненный вкус: пряный, душистый и неизменно сочный. В соке, собственно, и кроется основная «изюминка» этого яства. Когда вы пробуете хинкали, важно не потерять ни одной капельки мясного нектара. Хинкали TM SmaСom замечательные в своей комфортности. Их можно приготовить всего за несколько минут, и они будут уместны в любой компании, к любому столу. Ведь, как говорят сами грузины: «Горячие хинкали - праздник в доме».</p>	
						<p>Хинкали от ТМ SmaСom – это настоящий вкус Востока!</p>		
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: мука пшеничное в/с, вода, соль; фарш: мясо говядины - 42%, сало – 22%, филе куриное – 12%, лук, вода, соль, перец черный молот, перец красный молотый, базилик, петрушка, укроп. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>10 г</span></li>
			<li>жиры<span>10 г</span></li>
			<li>углеводы<span>24,8 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>229,2 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,5 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Хинкали, не размораживая, засыпать в мясной бульон, заправленный восточными пряностями, и варить до полной готовности. Подавать хинкали и бульон вместе с татарским соусом в порционных горшочках.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>