<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">с говядиной</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-0.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Пельмени с нежным тестом и вкусным сочным мясом предлагает ТМ SmaCom.  Изготавливаются согласно действующему ГОСТу на производство данного вида продукции. Пельмени  с говядиной имеют круглую форму «сатурн», которая обеспечивает большее соотношение фарша к тесту, нежели «равиольная форма».</p>	
						<p>Пельмени  с говядиной от ТМ SmaCom – это универсальное, сытное, вкусное блюдо на все случаи жизни. Дома или в гостях, в обеденный перерыв или на пикнике они всегда будут уместны! Оригинальная рецептура и только натуральные ингредиенты – вот почему пельмени с говядиной так любимы холостяками и домохозяйками, бизнесменами и студентами!</p>	
						<p>Приятного аппетита!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: мука пшеничная в/с, вода, соль; фарш: мясо говядины - 53%, сало - 22%, лук, вода, клетчатка пшеничная, соль, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>12,6 г</span></li>
			<li>жиры<span>9 г</span></li>
			<li>углеводы<span>25,9 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>253 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 15 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени, не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей: 4 части воды), довести до кипения и варить на слабом огне 5-7 минут. Пельмени подавать со сливочным маслом, сметаной или соусом по вкусу.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>