<div class="popupHeader">
	<div class="title"><h1>Блинчики  </h1><span class="subtitle">с творогом и изюмом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_11.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
							<p>ТМ SmaCom создала блинчики с творогом и изюмом для тех, кто выбирает активный образ жизни, кто знает, как жить в динамичном ритме современного мира, для всех тех, кто хочет быть здоровым, чувствовать себя бодро и свежо. Заботясь о собственном здоровье, следует ежедневно обеспечивать организм кальцием, а в твороге его предостаточно. Надо заметить, что кальций лучше всего усваивается в сочетании с мучной пищей, например, с блинами. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Маслянистый, однородный творог представляет собой лучшие образцы домашней молочной кулинарии и сам по себе в высшей степени приятен на вид и на вкус. Знания и забота профессионалов создали высококачественный сладкий творог (настоящий качественный творог не бывает кислым). Добавление в блинчики изюма – во-первых, дополнительные полезные микроэлементы, а, во-вторых, каприз истинного любителя сладкого. Сочетание творога и изюма знакомо каждому с детства. Для каждого, кто обожает сладкое лакомство, блинчики с творогом и изюмом – идеальное блюдо. </p>			
					</div>																										
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: вода, мука пшеничная в/с, молоко сухое обезжиренное, сахар, масло подсолнечное, соль, яичный порошок начинка: творог, изюм - 16%, сахар, вода питьевая, крупа манная, соль, ароматизатор ванилин.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>7,5 г</span></li>
			<li>жиры<span>1,2 г</span></li>
			<li>углеводы<span>27,6 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>151,2 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,4 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Время приготовления в микроволновой печи – 2-3 минуты. Можно разогреть на сковороде, предварительно смазанной маслом, на самом слабом огне под закрытой крышкой.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>