<div class="popupHeader">
	<div class="title"><h1>Блинчики  </h1><span class="subtitle">с вишней</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						TM SmaCom – это необычайно сочная, нежная пища, чей вкус, несмотря на простоту, изыскан и великолепен. Блинчики с вишней дарят гурманам по-настоящему летнее настроение. Золотистые ажурные блины, лоснящиеся упитанностью и манящие сытностью, дарят первозданную энергию Солнца. Вишня заряжает необычайной свежестью и бодростью, обновляя силы организма. Тот, кто в полной мере насладился натуральной вишней, знает, что эта ягода – алая красота на зеленеющих ветках - подразумевает множество новых идей, форм и активность жизни.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Свежая вишня - неоспоримая прерогатива украинской национальной кухни. Конечно, она требует соответствующего сезона. Но благодаря специалистам ТМ SmaCom, преданным своему делу, и инновационной технологии заморозки, позволяющей в полной мере сохранить все полезные вещества продукта, Вы можете наслаждаться блинчиками с вишней круглый год.</p>
						<p>К горячим блинам с вишней подают мед, сметану и топленое масло в вазочках. Будьте уверены, что капризы гурманов будут полностью удовлетворены. Блинчики с вишней от ТМ SmaCom –лето круглый год! </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">тесто: вода, мука пшеничная в/с, молоко сухое обезжиренное, сахар, масло подсолнечное, соль, яичный порошок; начинка: вишня, сахар, вода, крахмал картофельный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>10,0 г</span></li>
			<li>жиры<span>3,3 г</span></li>
			<li>углеводы<span>28,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>136,2 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,4 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Время приготовления в микроволновой печи – 2-3 минуты. Можно разогреть на сковороде, предварительно смазанной маслом, на самом слабом огне под закрытой крышкой.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>