.idea/*
app/*
bin/*
data/*
src/*
vendor/*
web/*
_backup/app/*
_backup/cache/*
_backup/db/*
_backup/doc/*
_backup/library/*
_backup/www/~temp/*
_backup/www/_dumper/*
_backup/www/_pma/*
_backup/www/netcat/*
_backup/www/netcat_cache/*
_backup/www/netcat_dump/*
_backup/www/netcat_files/*


*.iml
_backup/www/*.html
_backup/www/vars.inc.php