<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с повидлом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_3.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Приготовить блинчики с повидлом на первый взгляд весьма просто, но только на первый! Блинчики, рецепт которых известен каждому, не смотря на простоту, достаточно сложны в приготовлении. Чего только стоит создание классической пористой структуры ажурного теста! Повидло, блинчики с ним – лучший десерт и закуска к чаю, должно быть настоящим, без консервантов и искусственных сахаров.</p>
							<p>Все необходимые условия воплощены в блюде, созданном специалистами SmaCom эксклюзивно для сладкоежек! Но не стоит думать, что отличный вкус – это единственное достоинство, которым обладают блинчики. Повидло, используемое в них, приготовлено из натуральных компонентов, а потому сохраняет в себе все необходимые полезные элементы, витамины. Это настоящий кладезь незаменимого пектина. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Мировой уровень продукции ТМ SmaCom подтвержден мировыми сертификатами качества и безопасности, а потому блинчики с повидлом – великолепный способ порадовать детей чем-то действительно вкусным.  </p>
							<p>Блинчики с повидлом от ТМ SmaCom: мечта сладкоежек!  </p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, повидло яблочное, вода питьевая, сахар, масло растительное, соль, яичный порошок. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,5 g</span></li>
			<li>fat<span>1,4 g</span></li>
			<li>carbohydrates<span>40,44 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>196,98 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>