<div class="popupHeader">
	<div class="title"><h1>Pancakes  </h1><span class="subtitle">with chicken</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_12.jpg" alt=""></div>

	
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Some pancake traditions of the Slavs are borrowed from the French. For example, pancakes with chicken. This is thin dough with tender chicken meat served with an exclusive french elegance.</p>
							<p>SmaCom™ presents a dish that embodies the indescribable flavor of France with its original dishes and truly aristocratic nobility. Pancakes with chicken, sire! The secret of the delicious pancakes with chicken is in it's filling made of selected filet, finely chopped and mixed with egg and salted pork fat.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>This combination is unusually gentle, refined and at the same time nourishing and juicy. Natural chicken delicacy is wrapped into a thin pancake, which, thanks to it's porous structure, absorbs all the flavors and juices of the gourmet filling.</p>
							<p>It should be noted that SmaCom is the only manufacturer whose trademark pancakes, thanks to the cutting edge production, are fried from both sides, as evidenced by the elegant pattern and homogeneous golden color.</p>
							<p>Pancakes with chicken from SmaCom™ are cooked quickly and easily. Just fry them until golden brown and Bon Appetit, gourmet! </p>
						</div>									
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class wheat flour, poultry, water, salted pork fat, onion, sugar, egg powder, vegetable oil, salt.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>12,36 g</span></li>
			<li>fat<span>11,64 g</span></li>
			<li>carbohydrates<span>29,71 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>274,84 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put pancakes with chicken in a frying pan, add vegetable oil. Fry at a very low heat under the lid closed until fully cooked.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>