<div class="popupHeader">
	<div class="title"><h1>Pancakes  </h1><span class="subtitle">with cottage cheese and raisins</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_15.jpg" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>The ancient wise men said: "We are what we eat." For those who prefer an active lifestyle, who knows how to live in a dynamic rhythm of the modern world, for all those who want to be healthy, feel fresh and active, SmaCom™ has created pancakes with cottage cheese and raisins.</p>
							<p>Oily, homogeneous cottage cheese is among the best examples of home cooking and dairy products. It is highly enjoyable in appearance and taste. Knowledge and care of our professionals create high-quality sweet cottage cheese (high quality cottage cheese is never sour).  </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Taking care of your own health, you should provide the body with daily calcium, and cottage cheese has enough of it. It should be noted that calcium is best absorbed in combination with floury food, such as pancakes. </p>
							<p>Adding raisins to the pancakes firstly, gives even more useful microelements, and, secondly, is a real treat for true lovers of sweets. The combination of cottage cheese and raisins is familiar to everyone from their childhood. For everyone who loves a sweet treat, pancakes with cottage cheese and raisins is the perfect dish. </p>
							<p>Pancakes with cottage cheese and raisins from SmaCom™: a taste from childhood!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, cottage cheese, water, raisins, sugar, semolina, egg powder, vegetable oil, salt, vanilla.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,52 g</span></li>
			<li>fat<span>6,91 g</span></li>
			<li>carbohydrates<span>34,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>238,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the pancakes with cottage cheese and raisins in a frying pan with melted butter. Fry at a very low heat under the lid closed until fully cooked.  </p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>
