<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle"> с творогом и сгущённым молоком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_1.jpg" alt=""></div>


				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Говорят, что идеала не бывает. Возможно, но к нему нужно стремиться. Что главное для детей в пище? Потрясающий вкус! Что главное для родителей? Польза! Возможно ли, чтобы было и вкусно, и полезно? Существует ли компромисс между лакомством и полезным продуктом?</p>
							<p>Скажете, нет? ТМ SmaCom считает иначе. Мы создали аппетитные блинчики со сгущённым молоком и творогом для детей и родителей.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Творог богат кальцием и фосфором. Они необходимы для правильного формирования растущего организма. В блинчиках используется только натуральный, экологически безопасный продукт. Родители могут быть спокойны, выбирая блинчики от ТМ SmaCom: их дети получают максимально полезный продукт. </p>
							<p>А что же дети? Они, пожалуй, ещё довольнее. Какой ребёнок не любит сладких рек любимой сгущёнки? Особенно, если они текут по белоснежным творожным вершинам. Объедение! Незаменимое лакомство для сладкоежек!</p>
							<p>Блинчики с творогом и сгущённым молоком от ТМ SmaCom: вкусно и полезно для детей и взрослых!</p>
						</div>														
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, творог, вода питьевая, молоко сгущённое, сахар, крупа манная, яичный порошок, масло растительное, соль, ванилин. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,6 g</span></li>
			<li>fat<span>4,39 g</span></li>
			<li>carbohydrates<span>49,19 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>267,34 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики с творогом и сгущённым молоком разогреваем в сковородке под закрытой крышкой до полной готовности. Подаём с джемом или вареньем.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>