<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с мясом и рисом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_11.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Блинчики – одно из самых интернациональных блюд в мире, получившее распространение во всех частях света. Известно, что даже в Антарктиде русские полярники больше всего любили готовить блинчики. Они напоминали им о домашнем тепле и уюте, летнем настроении и солнце. Если говорить о Европе, то самые распространённые блины здесь – с мясом. Блинчики с мясом почитаются лучшим завтраком, ланчем и даже праздничным блюдом. На Востоке наиболее популярны блинчики, как и все блюда, с рисом.</p>
							<p>Блинчики с мясом и рисом от ТМ SmaCom – идеальное единение западного прагматизма и восточного колорита. Во-первых, Вы экономите массу времени на приготовлении пищи, получая универсальное вкусное блюдо, которое подойдёт во всех жизненных ситуациях, а готовится комфортно и легко, всего за пару минут. Во-вторых, мясные блинчики заряжают Вас энергией и полезными веществами. Они созданы только из натуральных продуктов. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p> Тесто для блинчиков имеет зернистую, пышную структуру с классическими дырочками. Такое тесто приготовит не каждая хозяйка, но не беда! Блинчики с мясом и рисом от ТМ SmaCom доступны каждому, а потому домашний деликатес можно приготовить, когда Вам удобно. </p>
							<p>Между прочим, повара полагают, что по вкусовым особенностям к мясу лучше всего подходит рис, а гастроэнтерологи авторитетно заявляют, что именно такое сочетание наиболее гармонично для желудка.</p>
							<p>Блинчики с мясом и рисом от SmaCom – гармония во всём!</p>
						</div>														
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, говядина, свинина, вода питьевая, рисовая крупа, шпиг, лук, сахар, яичный порошок, масло растительное, соль.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>13,3 g</span></li>
			<li>fat<span>9,63 g</span></li>
			<li>carbohydrates<span>33 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>272,4 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>


<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики с мясом и рисом кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>