<div class="popupHeader">
	<div class="title"><h1>Pancakes</h1><span class="subtitle"> with apples and cinnamon</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_18.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>These pancakes will like everyone its amazing taste and aroma. Pancakes with apples and cinnamon – a temptation for the sweet tooth. The pancakes is the good breakfast and dessert. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>The pancakes is the main ingredient, which are prepared according to traditional recipes. The stuffing is cooked apples with sugar and cinnamon. Be sure, your family will eat pancakes with pleasure.  </p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вареное сгущенное молоко, вода питьевая, сахар, масло растительное, соль, яичный порошок. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,6 g</span></li>
			<li>fat<span>4,39 g</span></li>
			<li>carbohydrates<span>49,19 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>267,34 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики с вареным сгущенным молоком кладем в сковородку с маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>