<div class="popupHeader">
	<div class="title"><h1>Pancakes  </h1><span class="subtitle">with meat</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_10.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Pancakes with meat are presented in the diet of all Europeans, but they are especially popular in the UK. If we talk about the gastronomic tradition, the British prefer nutritious pancakes with meat, which are usually gladly consumed for breakfast, lunch, and dinner. This dish is equally good in any mood, company, or time of the day.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>SmaCom™ offers you a classic English breakfast - pancakes with meat. They satisfy the hunger, are tasty and quick to prepare. In just a few minutes you can prepare yourself a great breakfast. Natural ingredients and innovative freezing allow to keep all the useful elements and flavor properties.</p>
							<p>Pancakes with meat from SmaCom is a breakfast for ladies and gentlemen! Live exquisitely!</p>
						</div>									
					</div>

				</div>			
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class wheat flour, beef, pork, water, bacon, onion, sugar, egg powder, vegetable oil, salt.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>12,24 g</span></li>
			<li>fat<span>8,8 g</span></li>
			<li>carbohydrates<span>30,03 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>248,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the pancakes with meat in a frying pan, add vegetable oil. Fry at a very low heat under the closed lid until fully cooked.  </p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>