<div class="popupHeader">
	<div class="title"><h1>Pancakes  </h1><span class="subtitle">with cottage cheese</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_16.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>It is well known that cottage cheese is a very healthy product. But of course, only it won't satisfy your hunger. A broad Slavic soul needs something more interesting and nourishing. Pancakes with cottage cheese is the best fit. The dish is well-known, has a rich tradition and glorious history. These pancakes were always considered an exquisite delicacy.</p>
							<p>The question is: how to prepare them?</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>You don't need to invent a bike for this. You only need to buy SmaCom™ pancakes with cottage cheese. Pancakes with cottage cheese is a healthy alternative for the sweet tooth who do not wish to gain weight, but are not able to refuse sweets. This is the best way to treat yourself to really delicious food. Natural ingredients and innovative European production technologies, combined with careful control at all stages of the production (from the feedstock supply to the factory to packaging of finished products) guarantee the absolute safety of the products that will be useful for both adults and children.</p>
							<p>Pancakes with cottage cheese from SmaCom™: Eat healthily!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, cottage cheese, water, sugar, semolina, egg powder, vegetable oil, salt, vanilla.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,52 g</span></li>
			<li>fat<span>6,91 g</span></li>
			<li>carbohydrates<span>34,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>238,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the pancakes in a pan with heated vegetable oil. Fry at a very low heat under the lid closed until fully cooked.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>