<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с вишней</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_13.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Вишня всегда была в почете у славянских народов. Эту сочную ягоду собирали в огромных количествах, делали из неё варенье, сахарили с алкоголем и, конечно же, использовали в приготовлении блюд. Блинчики с вишней, как и вареники, - ещё один культовый украинский тренд, который известен всему миру.</p>
							<p>Это необычайно сочная, нежная пища, чей вкус, несмотря на простоту, изыскан и великолепен. Блинчики с вишней дарят гурманам по-настоящему летнее настроение. Золотистые ажурные блины, лоснящиеся упитанностью и манящие сытностью, дарят первозданную энергию Солнца. Недаром блины, прежде всего, ассоциируется с праздником света и огня – Масленицей.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Вишня заряжает необычайной свежестью и бодростью, обновляя силы организма. Тот, кто в полной мере насладился натуральной вишней, знает, что эта ягода – алая красота на зеленеющих ветках - подразумевает множество новых идей, форм и активность жизни. </p>
							<p>Свежая вишня - неоспоримая прерогатива украинской национальной кухни. Конечно, она требует соответствующего сезона. Но благодаря специалистам ТМ SmaCom, преданным своему делу, и инновационной технологии заморозки, позволяющей в полной мере сохранить все полезные вещества продукта, Вы можете наслаждаться блинчиками с вишней круглый год.</p>
						</div>						
						<div>
							<div class="title">3</div>
							<p>К горячим блинам с вишней подают мед, сметану и топленое масло в вазочках. Будьте уверены, что капризы гурманов будут полностью удовлетворены. </p>
							<p>Блинчики с вишней от ТМ“SmaCom” – подарите себе лето!</p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вишня, вода питьевая, сахар, крупа манная, масло растительное, соль, яичный порошок. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,5 g</span></li>
			<li>fat<span>1,4 g</span></li>
			<li>carbohydrates<span>40,44 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>196,98 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Вареники с творогом засыпать в большое количество подсоленной кипящей воды. Варить до полной готовности. Готовые вареники всплывают. Вынуть их шумовкой и выложить на блюдо. Добавить сливочное масло, чтобы вареники не слипались. Подавать на стол со сметаной.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>