<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с шоколадом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_9.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Больше всего на свете дети любят два лакомства: блины и шоколад. Специалисты ТМ SmaCom объединили два вкуснейших ингредиента в одном блюде, создав великолепную гармонию вкуса.</p>
							<p>Нежнейший молочный шоколад в сочетании с пышностью ажурных блинов захватывает ребёнка одним только аппетитным ароматом, а когда дело доходит до дегустации этого кондитерского изыска – тут уже просто не оторваться!</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Ещё бы, ведь это настоящая кулинарная мечта каждого ребёнка! Но счастливы не только дети! Приготовить блинчики с шоколадом ТМ SmaCom очень просто, всего несколько минут, а потому мамы сэкономят массу времени на готовке.</p>
							<p>Уникальная технология заморозки сохраняет все полезные вещества, а потому Вы можете быть уверены, что Ваш ребёнок лакомится не только вкусным, но и полезным.</p>
							<p>Блинчики с шоколадом от ТМ SmaCom: просто класс!</p>
						</div>														
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Шоколад, мука в/с, вода питьевая, сахар, яичный порошок, масло растительное. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>36,72 g</span></li>
			<li>fat<span>25,88 g</span></li>
			<li>carbohydrates<span>37,04 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>672,60 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики разогреваем в сковородке под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>