<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">«Классические»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_6.jpg" alt=""></div>


				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Современная жизнь диктует свой ритм, за которым так сложно успеть. Чтобы быть в форме, чтобы соответствовать заданным требованиям, необходимо иметь источник энергии и витаминов.</p>
							<p>ТМ SmaCom с гордостью представляет эксклюзивные «Классические» блинчики. Они необычайно сытны, вкусны и полезны. Несколько минут, и Вы получаете заряд энергии и бодрости на весь день. Рецепт блинчиков «Классические» от ТМ SmaCom подразумевает использование только оригинальных и натуральных продуктов: деликатесное, слегка поджаренное мясо птицы, жирная, сочная свинина и витаминная, нежная говядина. И, конечно же, специальное тесто из муки высшего сорта! Настоящий домашний лук, порезанный, согласно исконной рецептуре, придаёт блинчикам «Классические» от ТМ SmaCom особую насыщенность вкуса, а натуральные специи подчёркивают изощрённую вкусовую палитру!</p>
							<p>Мука в/с, говядина, мясо птицы, шпик боковой, вода питьевая, яичный порошок, соль, масло растительное.</p>

						</div>													
					</div>

				</div>		
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, говядина, мясо птицы, шпик боковой, вода питьевая, яичный порошок, соль, масло растительное.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>25,38 g</span></li>
			<li>fat<span>12,06 g</span></li>
			<li>carbohydrates<span>35,74 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>353,10 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>


<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Блинчики с мясом кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>