<div class="popupHeader">
	<div class="title"><h1>Чевупіца </h1><span class="subtitle">з сиром</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/chevpizza/chevpizza-cheese-pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Ми дотримуємося думки, що їжа повинна бути не тільки смачна, ситна, але і своїм виглядом викликати почуття апетиту.</p>
				<p>Портфель ТМ SmaCom поповнився новою унікальною готовою стравою – чевупіцою з сиром.</p>
				<p>Чевупіца з сиром – це комбінація слів «чебурек» і «піца». Ми зберегли форму чебурека і замінили м'ясну начинку на сир.</p>
				<p>Смак чевупіци нагадує корж з сиром, що споконвіку вважається кавказькою стравою. До начинки ми додали кріп і отримали не тільки ароматну, смачну, але і корисну страву.</p>
				<p>Чевупіца повністю готова до вживання.</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Тісто: борошно пшеничне в/ґ, вода питна, олія соняшникова рафінована дезодорована, сіль кухонна, цукор білий, оцтова кислота.
				<br>
				Начинка: сир кисломолочний 81%, сир "Моцарелла" 10% (молоко коров’яче, сіль кухонна, хлористий кальцій, молокозсідальний ферментний препарат, закваска молочнокислих бактерій), вода питна, кріп свіжий, сіль кухонна.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>11,8 г</span></li>
				<li>жири<span>14,1 г</span></li>
				<li>вуглеводи<span>27,4 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>1187,0 кДж / 283,7 ккал.</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,24 кг<span>± 9 г</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>1. В СВЧ печі: Надрізати упаковку та розігрівати продукт у мікрохвильовій печі 3 хв при потужності 700 Вт. Час приготування може відрізнятися залежно від моделі та потужності мікрохвильової печі.</p>
			<p>2. На сковороді: дістати продукт з упаковки та розігріти на повільному вогні 7-8 хв.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>