<div class="popupHeader">
    <div class="title"><h1>Чевупіца </h1><span class="subtitle"></span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/chevpizza/chevpizza-classic-pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Піца – одна з улюблених страв як дорослих, так і дітей. Чому? Тому що це поєднання хрусткого тіста і смачної начинки.</p>
                <p>Ми вирішили звичну для всіх піцу перетворити в нестандарну кулінарну новинку – чевупіццу!</p>
                <p>Секрет чевупіцци в її начинці та формі.</p>
                <p>Основні інгредієнти: сир «Моцарелла», ковбаса і болгарський перець, які ідеально поєдналися з найніжнішим чебуреком.</p>
                <p>Чевупіцца повністю готова до вживання. Через 5 хвилин розігріву в мікрохвильовій печі ви отримаєте смачну ситну страву.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                Тісто: борошно пшеничне в/ґ, вода питна, олія соняшникова рафінована дезодорована, сіль кухонна, цукор білий, кислота оцтова .
                <br>
                Начинка: ковбаса варена 36% (свинина жирна, вода питна, м’ясо птиці механічного обвалювання, шкіра куряча, стабілізатор білковий, борошно пшеничне, крупа манна, сіль кухонна, молоко сухе, добавки комплексні харчові), ковбаса копчена 22% (м’ясо птиці механічного обвалювання, шкіра куряча, вода питна, сало бокове, стабілізатор білковий, сіль кухонна, крохмаль картопляний, добавки комплексні харчові), сир "Моцарелла" 11% (молоко коров’яче, сіль кухонна, хлористий кальцій, молокозсідальний ферментний препарат, закваска молочнокислих бактерій), паста томатна (томати, консервант - натрію бензоат, регулятор кислотності - лимонна кислота), вода питна, перець болгарський, цукор білий, сіль кухонна, орегано.
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>9,6 г</span></li>
                <li>жири<span>20,4 г</span></li>
                <li>вуглеводи<span>31,2 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>1451,0 kJ(кДж)  (346,8 kcal (ккал)).</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,24 кг<span>± 9 г</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>1. В СВЧ печі: Надрізати упаковку та розігрівати продукт у мікрохвильовій печі 3 хв при потужності 700 Вт. Час приготування може відрізнятися залежно від моделі та потужності мікрохвильової печі.</p>
            <p>2. На сковороді: дістати продукт з упаковки та розігріти на повільному вогні 7-8 хв.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>