<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с картофелем и печенью</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kp_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
							<p>Вареники – самый любимый продукт в Украине. Кто-то считает, что он заимствован у иранцев, кто-то приравнивает его к пельменям. Доподлинно известно, что вареники были ещё в Триполье.Так или иначе, сегодня вареники являются главным украинским кулинарным трендом во всём мире, а сами украинцы воспевают их и не устают экспериментировать с начинками. </p>
							<p>Результатом одного из таких экспериментов стало появление вареников с картофелем и печенью. Не секрет, что печень полезна для организма. Это кладезь железа, фосфора, аминокислот, различных полезных ферментов. В печени содержатся витамины A, D, Е, K, богата витаминами группы В.</p>
							<p>Вареники с картофелем и печенью от ТМ SmaCom: вкусный сытный витамин! </p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, картофель отварной, печень говяжья, вода питьевая, лук пассерованный, масло сливочное, соль, масло растительное, яичный порошок, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>7,89 г</span></li>
			<li>жиры<span>4,08 г</span></li>
			<li>углеводы<span>30,40 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>189,92 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>

			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники с картофелем засыпать в большое количество подсоленной кипящей воды. Варить до полной готовности. Готовые вареники всплывают. Вынуть их шумовкой и выложить в деревянную посуду. Подавать с чесноком и сметаной.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>