<div class="popupHeader">
    <div class="title"><h1>Вареники </h1><span class="subtitle">с капустой</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kap_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>
                    Во все времена излюбленным блюдом украинцев были вареники, рецепт которых передавался из поколения в поколение. Едва ли не каждый род имел свой особый вид вареников, который сохранялся в строжайшей тайне. При этом особой популярностью в качестве начинки пользовалась капуста.  </p>
                <p>Ведь капуста – это во много сакральный овощ славян. Прежде всего, это связано с тем, что едят его круглый год. Едят как в чистом виде, так и в разнообразных блюдах: салатах, пирогах, борщах и многом другом. Для украинца это вполне обыденное блюдо, а, между прочим, в Древнем Риме капусту подавали патрициям после роскошных обедов как изысканное лакомство. </p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Вареники с капустой – излюбленное угощение во всех украинских хатах. Это необыкновенно простое, но в то же время оригинальное и необычное блюдо, витаминное, сытное, вызывающее восторг как у детей, так и у взрослых. Для производства муки, из которой изготавливается вареничное тесто, используется пшеница из экологически чистых регионов Украины. Капуста отбирается строжайшим образом, поэтому в производство попадает исключительно свежий, максимально полезный продукт. </p>
                <p>Вареники с капустой: традиционное вкусно и полезно!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Мука в/с, капуста белокочанная тушёная, морковь, вода питьевая, лук репчатый, соль, яичный порошок, перец черный молотый. </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>4,69 г</span></li>
                <li>жиры<span>4,07 г</span></li>
                <li>углеводы<span>33,79 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>190,6 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,9 кг<span>± 5 г</span></li>
                <li>2,5 кг<span></span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Вареники засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности. Вынуть их шумовкой и выложить на сковородку с предварительно поджаренным луком. Поджаривать до появления румяной корочки. Подавать с чесноком и сметаной.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>