<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с картофелем и шкварками</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat2/product_popup_7.jpg" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
							<p>Наваристый борщ, котлеты по-киевски, галушки – всё это знаменитые украинские блюда. Но особое место на гастрономическом олимпе Украины, несомненно, занимают два культовых национальных продукта – вареники и сало. Вареникам ставят памятники, посвящают стихи и рассказы, с ними пируют и веселятся.</p>
<p>
Вареники с картофелем и шкварками от ТМ SmaCom – украинский продукт, обновлённая классика вареничного жанра. Создан, чтобы быть национальной кулинарной гордостью. Отвечает самым изысканным требованиям знатоков украинской кухни.</p>

<p>Вареники с картофелем и шкварками SmaCom – это действительно вкусно! Отварной рассыпчатый картофель, золотистый лук и хрустящие шкварки – истинно украинская кулинарная мечта! Просим к столу!</p>

<p>Вареники с картофелем и шкварками от ТМ SmaCom: истинно украинское блюдо! </p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>



<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, картофель отварной, шпиг, вода питьевая, лук пассерованные, масло сливочное, соль, масло растительное, яичный порошок, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>4,49 г</span></li>
			<li>жиры<span>14,18 г</span></li>
			<li>углеводы<span>32,07 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>273,8 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>

			<li>0,35 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники с картофелеми шкварками засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности. Вынуть их шумовкой и выложить на сковородку с предварительно поджаренным луком. Поджаривать до появления румяной корочки. Подавать с чесноком и сметаной.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>