<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с картофелем и луком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat2/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вареники с картофелем и луком от ТМ SmaCom – исконно национальный продукт, ставший подлинной классикой украинской кухни. Этот деликатес создан, чтобы быть кулинарной гордостью, а потому соответствует самым серьёзным требованиям гурманов. </p>	
						<p>Как вкусно, аппетитно готовила картофельные вареники с луком гоголевская Солоха! ТМ SmaCom воплощает сказку в реальность. Достичь высоты кулинарного искусства, коим на всю Диканьку славилась Солоха, теперь может каждая украинка и украиночка. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Ждёте гостей, а на приготовление роскошного сытного ужина нет времени? В запасе только 5-10 минут? Чудеса бывают! Вареники с картошкой и луком “SmaCom” готовятся легко и быстро. Сварите, поджарьте или подайте со сметаной - шикарный ужин готов! Гости останутся довольны! Да что там довольны, теперь они не отстанут от Вас, осаждая визитами! А как не прийти к такой великолепной хозяйке?</p>
						<p>Вареники с картофелем и луком от ТМ SmaCom: любимое блюдо Ваших гостей! </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, картофель отварной, лук пассерованный, соль, яичный порошок, масло растительное, вода питьевая, перец чёрный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>4,69 г</span></li>
			<li>жиры<span>4,07 г</span></li>
			<li>углеводы<span>33,79 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<!--<li> <span>± 5 г</span></li>-->
			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности. Вынуть их шумовкой и выложить на сковородку с предварительно поджаренным луком. Поджаривать до появления румяной корочки. Подавать с чесноком и сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>