<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с печенью</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_p_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Многие считают, что вареники – исключительно украинский продукт. Безусловно, это наш кулинарный тренд, но они популярны и в других странах.Например, немногие знают, что вареники с печенью занимают центральное место в молдавской кухне. Молдаване готовят их по особому рецепту. </p>	
						<p>Именно его воссоздали в варениках с печенью специалисты ТМ SmaCom. В качестве начинки используется свежая печень здоровых животных, вскормленных в экологически чистых регионах Украины. Прежде чем попасть в производство сырьё проходит множество этапов проверки. В частности, тестируется на ГМО, микробиологические, санитарные показатели и др. Только после этого печень попадает в производство. Далее она очищается от желчных протоков и плёнки.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Печень готовится особым образом, смешиваясь с луком и зеленью для придания ярко-выраженного вкуса и пикантного аромата. В сочетании с пышностью цельного белого теста она становится бесподобной.</p>
						<p>Вареники с печенью –оригинальное и универсальное блюдо от ТМ SmaCom, отличающееся особой пикантностью и нежным вкусом. Оно создано по оригинальной рецептуре из высококачественных ингредиентов.</p>	
						<p>Вареники с печенью от ТМSmaCom – правильно приготовленная нежность!</p>		
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вода питьевая, соль, масло растительное, укроп, перец чёрный, печень отварная говяжья. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>8,42 г</span></li>
			<li>жиры<span>4,08 г</span></li>
			<li>углеводы<span>24,41 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>167,92 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>

			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники с картофелем засыпать в большое количество подсоленной кипящей воды. Варить до полной готовности. Готовые вареники всплывают. Вынуть их шумовкой и выложить в деревянную посуду. Подавать с чесноком и сметаной.</p>	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>