<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с творогом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Украинцы тщательно оберегают свои кулинарные рецепты, которыми по праву гордятся.Вареники с творогом ТМ SmaCom – это традиционные вареники, рецептура которых сохраняется неизменной с XVIII века. Любители кисломолочных продуктов будут непременно довольны этим блюдом. Творог благотворно влияет на подрастающий организм, так как служит отличным источником кальция и фосфора, соответственно их рекомендуем детям.</p>	
						<p>Вареничное тесто приготовлено из муки высшего сорта. При варке оно получается необыкновенно нежным и пышным. Специальная технология его охлаждения позволяет добиться стопроцентной прочности и цельности теста. Творог для начинки является исключительно натуральным кисломолочным продуктом.</p>						
					</div>

					<div>
						<div class="title">2</div>


						<p>Изящное и вкусное сочетание пышного теста и сладкого творога полезно детям и взрослым. Нежный вкус никого не оставит равнодушным!</p>

						<p>Вареники с творогом от ТМ “SmaCom” – украинская традиция нежного вкуса и полезного питания! </p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мука в/с, творогом, вода питьевая, крупа манная, сахар, соль, масло растительное, яичный порошок, ванилин. </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>9,88 г</span></li>
				<li>жиры<span>7,70 г</span></li>
				<li>углеводы<span>36,25 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>253,82 ккал</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>

				<li>0,35 кг<span>± 5 г</span></li>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>2,5 кг<span>± 5 г</span></li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники с творогом засыпать в большое количество подсоленной кипящей воды. Варить до полной готовности. Готовые вареники всплывают. Вынуть их шумовкой и выложить на блюдо. Добавить сливочное масло, чтобы вареники не слипались. Подавать на стол со сметаной.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>