<div class="popupHeader">
	<div class="title"><h1>Млинці </h1><span class="subtitle">з м’ясом курки</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-chickenMeat--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>ТМ SmaCom презентує нову страву, яка запам’ятається вам як найяскравіша гастрономічна подорож у вашому житті. Зустрічайте, млинці з м'ясом курки!</p>
				<p>Це абсолютно новий продукт, вже готовий до вживання та особливий за своїм складом.</p>
				<p>Впевнені, ви закохаєтеся в них з першого погляду! Млинець, що з вигляду як справжнє золотисте мереживо, поєднався з соковитим м’ясом курки й смаженою цибулькою, ввібравши в себе усі аромати та смаки делікатесної начинки.</p>
				<p>Курячі млинці від ТМ SmaCom приготувати швидко та легко.</p>
				<p>На поличках супермаркетів нові млинці зустрінуть вас кольоровими ультрасучасними упаковками.</p>
				<p>Живіть легко та насолоджуйтеся життям!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Тісто: вода питна, борошно пшеничне в/г, цукор білий, яєчний порошок, олія соняшникова рафінована дезодорована, сіль кухонна, сода харчова, кислота лимонна. Начинка:  м'ясна сировина відварена 75% (м'ясо птиці куряче - 45%, філе куряче - 30%), цибуля ріпчаста пасерована, вода питна, сіль кухонна, перець чорний мелений.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>12,4 г</span></li>
				<li>жири<span>11,6 г</span></li>
				<li>вуглеводи<span>29,7 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>1149,8 кДж / 274,8 ккал.</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>1. На розігріту сковорідку, змащеною олією, викласти млинці. Смажити на слабкому вогні, поступово перевертаючи, до утворення рум'яної скоринки з усіх боків.</p>
			<p>2. Помістити млинці в НВЧ-піч, розігрівати 5-7 хвилин при потужності 700 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>