<div class="popupHeader">
    <div class="title"><h1>Млинці </h1><span class="subtitle">"Класичні"</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-classic--pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>ТМ SmaCom не перестає дивувати споживачів новими смаками. Враховуючи активний спосіб життя українців, ми вирішили створити абсолютно нові млинці, вже готові до вживання.</p>
                <p>Особливість їх полягає у технології приготування самого млинця, який виглядає як справжнє золотисте мереживо. Тонке тісто з начинкою дарує неповторний смак та спокусливий аромат.</p>
                <p>Пропонуємо класичний смак – млинці з м’ясом яловичини та свинини.</p>
                <p>Усього за кілька хвилин ви зможете приготувати собі чудовий сніданок, обід чи вечерю. Натуральні інгредієнти та інноваційне замороження дозволяють зберегти усі корисні елементи та смакові властивості продукту.</p>
                <p>На поличках супермаркетів нові млинці зустрінуть вас кольоровими ультрасучасними упаковками.</p>
                <p>Живіть легко та насолоджуйтеся життям!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                Тісто: вода питна, борошно пшеничне в/г, цукор білий, яєчний порошок, олія соняшникова рафінована дезодорована, сіль кухонна, сода харчова, кислота лимонна.  Начинка: м'ясна сировина відварена 80% (м'ясо яловичини знежиловане - 60%, м'ясо свинини знежиловане - 20%), цибуля ріпчаста пасерована, вода питна, сіль кухонна, перець чорний мелений.
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>12,2 г</span></li>
                <li>жири<span>8,8 г</span></li>
                <li>вуглеводи<span>30,0 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>1040,1 кДж/248,6 ккал.</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,45 кг<span>± 3%</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>1. На розігріту сковорідку, змащеною олією, викласти млинці. Смажити на слабкому вогні, поступово перевертаючи, до утворення рум'яної скоринки з усіх боків.</p>
            <p>2. Помістити млинці в НВЧ-піч, розігрівати 5-7 хвилин при потужності 700 Вт.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>