<div class="popupHeader">
	<div class="title"><h1>Млинці </h1><span class="subtitle">з сиром та родзинками</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-cottageCheese--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Нові млинці з сиром та родзинками ТМ SmaCom це поєднання вишуканого смаку, користі та привабливого аристократичного вигляду.</p>
				<p>Ми пропонуємо новий солодкий десерт з вишуканою начинкою: сиром та родзинками. Поєднання цих інгредієнтів знайоме кожному з дитинства. Для кожного, хто обожнює солодкі ласощі, млинці з сиром та родзинками – ідеальна страва.</p>
				<p>Особливість млинців полягає у новій технології приготування, що полягає в обсмаженні тіста з двох сторін до отримання витонченого візерунку та рівномірного золотистого кольору.</p>
				<p>Вас здивує не лише смак, але й колоритна сучасна упаковка.</p>
				<p>Приємного смаку!</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Тісто: вода питна, борошно пшеничне в/г, цукор білий, яєчний порошок, олія соняшникова рафінована дезодорована, сіль кухонна, сода харчова, кислота лимонна. Начинка: сир кисломолочний  - 74%,  родзинки - 17%, цукор, сіль кухонна, ванілін.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,5 г</span></li>
				<li>жири<span>6,9 г</span></li>
				<li>вуглеводи<span>34,5 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span></span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>1. На розігріту сковорідку, змащеною олією, викласти млинці. Смажити на слабкому вогні, поступово перевертаючи, до утворення рум'яної скоринки з усіх боків.</p>
			<p>2. Помістити млинці в НВЧ-піч, розігрівати 5-7 хвилин при потужності 700 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>