<div class="popupHeader">
	<div class="title"><h1>Млинці </h1><span class="subtitle">з полуницею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-strawberry--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Любов до солодкого, мабуть, можна порівняти лише з коханням. ТМ SmaCom створила новий десерт, в якому втілила всю ніжність та смак полуниці.</p>
				<p>Зустрічайте, млинці з полуницею!</p>
				<p>Ми загорнули свіжі шматочки соковитої ягідки у тонке мереживне тісто, виготовлене за новою рецептурою. Особливість млинців полягає у новій технології приготування, що полягає в обсмаженні тіста з двох сторін до отримання витонченого візерунку та рівномірного золотистого кольору.</p>
				<p>Приготувати млинці легко та швидко за 5 хвилин! Це повністю готовий десерт, який необхідно лише розігріти.</p>
				<p>Насолоджуйтеся джерелом вітамінів!</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Тісто: вода питна, борошно пшеничне в/г, цукор білий, яєчний порошок, олія соняшникова рафінована дезодорована, сіль кухонна, сода харчова, кислота лимонна. Начинка: полуниця, цукор білий, вода питна, крохмаль картопляний.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>2,6 г</span></li>
				<li>жири<span>1,0 г</span></li>
				<li>вуглеводи<span>27,0 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>533,0 кДж / 127,4 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>1. На розігріту сковорідку, змащеною олією, викласти млинці. Смажити на слабкому вогні, поступово перевертаючи, до утворення рум'яної скоринки з усіх боків.</p>
			<p>2. Помістити млинці в НВЧ-піч, розігрівати 5-7 хвилин при потужності 700 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>