<div class="popupHeader">
	<div class="title"><h1>Meat dumplings </h1><span class="subtitle"> with beef and pork</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_2.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Rich taste of beef and pork combined with natural spices - these are premium SmaCom™ meat dumplings.</p>	
						<p>Meat Dumplings with beef and pork are an exclusive handmade product. Palatability speaks for itself, because only selected natural ingredients are used for the filling while cooking the meat dumplings - ecologically friendly chilled beef and pork. Pieces of lard add great juiciness, and black pepper - sharpness and national flavor. Delicate and thin dough of the highest quality flour and hand-figured molding provide excellent aesthetics and exceptional palatability of the product. Meat Dumplings with beef and pork is a versatile, nourishing and tasty dish.</p>	
						<p>Enjoy your meal with SmaCom!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, beef, pork meat, lard, water, onion, eggs, salt, sunflower oil, black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,1 g</span></li>
			<li>fat<span>16,5 g</span></li>
			<li>carbohydrates<span>24,1 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>1177 кJ</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Remove them with a slotted spoon and put them on a large plate. Spice up to your taste.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>