<div class="popupHeader">
	<div class="title"><h1>Fish dumplings </h1><span class="subtitle"> with salmon and pink salmon </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Unusual and incredibly delicate dumplings with salmon and pink salmon handmade by SmaCom™ were created exclusively for gourmets and lovers of  an extraordinary and refined taste.</p>	
						<p>Unusual filling of chilled fillets of salmon and pink salmon is used in these meat dumplings. This industrial fish of the salmon family is useful at all indicators due to its high nutritional value. A real health formula is hidden in the fish products: easily assimilated proteins, fatty acids, vitamin D and a number of minerals such as iodine, selenium, fluorine, magnesium, calcium. Fish is processed by all technologies in compliance with quality standards, which ensures maximum of the nutritional value. Adding marjoram to the mince makes its own "flavor" and has a unique taste. It is not only tasty, but also healthy.</p>
						<p>Eat to your health!</p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, fish fillets (salmon, pink salmon), water, onion, eggs, salt, sunflower oil, marjoram, black pepper. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>11,9 g</span></li>
			<li>fat<span>4,5 g</span></li>
			<li>carbohydrates<span>24,4 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>777 кJ</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings with salmon and pink salmon into boiling salted water (1 part of meat dumplings to 4 parts of water), add bay leaf. Bring to a boil, cook for 5-7 minutes on low heat until cooked. Remove them with a slotted spoon and put them on a large plate. Spice up to your taste.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>