<div class="popupHeader">
	<div class="title"><h1>Cherry   </h1><span class="subtitle">dumplings</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_3.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Generous Ukrainian cuisine is unimaginable without dumplings. SmaCom™ offers premium hand-made products - dumplings with cherries.</p>	
						<p>In Ukraine, this culinary masterpiece has become popular thanks to the Turks: an eastern dish "dyush-vara" first became "varAniks" and then "vareniks" (a Ukrainian word for dumplings). Today, there are thousands of dumplings recipes in the arsenal of the Ukrainian cuisine, but adherents of this dish will surely say that the real dumplings should be sweet. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Classical SmaCom™ recipe of dumplings with cherry is sustained in domestic traditions. Juicy, ripe cherries are combined with lush, snow-white dough and create a unique taste and aroma. Innovative and ecologically safe technology of fast freezing IceFree allows to save all the useful vitamins and minerals.</p>
						<p>SmaCom™ dumplings with cherry - health all year round! </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, freshly frozen cherries, water, sugar, eggs, potato starch, sunflower oil, vanilla.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>4,0 g</span></li>
			<li>fat<span>1,0 g</span></li>
			<li>carbohydrates<span>37,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>738,9 kJ</span></li>
		</ul>
		<div class="title">	Net weight and packing:</div>
		<ul>
			<li>0,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put cherry dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and pour the warmed butter or sour cream on them. Sweet syrup can be served separately. The best syrup choice is cherry or black cherry syrup, you can also add jam.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>