<div class="popupHeader">
	<div class="title"><h1>Каша пшеничная с мясом свинины / курицы / говядины</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort retort">
	<div class="PopupImageContainer">
        <img  class="productPopupImage" src="img/retort/img-wheat-pop.png" alt="">
    </div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Много лет назад за свои полезные свойства пшеничная каша была обязательным блюдом на каждом столе. Это естественный источник энергии для организма человека. Особенно пшеничная каша рекомендуется людям, которые связаны с тяжелым физическим трудом.</p>
					<p>Мы предлагаем пшеничную кашу в сочетании с различными видами мяса: свининой, говядиной и курицей. Каждый человек может выбрать себе по вкусу блюдо с любимым мясом. Благодаря правильной технологии приготовления каша ТМ SmaCom вкусная, нежная и словно воздушный.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши пшеничной с мясом свинины</div>
		<div class="consistInside">
			<div class="text">Каша пшеничная, мясо 1 сорт, подсолнечное масло, соль кухонная, морковь, лук, перец чорный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>25,6 г</span></li>
				<li>жиры<span>28,7 г</span></li>
				<li>углеводы<span>55,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>695,4 кДж (166,2 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши пшеничной с мясом курицы</div>
		<div class="consistInside">
			<div class="text">Каша пшеничная, мясо 1 сорт, подсолнечное масло, соль кухонная, морковь, лук, перец чорный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>29,1 г</span></li>
				<li>жиры<span>26,3 г</span></li>
				<li>углеводы<span>55,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>685,8 кДж (163,9 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши пшеничной с мясом говядины</div>
		<div class="consistInside">
			<div class="text">Каша пшеничная, мясо 1 сорт, подсолнечное масло, соль кухонная, морковь, лук, перец чорный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>28,0 г</span></li>
				<li>жиры<span>25,2 г</span></li>
				<li>углеводы<span>55,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>669,4 кДж (160,0 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Разогреть содержимое пакета:</p>
            - погрузив его (не вскрывая) в горячую воду;
            <br>
            - положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);
            <br>
            - на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. д.).

            <p>После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления. </p>
            <br>
            <p>Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>