<div class="popupHeader">
    <div class="title">
        <h1>Готовые блюда в реторт-пакетах</h1>
    </div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent cat retort">
    <div class="PopupImageContainer">
        <img  class="productPopupImage" src="img/retort/img-pack-pop.png" alt="">
    </div>

    <div class="col">
        <div class="colInner">
            <p class="small">Производство пополнилось цехом со современным новейшим оборудованием, которое дает возможность производить готовые к употреблению мясные и мясо-овощные блюда.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Что такое реторт-пакет? В чем его преимущества?</strong></p>
            </div>
            <p class="small">Реторт-пакет – пищевая упаковка, используется как альтернатива консервным банкам.</p>
            <p class="small">Реторт-пакет состоит из нескольких ламинированных слоев, способных выдерживать высокие температуры при стерилизации в автоклаве.</p>
            <p class="small">Реторт-пакет был разработан для американской армии еще в 1978 году и до сих пор используется вооруженными силами США для упаковки сухих пайков. С 2016 года ООО «Пирятинский деликатес» ввела данную разработку в собственное производство, обеспечивая продукцией украинскую армию и предлагая потребителям на рынке./p>
            <p class="small">Блюда в реторт-пакете хранятся при температуре от 0 до +25 градусов и относительной влажности 72%.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Инструкция по использованию блюд в реторт-пакетах</strong></p>
            </div>
            <p class="small"><strong>Предупреждение!</strong> Запрещается класть реторт-пакет с едой:</p>
            <ul>
                <li>
                    <strong>в открытый огонь!</strong>
                </li>
                <li>
                    <strong>в микроволновую печь!</strong>
                </li>
            </ul>
            <p class="small"></p>

            <div class="desc" style="text-align:left">
                <p><strong>Способы разогрева блюд в реторт-пакетах:</strong></p>
            </div>
            <ul>
                <li>разогреть содержимое пакета, погрузив его (не вскрывая) в горячую воду;</li>
                <li>разогреть содержимое пакета положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);</li>
                <li>разогреть содержимое пакета на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. Д.).</li>
            </ul>
            <p class="small"></p>
            <p class="small">После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления.</p>
            <p class="small">Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Путешествуйте, отдыхайте и не волнуйтесь о питании! С блюдами в реторт-пакетах ТМ Smacom придерживаться здорового режима питания очень легко в любых условиях.</strong></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="colInner">
            <div class="desc" style="text-align:left">
                <p><strong>Технология приготовления блюд в реторт-пакетах</strong></p>
            </div>
            <p class="small">Блюда готовятся на современном оборудовании. Производственное оборудование позволяет готовить, запекать и обжаривать блюда без дополнительного использования каких-либо жиров и готовить крупяные и овощные блюда на пару.</p>
            <p class="small">Технология приготовления готовых к употреблению блюд в реторт-пакетах заключается в предварительной термической обработке всех ингредиентов. Все сырье поступает в горячий цех, где проходит ее термическая обработка.</p>
            <p class="small">Далее все ингредиенты смешиваются, затем блюда автоматизировано дозируются порциями в реторт-пакеты.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Автоматизированное дозирование блюда в реторт-пакеты</strong></p>
            </div>
            <p class="small">Вакуумное устройство раскрывает и дезинфицирует реторт-пакеты. Подготовленное и проверенное блюдо расфасовывается в реторт-пакеты на автоматизированной дозирующей машине.</p>
            <p class="small">Наполненный блюдом реторт-пакет герметично запаивается и укладывается на лотки для автоклавирования.</p>
            <p class="small">Наполненные реторт-пакеты проходят процесс стерилизации при высокой температуре и давлении в автоклаве, что дает возможность получить полноценный, качественный и безопасный продукт питания с длительным сроком хранения.</p>
        </div>
    </div>

</div>