<div class="popupHeader">
	<div class="title"><h1>Каша рисовая с мясом свинины / курицы / говядины</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-rise-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Рис в сочетании с мясом – это традиционное восточное блюдо, которое существует уже много веков. Правильная технология приготовления ТМ SmaCom не позволяет рису слипаться, он получается рассыпчатым и нежным. </p>
					<p>Рис готовится вместе с мясом, вбирая в себя его аромат и вкус. Рис отлично сочетается с мясом курицы, свинины и говядины. Курица и говядина делают блюдо не жирный, а свинина сочной.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши рисовой с мясом свинины</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>20,0	г</span></li>
				<li>жиры<span>18,6 г</span></li>
				<li>углеводы<span>51,5 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>541,0 кДж (129,3 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши рисовой с мясом курицы</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>22,4 г</span></li>
				<li>жиры<span>27,7 г</span></li>
				<li>углеводы<span>49,4 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>640,6 кДж (153,1 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши рисовой с мясом говядины</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>22,1 г</span></li>
				<li>жиры<span>15,8 г</span></li>
				<li>углеводы<span>51,5 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>520,9 кДж (124,5 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Разогреть содержимое пакета:</p>
            - погрузив его (не вскрывая) в горячую воду;
            <br>
            - положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);
            <br>
            - на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. д.).

            <p>После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления. </p>
            <br>
            <p>Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>