<div class="popupHeader">
	<div class="title"><h1>Суп гороховый со свининой</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort" style="padding:70px 60px 50px;">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-peaSoup-pop_pack.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Гороховый суп – блюдо, которое полюбят многие. Базовыми ингредиентами являются мясо, горох, морковь, лук, пряности и соль. В процессе приготовления горох разваривается и становится мягким, а блюдо приобретает особый вкус и аромат.</p>
                    <p>Гороховый суп обладает отличными вкусовыми качествами и при этом полезен. Оцените качество и неповторимый вкус горохового супа от ТМ «SmaCom»! Такой суп напомнит каждому о детстве!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мясо свинини, картофель, горох, лук, морковь, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>32,5 г</span></li>
				<li>жиры<span>29,0 г</span></li>
				<li>углеводы<span>41,0 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>464,4 кДж (111,0 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Разогреть содержимое пакета:</p>
            - погрузив его (не вскрывая) в горячую воду;
            <br>
            - положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);
            <br>
            - на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. д.).

            <p>После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления. </p>
            <br>
            <p>Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>