<div class="popupHeader">
	<div class="title"><h1>Фасоль с овощами и мясом свинины / курицы / говядины</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-bean-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Фасоль является одной из древнейших и уникальных культур. На сегодняшний день она входит в рацион многих стран. Чтобы сделать не только вкусное, полезное, но и питательное блюдо, мы объединили фасоль с овощами и мясом.</p>
                    <p>Для любителей низкокалорийной и нежирной пищи, предлагаем фасоль с курицей или говядиной. Любителям сытной пищи понравится блюдо с мясом свинины. Фасоль в блюде получается очень ароматной и нежной, пропитывается мясным и овощным соком со специями. Даже тот, кто не любит фасоль, охотно попробует!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав фасоли с овощами и мясом свинины</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>65,1 г</span></li>
				<li>жиры<span>34,0 г</span></li>
				<li>углеводы<span>117,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>1237,2 кДж (295,7 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав фасоли с овощами и мясом курицы</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>68,6 г</span></li>
				<li>жиры<span>31,5 г</span></li>
				<li>углеводы<span>117,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>1227,6 кДж (293,4 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав фасоли с овощами и мясом говядины</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>67,6 г</span></li>
				<li>жиры<span>30,5 г</span></li>
				<li>углеводы<span>117,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>1211,3 кДж (289,5 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Разогреть содержимое пакета:</p>
            - погрузив его (не вскрывая) в горячую воду;
            <br>
            - положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);
            <br>
            - на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. д.).

            <p>После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления. </p>
            <br>
            <p>Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>