<div class="popupHeader">
	<div class="title"><h1>Каша перловая с мясом свинины / курицы / говядины</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-pearlBarley-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Каша перлова – страва дитинства. І не випадково, адже саме перловка, як її називають удома, багата клітковиною та вітамінами. Цікаво, що назва «перлова» походить від староруської «перли», що означає – річкові перли. Така гарна назва ідеально поєднується з харчовою цінністю, що має ця каша.</p>
                    <p>Перлова каша цілком може стати одним із основних компонентів збалансованого раціонального харчування. Ми пропонуємо кашу з трьома видами м’яса, які ідеально поєднуються з нею: свининою, яловичиною та курятиною.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши перловой с мясом свинины</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>20,3 г</span></li>
				<li>жиры<span>29,1 г</span></li>
				<li>углеводы<span>52,9 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>662,3 кДж (158,3 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши перловой с мясом курицы</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>23,5 г</span></li>
				<li>жиры<span>26,6 г</span></li>
				<li>углеводы<span>52,9 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>651,0 кДж (155,6 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Состав каши перловой с мясом говядины</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>22,4 г</span></li>
				<li>жиры<span>25,6 г</span></li>
				<li>углеводы<span>52,9 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>634,7 кДж (151,7 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>Разогреть содержимое пакета:</p>
            - погрузив его (не вскрывая) в горячую воду;
            <br>
            - положив его на любой нагревательный прибор (радиатор отопления, радиатор машины и т. д.);
            <br>
            - на открытом огне, высыпав блюдо в емкость для разогрева (кастрюля, сковорода и т. д.).

            <p>После разогрева реторт-пакет аккуратно открыть (особенно первое блюдо) с помощью отрывной полоски и по возможности высыпать в емкость для удобства потребления. </p>
            <br>
            <p>Блюдо перемешать и потреблять. Пакет со вторым блюдом (каша в ассортименте) перед открыванием рекомендуется размять руками, а затем открыть с помощью отрывной полоски. Блюдо перемешать и употреблять.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>