<div class="popupHeader">
	<div class="title"><h1>Перець   </h1><span class="subtitle">«Таращанський»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_24.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Київщина! Все тут дихає ніжністю та легкістю, а український колорит відчувається у розкішності навколишньої природи. «В Таращі - люди кращі!» - так кажуть про невеликий районний центр Київської області, тут навіть місцева їжа ненав'язлива своєю легкістю та витончено смачна. Таращанський край славиться гостинністю й своїми кулінарними шедеврами, одне з таких чудових і смачних страв - це фарширований перець, шанований усіма. Тут складно зустріти людину, чиї б мама, бабуся або він сам не готував фарширований перець. Його готують як на свята, так і на повсякденний стіл.</p>						
					</div>
					<div>
						<div class="title">2</div>
						<p>Фахівці TM EkoSmac  фарширують перець «Таращанський» за класичним варіантом - м'ясом, змішаним з рисом. Це логічно, якщо врахувати, що слов'янська душа любить ситну їжу, а м'ясо просто обожнює. В якості начинки використовується натуральна високоякісна яловичина. Саме вона чудово поєднується з рисом. Особливу соковитість страві додає обсмажена золотиста цибуля. Фарширований м'ясом та рисом перець ще і корисний. Адже яловичина багата білком і вітамінами. Та й сам болгарський перець містить особливий алкалоїд  капсаіцин, а також каротин, вітаміни С, Р, В1 і В2. Головний секрет фаршированого перцю від TM EkoSmac - попередня обробка. Перець повинен добре протушкуватись, щоби потім мав ніжний, соковитий смак.</p>
						<p>Перець «Таращанський» TM EkoSmac - тандем смаку і традицій!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Перець солодкий без насіннєвого гнізда, яловичина, рис відварний, цибуля, сіль, перець чорний мелений, перець запашний мелений. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 7,19 г</span></li>
			<li>жири<span>2,21  г</span></li>
			<li>вуглеводи<span>18,61 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>123,09 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Змішати сметану та томатну пасту, варити 5 хвилин до утворення соусу. У каструлю з соусом викласти перець «Таращанський» від TM EkoSmac. Налити воду так, щоб вона доходила до середини перців. Варити на середньому вогні, під кришкою, близько 8 хвилин. Подавати зі сметаною або з соусом, в якому тушкувались перці.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>