<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з м'ясом та часником </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>«Чим багаті, тим і раді», російська народна приказка. У всі часи росіяни були багаті м'ясом та часником. Вони вважалися незамінними та обов'язковими у щоденному раціоні. М'ясо - універсальне джерело енергії та вітамінів. Часник - кращий захисник від хвороб. Їх поєднання - особлива пісня, кулінарна ода досконалому смаку. </p>	
						<p>У приготуванні вареників EkoSmac використана класична руська рецептура. Кажуть, що такі вареники дуже любив цар Іван Грозний. Однак інгредієнти українські: добірний м'ясний фарш змішаний з натуральним «задиристим» часником, який додає страві яскраво-вираженого, насиченого смаку. </p>		
					</div>
					<div>
						<div class="title">2</div>
						<p>Це найулюбленіша страва чоловіків. М'ясо дарує енергію, а часник підкреслює справді чоловічий характер. Тому ці вареники так люблять готувати чоловікам турботливі дружини. Треба зауважити, що вони роблять це з особливою радістю ще й тому, що процес не займає багато часу. </p>
						<p>Вареники з м'ясом та часником від EkoSmac - страва з чоловічим характером!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в / г, яловичина, цибуля пасерована, часник, сіль, олія рослинна, яєчний порошок, перець чорний. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 8,69 г</span></li>
			<li>жири<span>5,24  г</span></li>
			<li>вуглеводи<span>28,7 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>197,8 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
            <li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та викласти на сковорідку з попередньо підсмаженою цибулею. Підсмажить до появи рум’яної скоринки. Подати з часником та сметаною.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>