<div class="popupHeader">
	<div class="title"><h1>Котлета </h1><span class="subtitle">«Смачна»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_27.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>В даному продукті гармонійно поєднуються натуральне куряче м'ясо, ароматні спеції та насичений смак. Котлети «Смачні» ТМ SmaCom випускаються без паніровки, мають круглу форму, ідеально підкреслюють абсолютні переваги ніжного курячого м'яса.</p>
				<p>Котлети «Смачні» - це незвичайна соковитість, натуральний склад і бездоганно збалансовані смакові якості, що роблять  страву по-справжньому ситною для цінителів смачної їжі. Котлети повністю зберігають корисні властивості та витончено підкреслюють довершений смак м'яса, створюючи домінуючу досконалість й благородну витонченість кулінарного делікатесу. </p>
				<p>Котлети «Смачні» від ТМ SmaCom - це завжди смачно! </p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад</div>
		<div class="consistInside">
			<div class="text">м'ясо куряче, вода, цибуля ріпчаста, борошно пшеничне в/г, сіль, соєвий білок, ароматизатор «дим», часник. </div>
			<div class="title">Поживна (харчова) цінність :</div>
			<ul>
				<li>білки <span>8,6 г</span></li>
				<li>жири <span>13,9 г</span></li>
				<li>вуглеводи <span>4,6 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
			<ul>
				<li><span>177,9 ккал</span></li>
			</ul>											
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>на розігріту змащену олією сковорідку викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв. Котлети добре поєднуються з будь-яким гарніром.

</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>