<div class="popupHeader">
	<div class="title"><h1>Чебуреки смажені</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_23.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Украинцы наслаждаются чебуреками от ТМ "Smacom" не один год. Ранее чебуреком называли жареный в масле пирожок из пресного теста, для начинки которого использовался мясной фарш с острыми приправами или сыр, или грибы. Сегодня чебуреки готовятся только из отборного мяса.</p>
						<p>Учитывая, что для приготовления полуфабриката необходимо время, мы решили предложить нашим потребителям новый формат блюда - жареные чебуреки.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Чтобы доказать чебуреки до готовности, необходимо только разогреть их в микроволновке.</p>
						<p>Жареные чебуреки от ТМ "Smacom" можно уверенно назвать особенными. Нежное мягкое тесто во время жарки становится хрустящим и пронизывается ароматным мясным соком внутри.</p>
						<p>В рецепте начинки мы оставили мясо говядины и свиной шпик. Для сочности мяса мы добавляем лук и перец.</p>
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вода питьевая, яичный порошок, масло растительное рафинированное, соль, говядина отварная, шпик боковой вытопленный, лук репчатый, перец черный, перец душистый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 9,09 г</span></li>
			<li>жиры<span>6,47  г</span></li>
			<li>углеводы<span>26,11 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>198,95 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
			<li>240 г</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Чебуреки жарить во фритюре или на сковороде в большом количестве растительного масла, на среднем огне с двух сторон до румяной корочки.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>