<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">«Застільні» </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_2.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Застілля - давня улюблена традиція слов'ян. З давніх часів вони обожнюють збиратися за святковим столом, який полон різноманітних страв. Центральне місце споконвіку займають пельмені, приготовані за особливим рецептом.  </p>	
						<p>Кулінари ТМ SmaCom відтворили цей рецепт, створивши пельмені «Застільні» бренду EkoSmaС. Це найкраща закуска до святкового та повсякденного столу. Пельмені «Застільні», по-перше, мають приємний пікантний смак, який чудово відтіняє алкогольні напої, по-друге, вони ситні та соковиті. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Яка ж особливість рецептури? Начинка - гармонійне поєднання свинини, курятини та цибулі, що змішані у певних пропорціях, використаних ще при дворі Володимира Мономаха. Свинина надає пельменям ніжності, курятина - легкості, а цибуля - соковитості.  </p>
						<p> Пельмені «Застільні» від EkoSmaС - це краща страва до столу. Приготувати їх можна за 5 хвилин, а, значить, гості будуть ситі, а Ви задоволені. Це реальна економія часу та сил! </p>
						<p>Пельмені «Застільні» від EkoSmaС - свято за 5 хвилин! </p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в / г, м'ясо птиці, цибуля ріпчаста, свинина, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,14 г</span></li>
			<li>жири<span>6,47 г</span></li>
			<li>вуглеводи<span>26,11 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>199,28 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Добре заморожені пельмені «Застільні» засипати в нежирний м'ясний бульйон, заправлений прянощами (майоран, перець та ін.) Після приготування всю рідину ретельно зцідити. Пельмені подавати на блюді з майонезом чи соусом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>