<div class="popupHeader">
	<div class="title"><h1>Пельмені  </h1><span class="subtitle">«Богатирські»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-2.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Наша земля здавна славилася своїми сильними, міцними та здоровими людьми - богатирями. Здоров'я, згідно з народною мудрістю, визначалося древнім законом «Ми є те, що ми їмо». Тому їжа повинна була бути ситною, здоровою та енергетичною. </p>	
						<p>Ми створили пельмені «Богатирські» EkoSmac  як універсальне та смачне джерело енергії та сили на кожен день. Це натуральний, здоровий продукт, який максимально насичує Вас корисними речовинами та мікроелементами. При цьому він украй простий у приготуванні. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Богатирська страва повинна складатися з максимально здорових інгредієнтів. Мало хто знає, що з усіх видів м'яса найбільше багато енергією м'ясо птиці. Тому фахівці ТМ SmaCom у пельменях «Богатирські» використовували перевірений часом рецепт. Це м'ясо птиці, попередньо замариноване у спеціях, та ліпне тісто з борошна вищого ґатунку. Золотиста домашня цибуля надає страві особливу соковитість. </p>
						<p>Пельмені «Богатирські» від бренду EkoSmac – енергія, ув'язнена в форму! </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, вода питна, яєчний порошок, олія рослинна рафінована, яловичина, шпик, цибуля, сіль, перець чорний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>16,61 г</span></li>
			<li>жири<span>3,95 г</span></li>
			<li>вуглеводи<span>63,44 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>355,75 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені «Богатирські», не розморожуючи, засипати у киплячу підсолену воду (1 частина пельменів до 4 частин води). Варити на слабкому вогні 5-7 хвилин. Виловити шумівкою пельмені та покласти у блюдо. Подавати пельмені, заправивши їх тертим часником, змішаним з рослинною олією, оцтом, сіллю, перцем.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>