<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">«Уральські»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_25.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3" >
					<div>
						<p>Фахівці ТМ SmaCom для створення оригінальної рецептури пельменів «Уральські» вивчили безліч стародавніх рецептів. Тепер ми з гордістю презентуємо Вам пельмені «Уральські», в основі яких класична рецептура уральських пельменів. Шматочки домашнього сала надають надзвичайну соковитість, а часник і чорний перець - гостроту та національний колорит.</p>
						<p>У століття глобалізації, коли світ стає більш доступним, Вам не треба здійснювати складну подорож на Урал, досить придбати пельмені «Уральські» від ТМ SmaCom та приготувати цей високоякісній продукт вдома всього за 7-8 хвилин.</p>
						<p>Пельмені «Уральські» від ТМ SmaCom: світ доступніший, а насолода смачною їжею комфортна! Пельмені «Уральські»: насолодитеся їжею як Боги, не виходячи з дому!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто: Борошно в/г, вода питна, яєчний порошок, олія рослинна рафінована, сіль. Фарш: яловичина, виду питна, цибуля, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul >
			<li>білки<span>10,1 г</span></li>
			<li>жири<span>13,0 г</span></li>
			<li>вуглеводи<span>27,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul >
			<li><span>267,4 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul >
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води). Довести до кипіння, варити на слабкому вогні 5-7 хвилин. Пельмені можна подати до столу з вершковим маслом, сметаною, соусом та ін.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>