<div class="popupHeader">
    <div class="title"><h1>Котлети курячі смажені</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-chicken_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Курячі котлетки «Мамині рецепти» не тільки дуже смачні, але й дієтичні завдяки невисокій калорійності курячого фаршу. Це означає, що їх можна давати дітям та вживати людям, які дотримуються дієти.</p>
                <p>Вони дуже смачні, ароматні та є продуктом високої якості.</p>
                <p>Котлети повністю готові до вживання. Завдяки використанню спеціальних тефлонових поверхонь процес обсмажування проходить без додавання жиру.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Перед вживанням їх потрібно розігріти в мікрохвильовій печі всього кілька хвилин. Мінімум зусиль та часу - і смачна м'ясна страва у вас на столі.</p>
                <p>Котлети курячі представлені в картонній ламінованій упаковці з прозорим віконцем для 100% видимості продукту. Коробка даних котлет має «свій» яскравий колір, який дозволяє легко диференціювати позицію з іншою.</p>
                <p>Родзинкою є те, що на упаковці подано рецепт гарніру, який ми рекомендуємо до котлет при подачі на стіл.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад</div>
        <div class="consistInside">
            <div class="text">
                М'ясна сировина заморожена 68% (м'ясо куряче - стегно, гомілка), цибуля ріпчаста, вода питна, сухарі панірувальні, хліб пшеничний, сіль кухонна, перець чорний мелений.
                <br>
                <strong>Не містить ГМО.</strong>
            </div>
            <div class="title">Поживна (харчова) цінність :</div>
            <ul>
                <li>білки <span>15,8 г</span></li>
                <li>жири <span>7,7 г</span></li>
                <li>вуглеводи <span>7,8 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
            <ul>
                <li><span>684,9 кДж / 163,7 ккал</span></li>
            </ul>
            <div class="title">Маса нетто :</div>
            <ul>
                <li>0,360 кг<span>± 3%</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                1. Заморожені котлети викласти в один ряд у посуд, призначений для мікрохвильової печі та розігрівати 4-6 хв. при потужності 750 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.
            </p>
            <p>
                2. На розігріту, змащену олією сковороду викласти заморожені котлети. Додати невелику кількість води та тушкувати протягом 5-7 хвилин на маленькому вогні, періодично перевертаючи на обидві сторони.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>