<div class="popupHeader">
    <div class="title"><h1>Котлети "Шкільні"</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-school_pop_with.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Кожна мама для своєї дитини бажає тільки найкращого. Повноцінна Їжа чи не найважливіший чинник, що впливає на здоров’я підростаючого покоління. Враховуючи це, TM SmaCom пропонує котлети «Шкільні» – смачний продукт, створений за унікальною рецептурою з натуральних інгредієнтів. Основа котлет – добірна ніжна яловичина, що поставляється нашими партнерами з екологічно чистих регіонів України. М'ясо проходить суворий контроль на санітарно-гігієнічні та мікробіологічні показники і, звичайно ж, на ГМО. </p>
            </div>
            <div>
                <div class="title">2</div>
                <p>У складі продукту подрібнені часник з цибулею та духмяний перець, вони надають надзвичайну апетитність. Панірувальні сухарі дають рум’яну й хрустку скоринку вже засмаженим котлетам. Скуштувавши котлети «Шкільні», будете ситими та задоволеними, адже вони створені зі стовідсоткового м'яса, яке багате на вітаміни. </p>
                <p>Особлива рецептура приготування котлет не тільки створює чудовий смак, але й підкреслює яскраву індивідуальність за рахунок невеличкого розміру – дітлахам в насолоду! </p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад</div>
        <div class="consistInside">
            <div class="text">М'ясо яловиче, сало, вода, цибуля, сухарі панірувальні, сіль, перець чорний мелений, перець духмяний мелений, часник.</div>
            <div class="title">Поживна (харчова) цінність :</div>
            <ul>
                <li>білки<span> 11,19 г</span></li>
                <li>жири<span>17,12  г</span></li>
                <li>вуглеводи<span>5,08 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
            <ul>
                <li><span>228,84 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,42 кг<span>± 5 г</span></li>
                <li>2,5 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Сковорідку змащуєте жиром, вершковим маслом або соняшниковою олією. На розігріту сковорідку викласти котлети. Підсмажити до появи скоринки. Подавати на стіл, прикрасивши зеленню. Котлети добре поєднуються з будь-яким гарніром.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>