<div class="popupHeader">
	<div class="title"><h1>Чебуреки </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_23.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Останнім часом все частіше чути словосполучення «фаст-фуд». Більшість впевнена, що їжа родом з Америки. Насправді, це не так. Першим фаст-фудом (тоді з даним словосполученням виникали приємні асоціації) був чебурек. Смачно, швидко, ситно - що ще треба для повного щастя?</p>	
						<p>  В Азії, де з'явився чебурек, його до цих пір, згідно з опитуваннями, вважають одним з головних відкриттів поряд з каліграфією, порохом і колесом. Цікаво, що за однією з версій, чебурек взагалі ніякого відношення до Азії не має, а був створений кримськими татарами (кр.-тат. çüberek, тур. Çiğ börek). Так називався смажений в олії пиріжок з прісного тіста, для начинки якого використовувався м'ясний фарш з гострими приправами або сир чи гриби. Ну, а поширення чебуреків у країнах Азії пояснюється, перш за все, міграцією кримських татар.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Так чи інакше, але чебурек - це яскравий кулінарний тренд, який займає почесне місце в гастрономічному залі слави. Його відрізняє дивовижне поєднання хрусткого підсмаженого тіста й соковитого ароматного м'яса. Чебуреки завжди подають з пилу, з жару, щоб відчути усю божественну чарівність цієї страви!</p>
						<p>Чебуреки ТМ EkoSmac готуються за споконвічною кримськотатарською рецептурою. Тісто замішують з борошна, води, солі, а потім розділяють на кульки, які розкочують на коржі. Після чого на них кладеться фарш, приготований з натуральної стовідсоткової яловичини, попередньо присмаченої справжніми ароматними спеціями. Особливу соковитість фаршу додає українська цибулю. Далі коржі з'єднуються. Результат - апетитні півмісяці, повні соковитого фаршу. </p>		
						<p>Чебуреки ТМ EkoSmac – смакуйте з пошаною!  </p>	
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, вода питна, яєчний порошок, олія рослинна рафінована, сіль, яловичина відварна, шпик бічний витоплений, цибуля, перець чорний, перець духмяний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 9,09 г</span></li>
			<li>жири<span>6,47  г</span></li>
			<li>вуглеводи<span>26,11 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>198,95 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Чебуреки смажити у фритюрі або на пательні у великій кількості рослинної олії, на середньому вогні з обох боків до утворення рум'яної скоринки.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>