<div class="popupHeader">
	<div class="title"><h1>Гречаники</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Гречаники - стародавня страва зы споконвічно українським обличчям. Вона має виключно українське коріння, будучи однією з пріоритетних страв національної кухні. Гречаники улюблені українцями за оригінальний смак та простоту приготування. Втім, простота поєднується з певною специфікою приготування. Її врахували кулінари ТМ EkoSmac в рецептурі фірмових гречаників.  </p>	
						<p>Знаменитий кулінар та дослідник Вільяма Похльобкин вважає, що основні компоненти цієї страви: гречана крупа та яйця. Ми врахували цю особливість, тому використовували у рецептурі домашні яйця та справжню українську гречану крупу. Інший обов'язковий компонент - це прокручене м'ясо. ТМ EkoSmac використовує дивне поєднання соковитої свинини, вітамінної яловичини та ніжного м'яса птиці. Саме з цих трьох видів м'яса із старовини готуються гречаники. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Треба сказати, що це дуже корисна страва. Адже і м'ясо, і гречка містять безліч вітамінів та корисних речовин. Це справжня скарбниця білка, заліза, вітамінів групи В та іншого.</p>
						<p>Інноваційне формувальне обладнання надає гречаниками досконалу форму апетитних кульок, які мають стійкий приємний запах. Готові гречаники можна подавати до столу зі сметаною.</p>			
						<p>Гречаники ТМ EkoSmac - апетитні традиції Україні!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Яловичина, свинина, м'ясо птиці, крупа гречана,сіль. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>7,19 г</span></li>
			<li>жири<span>2,21 г</span></li>
			<li>вуглеводи<span>18,61 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>303,68 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Сковорідку змазуєте жиром, вершковим маслом або соняшниковою олією. Розігріваєте. На розігріту сковорідку викладаєте гречаники. Підсмажуєте до появи скоринки. Подавати на стіл, густо полив сметаною. Гречаники ідеально поєднуються з будь-яким блюдом, особливо добре йдуть під міцні напої.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>