<div class="popupHeader">
	<div class="title"><h1>Палички  </h1><span class="subtitle">«Курячі» </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_21.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>ТМ EkoSmac з гордістю представляє унікальний продукт - палички «Курячі». Даний продукт готується з курячого фаршу, якому надають особливу форму. Кожна куряча паличка обвалюються в спеціальному борошняному складі, приправляється індійськими спеціями, потім попередньо обсмажується з цибулею.</p>
						<p>Така рецептура дозволяє отримати курячі палички, які готуються швидко та просто. На виході - смачні, апетитні, ароматні курячі палички. А яка хороша, як приголомшливо хрустка скоринка, яка утворюється при приготуванні! Вона пікантна та ароматна! Будь-який гурман буде в захваті! Додавання натуральних спецій та українського часнику розбурхує рецептори, а ніжне м'ясо птиці тане в роті.</p>							
					</div>
					<div>
						<div class="title">2</div>
						<p>Похрумтіти такими паличками можна в компанії, з коханою, з сім'єю або навіть одному. Адже курячі палички відмінно підійдуть до будь-якого гарніру, салату та, звичайно ж, до пива. Повірте, шановні чоловіки, кращої закуски до пива не придумаєш!</p>
					</div>																																	
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">М'ясна сировина заморожена 70% (філе куряче – 50%, сало – 10%, м'ясо птиці куряче – 10%), вода питна, цибуля ріпчаста, білок соєвий (текстурат), сухарі панірувальні, яєчний порошок, сіль.

            кухонна, перець чорний мелений).</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 9,65 г</span></li>
			<li>жири<span>9,69  г</span></li>
			<li>вуглеводи<span>1,01 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>129,85 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Палички «Курячі» ТМ EkoSmac обваляти у борошні та обсмажити до утворення хрусткої скоринки.

</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>