<div class="popupHeader">
	<div class="title"><h1>Бендерки   </h1><span class="subtitle">з м'ясом та цибулею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_15.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Бендерки - це млинці трикутної форми з соковитим ніжним фаршем з відбірного м'яса, змішаного з золотистою підсмаженою цибулею і натуральними спеціями. Звідки вони з'явилися достеменно невідомо. З чуток, вони мають польське, угорське чи західноукраїнське походження. Втім, загадковість не заважає бендеркам бути одною з найулюбленіших страв українців. </p>
						<p>По суті, бендерки нагадують млинці, загорнуті трикутником. Всередині - смачна начинка. Для неї використовується натуральне м'ясо та цибуля. Саме цибуля надає страві особливу соковитість, яку так поважають гурмани. Апетитна хрустка скоринка додає страві пікантності та естетики.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Фахівці ТМ EkoSmac готують бендерки за класичною українською рецептурою, суворо стежачи за тим, щоб у виробництво йшли тільки натуральні, безпечні інгредієнти, які пройшли санітарний та екологічний контроль.</p>
						<p>Бендерки ТМ EkoSmac - смачна альтернатива млинцям!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Яловичина, борошно в/г, свинина, цибуля, шпик, вода питна, сіль, яєчний порошок, масло рослинне рафіноване.</div>		
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 15,28 г</span></li>
			<li>жири<span>13,03  г</span></li>
			<li>вуглеводи<span>41,82 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>345,67 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Бендерки викладають на деко або сковороду, змащену маслом. Ставлять у духовку при температурі 200 градусів на 3-4 хвилини. Або можна обсмажити на сковороді до утворення золотистої скоринки. Подають зі сметаною. </p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>