<div class="popupHeader">
	<div class="title"><h1>Котлети   </h1><span class="subtitle">«Студентські»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_11.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Займаючись спортом або катаючись на байку, осягаючи науку або висловлюючись у творчості, ти відчуваєш голод - голод перемог, голод нових емоцій та знань. Ти прагнеш бути кращим. Щоб вгамувати свій голод успіху, тобі потрібен універсальне джерело бадьорості та гарного настрою. Тобі необхідний ситний заряд енергії. Котлети «Студентські» від ТМ EkoSmac створені спеціально для тебе. Вони швидко відновлюють твої сили та заряджають енергією. Добірне свіже м'ясо. Натуральні індійські спеції. Хрусткі панірувальні сухарі. Все це котлети «Студентські»!  </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>І головне - відчуваючи голод успіху, прагнучи до перемог, ти повинен максимально раціонально використовувати свій час. «Студентські» котлети готуються всього за 8 хвилин. Ти не витрачаєш час на приготування їжі, а витрачаєш його на себе. 
</p>
						<p>Котлети «Студентські» від ТМ EkoSmac - новий смак нового часу! 
 </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Яловичина, м'ясо птиці, вода питна, шпик боковий, цибуля, сухарі панірувальні, сіль, перець чорний мелений, часник.

 </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 10,76 г</span></li>
			<li>жири<span>13,90  г</span></li>
			<li>вуглеводи<span>17,89 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>239,70 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Сковорідку змащуєте жиром, вершковим маслом або соняшниковою олією. На розігріту сковорідку викласти котлети. Підсмажити до появи скоринки. Подавати на стіл, прикрасивши зеленню. Котлети добре поєднуються з будь-яким гарніром.

</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>