<div class="popupHeader">
	<div class="title"><h1>Млинці   </h1><span class="subtitle">«Класичні»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/product_thumb_17_1pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>Сучасне життя диктує свій ритм, за яким так складно встигнути. Щоб бути у формі, щоб відповідати заданим вимогам, необхідно мати джерело енергії та вітамінів.</p>	
						<p>ТМ SmaCom з гордістю представляє ексклюзивні «Класичні» млинці. Вони надзвичайно ситні, смачні та корисні. Кілька хвилин, і Ви отримуєте заряд енергії та бадьорості на весь день. Рецепт млинчиків «Класичні» від ТМ SmaCom – це і використання лише оригінальних і натуральних продуктів: делікатесне, злегка підсмажене м'ясо птиці, жирна, соковита свинина та вітамінна, ніжна яловичина. І, звичайно ж, спеціальне тісто з борошна вищого ґатунку! Справжня домашня цибуля надає млинцям «Класичні» від ТМ SmaCom особливу насиченість смаку, а натуральні спеції підкреслюють витончену смакову палітру!</p>	
					</div>																				
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, вода питна, молоко сухе знежирене, цукор, олія рослинна рафінована, сіль, яєчний порошок, яловичина, м'ясо птиці, шпик, перець чорний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 25,38 г</span></li>
			<li>жири<span>12,06  г</span></li>
			<li>вуглеводи<span>35,74 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>353,1 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг</li>
			<li>2,5 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Млинці покладаємо у сковорідку з рослинною олією. Підсмажуємо на слабкому вогні під закритою кришкою до повної готовності.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>