<div class="popupHeader">
    <div class="title"><h1>Котлети зі свинини та яловичини смажені</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-porkBeef_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Назва лінійки «Мамині рецепти» повністю відображає концепцію напівфабрикатів: своїми смаковими якостями вони яскраво передають любов виробника до споживачів.</p>
                <p>Свино-яловичі котлети – це натуральний продукт, виготовлений із любов'ю до споживачів. У складі свино-яловичих котлет лише добірне м'ясо та природні спеції.</p>
                <p>Котлетки вляются справжньою знахідкою для цінителів смачної їжі за їх незвичайну соковитість, склад та бездоганні смакові властивості. Напівовальна форма котлет нагадує істинно домашню атмосферу.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>У розігрітому вигляді страва дуже ароматна, відчувається хрустка панірувальна скоринка та ніжність м'яса. Завдяки свино-яловичому фаршу котлети вийшли калорійні і дуже ситні.</p>
                <p>Котлети зі свинини та яловичини представлені в картонній ламінованій упаковці з прозорим віконцем для 100% видимості продукту. Коробка даних котлет має «свій» яскравий колір, який дозволяє легко диференціювати позицію з іншою.</p>
                <p>Родзинкою є те, що на упаковці подано рецепт салату, який ми рекомендуємо для підкреслення смаку страви при подачі на стіл.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад</div>
        <div class="consistInside">
            <div class="text">
                М'ясна сировина заморожена 79% (м'ясо свинини знежиловане 29,6%, м’ясо яловичини знежиловане 29,6%, сало свинини 19,8%), цибуля ріпчаста, сіль кухонна, перець чорний мелений.
                <br>
                <strong>Не містить ГМО.</strong>
            </div>
            <div class="title">Поживна (харчова) цінність :</div>
            <ul>
                <li>білки <span>11,7 г</span></li>
                <li>жири <span>31,2 г</span></li>
                <li>вуглеводи <span>6,0 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
            <ul>
                <li><span>1471,1 кДж / 351,6 ккал</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                1. Заморожені котлети викласти в один ряд у посуд, призначений для мікрохвильової печі та розігрівати 4-6 хв. при потужності 750 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.
            </p>
            <p>
                2. На розігріту, змащену олією сковороду викласти заморожені котлети. Додати невелику кількість води та тушкувати протягом 5-7 хвилин на маленькому вогні, періодично перевертаючи на обидві сторони.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>