<div class="popupHeader">
	<div class="title"><h1>Котлета    </h1><span class="subtitle">«Куряча»  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_28.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Ці котлети відрізняються особливою ніжністю та пікантністю. Мають оригінальну форму, що нагадує курячу ніжку, тим самим подобаються не тільки дорослим, але й дітям. Даний продукт виготовляється з добірного натурального курячого філе, а тому має особливо вишуканий дієтичний смак. </p>
				<p>Рецепт їх витримано в класичному стилі. Використовується тільки свіже куряче філе, яке обробляється спеціями, що додає особливого запашного аромату й пікантного смаку. Потім напівфабрикат панірують у сухарях, це забезпечує особливий колорит й традиційний вигляд продукту.  </p>
				<p>Такі котлети вкрай легко приготувати вдома. Досить просто підсмажити їх на сковорідці, прикрасити зеленню і  універсальний «поліпшувач настрою» на Вашому столі! </p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад</div>
		<div class="consistInside">
			<div class="text">куряче м'ясо, цибуля ріпчаста, вода, сухарі панірувальні, соєвий білок, сіль, часник, перець чорний мелений. </div>
			<div class="title">Поживна (харчова) цінність :</div>
			<ul>
				<li>білки <span>9,7 г</span></li>
				<li>жири <span>15 г</span></li>
				<li>вуглеводи <span>8,0 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
			<ul>
				<li><span>205,8 ккал</span></li>
			</ul>											
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>на розігріту змащену олією сковорідку викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв. Смакують  з будь-яким гарніром.

</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>