<div class="popupHeader">
	<div class="title"><h1>Тефтелі </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_22.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Незважаючи на те, що тефтелі - страва інтернаціональна, популярна у всьому світі, а в деяких країнах, як, наприклад, у Швеції, ще й національна, вона дуже популярна в Україні. Цей ніжний м'ясний делікатес знайомий кожному з дитинства: він подавався з густою підливою та вважався одною з найпопулярніших «других страв».</p>	
						<p>Фахівці ТМ EcoSmac, слідуючи рецептурі, готують апетитні кульки з найніжнішого, найсвіжішого курячого фаршу, змішаного зі стовідсотковою яловичиною та високоякісним рисом . Відповідно до класичної технології, тефтелі від ТМ EcoSmac панірують у сухарях, щоб придбати свій справжній смак, який дійшов до нас з часів середньовічної французької кухні, де тефтелі подавалися до королівського столу. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Варити тефтелі, якщо слідувати традиціям, краще всього в загальній гущі котла, а подавати разом з густою підливкою, близькою за консистенцією до соусу. Найкраще підійде соус, в якому є смажена цибуля, помідори, порей, часник - все це необхідно загустити борошном та підкислити сметаною або соком кислих фруктів.</p>
						<p>Тефтелі від ТМ EcoSmac - смачно, ніжно, як у дитинстві!  </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">М'ясо птиці, яловичина, вода питна, крупа рисова, сухарі панірувальні, цибуля, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 12,74 г</span></li>
			<li>жири<span>7,97  г</span></li>
			<li>вуглеводи<span>20,69 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>205 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Приготувати соус. Дрібно нарізати цибулю та солодкий болгарський перець. Цибулю злегка обсмажити на олії, додати болгарський перець, пасерувати 2-3 хвилини. В овочі додати томатну пасту, перемішати. Влити воду, посолити, додати цукор і спеції. Кип'ятити 2-3 хвилини. Соус вилити у посуд з тюфтельками ТМ EcoSmac, дати закипіти, зменшити вогонь. Варити 8 хвилин.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>