<div class="popupHeader">
	<div class="title"><h1>«Хинкали»</h1><span class="subtitle"></span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_9.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>Кулінари ТМ EkoSmaС, розуміючи всю серйозність приготування хінкалі, - вони, як писав той же Нодар Думбадзе: «…не можуть коштувати стільки ж, скільки чарка горілки», використовують стародавню рецептуру, щоб дотримуватись усіх споконвічно грузинських традицій.</p>	
						<p>	Так чим же прекрасні хінкалі, які панують над умами тисяч гурманів? На це питання без докорів сумління можна відповісти - усім! Хінкалі TM EkoSmaС чудові в своїй комфортності - кілька хвилин  и все готово! Гарні хінкалі і своїм ні з чим незрівнянним смаком: пряним, запашним і незмінно соковитим. Коли ви куштуєте хінкалі, важливо не втратити жодної крапельки м'ясного нектару.</p>		
						<p>Хінкалі від ТМ EkoSmaС – Кавказька гармонія смаку!	</p>				
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в / с, яловичина, свинина, цибуля, вода питна, яєчний порошок, олія, сіль, кріп, петрушка, перець чорний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>20,81 г</span></li>
			<li>жири<span>19,58 г</span></li>
			<li>вуглеводи<span>48,69 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>454,22 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Хінкалі засипати в велику кількість підсоленої киплячої води. Варити до напівготовності.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>