<div class="popupHeader">
	<div class="title"><h1>Котлета    </h1><span class="subtitle">«Домашня»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_26.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Котлети «Домашні» - це відчуття любові, турботи та домашнього затишку. Рецепт приготування котлет створено у відповідності з усіма стандартами й відрізняється особливою, істинно домашньою ретельністю. Делікатний смак створюють ніжне куряче м'ясо та золотиста цибуля з ароматними спеціями, все ретельно приготовлено за  домашньою  рецептурою. Овальна форма у вигляді крапельки й світла паніровка зі здобного білого хліба додають котлетам  вишуканої пікантності та домашнього смаку. Це поєднання - особлива пісня, кулінарна ода смакової досконалості. Готові до вживання котлети мають приємний запах ніжний і соковитий смак. </p>
				<p>Котлета «Домашня» від ТМ SmaCom: зроблено по-домашньому! </p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад</div>
		<div class="consistInside">
			<div class="text">куряче м'ясо, цибуля ріпчаста, вода, сухарі панірувальні, соєвий білок, сіль, часник, перець чорний мелений. </div>
			<div class="title">Поживна (харчова) цінність :</div>
			<ul>
				<li>білки <span>9,5 г</span></li>
				<li>жири <span>15,5 г</span></li>
				<li>вуглеводи <span>2,4 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту :</div>
			<ul>
				<li><span>187,1 ккал</span></li>
			</ul>											
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>на розігріту змащену олією сковорідку викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв. Подавати до столу можна з будь-яким гарніром.

</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>