<div class="popupHeader">
	<div class="title"><h1>Блинчики  EcoSmac</h1><span class="subtitle">с субпродуктами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Блинчики с субпродуктами от TM EcoSmac – комфортный, экономичный продукт, который оптимален по отношению «цена-качество». Он востребован всеми слоями населения и ценен как за простоту приготовления, так и за пикантный вкус.  </p>	
						<p>Блинчики с субпродуктами от TM EcoSmac – это, во-первых, стопроцентное качество, соблюдение высоких стандартов которого, главная задача и кредо компании. Поэтому мы тщательно следим за тем, чтобы в производство попадали только безопасные свежие продукты, которые соответствуют всем санитарно-гигиеническим, микробиологическим норам. Во-вторых, приобретая блинчики TM EcoSmac, Вы получаете продукт, который отлично утоляет голод, заряжая энергией и силой. </p>	
						<p>Блинчики с субпродуктами от TM EcoSmac – на каждый день!</p>
					</div>																				
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Мука в/с, печень говяжья отварная, сердце говяжье отварное, легкое говяжье отварное, вода питьевая, лук пассерованный, соль, масло растительное рафинированное, яичный порошок, перец черный. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 16,11 г</span></li>
			<li>жири<span>4,56 г</span></li>
			<li>вуглеводи<span>27,53 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>215,6 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Блинчики кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>