<div class="popupHeader">
	<div class="title"><h1>Голубці   </h1><span class="subtitle">«Українські»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_19.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						«А зробіть мені, мамо, Ваших голубців», - говорив відомий український персонаж і остаточно вселяв в українців віру, що голубці - це їх споконвічно національне блюдо, без якого ні ситний сніданок, ні смачний обід, ні святкова вечеря не відбудуться. </p>	
						<p> Голубці настільки зміцнилися в Україні, що стали національним блюдом. Втім, походження вони все ж східного, а точніше тюркського. Напевно, такий синтез двох кулінарних культур породив вишуканий і в той же час універсальний делікатес. До тюркського колориту українці, знатні кулінари, привнесли свої нововведення. Голубці улюблені, смачні та корисні! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p> Щоб створити класичні українські голубці, ми вивчили безліч оригінальних рецептур та правил приготування. Тепер ТМ EkoSmac  з гордістю презентує Вам справді домашні голубці, рецепт яких витриманий у відповідності з традиціями української кухні. Фарш для голубців робиться з відбірної яловичини та свіжих овочів, пасерованої цибулі та моркви. Особливу пікантність надають натуральні індійські спеції та прянощі. Цілісне листя білокачанної капусти містить у собі цю чудову начинку.</p>
						<p>Голубці «Українські» від ТМ EkoSmac у найкращих традиціях смаку!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Капуста білокачанна відварена, яловичина, рис відварений, морква пасерована, цибуля пасерована, сіль харчова, перець мелений, перець духмяний. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span> 5,37 г</span></li>
			<li>жири<span>1,77  г</span></li>
			<li>вуглеводи<span>15,8 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>100,61 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Томатний соус або кетчуп з'єднати зі сметаною та водою (або бульйоном). Залити цією сумішшю голубці ТМ EkoSmac так, щоб рідина ледь покривала їх. Готувати на середньому вогні до повної готовності. При подачі полити голубці сметаною та посипати зеленню.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>