<div class="popupHeader">
	<div class="title"><h1>Булочка пшеничная</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_h1_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Пшеничная булочка TM «SmaCom» – нежная, воздушная, мягкая и очень вкусная! Кто не представляет свой рацион питания без хлеба, то выпечка от TM «SmaCom» обязательно найдет свое место в вашем меню! </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>А если вы решили угостить гостей вкусными бургерами, то круглая форма булочек и чудесный вкус позволит вам приготовить самые вкусные и симпатичные горячие закуски!
                            </p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мука пшеничная в/с, вода питьевая, дрожжи прессованные, сахар, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>6,8 г</span></li>
				<li>жиры<span>2,4 г</span></li>
				<li>углеводы<span>45,6 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>963,99 кДж (230,4 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>№1: Булочки разогревать в предварительно разогретой духовке в течение 3 – 4 мин. при температуре 190 – 210°С. </p>
        <p> №2: Булочки разогревать в микроволновой печи 3 – 4 мин. при мощности 700 Вт. </p>
        <p> В обоих случаях время разогрева зависит от количества изделий, которые одновременно разогреваются: ​​чем больше изделий, тем больше требуется времени. Перед приготовлением замороженные булочки не требуют размораживания.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>