<div class="popupHeader">
	<div class="title"><h1>Булочка пшенична</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_h1_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Пшенична булочка TM «SmaCom» – ніжна, повітряна, м'яка і дуже смачна! Хто не уявляє свій раціон харчування без хліба, то випічка від TM «SmaCom» обов'язково знайде своє місце у вашому меню!</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>А якщо ви вирішили пригостити гостей смачними бургерами, то кругла форма булочок і чудовий смак дозволять вам приготувати найсмачніші і симпатичні гарячі закуски!
                            </p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Борошно пшеничне в/г, вода питна, дріжджі пресовані, цукор, олія соняшникова рафінована дезодорована, сіль кухонна.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>6,8 г</span></li>
				<li>жири<span>2,4 г</span></li>
				<li>вуглеводи<span>45,6 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність:</div>
			<ul>
				<li><span>963,99 кДж (230,4 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <p>
            №1: Булочки розігрівати в попередньо розігрітій духовці протягом 3 – 4 хв. при температурі 190 - 210°С.
        </p>
        <p>
            №2: Булочки розігрівати в мікрохвильовій печі 3 – 4 хв. при потужності 700 Вт. В обох випадках час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Перед приготуванням заморожені булочки не вимагають розморожування.
        </p>
    </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>