<div class="popupHeader">
	<div class="title"><h1>Бульмені </h1><span class="subtitle">з яловичиною</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/bull/bull-pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>ТМ SmaCom полюбляє створювати особливі продукти, які залишають післясмак та бажання спробувати ще.</p>
				<p>Нова лінійка напівфабрикатів - бульмені, стовідсотково запам'ятається надовго кожному. Креативна назва утворена шляхом поєднання слів «бульйон» та «пельмені».</p>
				<p>Бульмені – це ніжний та соковитий кулінарний шедевр, перед яким неможливо встояти! Секрет бульменів розкривається при варінні, під час якого в середині продукту утворюється м’ясний бульйон.</p>
				<p>Завдяки ніжному тісту під час вживання бульмені не втрачають ні єдиної краплі ароматного соку.</p>
				<p>Впевнені, маленька кругла форма бульменів сподобається не лише дорослим, але й дітям.</p>
				<p>Рекомендуємо спробувати бульмені зі свининою та яловичиною, та бульмені з індичкою.</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Фарш: м’ясна сировина заморожена 63,7% (м’ясо яловичини знежиловане 53,9%, сало свинини 9,8%), вода питна, цибуля ріпчаста,  сіль кухонна,  перець чорний мелений, коріандр мелений, глутамат натрію. Тісто: борошно пшеничне в/г, вода питна,  клітковина пшенична, сіль кухонна.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,2 г</span></li>
				<li>жири<span>9,3 г</span></li>
				<li>вуглеводи<span>25,4 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>929,3 кДж /222,1 ккал.</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,900 кг<span>± 15 г</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>
				Бульмені не розморожуючи, засипати в киплячу підсолену воду (1 частина бульменів: 4 частини води), перемішати. Довести до кипіння, і варити 3 хвилини після спливання на слабкому вогні. Бульмені можна подати до столу з вершковим маслом, сметаною, соусом та ін.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>