<div class="popupHeader">
	<div class="title"><h1>Гречка з грибами</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_gg_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>TM «SmaCom» представляє готову страву, яке досить просто розігріти, – «Гречана каша з грибами». Навіть той, хто не є шанувальником гречки, не встоїть, щоб не спробувати її.</p>
                            <p>Шматочки грибів, прожарені в маслі, дарують гречці надзвичайний аромат і смак.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> А інноваційна система заморозки надає можливість зберегти не тільки корисні речовини, але й смакові властивості страви.</p>
                            <p>Розсипчаста гречка з ніжними печерицями – легкий варіант сніданку і прекрасна друга страва в обідню перерву.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Вода питна, крупа гречана – 25%, гриби (шампіньйони) – 15%, олія соняшникова рафінована дезодорована, сіль кухонна.
        </div>
        <div class="title">Поживна (харчова) цінність:</div>
        <ul>
            <li>білки<span>1,2 г</span></li>
            <li>жири<span>5,5 г</span></li>
            <li>вуглеводи<span>1,0 г</span></li>
        </ul>
        <div class="title">Eнергетична цінність:</div>
		<ul>
			<li><span>244,0 кДж (58,3 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Розморозити до повного розтавання, надколоти упаковку і розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>