<div class="popupHeader">
	<div class="title"><h1>Пюре картопляне</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_p_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Картопляне пюре – найпопулярніший і улюблений в нашій країні гарнір. Він чудово поєднується з будь-яким м'ясом, овочами, рибою, надовго залишає відчуття ситості.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Але щоб пюре дійсно приносило задоволення не тільки смаком, але й виглядом, воно має бути правильно приготовлене. Кухарі TM «SmaCom» пропонують готове картопляне пюре, яке відрізняється особливою ніжністю і пікантністю.</p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">Картопля відварна – 81%, вода питна, маргарин столовий, сіль кухонна.
                        </div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>3,2 г</span></li>
							<li>жири<span>4,0 г</span></li>
							<li>вуглеводи<span>27,5 г</span></li>
						</ul>
						<div class="title">Eнергетична цінність:</div>
						<ul>
							<li><span>664,42 кДж (158,8 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>1 кг</li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Розморозити до повного розтавання, надколоти упаковку і розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>