<div class="popupHeader">
	<div class="title"><h1>Перець фарширований</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_pf_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Крім смакових характеристик страви, дуже важлива її естетична складова. Професіонали стверджують, що гарна подача страви викликає апетит та покращує травлення.</p>
                            <p>Перець фарширований від ТМ «SmaCom» втілює в собі дані характеристики та свідчить про кулінарну майстерность кухарів.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Ця страва буде до смаку і дорослим, і дітям. У свою чергу, фарширований перець дуже ситна страва: добірні овочі начиняються м'ясом курки, соковитою телятиною, ніжним салом, ідеально розсипчастим відварним рисом, цибулею і морквою.</p>
                            <p>Фарширований перець – це не тільки дуже смачна, але і корисна страва, адже в ній практично відсутні смажені елементи. Їжте на здоров'я з ТМ «SmaCom»!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, перець свіжий, м'ясна сировина заморожена - 17,3% (м'ясо курки – 13,2%, м'ясо яловичини – 2,7%, сало – 1,4%), цибуля смажена, томатна паста, морква, крупа рисова, олія соняшникова рафінована дезодорована, сіль кухонна, білок соєвий (текстурат), клітковина бобова, перець чорний мелений.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>12,7 г</span></li>
				<li>жири<span>6,8 г</span></li>
				<li>вуглеводи<span>22,1 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність:</div>
			<ul>
				<li><span>466,1 кДж (111,4 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Перед приготуванням продукт не потрібно розморожувати.</p>
    <p>На сковороді: на розігріту сковороду викласти заморожений перець, додати невелику кількість води та тушкувати протягом 5-7 хв. на маленькому вогні, періодично перевертаючи на обидві сторони. На пару: перець, не розморожуючи, викласти на друшляк (сито чи решітку), що розміщений на каструлі з водою, щільно закрити кришкою. З моменту, коли закипить вода та почне утворюватися пара, готувати під закритою кришкою 5 хв. Можна використовувати пароварку.</p>
        <p>У мікрохвильовій печі: викласти у посуд заморожений перець в один ряд та розігрівати 4-6 хв. при потужності 700 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>