<div class="popupHeader">
	<div class="title"><h1>Рис з овочами</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_ro_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>TM «SmaCom» представляє готову страву, яку досить просто розігріти, – «Рис з овочами». Відварений рис та овочі – основні компоненти цієї страви, яка володіє не тільки чудовими смаковими якостями, але і поживними властивостями.</p>
			<!--</div>
			<div>
				<div class="title">2</div>-->
				<p>Овочі являють собою багате джерело корисних речовин. Під час кулінарного процесу вони зберігають всі вітаміни, даруючи незвичайну легкість організму. Тому не варто забувати про рисові каші з овочами на сніданок, навіть якщо ви вже давно виросли.</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Крупа рисова відварна – 67%, суміш овочева – 29%, олія соняшникова рафінована дезодорована, сіль кухонна.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>5,6 г</span></li>
				<li>жири<span>9,9 г</span></li>
				<li>вуглеводи<span>51,3 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність:</div>
			<ul>
				<li><span>1325,1 кДж (316,7 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Розморозити до повного розтавання, надколоти упаковку і розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>