<div class="popupHeader">
	<div class="title"><h1>Гомілка куряча запечена</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_gk_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Багато людей полюбляють їсти курячі гомілки, тому що вони соковиті, ніжні і дуже смачні. У питанні смаження курячих гомілок найголовніше – це, звичайно, маринад, в якому вони попередньо витримуються, або безпосередньо перед смаженням покриваються. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Тому кухарі ТМ «SmaCom» дуже дбайливо підійшли до вибору маринаду і досягли неперевершеного смаку. Пряні спеції та гострі приправи чудово поєднуються з курячою гомілкою, яка стане прекрасним доповненням до будь-якого гарніру.
                            </p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">М'ясна сировина заморожена – 62,3% (гомілки курячі), розсіл (вода питна, сіль кухонна, стабілізатор (Е 450, Е 451), паприка мелена, часник сушений, сіль кухонна, перець чилі мелений</div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>12,7 г</span></li>
						<li>жири<span>5,8 г</span></li>
						<li>вуглеводи<span>2,6 г</span></li>
					</ul>
					<div class="title">Eнергетична цінність:</div>
					<ul>
						<li><span>474,5 кДж (113,4 ккал)</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>1 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">У мікрохвильовій печі розігрівати 5 – 7 хв. при потужності 700 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.
                    </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>