<div class="popupHeader">
	<div class="title"><h1>Гречка відварена</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_g_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Гречка – одна з популярних круп, яка заслуговує особливої ​​уваги. В ідеалі, гречку необхідно регулярно вживати. Гречана каша дуже проста у приготуванні і є однією з найкорисніших, тому що містить практично всі життєво необхідні людині мікроелементи і вітаміни. Недарма її називають «Царицею» круп, вона багата амінокислотами, мінералами.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Кулінари ТМ «SmaСоm», пропонуючи сучасній людині тільки натуральну й здорову їжу, створили готовий гарнір – відварену гречку, яку можна вживати з м`ясом, овочами, просто поєднувати з молоком, з оливковою олією, і навіть їсти солодкою, додаючи мед або фрукти.
                            </p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Вода питна, крупа гречана вищого сорту, сіль кухонна.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>4,2 г</span></li>
			<li>жири<span>1,1 г</span></li>
			<li>вуглеводи<span>2,6 г</span></li>
		</ul>
		<div class="title">Eнергетична цінність:</div>
		<ul>
			<li><span>456,5 кДж (109,1 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Розморозити до повного розтавання, надколоти упаковку і розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>