<div class="popupHeader">
	<div class="title"><h1>Млинці </h1><span class="subtitle">з сиром </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_16.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Сир, як відомо, - дуже корисний продукт. Але одним сиром ситий, звичайно, не будеш. Широка слов'янська душа вимагає чогось цікавіше і ситніше. Млинці з сиром підійдуть найкраще. Це відома страва з багатими традиціями та славною історією. Такі млинці у всі часи вважалися вишуканим делікатесом.</p>
							<p>Питання тільки в тому, як їх правильно приготувати? </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Не варто винаходити велосипед. Досить просто придбати млинці з сиром від ТМ SmaCom. Млинці з сиром - це здорова альтернатива для ласунів, які не бажають набирати вагу, але не в змозі відмовитися від солодощів, кращий спосіб побалувати себе по-справжньому смачною їжею. Натуральні інгредієнти та прогресивні європейські технології виробництва у поєднанні з ретельним контролем виробництва на усіх стадіях (від надходження сировини на завод і до упаковки готової продукції) гарантують абсолютну безпеку продукції, яка буде корисна і дорослим, і дітям.</p>
							<p>Млинці з сиром від ТМ SmaCom:  їмо з користю! </p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, сир, вода питна, цукор, крупа манна, яєчний порошок, олія рослинна, сіль, ванілін.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,52 г</span></li>
			<li>жири<span>6,91 г</span></li>
			<li>вуглеводи<span>34,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>238,8 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Млинці з сиром кладемо в сковорідку з олією. Підсмажуємо на самому слабкому вогні під закритою кришкою до повної готовності.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>