<div class="popupHeader">
	<div class="title"><h1>Млинці  </h1><span class="subtitle">з м'ясом курки</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_12.jpg" alt=""></div>

	
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Деякі млинцеві традиції слов'яни запозичили у французів. Наприклад, млинці з м'ясом курки. Це тонке тісто з ніжним м'ясом курчати, подане з виключно французькою вишуканістю.</p>
							<p>ТМ SmaCom презентує блюдо, яке втілило у собі невимовний колорит Франції з її оригінальними стравами та істинно аристократичним благородством. Млинці з куркою, сір! Секрет смачних млинчиків з куркою - це начинка з добірного філе, яке дрібно нарубане та змішане з яйцем і шпиком.  </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Така суміш надзвичайно ніжна, вишукана та одночасно ситна і соковита. Натуральні курячі ласощі загортаються у тонкий млинець, який завдяки своїй пористій структурі вбирає усі аромати та соки делікатесної начинки.</p>
							<p>Треба зауважити, що SmaCom - єдина торгова марка, млинчики якої завдяки ультрасучасному виробництву прожарюються з двох сторін, свідченням чому є витончений узор та рівномірний золотистий колір.</p>
							<p>Курячі млинчики від ТМ SmaCom приготувати швидко та легко. Просто підсмажте їх до рум'яної скориночки - Bon Appétit, gourmet! </p>
						</div>									
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, м'ясо птиці, вода питна, шпиг, цибуля, цукор, яєчний порошок, олія рослинна, сіль.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>12,36 г</span></li>
			<li>жири<span>11,64 г</span></li>
			<li>вуглеводи<span>29,71 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>274,84 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Млинці з м'ясом курки кладемо у сковорідку з рослинним маслом. Підсмажуємо на слабкому вогні під закритою кришкою до повної готовності.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>