<div class="popupHeader">
	<div class="title"><h1>Млинці  </h1><span class="subtitle">з сиром та родзинками</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_15.jpg" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Стародавні мудреці говорили: «Ми є те, що їмо». Для тих, хто вибирає активний спосіб життя, хто знає, як жити в динамічному ритмі сучасного світу, для всіх тих, хто хоче бути здоровим, відчувати себе бадьоро та свіжо, ТМ SmaCom створила млинці з сиром та родзинками.</p>
							<p>Маслянистий, однорідний сир представляє собою кращі зразки домашньої молочної кулінарії та сам по собі надзвичайно приємний на вигляд і на смак. Знання та турбота професіоналів створили високоякісний солодкий сир (справжній якісний сир не буває кислим). </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Піклуючись про власне здоров'я, слід щодня забезпечувати організм кальцієм, а в сирі його дуже багато. Треба зауважити, що кальцій найкраще засвоюється у поєднанні з борошняною їжею, наприклад, з млинцями.</p>
							<p>Додавання в млинці родзинок – по-перше, додаткові корисні мікроелементи, а, по-друге, каприз дійсного любителя солодкого. Поєднання сиру та родзинок знайоме кожному з дитинства. Для кожного, хто обожнює солодкі ласощі, млинці з сиром та родзинками – ідеальна страва.</p>
							<p>Млинці з сиром та родзинками від ТМ SmaCom: смачно, як у дитинстві!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, сир, вода питна, родзинки, цукор, крупа манна, яєчний порошок, олія рослинна, сіль, ванілін. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,52 г</span></li>
			<li>жири<span>6,91 г</span></li>
			<li>вуглеводи<span>34,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>238,8 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Млинці з сиром та родзинками кладемо в сковорідку з олією. Підсмажуємо на самому слабкому вогні під закритою кришкою до повної готовності.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>
