<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_8.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p> Зажмуриться от удовольствия и наслаждаться насыщенным ароматом поджарки грибов с луком. Ощущать, как аппетит, нежно поглаживая ноздри и пробуждая желудок, приходит вместе с ТМ SmaCom</p>
							<p>Грибы в сочетании с тестом с давних времён царят на столах славян. ТМ SmaCom воссоздали древний рецепт. Мы с гордостью презентуем Вам блинчики с грибами.
							Это оригинальное, сытное и необычайно вкусное блюдо. Оно незаменимо для мужчин, так как грибы богаты белком. Его содержание в них больше, чем в мясе. Так же грибы служат отличным оберегом от сердечных, онкологических и язвенных заболеваний.</p>
							<p>Блины с грибами – вкусный витамин!</p>

						</div>													
					</div>

				</div>
				<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Грибы жареные, мука в/с, вода питьевая, лук репчатый, сахар, яичный порошок, масло растительное, соль. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,18 г</span></li>
			<li>жири<span>3,96 г</span></li>
			<li>вуглеводи<span>39,17 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>229,04 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Блинчики кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>