<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с черешней</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_14.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>ТМ SmaCom с гордостью презентует изысканное блюдо – блинчики с черешней.</p>
							<p>Черешня почти не уступает вишне по содержанию полезных микроэлементов, но куда более насыщена сладкой фруктозой, поэтому просто-таки незаменима для любителей сладенького. При этом сладкоежки могут быть спокойны за свой внешний вид: черешня, несмотря на сладость, совсем не полнит, ведь она отличный сахарозаменитель. Черешня насыщена низкомолекулярными сахарами, которые быстро усваиваются, имеет приятный сладкий вкус и отлично утоляет чувство голода. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Сахароза является необходимым источником глюкозы для жизненной энергии человека, а потому черешня – настоящий кладезь энергии. В сочетании с настоящим домашним блинным тестом, которое у специалистов  ТМ SmaCom получается ажурным, черешня - просто несравненное лакомство!</p>
							<p>Приготовить блинчики с ней теперь крайне легко благодаря ТМ SmaCom! Блинчики с сочной, сладкой черешней, исключительно натуральной и полезной, наверняка найдут путь к сердцу мужчины. А ещё блины с черешней очень любят дети.</p>
							<p>Блинчики с черешней от ТМ SmaCom – подлинная услада!</p>
						</div>														
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Мука в/с, черешня, вода питьевая, сахар, крупа манная, масло растительное, соль, яичный порошок. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,5 г</span></li>
			<li>жири<span>1,4 г</span></li>
			<li>вуглеводи<span>40,44 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>196,98 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
				</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Блинчики с черешней кладём в сковородку с маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>