<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з вишнею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat2/product_popup_4.jpg" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Українські вареники – це не просто їжа, а національний колорит, символ та гордість. Апетитні півмісяці, оспівані в українській літературі та улюблені у кожному будинку. Українські вареники з вишнею – це, без сумніву, світова легенда. Будь-який іноземець, приїжджаючи в Україні, перш за все, хоче скуштувати вареників.</p>	
						<p>Вареники з вишневою начинкою від ТМ SmaCom – це ліпне біле тісто з борошна самого дрібного помелу та соковиті вишні, дбайливо очищені від кісточок. </p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Перед тим, як потрапити у вареники, добірна вишня засипається цукром для формування справді домашнього смаку. Ультрасучасні технології та професійний контроль на всіх етапах роблять вареники ТМ SmaCom абсолютно безпечними, а якісне фігурне ліплення не тільки естетичне, але і гарантує цілісність страви після приготування. </p>
						<p>Смачного!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, вишня, вода питна, цукор, крупа манна, яєчний порошок, олія рослинна, сіль. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>4,01 г</span></li>
			<li>жири<span>0,8 г</span></li>
			<li>вуглеводи<span>35,4 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>165,12 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>

			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники з вишнею засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та полити розігрітим вершковим маслом. Окремо до вареників можна подати солодкий сироп, найкраще вишневий або черешневий, можна варення.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>