<div class="popupHeader">
	<div class="title"><h1>Вареники</h1><span class="subtitle">с мясом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat2/product_popup_2.jpg" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Славянину, как в том анекдоте, не прожить без теста и мяса. Любовь к данным продуктам объясняется очень просто: во-первых, климат, во-вторых, широта души. Это и сытно, и энергично, и, главное, очень вкусно. Особенно если соединить мясо с тестом. Получатся вареники. Как альтернатива пельменям.</p>
						<p>Вареники с мясом от ТМ SmaCom созданы по классической рецептуре из муки высшего сорта и отборной свежей говядины.</p>	
					</div>

					<div>
						<div class="title">2</div>
						<p>Сочетание натуральности украинских ингредиентов и инноваций европейского оборудования позволяют добиться максимального качества продукта. Это вкусно и безопасно.</p>	
						<p>Вареники с мясом, безусловно, напоминают пельмени, но отличия всё же есть. Мясной начинки в варениках больше, тесто более пышное. Отсюда и сытность. Съел десяток таких вареников с мясом и зарядился энергией на весь день.</p>		
						<p>Вареники с мясом ТМ SmaCom любит каждый!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Говядина отварная, мука в/с, вода питьевая, лук пассерованный, соль, яичный порошок, масло растительное, перец черный. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>24,80 г</span></li>
				<li>жири<span>9,78 г</span></li>
				<li>вуглеводи<span>52,88 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>308,74 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>

				<li>0,35 кг<span>± 5 г</span></li>
				<li>0,9 кг<span>± 5 г</span></li>
			</ul>
		</div>
	</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности. Вынуть их шумовкой и выложить на сковородку с предварительно поджаренным луком. Поджаривать до появления румяной корочки. Подавать с чесноком и сметаной.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>