<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з сиром</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Українці ретельно оберігають свої кулінарні рецепти, якими по праву пишаються.
						Вареники з сиром ТМ SmaCom – це традиційні вареники, рецептура яких зберігається незмінною з XIIV століття. Любителі кисломолочних продуктів будуть неодмінно задоволені цією стравою. Сир добре впливає на підростаючий організм, так як служить відмінним джерелом кальцію і фосфору, відповідно їх рекомендуємо дітям.</p>	
						<p>Вареничне тісто виготовлене з борошна вищого ґатунку. Після варки воно залишається надзвичайно ніжним та пишним. Спеціальна технологія його охолодження дозволяє домогтися стовідсоткової міцності та цілісності. Сир для начинки - виключно натуральний кисломолочний продукт.</p>						
					</div>

					<div>
						<div class="title">2</div>


						<p>Витончене та смачне поєднання пишного тіста і солодкого сиру корисне дітям та дорослим. Ніжний смак нікого не залишить байдужим!</p>

						<p>Вареники з сиром від ТМ "SmaCom" – українська традиція ніжного смаку та корисного харчування!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Борошно в/г, сир, вода питна, крупа манна, цукор, сіль, олія рослинна, яєчний порошок, ванілін. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,88 г</span></li>
				<li>жири<span>7,70 г</span></li>
				<li>вуглеводи<span>36,25 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>253,82 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>

				<li>0,35 кг<span>± 5 г</span></li>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>2,5 кг<span>± 5 г</span></li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники з сиром засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та полити розігрітим вершковим маслом. Подати на стіл зі сметаною.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>