<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з печінкою</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_p_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Багато хто вважає, що вареники - виключно український продукт. Безумовно, це наш кулінарний тренд, але вареники популярні також в інших країнах. Наприклад, мало хто знає, що вареники з печінкою займають центральне місце у молдавській кухні. Молдавани готують їх за особливим рецептом.</p>	
						<p>Саме його відтворили у варениках з печінкою фахівці ТМ SmaCom. Як начинка використовується свіжа печінка здорових тварин, вигодуваних у екологічно чистих регіонах України. Перш ніж потрапити у виробництво сировина проходить безліч етапів перевірки. Зокрема, тестується на ГМО, мікробіологічні, санітарні показники та ін. Тільки після цього печінка потрапляє у виробництво. Далі вона очищується від жовчних протоків та плівки.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Печінка готується особливим чином, змішуючись з цибулею та зеленню для додання яскраво-вираженого смаку та пікантного аромату. У поєднанні з пишністю цільного білого тіста вона стає незрівнянною.</p>
						<p>Вареники з печінкою – оригінальна та універсальна страва від ТМ SmaCom. Вона створена за оригінальною рецептурою з високоякісних інгредієнтів.</p>	
						<p>Вареники з печінкою від ТМ SmaCom - правильно приготована ніжність!</p>		
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, вода питна, сіль, олія рослинна, кріп, перець чорний, печінка яловича відварена. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>8,42 г</span></li>
			<li>жири<span>4,08 г</span></li>
			<li>вуглеводи<span>24,41 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>167,92 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>

			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та викласти у дерев'яний посуд. Подавати з часником та сметаною.</p>	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>