<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з картоплею та грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kg_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Просте запитання - що краще всього підходить до картоплі? Проста відповідь - звичайно ж, підсмажені печериці, які своїм унікальним насиченим смаком підкреслюють ситність розсипчастої картоплі.</p>
						<p>
						Вареники з картоплею та грибами від ТМ SmaCom - це справжні українські вареники, якими справді може пишатися Україна! </p>	
					</div>

					<div>
						<div class="title">2</div>
						<p>Вареники з картопляною та грибною начинкою цінують, насамперед, за ситність та за ні з чим не порівнянний смак. Кожна господиня може швидко, без катувань жаром та парою, приготувати коханим та близьким смачну ситну вечерю! </p>			
						<p>Вареники з картоплею та грибами від ТМ SmaCom - найкращий український варіант! </p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Борошно в/г, картопля відварена, гриби шампіньйони, вода питна, цибуля пасерована, масло вершкове, сіль, олія рослинна, яєчний порошок, перець чорний.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,68 г</span></li>
				<li>жири<span>3,87 г</span></li>
				<li>вуглеводи<span>64,51 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>308,82 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,35 кг<span>± 5 г</span></li>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>2,5 кг<span></span></li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники з картоплею та грибами засипати у велику кількість підсоленої киплячої води. Варити до напівготовності. Вийняти їх шумівкою і викласти на сковорідку з попередньо підсмаженою цибулею. Підсмажувати до появи рум'яної скоринки. Подавати з часником та сметаною.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>

