<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">с картоплею та печінкою</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kp_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
							<p>Вареники – найулюбленіша страва в Україні. Хтось вважає, що його запозичили у іранців, хтось прирівнює до пельменів. Достеменно відомо, що вареники були ще у Трипіллі. Так чи інакше, сьогодні вареники - головний український кулінарний тренд в усьому світі, а самі українці ставлять їм пам'ятники та не втомлюються експериментувати з начинками. </p>
							<p>Результатом одного з таких експериментів стала поява вареників з картоплею та печінкою. Вони створені для тих, хто любить пробувати різні поєднання у традиційної їжі. Печінка розбавляє звичний смак картопляних вареників, роблячи їх більш соковитими та вишуканими. Треба відзначити, що печінка надзвичайно корисна для організму. У ній містяться всі незамінні амінокислоти, значна кількість ферментів, екстрактивних речовин, заліза, фосфору. Печінка дуже багата вітамінами групи В, у ній є вітаміни A, D, Е, K.</p>
							<p>Вареники з картоплею та печінкою від ТМ SmaCom: смачний ситний вітамін!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно в/г, картопля відварена, печінка яловича, вода питна, цибуля пасерована, масло вершкове, сіль, олія рослинна, яєчний порошок, перець чорний. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>7,89 г</span></li>
			<li>жири<span>4,08 г</span></li>
			<li>вуглеводи<span>30,40 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>189,92 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники з картоплею засипати у велику кількість підсоленої киплячої води. Варити до повної готовності. Готові вареники спливають. Вийняти їх шумівкою та викласти у дерев'яний посуд. Подавати з часником та сметаною.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>