<div class="popupHeader">
    <div class="title"><h1>Вареники  </h1><span class="subtitle">з капустою</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kap_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>
                    У всі часи улюбленою стравою українців були вареники, рецепт яких передавався з покоління у покоління. Чи не кожен рід мав свій особливий вид вареників, який зберігався у найсуворішій таємниці. При цьому особливою популярністю у якості начинки користувалася капуста. </p>
                <p>Адже капуста - це сакральний овоч слов'ян. Насамперед, це пов'язано з тим, що їдять його цілий рік. Їдять як у чистому вигляді, так і в різноманітних стравах: салатах, пирогах, борщах. Для українця це цілком буденна страва, а, між іншим, у Стародавньому Римі капусту подавали патриціям після розкішних обідів як вершину смаку.  </p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Вареники з капустою – улюблена страва у всіх українських хатах. Це надзвичайно легка, але в той же час оригінальна та незвичайна страва, що викликає захват як у дітей, так і у дорослих. Для виробництва борошна, з якого виготовляється вареничне тісто, використовується пшениця з екологічно чистих регіонів України. Капуста відбирається найсуворішим чином, тому у виробництво потрапляє виключно свіжий, максимально корисний продукт.  </p>
                <p> Вареники з капустою від EkoSmac: традиційно смачно та корисно! </p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">Борошно в / г, капуста білокачанна тушкована, морква, вода питна, цибуля ріпчаста, сіль, яєчний порошок, перець чорний мелений.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>4,69 г</span></li>
                <li>жири<span>4,07 г</span></li>
                <li>вуглеводи<span>33,79 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>190,6 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,9 кг<span>± 5 г</span></li>
                <li>2,5 кг<span></span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Вареники, не розморожуючи, засипати у киплячу підсолену воду (1 частина вареники: 4 частини води). Довести до кипіння, варити на слабкому вогні 3-5 хвилин. Вареники можна подати до столу з вершковим маслом, сметаною, соусом та ін.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>