<div class="popupHeader">
	<div class="title"><h1>Cheeseburger with cutlet of pork and beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-1-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Cheeseburger with pork and beef cutlet is considered to be hearty and nutritious meal. The combination of pork and beef is the secret of juicy and fragrant meatballs, and the adding of cheese, fresh tomatoes, pickles cucumbers, onions, ketchup and mustard gives a special flavor. Even the most demanding gourmet will definitely stay satisfied!</p>
							<p>Cheeseburgers are represented in three types depending on cutlet: cheeseburger with pork and beef cutlet, cheeseburger with beef cutlet, cheeseburger with turkey cutlet.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Cutlet in cheeseburger is thoroughly cooked, it is being fried, cooled and combined with other ingredients. Frozen cheeseburger is wrapped in a special branded paper and bright cardboard box.</p>
							<p>Cheeseburger is only need to be reheated in the microwave oven. Who does not have time for a lunch break, try a cheeseburger! It will give you energy and mood for further work.</p>
						</div>
					</div>
				</div>

			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">
                            Bread roll, high-grade wheat flour, water, margarine, dry milk, white sugar, yeast, salt, cutlet: meat stock – pork, beef, water, onions, salt, black ground pepper, cheese, pickled cucumbers, mustard sauce, tomato sauce, onion, tomato.
						</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>13,5 g</span></li>
							<li>fat<span>13,5 g</span></li>
							<li>carbohydrates<span>26,9 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1201,2 kJ (283,1 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
                            <li>155 g</li>
                            <li>2,48 kg</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
                Place frozen cheeseburger in a protective paper in the microwave and cook about 3 minutes at a power of 700 watts.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>