<div class="popupHeader">
	<div class="title"><h1>Ukrainian borshch with mushrooms</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_u.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>According to the traditions, the first course was always the main meal in cooking. It’s not a secret for anybody that a hot soup or borshch at dinner time is a source of good health and great mood for the whole day!</p>
                                <p>TM Smacom offers “Ukrainian borshch with mushrooms” in the line of pre-cooked meals.</p>
<!--                            </div>
						<div>
							<div class="title">2</div>-->
							<p> Everybody gets used to eat Ukrainian borshch cooked on beef broth, but only few of us know that the meat can be easily changed to mushrooms, which is the perfect alternative for traditional recipe. Moreover, borshch with mushrooms will be favourite meal for those who keep the fast strictly.</p>
                            <p>If you try Ukrainian borshch with mushrooms, you will remember its taste and flavour forever!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water, potatoes, mushrooms, cabbage, fresh onions, beet root, refined deodorized sunflower-seed oil, fresh carrot, tomato paste, sugar, edible salt, bell pepper, vinegar, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>2,4 g</span></li>
				<li>fat<span>2,6 g</span></li>
				<li>carbohydrates<span>3,7 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>200,0 kJ (47,8 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
                <li>0,3 kg</li>
                <li>1 kg</li>
			</ul>												
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Briquette: defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
            <p>2. Glass: cover and remove the protective foil in the microwave to warm up 7-10 minutes.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>