<div class="popupHeader">
	<div class="title"><h1>Vegetable soup</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_ov_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Want something simply but healthy? Vegetable soup of TM “SmaCom” is the best choice! Ready-made first meal is the pleasure for veggies and those who keep the diet and nutrition.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Vegetable soup is extremely flavoured and reminds summer, when it’s already not warm weather outside. Vegetables are the main ingredients in soup, which doesn’t give way to meat meals. Eat and enjoy together with TM “SmaCom”!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water, potatoes, vegetable mixture, fresh onion, refined deodorized sunflower-seed oil, fresh carrot, salt.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>0,8 g</span></li>
				<li>fat<span>0,9 g</span></li>
				<li>carbohydrates<span>4,0 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>114,22 kJ (27,3 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
                <li>0,3 kg</li>
                <li>1 kg</li>
			</ul>												
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Briquette: defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
            <p>2. Glass: cover and remove the protective foil in the microwave to warm up 7-10 minutes.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>