<div class="popupHeader">
	<div class="title"><h1>Noodle soup</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_l_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Noodle soup is one of the most popular Russian soups, borrowed from Tatars and firmly entrenched in our diet. Ancestor of noodle soup consider Tatar soup tokmach. TM “SmaCom” offers delicious noodle soup kept in traditions of Tatars national cuisine with flavor.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>The noodle soup is made with chicken broth, where the noodle boiled and served with it as well. Boiled chicken gets from the salted broth, flesh cut into small cubes. This is the distinctive feature of meal. Noodle soup is totally flavoured thanks to spices. Feel the taste of Tatar cuisine together with TM “SmaCom”! Enjoy your meal!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water, potatoes, chicken breast, noodle, fresh onions, refined deodorized sunflower-seed oil, fresh carrot, salt, ground black pepper, dried parsley.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>2,4 g</span></li>
				<li>fat<span>3,3 g</span></li>
				<li>carbohydrates<span>6,3 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>269,9 kJ (64,5 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,3 kg</li>
                <li>1 kg</li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
            <div class="text">
                <p>1. Briquette: defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
                <p>2. Glass: cover and remove the protective foil in the microwave to warm up 7-10 minutes.</p>
            </div>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>