<div class="popupHeader">
	<div class="title"><h1>Creamy beet borshch</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_b_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Culinary world is so diverse. TM “SmaCom” doesn’t stop to surprise by its new and unique meals, they enhance interest to find out their taste. So the cooks invented traditional first course “Ukrainian borshch”, served in a different way and that changed the attitude to the dish completely.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Borshch has thicker texture than usual borshch, because of blending all ingredients so it even doesn’t need thickening agent. If you want to surprise your guests by your culinary innovations, creamy beet borshch of TM “SmaCom” is the right choice.</p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text"> Water, potatoes – 10,7%,  frozen meat stock – 9,8% (chicken breasts), cabbage, fresh onion, beet root, refined deodorized sunflower-seed oil, tomato paste, fresh carrot, salt, sugar, bell pepper,  vinegar, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>2,8 g</span></li>
			<li>fat<span>2,6 g</span></li>
			<li>carbohydrates<span>4,1 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>213,38 kJ (51,0 kcal)</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
            <li>0,25 kg</li>
            <li>0,3 kg</li>
            <li>1 kg</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <p>Defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>