<div class="popupHeader">
	<div class="title"><h1>Ukrainian borshch with meat</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_bu_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Ukrainian borsch is a meal which made Ukrainian cuisine famous. Very often tourists ask for its unique recipe. It’s impossible to be confused about the flavor and taste of Ukrainian borsch and to compare it with something else as well. It’s nation’s pride.</p>
                            <p>TM “Smacom” presents real Ukrainian ready-made borshch. Completely delicious, rich, nutritious and the most essential thing, it’s organic!</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>The recipe are followed strictly according to the traditions of Ukrainian cuisine. The borshch is based on chicken broth, the main feature of which is little amount of fat.</p>
                            <p>Ukrainian borshch is the source of rich vitamins for human health, as selected vegetables are boiled and stewed preserving the nutrients.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text">Water, potatoes, chicken breast, cabbage, fresh onions, beet root, refined deodorized sunflower-seed oil, fresh carrot, tomato paste, sugar, salt, bell pepper, vinegar, ground black pepper.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>2,4 g</span></li>
						<li>fat<span>2,6 g</span></li>
						<li>carbohydrates<span>3,7 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>200,0 kJ (47,8 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>0,3 kg</li>
						<li>1 kg</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">
                        <p>1. Briquette: defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
                        <p>2. Glass: cover and remove the protective foil in the microwave to warm up 7-10 minutes.</p>
                    </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>