<div class="popupHeader">
	<div class="title"><h1>Cheeseburger with cutlet of turkey</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-2-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>TM «Smacom» created a new line of ready meals – Cheeseburgers, which have long been an attribute catering. Fragrant bun, which is covered with sesame seeds, chop meat, cheese, fresh tomato, pickles, onions, ketchup and mustard are combined with cheeseburgers «Smacom».</p>
							<p>Love of ukrainian for poultry inspired us to create cheeseburger with cutlet from turkey. The heart of our cheeseburgers are the real meat cutlets, which we are preparing a specially developed technology.</p>
							<p>It is hard to imagine, but due to dietary meat turkey, we have created a truly healthy food, which will replace dinner.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Turkey meat gives the dish a delicate flavor and juiciness, the body - easy and satiety.</p>
							<p>Cutlet in cheeseburger is the ready for use, fry it, cool and compose with other ingredients. Wrap frozen cheeseburger in the special branded paper and colorful cardboard box.</p>
							<p>Cheeseburger only need to reheat in the microwave. Who does not have time for lunch break, try the cheeseburger! He will give us the energy and the mood for further work.</p>
						</div>
					</div>
				</div>

			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">
							<b>Cheeseburger bun:</b> wheat, drinking water, margarine, milk, sugar, yeast pressed, salt.
							<br>
							<b>Burger cheeseburger for:</b> frozen raw meat - beef znezhylovane, drinking water, onion, salt, ground black pepper; cheese, pickled cucumber, mustard sauce, tomato sauce, onions, fresh tomatoes.
						</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>13,5 g</span></li>
							<li>fat<span>11,2 g</span></li>
							<li>carbohydrates<span>27,8 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1112,9 kJ (266,0 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
                            <li>155 g</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				Frozen cheeseburger in a protective paper to put in the microwave and cook for 3 minutes at a power of 700 watts.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>