<div class="popupHeader">
	<div class="title"><h1>Rice soup</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_r_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Rice is not only rice porridge or pilaf but also very tasty soups. Rice soup with meat of TM “SmaCom” is delicious and nourishing. Moreover, rice soup does look wonderfully golden due to fried onions which enhance the flavor. Such meal will please even fussy foodies.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>Rice soup is a kind of warming soups and will be the best choice in cold weather. It will be healthy to people who keep the balanced diet strictly and breast-feeding mothers. It follows that rice soup is allowed to serve for kids but nicely blended.</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water, potatoes, meat stock (chicken hip, shin) rice, fresh onions, refined deodorized sunflower-seed oil, fresh carrot, salt, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>1,9 g</span></li>
				<li>fat<span>1,4 g</span></li>
				<li>carbohydrates<span>4,6 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>161,5 kJ (38,6 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,3 kg</li>
				<li>0,5 kg</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
            <p>Defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>