<div class="popupHeader">
	<div class="title"><h1>Creamy spinach soup</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_sh_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Elegant and simple creamy spinach soup is one of the innovation of French cuisine. French people call spinach as a king of vegetables as they use it in many dishes. These green leaves have high nutritional value.</p>
                            <p>TM “SmaCom” reinvented French culinary masterpiece for gourmands.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Elegant creamy spinach soup will be loved by passionate veggies. Those who tried spinach leaves know that they are tender and have slight taste.</p>
                            <p>But just put them into soup, when spinach opens its delicate taste. Even the most exacting gourmand will appreciate this wonderful dish. Serve Creamy spinach soup with croutons or toasts.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Water, frozen spinach – 25,5 %, dried milk, first grade wheat flour, margarine (refined deodorized fat and oil, emulsifier Е471 (Soya Lecithin, potassium sorbate, flavour enhance of milk and butter, citric acid, natural food colour additive carotene), salt, fresh onions, ground black pepper.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>4,1 g</span></li>
							<li>fat<span>3,2 g</span></li>
							<li>carbohydrates<span>8,3 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>328,03 kJ (78,4 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
                            <li>0,3 kg</li>
                            <li>1 kg</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <p>Defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>