<div class="popupHeader">
	<div class="title"><h1>Pea soup</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_gr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Pea soup is a favorite meal of many people. It’s made typically from dried peas, such as the split pea. During the preparation the pea is simmering and became tender, thanks to this the meal gets unique taste and flavor. Every housewife is aware of special cooking techniques that the pea must be soaked overnight in cold water. TM Smacom offers a ready-made soup, which doesn’t demand lots of time.</p>
<!--                        </div>
						<div>
							<div class="title">2</div>-->
							<p>Pea soup is extremely delicious and very healthy as well. It’s hard not to appreciate the value of pea. The main ingredients are pea, carrot, onions, spices and salt. The soup is based on chicken broth. Rate the quality and unique taste of pea soup of TM “SmaCom”! Such soup remind you the childhood vividly!</p>
						</div>						

                        </div>
				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text"> Water, peas, potatoes, chicken breast, fresh onions, refined deodorized sunflower-seed oil, fresh carrot, sugar, salt, ground black pepper, dried parsley.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>6,6 g</span></li>
			<li>fat<span>11,5 g</span></li>
			<li>carbohydrates<span>11,7 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>739,3 kJ (176,7ккал)</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
            <li>0,3 kg</li>
            <li>1 kg</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Briquette: defrost until completely thawed, cut the packing a little bit, place the dish into microwave oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
            <p>2. Glass: cover and remove the protective foil in the microwave to warm up 7-10 minutes.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>