<div class="popupHeader">
	<div class="title"><h1>Cheeseburger with cutlet of beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-0-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Cheeseburger is a "chip" fast foods, they have long been a favorite dish of million people. It's quick, nutritious and delicious food. Cheeseburgers were very popular in the circle of young people, but the older generation is also not averse to taste.</p>
							<p>Cheeseburger with cutlet of beef is considered a classic. This is the first sandwich, which laid the foundation for "cheeseburger’s culture." Now you can find burgers with the ingredients for all tastes. Fragrant bun, which is covered with sesame seeds, chop meat, cheese, fresh tomato, pickles, onions, ketchup and mustard are combined with cheeseburgers «Smacom». The heart of our cheeseburgers are the real meat cutlets, which we are preparing a specially developed technology.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Cutlet in cheeseburger is the ready for use, fry it, cool and compose with other ingredients. Wrap frozen cheeseburger in the special branded paper and colorful cardboard box.</p>
							<p>Cheeseburger only need to reheat in the microwave. Who does not have time for lunch break, try the cheeseburger! He will give us the energy and the mood for further work.</p>
						</div>
					</div>
				</div>

			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">
							<b>Cheeseburger bun for:</b> cheeseburger bun for: wheat, drinking water, margarine, milk, sugar, yeast pressed, salt.
							<br>
							<b>Burger cheeseburger for:</b> frozen raw meat - beef znezhylovane, drinking water, onion, salt, ground black pepper; cheese, pickled cucumber, mustard sauce, tomato sauce, onions, fresh tomatoes.
						</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>14,4 g</span></li>
							<li>fat<span>9,9 g</span></li>
							<li>carbohydrates<span>30,4 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1124,2 kJ (268,3 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
                            <li>155 g</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				frozen cheeseburger in a protective paper to put in the microwave and cook for 3 minutes at a power of 700 watts.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>