<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«Домашние особенные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_1.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Есть то, что делает мир особенным, то, что подчёркивает Вашу индивидуальность и создаёт тёплую, уютную атмосферу. Это домашняя забота и любовь, которую дарят Вам родные и близкие. Они создают её для того, чтобы Вы всегда пребывали в комфорте и безопасности, чтобы могли в полной мере реализовывать свои идеи и амбиции, зная о том, что дома Вас всегда примут и поддержат. Домашняя забота и родная любовь насыщают Вас энергией и придают силы, помогая на самых сложных этапах и поворотах судьбы находить и открывать новые пути и возможности.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Мы отбирали исключительно лучшее свежее мясо здоровых животных, вскормленных в экологически чистых регионах. Сочная свинина и нежная говядина готовились специальным образом для создания деликатного вкуса. Они приготавливаются нами по особому рецепту с золотистым луком. Поэтому готовые к употреблению котлеты имеют приятный запах и нежный сочный вкус. Панировочные сухари из сдобного белого хлеба добавляют котлетам изысканной пикантности и подлинности домашнего вкуса.</p>
							<p>Котлеты «Домашние особенные» от ТМ SmaCom: особенно вкусно - вкусно как по-домашнему! Живите в любви и заботе!</p>

						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text">Говядина, свинина, лук репчатый, вода питьевая, сухари панировочные, соль, яичный порошок, сухое обезжиренное молоко.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>15,03 g</span></li>
						<li>fat<span>11,77 g</span></li>
						<li>carbohydrates<span>4,5 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>184,05 kcal</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>0,42 kg<span>± 5 g</span></li>
					</ul>												
				</div>
			</div>

			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым блюдом.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>