<div class="popupHeader">
	<div class="title"><h1>"Chicken Kiev"  </h1><span class="subtitle">cutlets </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_9.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Origin of these legendary cutlets is not known. According to one version, they appeared in the restaurant of the "Continental" hotel in Nikolayevska (now Gorodetsky) street. It was the headquarters of Hetman Skoropadsky , and his officers were served to a so-called "Kiev Côtelettes de volaille". A culinary theorist William Pohlebkin wrote about this legendary dish: "These cutlets were a typical "deliberate" dish to specially indulge the whims of taste of the spoiled wealthy customers by a combination of natural, whole raw ingredients and eastern European processing technology."</p>	
			</div>
			<div>
				<div class="title">2</div>
				<p>Today, Chicken Kiev is a truly iconic Ukrainian gourmet brand that each visitor of the Ukrainian capital seeks to try, whether it's Sean Connery or George Bush.</p>	
				<p>SmaCom™ invites you to enjoy this authentic culinary legend, cooked according to the classical recipe which includes tender chicken meat. Strictly following the technology of cooking, exclusive homemade butter is added to the selected chicken meat. Before they get to the customers, cutlets are breaded several times and soaked in egg.</p>		
				<p>SmaCom™ Chicken Kiev - the return of a legend!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Chicken, butter, water, salt, egg powder, black pepper, allspice pepper. </div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>12,43 g</span></li>
				<li>fat<span>30,45 g</span></li>
				<li>carbohydrates<span>0,80 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>326,97 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,48 kg <span>± 5 g</span></li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Grease the pan with butter or sunflower oil. Heat it. Lay out cutlets on a heated pan. Fry until brown. Serve and garnish with greens. Cutlets combine well with any dish.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>