<div class="popupHeader">
	<div class="title"><h1>Зразы  </h1><span class="subtitle">с грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_12.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>	
				<p>Зразы – блюдо не то чтобы необычное, но особенное, это точно. Оно быстро распространилось среди стран Восточной Европы. Его любят литовцы, белорусы, чехи, поляки, венгры, русские. И любить, действительно, есть за что. Непосредственно в русском языке слово «зразы» появилось в ХIX веке. Сегодня кулинары готовят зразы из самого разнообразного фарша (мясного, рыбного, овощного). По сути, нынешние зразы – это картофельные котлеты с начинкой, или котлета в картофеле. </p>
			</div>	
			<div>
				<div class="title">2</div>		
				<p>Зразы с грибами от ТМ SmaCom отличаются насыщенным вкусом украинского рассыпчатого картофеля и натуральных поджаренных грибов. Прежде, чем попасть в начинку, тщательно отобранные грибы проходят предварительную готовку. За счёт чего уже в блюде имеют устойчивый приятный запах и необыкновенный насыщенный вкус, который подчёркивается индийскими приправами и специями.  Картофель отваривается в подсоленной воде и разминается в горячем виде, как подлинно домашнее пюре, с добавлением  яйца. Подавать зразы лучше всего с томатным и грибным соусами.</p>				
				<p>Хороши зразы с грибами от ТМ SmaCom, ох, как хороши!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Картофель отварной протертый, грибы жареные, сухари панировочные, лук репчатый, соль пищевая, яичный порошок, перец черный молотый.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>3,19 g</span></li>
				<li>fat<span>1,65 g</span></li>
				<li>carbohydrates<span>14,81 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>86,85 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,48 kg<span>± 5 g</span></li>
			</ul>												
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>На разогретую сковородку выкладываете зразы. Поджариваете до появления корочки. Подавать на стол с томатным или сметанным соусом.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>