<div class="popupHeader">
	<div class="title"><h1>Зразы  </h1><span class="subtitle">с грибами и субпродуктами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_11.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>О происхождении слова и формата зраз спорят до сих пор. Приводят множество доводов и аргументов. Спорить есть о чём. Ведь изначально зразы готовились из отбитого куска говядины, который сворачивался и обжаривался со специями. Постепенно, со временем,  структура зраз видоизменилась, трансформировавшись из отбивной в котлету с начинкой. В качестве оной используют самый разнообразный фарш: от рыбы и овощей до грибов и мяса. В общем, экспериментируют.</p>
			</div>	
			<div>
				<div class="title">2</div>	
				<p>Один из таких экспериментов явил кулинарному миру настоящий шедевр – зразы с субпродуктами и грибами. Этот классический восточноевропейский рецепт с блеском воплотили специалисты ТМ SmaCom. Они создали потрясающе вкусный и особенный продукт. Главный секрет – оригинальное сочетание жареных ароматных грибов и вареных нежных субпродуктов. Они блестяще сочетаются. Ещё бы ведь этот кулинарный шедевр известен ещё со средневековых времён. Считается, что это было одно из любимых блюд русских царей. </p>	
				<p>Зразы с грибами и субпродуктами от ТМ SmaCom: знаем, как порадовать гурмана! </p>
			</div>
			<div>
				<div class="title">3</div>
				<p>Во-первых, Вы экономите массу времени на приготовлении пищи, получая универсальное вкусное блюдо, которое подойдёт во всех жизненных ситуациях, а готовится комфортно и легко, всего за пару минут. Во-вторых, мясные блинчики заряжают Вас энергией и полезными веществами. Они созданы только из натуральных продуктов. Тесто для блинчиков имеет зернистую, пышную структуру с классическими дырочками. Такое тесто приготовит не каждая хозяйка, но не беда! Блинчики с мясом и рисом от ТМ SmaCom доступны каждому, а потому домашний деликатес можно приготовить, когда Вам удобно.</p>	
			</div>	
			<div>
				<div class="title">4</div>	
				<p>Между прочим, повара полагают, что по вкусовым особенностям к мясу лучше всего подходит рис, а гастроэнтерологи авторитетно заявляют, что именно такое сочетание наиболее гармонично для желудка.</p>
				<p>Блинчики с мясом и рисом от SmaCom – гармония во всём!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Картофель отварной протертый, грибы жареные, печень говяжья отварная, сердце говяжье отварное, легкое говяжье отварное, сухари панировочные, лук репчатый, соль, яичный порошок, перец черный молотый.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>5,39 g</span></li>
				<li>fat<span>1,91 g</span></li>
				<li>carbohydrates<span>31,64 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>165,31 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,48 kg<span>± 5 g</span></li>
			</ul>												
		</div>
	</div>		
			
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Зразы кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>