<div class="popupHeader">
	<div class="title"><h1>Котлеты  </h1><span class="subtitle">«Куриные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_3.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Куриные котлеты отличаются особой нежностью и пикантностью. Они изготавливаются из отборного натурального куриного филе, а потому обладают особо изысканным, диетическим вкусом.</p>
						<p>По легенде, куриные котлеты или котлеты «пожарские» родились во время визита царя Николая I в трактир на Торжке. Хозяином там был господин Пожарский. Царь пожелал отведать котлет, а в то время котлеты готовились исключительно из свиной или говяжьей ножки. Свинины и говядины у Пожарского не оказалось. Но он был парень расторопный, а потому быстро слепил котлеты из куриного филе. Царю это блюдо необычайно понравилось, и с тех пор оно начало своё победное шествие по миру. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>ТМ SmaCom презентует котлеты «Куриные». Рецепт их выдержан в классическом стиле a la russe. Используется только свежее куриное филе, которое маринуется в специях для придания особого душистого аромата и пикантного вкуса. Далее полуфабрикат панируется в сухарях, приобретая русский колорит и традиционный вид. Такие котлеты крайне легко приготовить дома. Достаточно просто поджарить их на сковородке, украсить зеленью и универсальный «улучшитель настроения» на Вашем столе! Приятного аппетита!</p>		
					</div>																
				</div>
			</div>
				
							
			<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">Мясо птицы, вода питьевая, сухари панировочные, соль, перец черный.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>15,03 g</span></li>
							<li>fat<span>13,8 g</span></li>
							<li>carbohydrates<span>4,06 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>200,56 kcal</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>0,42 kg<span>± 5 g</span></li>
						</ul>												
					</div>
				</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты отлично сочетаются с любым блюдом.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>