<div class="popupHeader">
	<div class="title"><h1>Зразы  </h1><span class="subtitle">с мясом «Традиционные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_10.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>	
				<p>Перефразируя классика, можно сказать: «Как хороши, как свежи были зразы в моём меню! Как взор прельщали мой!» Действительно, устоять перед этим потрясающе вкусным блюдом со своей особенной эстетикой крайне сложно. Ещё бы! Ведь в том, как золотистый нежный картофель, подобно объятиям, заключает в себе сочное ароматное мясо, есть своё совершенно невероятное великолепие. </p>
			</div>	
			<div>
				<div class="title">2</div>		
				<p>Зразы – национальное блюдо литовской, белорусской, польской и украинской кухни. Как правило, его традиционно готовят из картофеля. Ну а в качестве идеальной начинки используют мясо. Специалисты ТМ SmaCom готовят зразы из отборной стопроцентной говядины. Это формирует не только отличный вкус готового продукта, но и его незаменимую пользу. Внимание: в заразах от ТМ SmaCom используются только натуральные, экологически безопасные продукты! </p>
				<p>Зразы с мясом «Традиционные»: традиции на хороший аппетит и отличный вкус!</p>
			</div>												
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Картофель отварной протертый, сухары панировочные, яичный порошок, соль, говядина,лук репчатый, перец черный.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>4,12 g</span></li>
				<li>fat<span>1,27 g</span></li>
				<li>carbohydrates<span>39,45 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>185,71 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,48 kg<span>± 5 g</span></li>
			</ul>												
		</div>
	</div>		
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Зразы кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>