<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with strawberry</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-strawberry--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>
					Love to sweets, possibly, can be compared with people’s love.
					TM SmaCom cooked a new dessert and put all tenderness and the taste of strawberry in it.
					Meet the pancakes with strawberry!
				</p>
				<p>
					We wrapped whole pieces of juicy berries in thin lace dough, cooked according a new recipe.
					The new cooking method is a peculiarity of pancakes.
					We fry the dough on both sides until delicate pattern and gold crust.
				</p>
				<p>
					The dish is served in 5 minutes.
					This is ready dessert which you need only to warm up. Enjoy the source of vitamins!
				</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">
				Dough: water, wheat flour, sugar, refined deodorized sunflower oil, salt, egg powder, food soda, citric acid. Filling: strawberries, white sugar, water, potato starch.
			</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>2,6 г</span></li>
				<li>fat<span>1,00 г</span></li>
				<li>carbohydrates<span>27,0 г</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>533,0 kJ/127,4 kcal.</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				Put pancakes into already warmed and oiled pan. Fry on low heat, gradually turning, until a ruddy crust is formed on all sides.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>