<div class="popupHeader">
    <div class="title"><h1>Pancakes </h1><span class="subtitle">with meat</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-classic--pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>
                    TM Smacom doesn’t stop to impress customers with new tastes.
                    Taking into accounts people’s active lives we decided to do whole new ready-to-eat pancakes.
                    The new cooking method is a peculiarity of pancakes. It is like a gold lace.
                </p>
                <p>
                    Thin dough with filling gives unforgettable taste and tempting flavor.
                    We offer classical taste – pancakes with beef and pork.
                    Only in some minutes you are able to cook a nice breakfast, lunch or dinner.
                </p>
                <p>
                    Natural ingredients and innovative freezing allow us to store all nutritious value and taste.
                    You will find our product on the supermarket’s shelves in ultramodern colorful packages.
                    Live without troubles and enjoy your life!
                </p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                Dough, potable water, top-grade flour, white sugar, egg powder, deodorized sunflower oil, table salt, soda, citric acid. Filling:  boiled meat 80% (beef 60%, pork 20%), stir-fried onions, potable water, edible table salt, ground pepper.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>12,2 g</span></li>
                <li>fat<span>8,8 g</span></li>
                <li>carbohydrates<span>30,0 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>1040,1 kJ /248,6 kcal.</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,45 kg<span>± 3 %</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>
                Put pancakes into already warmed and oiled pan. Fry on low heat, gradually turning, until a ruddy crust is formed on all sides.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>