<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with apricots</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-apricot--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>
					Many people many tastes.
					TM SmaCom tries to care about culinary tastes of all buyers.
					The result of it is a wide range of pancakes ready to eat.
				</p>
				<p>
					Now the dish is served in 5 minutes and a long cooking frying process at home is missed.
					We break stereotypes and offer not only classical but exquisite taste of food – pancakes with apricots.
					They are unique! The filling consists of whole pieces of fruits and sugar, and they made the sweetest tandem.
				</p>
				<p>
					Make your gastronomic taste wider, do experiments with food and enjoy your life!
				</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">
				Dough: water, wheat flour, sugar, refined deodorized sunflower oil, salt, egg powder, food soda, citric acid. Filling: apricots, white sugar, water, potato starch.
			</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>2,6 г</span></li>
				<li>fat<span>1,0 г</span></li>
				<li>carbohydrates<span>27,6 г</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>543,1 kJ/129,8 kcal.</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				Put pancakes into already warmed and oiled pan. Fry on low heat, gradually turning, until a ruddy crust is formed on all sides.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>