<div class="popupHeader">
    <div class="title"><h1>Pancakes </h1><span class="subtitle">with chicken</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-chickenMeat--pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>
                    TM SmaCom presents a new dish which you will remember as the most unforgettable culinary trip in your life.
                    Meet the pancakes with chicken!
                    This is absolutely both ready-to-eat and unique product because of its ingredients.
                </p>
                <p>
                    We are sure you will fall in love in them from first sight!
                    The pancake is like a gold lace combined with juicy chicken and fried onions.
                    They absorbed all flavors and the taste of delicacy filling.
                </p>
                <p>
                    The pancakes are very easy to cook.
                    You will find our product on the supermarket’s shelves in ultramodern packages.
                    Live without troubles and enjoy your life!
                </p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                Dough: water, wheat flour, sugar, egg powder, refined deodorized sunflower oil, salt, , food soda, citric acid. Filling: chicken meat raw cooked 75% (poultry chicken – 45%, chicken fillet – 30%), wilted onion, water, salt, black pepper powder.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>12,4 г</span></li>
                <li>fat<span>11,6 г</span></li>
                <li>carbohydrates<span>29,7 г</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>1149,8 kJ /274,8 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,45 кг<span>± 3%</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>
                Put pancakes into already warmed and oiled pan. Fry on low heat, gradually turning, until a ruddy crust is formed on all sides.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>