<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with cheese and raisins</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-cottageCheese--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>
					New pancakes with cheese and raisings are the combination of exquisite taste, nutritional value and attractive aristocratic food.
					We offer a new desert with exquisite filling: cheese and raisins.
					The combination of these ingredients known since childhood.
				</p>
				<p>
					For those who are fond of sweets, pancakes are the perfect dish.
					The new cooking method is a peculiarity of pancakes.
					We fry the dough on both sides until delicate pattern and gold crust.
				</p>
				<p>
					You will be excited by taste and charming modern packaging. Enjoy your meal!
				</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">
				Dough: water, wheat flour, sugar, refined deodorized sunflower oil, salt, egg powder, food soda, citric acid. Filling: cottage cheese – 74%, raisins – 17%, sugar, salt, vanillin.
			</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>9,5 г</span></li>
				<li>fat<span>6,9 г</span></li>
				<li>carbohydrates<span>34,5 г</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>543,1 kJ/238,8 kcal.</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				Put pancakes into already warmed and oiled pan. Fry on low heat, gradually turning, until a ruddy crust is formed on all sides.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>