<div class="popupHeader">
	<div class="title"><h1>Wheat Bun</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_h1_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Wheat bun of TM «SmaCom» is light, soft and very tasty! Those who does not imagine their diet without bread, the pastries of TM «SmaCom» is sure to find its place in your menu!</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>And if you decide to entertain guests with tasty buns, the round shape and wonderful taste will allow you to cook the most delicious hot snacks!</p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">First grade wheat flour, water, compressed yeast, sugar, refined deodorized sunflower oil, salt.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>6,8 g</span></li>
				<li>fat<span>2,4 g</span></li>
				<li>carbohydrates<span>45,6 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>963,99 kJ (230,4 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>№1: Warm up bread in a preheated oven for 3 - 4 minutes at a temperature of 190 - 210 ° C.</p>
        <p>№2: Warm up buns in a microwave oven 3 - 4 minutes with a power of 700 watts.</p>
        <p>In both cases, the heating time depends on the number of products which are heated simultaneously, large number of patties require more time. Buns should not be defrosted before cooking.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>