<div class="popupHeader">
	<div class="title"><h1>Chicken    </h1><span class="subtitle">nuggets</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_21.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>EkoSmac™ proudly presents "Chicken Nuggets" — a largely unique product. This product is made from chicken breast, cut carefully along the fibers into oblong slices. Only this technology of cutting allows saving the maximum authentic taste of poultry. These pieces are crumbled in a special composition of the flour, seasoned with Indian spices, and then pre-fried with onions. </p>
						<p>This recipe allows you to get the chicken fingers are cooked quickly and easily. On an output we have delicious, appetizing, fragrant chicken nuggets. And how nice, how stunning is the crisp, which is formed when the nuggets are cooked! It is piquant and fragrant! It will delight any gourmet! Natural spices and Ukrainian garlic which are added to the nuggets admire with its taste and tender birds meat simply melts in your mouth.</p>							
					</div>
					<div>
						<div class="title">2</div>
						<p>You can taste our nuggets with friends, with your loved ones, family or even alone. Because they are ideal for any garnish, salad and, of course, beer. Believe me, dear men, it is the best snack for beer you can imagine!</p>
					</div>																																	
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Poultry, semolina, onion, egg powder, salt, black pepper, garlic. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 9,65 g</span></li>
			<li>fat<span>9,69  g</span></li>
			<li>carbohydrates<span>1,01 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>129,85 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Roll in flour EkoSmac™ chicken nuggets and fry them in hot vegetable oil until they get crispy.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>