<div class="popupHeader">
	<div class="title"><h1>Chebureki fried</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_23.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>The Ukrainians enjoy chebureki from Smacom for a long time.  Before the chebureki was called as a fried pastry cases of lean dough and filled with hot spices, cheese or mushrooms. Nowadays, chebureki cooked of good fresh meat.</p>
                        <p>Taking into account that semi-finished food need some time to be cooked, we decided to offer a new format of meal – fried chebureki.</p>
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Flour 1/c, drinking water, egg powder, vegetable oil refined, salt, beef boiled, baked offal, onion, black pepper, fragrant pepper.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 9,09 g</span></li>
			<li>fat<span>6,47  g</span></li>
			<li>carbohydrates<span>26,11 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>198,95 kcal</span></li>
		</ul>
		<div class="title">	Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
			<li>240 g</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Chebureki fry in deep frying or in a pan in a large amount of vegetable oil, over medium heat from two sides to a ruddy crust.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>