<div class="popupHeader">
    <div class="title"><h1>"School" </h1><span class="subtitle">Cutlets</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-school_pop_with.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Every mother wishes her child only the best. A complete meal is an important factor forming the health of the younger generation. Given this, EkoSmac™ offers "School" cutlets. A tasty product, created under a unique recipe using natural ingredients. The basis of cutlets is selected tender beef that is supplied by our partners from ecologically clean regions of Ukraine. Meat passes strict control on hygienic, microbiological criteria and, of course, on GMOs.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>The product features minced garlic with onion and allspice, whose combination give an extraordinary savoriness. Breadcrumbs give a crunchy crust to the prepared cutlets. After tasting "School" cutlets you will be bellyful and happy, because they are made of one hundred percent meat, rich in vitamins.</p>
                <p>A special cutlets cooking recipe doesn't only create a great taste, but also highlights the bright individuality due to their small size - to delight the kiddies! </p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Beef meat, lard, water, onion, breadcrumbs, salt, ground black pepper, ground allspice pepper, garlic.</div>
            <div class="title"> Nutritional (food) information:</div>
            <ul>
                <li>proteins<span> 11,19 g</span></li>
                <li>fat<span>17,12  g</span></li>
                <li>carbohydrates<span>5,08 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>228,84 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,42 kg<span>± 5 g</span></li>
                <li>2,5 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>Grease the pan with butter or sunflower oil. Heat it. Lay out cutlets on a heated pan. Fry until brown. Serve and garnish with greens. Cutlets combine well with any dish.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>