<div class="popupHeader">
	<div class="title"><h1>Pepper</h1><span class="subtitle">Tarashchanskii</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_24.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Kyivshchyna. Here everything breathes tenderness and lightness and the Ukrainian flavor is felt in magnificence of nature." People are the best in Tarashchi!" - it is used to say about small regional center in Kyiv region. Here even local meals are light and delicately tasty. Tarashchanskii region is famous for its hospitality and fine cuisine. And stuffed pepper is one of those nice and tasty meals. It is difficult to meet a man whose mother, grandmother, or he have never cooked stuffed pepper. It is prepared for the holidays as well as for the everyday table.</p>						
					</div>
					<div>
						<div class="title">2</div>
						<p>Specialists TM EkoSmac stuff "Tarashchanskii" pepper classically with meat and rice. It makes sense if you consider that the Slavs love hearty meals and adore the meat. Extra class beef is used as the feeling. It is greatly harmonize with rice. Fried golden onions give special juiciness. Stuffed pepper with meat and rice is very healthy. You know, the beef is rich with proteins and vitamins. And indeed, the bell pepper contains alcaloid capsaicine and also carotin, vitamins C, P, B1 and B2. Pretreatment is the main secret of stuffed pepper TM EkoSmac. Pepper should be good stewed  to have tender and juicy taste.</p>
						<p>Pepper " Tarashchanskii" TM EkoSmac is the tandem of taste and traditions!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Bell pepper without seed cell, beef, boiled rice, onion, ground black pepper, ground allspice pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 7,19 g</span></li>
			<li>fat<span>2,21  g</span></li>
			<li>carbohydrates<span>18,61 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>123,09 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Mix sour cream and tomato paste, boil for 5 minutes until it will be sauce. Put peppers   "Tarashchanskiy" TM EkoSmac into saucepan. Pour the water to the middle of the peppers. Boil on middle heat under the lid about 8 minutes. Serve with sour cream or with sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>