<div class="popupHeader">
	<div class="title"><h1>Dumplings  </h1><span class="subtitle">with meat and garlic</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>''You are welcome to all we have'' - so says a Russian proverb. Russians always had plenty of meat and garlic. These two products are considered essential and obligatory in the daily diet. Meat is the universal source of Energy (caloric) 100 g and vitamins. Garlic is the best defender against diseases. Their combination is a special song, an ode to the perfect culinary taste.</p>
						<p>A classic Russian recipe is used in cooking EkoSmac dumplings. It's said that such dumplings were loved by Tsar Ivan the Terrible. However, these dumplings contain such Ukrainian ingredients: selected minced meat mixed with natural "snooty" garlic, which adds highly visible and rich taste. </p>		
					</div>
					<div>
						<div class="title">2</div>
						<p>This dish is a favorite among men. Meat gives Energy (caloric) 100 g and garlic emphasizes a truly masculine character. That's why caring wives prefer to cook the dumplings for their husbands. It should be noted that they do it with great joy, and yet because the process does not take long. </p>
						<p>EkoSmac dumplings with meat and garlic is a dish with a male character!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Boiled beef, extra class flour, drinking water, browned onions, garlic, salt, egg powder, vegetable oil, black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 8,69 g</span></li>
			<li>fat<span>5,24  g</span></li>
			<li>carbohydrates<span>28,7 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>197,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put into a pan with a pre-fried onion. Fry until golden brown. Serve with garlic and sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>