<div class="popupHeader">
	<div class="title"><h1>Meatballs </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_22.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Despite the fact that meatballs is an international dish popular all over the world, and which is the national dish in some countries, such as Sweden, it is also very popular in Ukraine. This tender meat delicacy is familiar to everyone since childhood, it was served with a thick gravy and was considered one of the most popular "second courses". </p>	
						<p>EkoSmac™ specialists, following the original recipe, cook delicious meatballs made of tender freshest minced chicken meat mixed with 100% beef and rice. According to the classic technology, EkoSmac™ meatballs are breaded in crispy breadcrumbs to acquire their authentic taste, which has come to us from the times of medieval French cuisine, where meatballs were served to the royal table.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>If you follow the traditions, it is better to boil meatballs in the whole midst of the boiler, and serve with thick gravy, close to the consistency to the sauce. The best match to the meatballs is the sauce with fried onions, tomatoes, leeks, celery and garlic in meat broth - all this must be thickened with flour and sour cream or sour fruit juice. </p>
						<p>EkoSmac™ meatballs - tasty and tender as in the childhood!  </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Poultry, beef, water, rice, onion, salt, ground black pepper.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 12,74 g</span></li>
			<li>fat<span>7,97  g</span></li>
			<li>carbohydrates<span>20,69 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>205 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook method</div>
	<div class="consistInside">
	<p>Make the sauce. Finely chop the onion and paprika. Lightly fry onion in the vegetable oil, add paprika, sauté for 2-3 minutes. Add the tomato paste to the vegetables, mix them. Add water, salt, sugar and spices. Boil for 2-3 minutes. Pour the sauce into a bowl with EkoSmac™ meatballs, bring to a boil, reduce heat. Boil for 8 minutes.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>