<div class="popupHeader">
	<div class="title"><h1>Cabbage rolls   </h1><span class="subtitle">«Ukrainian»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_19.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						"And make me your cabbage rolls, Mother" — the famous Ukrainian character said. He finally inspired Ukrainians in the belief that the "cabbage rolls" is their national dish. Neither a hearty breakfast nor a delicious lunch nor a rich dinner will be held without cabbage rolls. </p>	
						<p>Cabbage rolls are so firmly entrenched in Ukraine, that they became a national dish. However, this dish is of an eastern or rather Turkic origin. Probably, such a synthesis of two different culinary cultures has spawned so lovely, exquisite and versatile at the same time delicacy. Ukrainians, notable chefs, have brought their innovations to the Turkic colouring. Cabbage rolls are loved, tasty and healthy! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>To create classic Ukrainian cabbage rolls, we learned a lot of original recipes and cooking rules. Now EkoSmac™ proudly presents you a truly homemade cabbage rolls. The recipe of EkoSmac™ rolls  is maintained in strict accordance with the traditions of Ukrainian cuisine. Fillings for stuffed cabbage are made from the prime beef and fresh vegetables, onions and carrots. A special piquancy for our cabbage rolls is given by natural Indian spices. This wonderful stuffing is wrapped by one piece cabbage leaves.</p>
						<p>"Ukrainian Cabbage Rolls" from EkoSmac™ are in the best traditions of taste! </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">White boiled cabbage, beef, boiled rice, sauteed carrots, sauteed onions, salt, black pepper, allspice. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 6,7 g</span></li>
			<li>fat<span>2,3  g</span></li>
			<li>carbohydrates<span>19,47 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>197,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Mix tomato sauce or ketchup with sour cream and water (or broth). Pour EkoSmac™ cabbage rolls with this mixture so that the liquid barely cover them. Cook over medium heat until cooked. When serving pour the cabbage rolls with sour creme and sprinkle with chopped salad.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>