<div class="popupHeader">
	<div class="title"><h1>"Selyanski" </h1><span class="subtitle"> cutlets with garlic</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_13.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						The cutlets are cooked exclusively of Ukrainian ingredients. We know what the best is - it is ours, it's the native. The food, which is prepared at home, has a distinctive taste and aroma, it carries the power and Energy (caloric) 100 g of a native home with it. Therefore, the specialists from SmaCom™ has recreated the taste qualities of "Selyanski with garlic" cutlets according to the home traditions of the ukrainian cuisine.</p>
						<p>Cutlets are juicy and delicious, because they contain selected natural beef, tender lard cut and of course, fragrant spices. Golden-brown crust and a slight odor of garlic will give an extraordinary flavor to any dish and garnish.</p>	
						<p>We have also used key ingredients in our recipe of "Selyanski with garlic" cutlets - sincere love and dedication. That's why the cutlets are appetizing, natural and healthy!</p>
					</div>																				
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Beef meat, lard, water, onion, breadcrumbs, salt, ground black pepper, ground allspice, garlic.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 11,19 g</span></li>
			<li>fat<span>17,12  g</span></li>
			<li>carbohydrates<span>5,08 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>228,81 kcal</span></li>
		</ul>
		<div class="title">	Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Grease the pan with butter or sunflower oil. Heat it. Lay out cutlets on a heated pan. Fry until brown. Serve and garnish with greens. Cutlets combine well with any dish.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>