<div class="popupHeader">
	<div class="title"><h1>"Bogatyrskie" </h1><span class="subtitle">  cutlets </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_12.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						ИSince ancient times, generous and fertile Ukrainian land was famous for its epic heroes who sacredly protected homeland traditions. They were so strong that they could, according to the legends, move mountains. A folk saying was created in those heroic times: "We are what we eat." It was believed that the strength is in food. So our ancestors prepared nourishing food maximally rich in vitamins, nutrients and Energy (caloric) 100 g. Meat took a special place in the diet of our ancestors. It was prepared in different ways. Time passed, and when so-called cutlets appeared in Ukraine, they became one of the main meat dishes.</p>
						<p>EkoSmac™, whose high quality products are a synthesis of Ukrainian traditions of taste and European level of production, have combined meat traditions of the Slavs and the original French recipe. The result is "Bogatyrskie" cutlets. Probably, the most vigorous and nourishing cutlets in Ukraine! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Only selected and natural pork and beef, cleared out of veins, stamps and prints is supplied to the production. This is being strictly supervised by the specialists who had practice in foreign companies. Minced meat for creating a special taste combines well with high quality mid-back fat and is flavored with indian spices, which are considered the best in the world. All this creates a unique aroma and taste of "Bogatyrskie" cutlets from EkoSmac™. But a special chic is the smothering of mouthwatering meat balls in the real breadcrumbs.</p>
						<p>"Bogatyrskie" cutlets from EkoSmac™ is a culinary embodiment of the power!</p>			
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Beef, pork, water, mid-back fat, onion, soy protein, semolina, bread crumbs, salt, black pepper, garlic.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 11,05 g</span></li>
			<li>fat<span>17,12  g</span></li>
			<li>carbohydrates<span>11,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>244,68 kcal</span></li>
		</ul>
		<div class="title">	Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Cook Method:</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>