<div class="popupHeader">
	<div class="title"><h1>"Zastolnye" </h1><span class="subtitle">meat dumplings  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_2.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Gathering around the table has been a favorite tradition of the Slavs for a long time. Since ancient times, they have loved to gather at the festive table, crammed with a variety of delicacies. Meat dumplings, cooked by a special recipe, have held a central place for centuries. Meat dumplings were also perfectly combined with conversations. </p>	
						<p>SmaCom™ cooks have recreated this recipe by creating "Zastolnye'' meat dumplings. This is the best holidays and every day appetizer. Firstly, "Zastolnye" meat dumplings have a pleasant spicy flavor, which greatly shields alcoholic beverages, secondly, they are nourishing and juicy. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>What is so special about the recipe? The filling is a harmonious combination of pork, chicken and onions mixed in certain proportions that were used at the court of Vladimir Monomakh.  Pork gives a gentle satiety to meat dumplings, chicken gives airy lightness, and onions give juicy freshness.</p>
						<p> SmaCom™ meat dumplings "Zastolnye'' are the best dish on the table. You can cook them in only 5 minutes, which means that guests will be fed, and you'll be satisfied. This is a real economy of time and Energy (caloric) 100 g! SmaCom™ meat dumplings "Zastolnye" - a holiday in 5 minutes!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, poultry, onions, pork, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,14 g</span></li>
			<li>fat<span>6,47 g</span></li>
			<li>carbohydrates<span>26,11 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>199,28 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Fill the well frozen dumplings "Zastolnye" in low-fat broth, flavored with spices (marjoram, pepper, etc.). After the preparation, carefully decant all the liquid. Meat dumplings are served on a plate with mayonnaise or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>