<div class="popupHeader">
	<div class="title"><h1>"Ural" </h1><span class="subtitle">meat dumplings </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_25.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3" >
					<div>
						<p>SmaCom™ specialists have studied many ancient traditions and recipes for creating the original recipe of "Ural" meat dumplings. Now, we are proudly presenting "Ural" meat dumplings based on a classic recipe of Ural meat dumplings. Slices of homemade lard give an extraordinary juiciness to the meat filling, and garlic with black pepper add sharpness and national flavor.</p>
						<p>In the age of globalization, when the world is becoming more affordable, you do not need to make a tedious journey to Ural, it is enough to buy SmaCom™ meat dumplings "Ural" and cook this high quality product at home, in just 7-8 minutes.</p>
						<p>SmaCom™ meat dumplings "Ural" make the world accessible and enjoyment of delicious food convenient! Meat dumplings "Ural": Dine like God, without leaving your home!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, egg powder, refined vegetable oil, salt. Minced meat: beef, water, onion, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul >
			<li>proteins<span>10,1 g</span></li>
			<li>fat<span>13,0 g</span></li>
			<li>carbohydrates<span>27,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul >
			<li><span>267,4 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul >
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with butter, sour-cream or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>