<div class="popupHeader">
	<div class="title"><h1>Grechaniky</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Grechaniky is an ancient dish with only Ukrainian roots. It is one of the priority national dishes. Grechaniky are loved by the Ukrainians for the original taste and simplicity in preparation. However, this simplicity is combined with certain specifics of preparation. This was taken into account by EkoSmac™ cooks to create the original grechaniky recipe.  </p>	
						<p>A famous chef and researcher William Pohlebkin believes that the main components of this dish are buckwheat and eggs. We have taken into account this peculiarity, and have used domestic eggs and real Ukrainian buckwheat in the recipe. Another obligatory component is minced meat. A marvelous combination of juicy pork, vitamin beef and tender poultry are used in grechaniky from EkoSmac™. These are the three kinds of meat from which grechaniky has always been prepared in Ukraine.  </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>It should be said that it is a surprisingly healthy dish. Meat and buckwheat contain a variety of vitamins and minerals. It is a real treasury of protein, iron, B vitamins, and much more.</p>
						<p>Innovative forming equipment gives grechaniky their perfect appetizing round shape and gives a rich pleasant aroma. Cooked grechaniky can be served with sour cream.</p>			
						<p>Grechaniky from EkoSmac™ are the delicious traditions of Ukraine!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Beef, pork, poultry meat, buckwheat, salt.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,19 g</span></li>
			<li>fat<span>2,21 гg</span></li>
			<li>carbohydrates<span>18,61 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>303,68 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook method</div>
	<div class="consistInside">
	<p>Grease the pan with butter or sunflower oil. Heat it. Lay out the grechaniky on a heated pan. Fry until brown. Serve richly seasoned with sour-cream. Grechaniky are perfectly combined with any dish, they are especially good with strong drinks.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>