<div class="popupHeader">
	<div class="title"><h1>Meat dumplings  </h1><span class="subtitle">"Bogatyrskiye"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-2.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Our land has been famous from ancient times for its strong, fit and healthy people named bogatyrs. Human health, according to folk wisdom, is determined, by an ancient law "We are what we eat." So the food had to be nourishing, healthy and energetic.</p>	
						<p>We have created Ekosmac™ meat dumplings "Bogatyrskiye" as a versatile everyday delicious source of Energy (caloric) 100 g and strength. It is a natural, healthy product, which maximally enriches with nutrients and trace elements. At the same time, this dish is extremely easy to cook. </p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Meal of bogatyrs should consist of maximally healthy ingredients. Few people know that among all kinds of meat, the most Energy (caloric) 100 g-rich is poultry. Therefore, SmaCom™ experts have used a time-tested recipe for cooking meat dumplings "Bogatyrskiye". They are: pre-marinated poultry in spices and dough, which is molded of extra quality flour. Golden-brown homemade onion gives the dish a special juiciness.</p>
						<p>Ekosmac™ meat dumplings "Bogatyrskiye" - the shaped Energy (caloric) 100 g!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, water, egg powder, refined vegetable oil, beef, mid-back fat, onion, salt, black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>16,61 g</span></li>
			<li>fat<span>3,95 g</span></li>
			<li>carbohydrates<span>63,44 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>355,75 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings "Bogatyrskiye" into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with grated garlic, mixed with oil, vinegar, salt and pepper.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>