<div class="popupHeader">
	<div class="title"><h1>"Vkusnye" cutlets</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-delicious-pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
                        <p>In this product all ingredients go well together, it is natural chicken meat, seasonings and savory flavor. Cutlets made without breadcrumbs, have round shape and emphasize the tenderness of chicken meat.</p>
                        <p>Cutlets “Delicious” is an unusual juiciness, natural ingredients and perfectly balanced flavors make the meal really nourishing for gourmets. Cutlets retain all nutrients and delicately emphasize the perfect taste of meat giving the food nobleness and efficiency.</p>
                        <p>Cutlets from TM Smacom are always tasty.</p>
					</div>
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Chicken, water, onion, high-grade wheat flour, salt, soy protein, garlic.</div>
		<div class="title">	Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>8,6 g</span></li>
			<li>fat<span>13,9  g</span></li>
			<li>carbohydrates<span>4,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>744,3 kJ (177,9 kcal)</span></li>
		</ul>
		<div class="title">	Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Grease the pan with butter or sunflower oil. Heat it. Lay out cutlets on a heated pan. Fry until brown. Serve and garnish with greens. Cutlets go well with any meal.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>