<div class="popupHeader">
	<div class="title"><h1>Benderki  </h1><span class="subtitle">with meat and onion </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_15.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Benderki pancakes are triangular in shape with juicy tender minced meat made of selected meat, mixed with golden fried onion and natural spices. It is not known where they originate from. According to rumors, they have Polish, Hungarian or west-ukrainian origin. However, mystery does not stop benderki from being one of the favorite dishes of the Ukrainians.</p>
						<p>In fact, benderki resemble pancakes wrapped in triangles. Inside is a tasty filling. It consists of natural meat and onions. It is the onion that gives the dish it's special juiciness, which is so respected among gourmets. Appetizing crisp adds piquancy and aesthetics.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Specialists of EkoSmac™ prepare benderki strictly following a classical Ukrainian recipe so that only natural and safe ingredients that have passed health and environmental control go into production.</p>
						<p>EkoSmac™ Benderki is a delicious alternative to pancakes!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt, egg powder, vegetable oil. <br>
Minced meat: beef pork, mid-back fat, onion, salt, ground black pepper.
</div>		
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 15,28 g</span></li>
			<li>fat<span>13,03  g</span></li>
			<li>carbohydrates<span>41,82 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>345,67 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put benderki in a buttered baking sheet or pan. Put into the oven at 200 degrees for 2-3 minutes. You can also fry them in a pan until golden brown. Serve with sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>