<div class="popupHeader">
    <div class="title"><h1>Chicken cutlets fried</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-chicken_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Cutlets “Mom’s receipts” are not only very delicious but diet as well thanks to low-calorie chicken ground meat. It means that people who follow the diet can eat them as well as children.</p>
                <p>They are aromatic and it is food of high-quality. Cutlets are ready to eat. Thanks to Teflon surface cutlets are fried without adding any oil. Before serving warm them up in a microwave oven for some minutes. Minimum efforts and time and delicious meat meal is on your table.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Cutlets presented in a carton lined package with transparent piece on it that it is possible to see 100% of product. The package is bright, so it is easy to distinguish them among new others.</p>
                <p>The trademark is that there is a receipt of side dish. We recommend it to highlight the flavor of the meal itself during serving.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text"></div>
            <div class="title"> Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>15,8 g</span></li>
                <li>fat<span>7,7 g</span></li>
                <li>carbohydrates<span>7,8 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>684,9 kJ / 163,7 kcal</span></li>
            </ul>
            <div class="title"> Net weight and packing:</div>
            <ul>
                <li>0,360 kg<span>± 3 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p></p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>