<div class="popupHeader">
	<div class="title"><h1>Chiburekki </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_23.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Recently the phrase “fast food” is often to be heard. The majority believes that it comes from America. Actually it is not true. Chiburekki were the first "fast food" (at that moment this phrase associated with pleasant things). It is tasty, fast and hearty what else you need to be completely happy?</p>	
						<p>In Asia chiburekki still are considered to be one of the main discoveries alongside with the calligraphy, gunpowder and wheel. It is worthy of note that due to one theory cheburek does not relate to Asia and it was created by Crimean Tatars (Crimean Tatar - çüberek, Turkish - çiğ börek). It was fried patty from unfermented dough and the filling was spicy minced beef with cheese or mushrooms. The expansion of chiburekki in Asian countries is explained first of all by migration of Crimean Tatar. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Anyhow, chiburekki is a bright cuisine trend that takes honorable place in gastronomical world. It features amazing combination of crispy fried dough and juicy meat. Chiburekki are always served piping hot to feel the charm of this meal. </p>
						<p>Chiburekki TM EkoSmac are prepared by original Crimean Tatar recipe. Knead dough is made of flour, water, salt, and then it is divided into pellets, which are rolled into flat cakes. After that spiced minced beef is added. Ukrainian onion gives the special juiciness to it. Next, cake’s edges are connected. As the result, we get delicious crescents full of juicy minced beef.  </p>		
						<p>Happy is the man who ate EkoSmac’s chiburekki!</p>	
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, water, egg powder, refined vegetable oil, salt, boiled beef, mid-back rendered fat, onion, ground black pepper, ground allspice pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 9,09 g</span></li>
			<li>fat<span>6,47  g</span></li>
			<li>carbohydrates<span>26,11 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>198,95 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>2,5 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Pasties deep-fry or fry on the pan in a large amount of vegetable oil on medium heat on both sides until golden brown.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>