<div class="popupHeader">
	<div class="title"><h1>Khinkali"</h1><span class="subtitle"></span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_9.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>SmaCom™ cooks, realizing the seriousness of cooking khinkali, have used ancient methods to create them, observing all the native Georgian traditions, as Nodar Dumbadze wrote: "... can not cost as much as a glass of vodka".</p>	
						<p>	So what is so good in khinkali, that are ruling over the appetites of thousands of gourmets? This question can be answered shamelessly - everything is! SmaCom™ khinkali are great in the convenience of cooking - a few minutes and you're done!</p>						
					</div>
					<div>
						<div class="title">2</div>
						<p>Khinkali are good in their incomparable flavor: spicy, fragrant and always juicy. While eating them, it is important not to lose any precious drop of meat nectar, which, combined with natural spices and herbs, exudes an alluring smell and divine taste.</p>
						<p>SmaCom™ khinkali - Caucasian harmony of taste!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, beef, pork, onion, water, egg powder, vegetable oil, salt, dill, parsley, black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>4,69 g</span></li>
			<li>fat<span>4,07 g</span></li>
			<li>carbohydrates<span>33,79 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>190,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Khinkali fill in plenty of salted boiling water. Boil until half.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>