<div class="popupHeader">
	<div class="title"><h1>"Chicken" cutlets</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-chicken-pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
                <p>These cutlets are tenderness and savory. Have a unique shape like chicken drumstick, so both adults and children like them. This product is cooked from natural selected tender lean chicken fillet. This meal is cooked in classic style.</p>
                <p>We use only fresh chicken fillets, seasoned with different spices for fragrant flavor and savory taste. Then the meat is coated with breadcrumbs, giving the food fantastic color and traditional form. These cutlets are easy to cook at home.</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Meat of chicken, water, breadcrumbs, onion, wheat flour, soy protein, salt, garlic. Without GMO.</div>
			<div class="title">	Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>9,7 g</span></li>
				<li>fat<span>15 g</span></li>
				<li>carbohydrates<span>8 g</span></li>
			</ul>
			<div class="title">	Net weight and packing:</div>
			<ul>
				<li><span>205,8 kcal</span></li>
			</ul>												
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Cut the patties on the greased frying pan. Fry until cooked under a closed lid on low heat for at least 10 minutes. Good with any side dish.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>