<div class="popupHeader">
	<div class="title"><h1>"Classic"  </h1><span class="subtitle">pancakes </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/product_thumb_17_1pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>Modern life dictates its own rhythm, which for so difficult to catch with. In order to be in shape to meet the specified requirements, you must have a source of Energy (caloric) 100 g and vitamins.</p>
						<p>EkoSmac™ proudly presents exclusive "Classic" pancakes. They are extremely nourishing, tasty and healthy. Only a few minutes and you get a boost of Energy (caloric) 100 g and vitality for the whole day. The recipe of the "Classic" Pancakes from EkoSmac™ involves the use of only original and natural products: delicate, lightly roasted poultry, fat and juicy pork and tender beef full of vitamins. And, of course, special dough made of premium flour!</p>
						<p>Real homemade onion, chopped according to an ancestral recipe, gives "Classic" pancakes from EkoSmac™ a special richness of taste while natural spices emphasize a sophisticated flavor palette!</p>
					</div>																				
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, water, skim milk powder, sugar, refined vegetable oil, salt, powdered eggs, beef, poultry, bacon, black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span> 25,38 g</span></li>
			<li>fat<span>12,06  g</span></li>
			<li>carbohydrates<span>35,74 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>353,1 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg</li>
			<li>2,5 kg</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the pancakes in a pan with heated vegetable oil. Fry at a very low heat under the lid closed until fully cooked.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>