<div class="popupHeader">
	<div class="title"><h1>Пельмени EcoSmac</h1><span class="subtitle">«По-восточному»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_4.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Восток – дело тонкое. Поэтому тесто в восточных пельменях также должно быть особенно тонким, но прочным. Готовится оно специалистами ТМ SmaCom по особому рецепту из муки высшего сорта. Мука млиновская, отборная, славящаяся на весь мир ещё с 60х годов прошлого века. Поэтому покупая пельмени «По-восточному» бренда “EkoSmac”, Вы можете быть уверены, что они не рассыпается при варке, а тесто будет иметь нежный вкус.  </p>	
						<p>Ажурная лепка, которая осуществляется на ультрасовременной итальянской линии, добавляет пельменям эстетики. Поэтому они всегда удачно смотрятся на праздничном и повседневном столе. </p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Уникальность и оригинальность пельменей «По-восточному» кроется в невероятном сочетании специй, использованных в рецептуре. Здесь и три разновидности перца, и кориандр, и чили – всё это смешано в специальных пропорциях, которые считаются классическими в восточной кухне. Натуральность специй создаёт дополнительные вкусовые преимущества, поэтому мясная начинка имеет ярко-выраженный вкус и душистый аромат. Эти пельмени являют собой великолепный пример восточной кухни.</p>
						<p>Пельмени «По-восточному» от ТМ EkoSmac  - восточный деликатес на тысячу и одну трапезу!   </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Мука в/с, мясо птицы, лук репчатый, белок соевый, шпик боковой, соль, перец черный молотый, перец душистый, перец красный, чеснок, кориандр, перец чили. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,09 g</span></li>
			<li>fat<span>6,49 g</span></li>
			<li>carbohydrates<span>26,60 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>201,02 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Пельмени «По-восточному», не размораживая, засыпать в мясной бульон, заправленный восточными пряностями, и варить до полной готовности. Подавать пельмени и бульон вместе с татарским соусом в порционных горшочках.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>