<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">  «Белоснежка» ванильное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_16.jpg" alt=""></div>

				<p>
				TM SmaCom предлагает ванильное мороженое «Белоснежка». Мороженое изготовлено по классической рецептуре, идеально сбалансированно. Главное преимущество этого продукта не только незабываемый вкус, но и абсолютная натуральность.   </p>
				<p>Кстати, самым популярным считается  мороженое со вкусом ванили. Одним из самых распространенных мифов является утверждение, что в мороженом нет витаминов. Это – заблуждение. Так как основа мороженого – молоко, соответственно в нем содержатся витамин А, витамины группы В, витамин Е, кальций, железо и фосфор. Кокосовое масло, благодаря ряду своих положительных свойств помогает усваиваться магнию и кальцию, что в свою очередь способствует здоровью костной системы и зубов.</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">молоко коровье обезжиренное, сахар, молоко сгущенное обезжиренное, вода, вафельный стаканчик (мука высшего и первого сорта, крахмал картофельный, масло подсолнечное, яйца куриные, сахар, соль, лецитин соевый), сыворотка молочная сгущенная, масло кокосовое, патока крахмальная, стабилизатор-эмульгатор, вафельная крошка (менее 2%), ароматизаторы: «Ванильно-сливочный» и ванилин.</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>3,0 г</span></li>
							<li>жиры<span>6,0 г</span></li>
							<li>углеводы<span>21,2 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>728 кДж (174 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>60 г</li>
						</ul>																		
					</div>
				</div>
</div>

