<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> Fresh cherry плодово-ягодное желейное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_5.jpg" alt=""></div>

				<p>
				Десерты часто обвиняют в том, что они становятся вредными для фигуры. Но при этом диетологи не прекращают говорить о том, что некоторые десерты могут быть не только не вредны для человека, но даже полезны.  Мороженое может стать прекрасной профилактикой ожирения.  Но для этого нужно использовать не только небольшое количество десерта, но и правильный продукт. TM SmaCom в этом поможет.</p>
				<p>Низкокалорийный десерт, не содержащий ни жира, ни белка  –  это плодово-ягодное желейное мороженое  Fresh cherry с ароматом вишни от TM SmaCom. Оригинальное «долгоиграющее» мороженое со вкусом сочной вишни, к тому же полезное, оно  обогащено  витаминами А, D, Е, Р, группы В, а также минеральными веществами.</p>
				<p>Прихватите с собой вкусную энергию солнечного лета!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">вода, пюре яблочное, сахар, патока крахмальная, лимонная кислота, желатин, камедь рожкового дерева, крахмал натуральный, краситель пищевой натуральный Кармин экстракт, ароматизатор натурально-идентичный «Вишня»</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>0 г</span></li>
							<li>жиры<span>0 г</span></li>
							<li>углеводы<span>31 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>519 кДж (124 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>80 г</li>
						</ul>																		
					</div>
				</div>
</div>

