<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">  «Каштан полтавский» ванильное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_17.jpg" alt=""></div>

				<p>
				ТМ SmaCom представляет мороженое «Каштан полтавский» в пакете – это большая порция ванильного мороженого для всей семьи. Собраться в уютном семейном кругу, побеседовать о новостях, как прошел день, и смаковать при этом мороженым. Разве это не замечательно?  Почувствуйте вкус знакомый с детства и наслаждайтесь домашним комфортом. Говорят, что сейчас ностальгия мешает оценить вкус. Если и так, то не всем: по статистике, именно взрослые — основные потребители мороженого. Есть настоящие фанаты и фабричного, и домашнего, порой весьма неожиданного. И все-таки мороженое, в первую очередь, детский продукт и головная боль родителей: недоглядишь — лечи ребенку простуду.</p>
				<p>Но заботливые родители всегда смогут предотвратить это, вспомнив о Г.Остере, авторе знаменитых "Вредных советов". Есть даже рассказ с очень полезным советом: не есть больше двух стаканчиков. Григорий Остер предостерегает: "Вот первый стаканчик съешь — ничего. Второй съешь — тоже ничего. А третий съешь, там ангинка живет". Ангинка — это микроб, объясняет писатель. Он вообще-то, не злой, но повышает детям температуру, так что с мороженым шутить нельзя. Автор отметил: "Мороженое, как и всякое серьезное оружие, следует применять только в мирных целях. Поэтому мороженое надо есть для удовольствия, а не для ангины". Поэтому, родители, возьмите на заметку и наслаждайтесь мороженым на здоровье!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">молоко коровье, молоко сгущенное обезжиренное, сливки из коровьего молока, сахар, вода, масло кокосовое, стабилизатор-эмульгатор, ванилин.</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>4,3 г</span></li>
							<li>жиры<span>10,0 г</span></li>
							<li>углеводы<span>21,6 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>810 кДж (193,6 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>500 г</li>
						</ul>																		
					</div>
				</div>
</div>

