<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">   с ароматом ванили</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_15.jpg" alt=""></div>

				<p>
				Ну, что еще могут хотеть дети? Конечно  игрушек, сладостей и…  мороженого! TM SmaCom предлагает легкое мороженое 3% жирности с ароматом ванили. Это продукт, который изготовляется из смеси молока, сиропа, ванильного ароматизатора, что обеспечивает чудесные вкусовые качества мороженого. Смесь взбивают и «закаляют», промораживая при температуре  25-30 градусов. Получаем вкусный десерт.   </p>
				<p>Последние исследования ученых доказали, что мороженое может спасти от плохого настроения. В ходе исследования специалисты изучали мозг людей, которые ели этот продукт. Оказалось, что он влияет на зоны мозга, отвечающие за ощущение радости. </p>
				<p>Смакуйте с радостью!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко обезжиренное сухое, молочный белок, сахар, масло кокосовое, сухой глюкозный сироп, вода, стабилизатор, ароматизатор «Ванилин»); стаканчик вафельный (мука пшеничная, вода, яйца куриные, крахмал картофельный, масло подсолнечное, соль).</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>2,0 г</span></li>
							<li>жиры<span>2,8 г</span></li>
							<li>углеводы<span>22,1 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>508,8 кДж (121,6 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>60 г</li>
						</ul>																		
					</div>
				</div>
</div>

