<div class="popupHeader">
    <div class="title"><h1>Chevupeliwith beef and pork</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_2.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>It is an innovativative product of Smacom™ . Currenntly life is impossible without pre-cooked meals. Chevupeli is a successful tandem of classic dumplings and fried chebureki. This product is slightly crispy, meat filling moderately juicy and quiet spicy. The shape of chevupeli is more like delicate small dumplings, deep fried. This meal consists of natural minced meat with pork and beef, percentage composition of filling is at least 45%.</p>
            </div>
            <div>
                <div class="title">2</div>
                Chevupeli with beef and pork would be appropriate outdoors or at home for you and your friends. It is very comfortable when there is no time to cook in the morning, you can quickly warm up chevupeli in the microwave and breakfast is ready. Enjoy unsurpassed taste of hot novelty! Enjoy your meal!</div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Dough: extra class wheat flour, water, salt. Minced meat: beef – 42%, fat – 15%, pork – 10%, onion, water, wheat fiber, salt, dried dill, milled black pepper</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>8,4 g</span></li>
                <li>fat<span>10,2 g</span></li>
                <li>carbohydrates<span>25,3 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>226,6 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,18 kg<span>± 5 g</span></li>
                <li>0,35 kg<span>± 5 g</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>Incise the film in the corner for 2-3 cm. In the microwave warm up at a power of 700 watts for 5-7 minutes. Don’t defrost before warming up.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>