<div class="popupHeader">
    <div class="title"><h1>Dumplings with cottage cheese</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_8.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Syrniki with raisins are healthy and tasty. It is a healthy alternative for children with a sweet tooth. Natural ingredients and modern technology combined with careful control at all stages of production guarantee the absolute safety of the products that will be useful to both adults and especially children.</p>
                <p>Delicious pre-cooked dessert without effort as a matter of minutes is reality. It is enough to warm up in the microwave and a full breakfast or dinner is ready. Ingredients save explanations; oily, smooth cottage cheese is rich in calcium.</p>
                <p>Raisins are additional useful trace elements and a joy for persons with a sweet tooth. The combination of cheese and raisins is familiar to everyone since childhood. So certainly Smacom™ syrniki please everyone. Enjoy your meal!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">cottage cheese, sugar, raisins, semolina, extra class wheat flour, flavoring matter - vanillin.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>12,7 g</span></li>
                <li>fat<span>6,8 g</span></li>
                <li>carbohydrates<span>22,1 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>111,4 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,36 kg<span>± 5 g</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>Lift any edge of the protective film. Place the tray into the microwave oven. Warm up at a power of 700 watts for 5-7 minutes. Steam the product under the lid for 10-15 minutes.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>