<div class="popupHeader">
	<div class="title"><h1>Belyashi meat cooking</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/mini_b_pop_1.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>
								Belyashi TM «Smacom» - these cakes with a true taste of home.
							</p>
							<p>
								They are very tasty and appetizing, well they satisfy hunger and different tantalizing, seductive aroma. Its unique taste of the product is obliged to stuffing, which is used for chicken, beef, pork, onion, pepper, salt. Minced meat is soft and crumbly like.
							</p>
							<p>
								Belyashi TM «SmaCom» is not only delicious, but also aesthetically beautiful, with golden crust.
							</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text"> Dough: drinking water, wheat flour / s, milk powder, sugar, Sunflower oil, salt, egg powder. Filling: apples, sugar, potato starch, cinnamon.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>6,3 g</span></li>
						<li>fat<span>8,2 g</span></li>
						<li>carbohydrates<span>33,0 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>966,5 kJ (231,0 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>1 kg <span>± 15 g</span></li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">In a heated pan, greased, put pancakes. Fry over low heat, slowly turning, until golden brown on all sides. The product is not subject to repeated freezing! Storage and shelf life at a temperature below minus 18 ° C up to 6 months.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>