<div class="popupHeader">
    <div class="title"><h1>Noodles with meat sauce</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_5.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Just a few minutes and you have nutritious natural food on your table. It is a dream of every housewife. Smacom™ offers the complete second course. You need only to warm it up. Noodles with meat sauce is a complete natural, home tasty meal for people who care about their health and know the value of time.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Durum wheat flour is used to prepare noodles. It is produced of ecologically-friendly products and save the full range of vitamins, minerals and fiber. The famous meat sauce is used by Smacom™ experts. It represents one of the most popular modern dressings.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>George Bernard Shaw once said: "An architect hides his mistakes by ivy, a doctor - in the land, and a cook - in sauce." Indeed, sauce is the right culinary magic wand that can turn a pumpkin into a carriage, and plain noodles into the feast for the stomach. Definitely sauce forms a unique taste of a dish. In our dish meat sauce is the tomato-meat mixture of beef with onions, basil notes and aromatic spices.</p>
            </div>
            <div>
                <div class="title">4</div>
                <p>Smacom™ noodles with meat sauce is unequalled taste of home cooking in the span of just few minutes for the whole family. Just try the delicious and hearty dish of simple ingredients!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Noodles (of durum wheat flour), meat sauce (water, beef, tomato paste, onion, extra class wheat flour, sunflower oil, salt, dried basil, milled black pepper.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>5,4 g</span></li>
                <li>fat<span>3,4 g</span></li>
                <li>carbohydrates<span>22,7 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>143 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,35 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>In the microwave :
                * Place the frozen dish in the microwave in the tray with slightly ajar film and warm up at a power of 700 watts for 5-7 minutes. Warm up preliminary unfrozen dish for 3-4 minutes. Serve hot. </p>
                <p>In the oven:
                    Preheat oven at a temperature of 200 C. Place the frozen dish in the tray without film and warm up in the oven for 25 -30 minutes. Warm up preliminary defrost dish for 10-15 minutes.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>