<div class="popupHeader">
    <div class="title"><h1>Cabbage rolls with meat cooking frozen</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_9.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>SmaCom presents the homemade cabbage rolls in the lineup of finished dishes. They are so entrenched in the Ukraine, which have become a national dish. From the historical viewpoint cabbage rolls could arise not as a food, for the purpose of to preserve food. Our ancestors used large leaves of plants (cabbage, grapes and even algae), to turn their food and keep it longer.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Now do not have to cook, only warm… nourishing, nutritious, tasty meal is ready! Recipe observe of the cooks SmaСоm in the traditions of Ukrainian cuisine. Minced of the cabbage rolls made from selective beef and chicken, fresh vegetables, passed onion and carrots with rice. The natural spices and spices add the special piquancy.</p>
                <p>Whole leaves of cabbage rolls have its wonderful filling.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Fried cabbage, beef, chicken, boiled rice, carrots, onions browned, tomato paste, sunflower oil, water, salt, ground black pepper.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>3,9 g</span></li>
                <li>fat<span>6,1 g</span></li>
                <li>carbohydrates<span>20,9 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>154,1 kcal (644,8 kJ)</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,45 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>In the microwave: Place the frozen dish in the microwave in the tray with slightly ajar film and warm up at a power of 700 watts for 5-7 minutes. Warm up preliminary unfrozen dish for 3-4 minutes. Serve hot. </p>

                <p>In the oven: Preheat oven at a temperature of 200 C. Place the frozen dish in the tray without film and warm up in the oven for 25 -30 minutes. Warm up preliminary defrost dish for 10-15 minutes.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>