<div class="popupHeader">
	<div class="title"><h1>Mini belyashi</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/mini_b_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>All get used to see belyashi of big size, that's why mini belyashi from TM “SmaCom” will surprise everybody of theirs uniqueness. Small fried meat pies will be good beer appetizers. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>They are very delicious and appetizing, satisfy   your hunger and characterized with its flavor and tenderness. Belyashi are not only delicious but have  aesthetic appearance with gold crispy skin.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text"> First grade wheat flour, water, refined deodorized sunflower-seed oil, baking yeast, sugar, salt. Minced meat: onions, frozen meat stock – 40% (mechanically deboned meat (MDM) – 10%, beef – 10%, pork – 10%, lard – 10%).</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>6,3 g</span></li>
						<li>fat<span>8,2 g</span></li>
						<li>carbohydrates<span>33,0 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>966,5 kJ (231,0 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>0,4 kg</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">Place the dish into the oven and warm up for 5 – 7 minutes at the power of 700 watts.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>