<div class="popupHeader">
    <div class="title"><h1>Liver fritters</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_10.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Liver fritters have a special taste. These are the same liver pancakes, but more extensive and lush. Fritters incomparable succulent, tender, quite nutritious, and, most important, they are easy to cook, only need to warm up.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>These pancakes contain 62% pork liver, so they are tasty, hearty and not dried. The liver is no worse than the meat. It is known, that the liver have more vitamin A, B and C. These pancakes go well with fresh salad of juicy fruits to any garnish.</p>
                <p>The fritters SmaCom are tasty and healthy product.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Pork liver, onion, bacon, bread crumbs, wheat flour / s, egg powder, sunflower oil, salt, dried garlic, ground black pepper.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>12,8 g</span></li>
                <li>fat<span>15,9 g</span></li>
                <li>carbohydrates<span>5,4 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>216 kcal (903,3 kJ)</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,24 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>In the microwave: Place the frozen dish in the microwave in the tray with slightly ajar film and warm up at a power of 700 watts for 5-7 minutes. Warm up preliminary unfrozen dish for 3-4 minutes. Serve hot. </p>

                <p>In the oven: Preheat oven at a temperature of 200 C. Place the frozen dish in the tray without film and warm up in the oven for 25 -30 minutes. Warm up preliminary defrost dish for 10-15 minutes.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>