<div class="popupHeader">
    <div class="title"><h1>Mashed potatoeswith chicken cutlets and mushroom sauce.</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_3.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>This yummy meal is familiar to everyone since childhood. Probably there is no a man who could refuse mashed potatoes and with chicken cutlets, and with mushroom sauce. And even imagine you can serve this dish in a matter of minutes, just warm it up! An excellent taste of home cuisine, satiety and comfort cooking are the combination of multiple pleasures in one.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Puffed and substantial mashed potatoes create some integral culinary union in conjunction with cutlet. Zest of this dish is the mushroom sauce, mushrooms give spice to this food.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Primary products are supplied from ecologically clean regions of Ukraine, this guarantees the quality of the products. Enjoy the finished dish on your table! Enjoy your meal!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">mashed potato 170 g: potato, water, butter, salt.
                chicken cutlet 100 g: chicken fillet, onion, salt, lard, water, white bread, semolina, salt, milled black pepper.
                mushroom sauce 80 g: mushrooms, sunflower oil, butter, extra class wheat flour, salt.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>8,9 g</span></li>
                <li>fat<span>17,4 g</span></li>
                <li>carbohydrates<span>22,7 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>283 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,35 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text">Take off cardboard packing. Lift the protective film or pierce in several places. Put the tray in the microwave or oven. Microwave at a power of 700 watts for 5-7 minutes or warm it up in the oven at 130-150 degrees for 30 minutes.</div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>