<div class="popupHeader">
	<div class="title"><h1>Baked pork with potato wedges</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_6.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>This dish wins everybody’s flavor . Baked pork with potato wedges is the meat dish that men adore. It provides satiety during the whole day besides with such a wonderful side dish as potato wedges. The recipe of such potato is known since Kievan Rus.</p>
			</div>
			<div>
				<div class="title">2</div>
				<p>Keeping the traditions Smacom™ experts represent the real men’s dish. Juicy nutritious baked pork with potato wedges do not leave anyone indifferent and most importantly hungry. How here not to say about satiety of the potato and even potato wedges! </p>
			</div>
            <div>
				<div class="title">2</div>
				<p>Fried crispy potato at a home recipe in conjunction with tender pork gives extraordinary pleasure. It is always satisfying, delicious and nutritious! And the most important this pre-cooked meal can be served for just a few minutes. Just warm it up and you can eat it! Enjoy your meal!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">potato - 6,1 %, pork - 27,3%, sunflower oil, garlic, salt, dill.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>4,9 g</span></li>
				<li>fat<span>15,9 g</span></li>
				<li>carbohydrates<span>50 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>362,7 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,33 kg<span>± 5 g</span></li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Take off cardboard packing. Lift the protective film or pierce in several places. Put the tray in the microwave or oven. In the microwave warm up at a power of 700 watts for 5-7 minutes, in the oven at 130-150 degrees for 30 minutes.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>