<div class="popupHeader">
    <div class="title"><h1>Uzbek pilaf</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_7.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Pilaf is a favorite dish of a great many people. Now it is available to everyone. It is not difficult to prepare Smacom™ pilaf. Just warm it up and you have pride (honor) of eastern cuisine on your table!</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Traditionally pilaf is considered to be the Central Asia meal, but it easily got into cuisines of many nations. This meal has plenty of names but the cooking method and composition are similar to known pilaf. For example, in Japan pilaf is made with chicken and soybean tofu, in Thailand a great amount of species is added to pilaf and the real Uzbek pilaf is cooked with fresh lamb meat. In Slavic cuisine pilaf easily adapted to existing traditions and this dish is perfectly cooked with poultry, pork or beef.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Thus Smacom™ experts represent in the series of pre-cooked meals the delicious Uzbek pilaf using beef meat, vegetables and aromatic species. Cumin is the spicy base of pilaf. This spice has strong smell and nutty slightly bitter taste that gives the special unforgettable aromatic spicy flavor. Slabs of beef give extraordinary nutritional satiety to pilaf. </p>
            </div>
            <div>
                <div class="title">4</div>
                <p>The cooking method has its own peculiarities. Onion, meat, carrot are roasted. Then they are mixed with species and stew until ready. This creates a truly irresistible taste of Asian cuisine. The innovative system provides the ability to keep all the nutrients and flavor properties of the dish. Tasty and rich food for the whole family is provided at any time of a day. Just warm up Smacom™ Uzbek pilaf. Enjoy your meal!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">parboiled rice, beef meat, carrot, sunflower oil, salt, sugar, cumin, curry.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>13,9 g</span></li>
                <li>fat<span>14,7 g</span></li>
                <li>carbohydrates<span>53,2 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>143 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,35 kg<span>± 5 g</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text"> <p>Take off cardboard packing. Lift the protective film or pierce in several places. Put the tray in the microwave or oven. In the microwave warm up at a power of 700 watts for 5-7 minutes, in the oven at 130-150 degrees for 30 minutes.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>