<div class="popupHeader">
	<div class="title"><h1>Чизбургер</h1><span class="subtitle"> с котлетой из индейки</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-2-pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>ТМ «Smacom» создала новую линейку готовых блюд - чизбургеры, которые уже давно стали неотъемлемым атрибутом общественного питания. Это очень вкусное сочетание ароматной булочки, покрытой кунжутом, мясной котлеты, сыра, свежего помидора, лука, маринованных огурцов, кетчупа и горчицы.</p>
							<p>Любовь украинцев к мясу птицы вдохновила нас на создание чизбургера с котлетой из индейки. Сердце этого чизбургера – это стопроцентная мясная котлета, которую мы готовим по специально разработанной технологии. Трудно представить, но благодаря диетическому мясу индейки, мы создали по-настоящему полезное блюдо, которое легко заменит обед. Мясо индейки дарит блюду нежный вкус и сочность, а организму - легкость и сытности.</p>
							<p>Чизбургеры представлены в трех видах в зависимости от котлеты: чизбургер с котлетой из индейки, чизбургер с котлетой из говядины, чизбургер с котлетой из свинины и говядины.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлета в чизбургерах полностью готова к употреблению, ее обжаривают, охлаждают и компонуют с другими ингредиентами. Замороженный чизбургер заворачивают в специальную брендированную бумагу и яркую картонную коробку.</p>
							<p>Чизбургеры необходимо лишь разогреть в микроволновой печи. У кого нет времени на обеденный перерыв, попробуйте чизбургер! Он придаст нам энергии и настроение для дальнейшей работы.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">
							<b>Булочка для чизбургера:</b> мука пшеничная в/с, вода питьевая, маргарин, молоко сухое, сахар белый, дрожжи пресованные, соль поваренная пищевая.
							<br>
							<b>Котлета для чизбургера:</b> мясное сырье замороженное – филе индейки, мясо куриное (бедро, голень), вода питьевая, лук репчатый, соль поваренная пищевая, перец черный молотый; сыр, огурец маринованный, соус горчичный, соус томатный, лук репчатый, помидор свежий.
							<br>
							<b>Не содержит ГМО.</b>
						</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>13,5 г</span></li>
							<li>жиры<span>11,2 г</span></li>
							<li>углеводы<span>27,8 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>1112,9 кДж (266 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
                            <li>155 г</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>
				Замороженный чизбургер в защитной бумаге поместить в микроволновую печь и разогревать 3 мин. при мощности 700 Вт.
				<br>
				<b>Внимание!</b> Время разогрева зависит от мощности микроволновой печи.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>