<div class="popupHeader">
	<div class="title"><h1>Чизбургер</h1><span class="subtitle"> с котлетой из говядины</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-0-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Чизбургеры является «фишкой» фаст-фудов, они уже давно стали любимым блюдом миллионов людей. Это воплощение быстрой, сытной и вкусной пищи. Особую популярность чизбургеры получили в кругу молодежи, но старшее поколение тоже не против их попробовать.</p>
							<p>Чизбургер с котлетой из говядины считается классическим. Это первый сэндвич, который заложил основу «чизбургеровой культуры». Сейчас можно найти бургеры с ингредиентами на любой вкус.</p>
							<p>Чизбургеры ТМ «Smacom» это очень вкусное сочетание ароматного булочки, покрытой кунжутом, мясной котлеты, сыра, свежего помидора, маринованных огурцов, лука, кетчупа и горчицы. Сердце наших чизбургеров – это стопроцентные мясные котлеты, которые мы готовим по специально разработанной технологии.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлета в чизбургерах полностью готова к употреблению, ее обжаривают, охлаждают и компонуют с другими ингредиентами. Замороженный чизбургер заворачивают в специальную брендированную бумагу и яркую картонную коробку.</p>
							<p>Чизбургеры необходимо лишь разогреть в микроволновой печи. У кого нет времени на обеденный перерыв, попробуйте чизбургер! Он придаст нам энергии и настроение для дальнейшей работы.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">
							<b>Булочка для чизбургера:</b> мука пшеничная в/с, вода питьевая, маргарин, молоко сухое, сахар белый, дрожжи пресованные, соль поваренная пищевая.
							<br>
							<b>Котлета для чизбургера:</b> мясное сырье замороженное – мясо говядины жилованное, вода питьевая, лук репчатый, соль поваренная пищевая, перец черный молотый; сыр, огурец маринованный, соус горчичный, соус томатный, лук репчатый, помидор свежий.
							<br>
							<b>Не содержит ГМО.</b>
						</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>14,4 г</span></li>
							<li>жиры<span>9,9 г</span></li>
							<li>углеводы<span>30,4 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>1124,2 кДж (268,3 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
                            <li>155 г</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>
				Замороженный чизбургер в защитной бумаге поместить в микроволновую печь и разогревать 3 мин. при мощности 700 Вт.
				<br>
				<b>Внимание!</b> Время разогрева зависит от мощности микроволновой печи.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>