<div class="popupHeader">
	<div class="title"><h1>Суп лапша</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_l_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>	Суп лапша – один из любимых русских супов, заимствованный у татар, который прочно обосновался в нашем рационе. Родоначальником супа лапша считают суп токмач.</p>
                <p>ТМ «SmaCom» предлагает вкусный суп лапша, выдержанный в традициях национальной татарской кухни с авторской изюминкой.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>	 В качестве основы супа выступает куриный бульон, в котором отваривается лапша, и с ним же подается. Отварная курица достается из подсоленного бульона и мелко крошится.</p>
                <p>	Это можно назвать особенностью данного блюда, так как ни одно блюдо не требует такой тщательной обработки мяса. Суп лапша очень ароматный, благодаря специям и пряностям. Почувствуйте вкус татарской кухни с ТМ «SmaCom»!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Вода питьевая, картофель, филе куриное, лапша, масло подсолнечное рафинированное дезодорированное, морковь свежая, лук репчатый свежий, соль поваренная пищевая, перец черный молотый, петрушка сушеная.  </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>2,4 г</span></li>
				<li>жиры<span>3,3 г</span></li>
				<li>углеводы<span>6,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>269,9 кДж (64,5 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,3 кг</li>
                <li>1 кг</li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
            <div class="text">
                <p>1. Брикет: разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
                <p>2. Стакан: снять защитную крышку и фольгу, разогревать в микроволновой печи 7-10 мин.</p>
            </div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>