<div class="popupHeader">
	<div class="title"><h1>Крем-суп грибной</div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_gr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Полуфабрикаты ТМ «SmaCom» созданы для тех, кто ценит свое время и силы. Достаточно просто разогреть в микроволновке и вкусный завтрак, обед или ужин готов. ТМ «SmaCom» предлагает по-настоящему аппетитное, сытное, домашнее первое блюдо – «Крем-суп грибной».</p>
<!--
						</div>
						<div>
							<div class="title">2</div>-->
							<p>От крем-супа из шампиньонов не откажется, пожалуй, ни один самый привередливый гурман. Кто еще ни разу не пробовал грибной крем-суп ТМ «SmaCom», многое потерял, потому что это восхитительное блюдо способно удовлетворить самый взыскательный вкус.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text"> Вода питьевая, грибы шампиньоны свежие, молоко сухое, картофель свежий, мука пшеничная в/с, маргарин (растительные жиры и масла рафинированные дезодорированные в натуральном и модифицированном состоянии, вода питьевая, соль поваренная, эмульгатор (Е471), лецитин соевый, консервант сорбат калия, ароматизатор молока и сливочного масла, регулятор кислотности кислота лимонная, краситель пищевой каротин), лук репчатый свежий, соль поваренная пищевая, перец черный молотый.</div>
        <div class="title">Питательная (пищевая) ценность:</div>
        <ul>
            <li>белки<span>4,4 г</span></li>
            <li>жиры<span>4,3 г</span></li>
            <li>углеводы<span>8,7 г</span></li>
        </ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>347,3 кДж (83,0 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
            <li>0,25 кг</li>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
            <p>2. Стакан: снять защитную крышку и фольгу, разогревать в микроволновой печи 7-10 мин.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>