<div class="popupHeader">
	<div class="title"><h1>Суп гороховый</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_gr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Гороховый суп – блюдо, которым любят побаловать себя многие. Основным продуктом в нем является сушеный горох. В процессе приготовления горох разваривается и становится мягким, а блюдо приобретает особенный вкус и аромат. Каждой хозяйке известно, что процесс приготовления горохового супа имеет свои тонкости: горох требует длительного замачивания в воде.</p>
                            <p>ТМ «SmaCom» предлагает уже готовый гороховый суп, который не требует временных затрат.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Гороховый суп обладает отличными вкусовыми качествами и при этом полезен. Трудно было бы переоценить пользу такого продукта, как горох. Базовыми ингредиентами супа считаются горох, морковь, лук, пряности и соль. В качестве основы для супа используется куриный бульон.</p>
                            <p>Оцените качество и неповторимый вкус горохового супа от ТМ «SmaCom»! Такой суп напомнит каждому о детстве!</p>
                        </div>
                    </div>
				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Вода питьевая, горох, картофель, масло подсолнечное рафинированное дезодорированное, филе куриное, морковь свежая, лук репчатый свежий, соль поваренная пищевая, петрушка сушеная, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>6,6 г</span></li>
			<li>жиры<span>11,5 г</span></li>
			<li>углеводы<span>11,7 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>739,3 кДж (176,7ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
            <p>2. Стакан: снять защитную крышку и фольгу, разогревать в микроволновой печи 7-10 мин.</p>
        </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>