<div class="popupHeader">
	<div class="title"><h1>Крем-суп</h1><span class="subtitle">"Шпинатный"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_sh_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Изысканный и легкий суп-пюре из шпината – одно из произведений французской кухни. Французы называют шпинат королем овощей, используя этот ингредиент во многих блюдах. Эти зеленые листья обладают массой полезных свойств, что крайне необходимо для здоровья.</p>
	<!--					</div>
						<div>
							<div class="title">2</div>
	-->						<p>ТМ «SmaCom» воссоздала французский кулинарный шедевр для ценителей очень вкусной и нежной еды. Изысканный крем-суп из шпината также понравится людям, которые испытывают страсть к вегетарианским блюдам. Кто пробовал листья шпината, тот знает, что яркого вкуса они не имеют.</p>
<!--						</div>
						<div>
							<div class="title">3</div>-->
							<p>Но стоит их только добавить в суп, как шпинат раскрывает свой тонкий вкус, привнося блюду необыкновенные вкусовые нотки. Даже требовательный гурман оценит это непревзойденное первое блюдо. Подавайте шпинатный суп-пюре с гренками или тостами.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text"> Вода питьевая, шпинат замороженный – 25,4%, молоко сухое, лук репчатый свежий, мука пшеничная в/с, маргарин (растительные жиры и масла рафинированные дезодорированные в натуральном и модифицированном состоянии, вода питьевая, соль поваренная, эмульгатор (Е471), лецитин соевый, консервант сорбат калия, ароматизатор молока и сливочного масла, регулятор кислотности кислота лимонная, краситель пищевой каротин), соль поваренная пищевая, перец черный молотый.</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>4,1 г</span></li>
							<li>жиры<span>3,2 г</span></li>
							<li>углеводы<span>8,3 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>328,03 кДж (78,4 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
                            <li>0,3 кг</li>
                            <li>1 кг</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
        <p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>