<div class="popupHeader">
	<div class="title"><h1>Крем-борщ</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_b_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Кулинарный мир такой разнообразный. ТМ «SmaCom» не перестает удивлять новыми и оригинальными блюдами – они вызывают интерес и желание узнать их на вкус. Так повара «SmaCom» создали традиционное первое блюдо «Украинский борщ» в иной подачи, что совершенно поменяло к нему отношение.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Крем-борщ обладает более густой текстурой, чем обычный борщ. Такой результат достигается путем перемалывания всех ингредиентов, даже не требуя специальных сгустителей. Если вы хотите удивить своих гостей кулинарными новинками, тогда выбор крем-борща ТМ «SmaCom» – правильное решение!</p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text"> Вода питьевая, картофель свежий – 10,7%, мясное сырье замороженное – 9,8 % (филе куриное), капуста белокочанная свежая, лук репчатый свежий, свекла красная свежая, масло подсолнечное рафинированное дезодорированное, морковь свежая, паста томатная, сахар белый, соль поваренная пищевая, перец сладкий, уксус, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>2,8 г</span></li>
			<li>жиры<span>2,6 г</span></li>
			<li>углеводы<span>4,1 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>213,38 кДж (51,0 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
            <li>0,25 кг</li>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
        <p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>