<div class="popupHeader">
	<div class="title"><h1>Блинчики</h1><span class="subtitle"> с яблоками и корицей</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_18.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Эти блинчики порадуют каждого своим удивительным вкусом и ароматом. Блинчики с яблоками и корицей – это искушение для сластен. Натуральная начинка с нотками ароматной корицы придётся по вкусу, как взрослым, так и детям. Такое блюдо отлично подойдет как для завтрака, так и для десерта.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Основной составляющей, конечно же, остаются блины, которые готовятся по традиционной рецептуре, повторяя форму и вкус домашнего продукта. Начинка – проваренные яблоки с добавлением сахара, крахмала (для связывания лишней влаги) и корица.</p>
							<p>Поверьте, особый повод не нужен, будьте уверены, их всегда съедят с удовольствием! А аромат изумительного сочетания яблок и корицы не оставит никого равнодушным!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Вода, мука в/с, молоко сухое, сахар, масло подсолнечное, соль, яичный порошок. Начинка: яблоки, сахар, крахмал, корица</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>3,3 г</span></li>
			<li>жиры<span>1,0 г</span></li>
			<li>углеводы<span>28,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>136,2 ккал (569,9 кДж)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,4 кг<span>± 3 %</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cпособ приготовления</div>
	<div class="consistInside">
	<p>Сковорода: на разогретую сковороду, смазанную маслом, выложить блинчики. Жарить на слабом огне, постепенно переворачивая, до образования румяной корочки со всех сторон.</p>
	<p>Микроволновая печь: Выложить в посуду замороженные блинчики в один ряд и разогревать 2-3 минуты при мощности 700 Вт. Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше нужно времени.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>