<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с печенью</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_2.jpg" alt=""></div>



				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Перефразируя известное выражение, можно сказать: «Вы просто не умеете готовить печень». Именно так любят говорить повара в лучших ресторанах нашей необъятной родины. И, действительно, существует множество предубеждений относительно потребления печени в пищу.</p>
							<p>На самом деле, печень считается одним из главных деликатесов во всех кухнях мира. Это по-настоящему изысканное блюдо, которое обожают настоящие гурманы.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Блинчики с печенью – вкусное оригинальное блюдо от ТМ SmaCom, отличающееся пикантностью и оригинальностью. Оно создано по оригинальной рецептуре из свежих, натуральных ингредиентов. </p>
							<p>Приготовление вкусных «торб», такую национальную форму имеют блинчики SmaCom, - особый многоступенчатый процесс. Сначала из солнечного теста формируются пышные ажурные блины, которые благодаря ультрасовременному производству обжариваются с двух сторон. После готовится печень, которая обжаривается с луком и морковью в растительном масле и затем, смешиваясь с яйцом, превращается в нежнейший вкуснейший фарш, который служит наполнителем блинчиков.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Такая подлинно домашняя рецептура делает блинчики с печенью изысканным деликатесом, который будет всегда уместен к столу.</p>
							<p>Блины с печенью от ТМ SmaCom: для тех, кто любит изысканность вкуса!</p>
						</div>															
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>			
	<div class="consistInside">
		<div class="text">Печень говяжья, мука в/с, вода питьевая, лук репчатый, сахар, морковь, яичный порошок, масло растительное, соль, перец чёрный молотый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>16,12 г</span></li>
			<li>жиры<span>4,86 г</span></li>
			<li>углеводы<span>27,53 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>215,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Блинчики кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>