<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с творогом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_16.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Творог, как известно, - очень полезный продукт. Но одним творогом сыт, конечно, не будешь. Широкая славянская душа требует чего-нибудь поинтереснее да посытнее. Блинчики с творогом подойдут как нельзя лучше. Блюдо это известное, с богатыми традициями и славной историей.Такие блины считались изысканным лакомством.</p>
							<p>Вопрос только в том, как их правильно приготовить? </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Не стоит изобретать велосипед. Достаточно просто приобрести блинчики с творогом от ТМ SmaCom. Блинчики с творогом - это здоровая альтернатива для сладкоежек, которые не желают набирать вес, но не в состоянии отказаться от сладостей, лучший способ побаловать себя по-настоящему вкусной пищей. Натуральные ингредиенты и прогрессивные европейские технологии производства в сочетании с тщательным контролем производства на всех стадиях (от поступления сырья на завод и до упаковки готовой продукции) гарантируют абсолютную безопасность продукции, которая будет полезна и взрослым, и детям.</p>
							<p>Блинчики с творогом от ТМ SmaCom: кушаем с пользой! </p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, творог, вода питьевая, сахар, крупа манная, яичный порошок, масло растительное, соль, ванилин. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>9,52 г</span></li>
			<li>жиры<span>6,91 г</span></li>
			<li>углеводы<span>34,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>238,8 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Блинчики с творогом кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>