<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с мясом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_10.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Блинчики с мясом присутствуют в рационе всех европейцев, но особенно популярны они в Великобритании. Если говорить о гастрономической традиции, то британцы предпочитают сытные блинчики с мясом, которые, как правило, с удовольствием потребляют и завтрак, и на ланч, и на ужин. Это блюдо одинаково хорошо в любом настроении, компании или время суток.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>ТМ SmaCom предлагает Вам классический английский завтрак – блинчики с мясом. Они отлично утоляют аппетит, вкусны и быстры в приготовлении. Всего за несколько минут Вы cможете приготовить себе великолепный завтрак. Натуральные ингредиенты и инновационная заморозка позволяют сохранить все полезные элементы и вкусовые свойства. </p>
							<p>Блинчики с мясом SmaCom – завтрак леди и джентльменов! Живите изысканно! </p>
						</div>									
					</div>

				</div>			
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, говядина, свинина, вода питьевая, шпиг, лук, сахар, яичный порошок, масло растительное, соль.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>12,24 г</span></li>
			<li>жиры<span>8,8 г</span></li>
			<li>углеводы<span>30,03 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>248,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Блинчики с мясом кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>