<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с маком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_4.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Уж сколько копий сломано и сколько будет в борьбе врачей и лакомок! Первые говорят о вреде, вторые – о вкусе. В их бесконечных спорах, как водится, рождается истина – идеальное сочетание вкуса и пользы, радость гурмана и спокойствие врача.</p>
							<p>ТМ SmaCom презентует плод мечтаний лакомок и терзаний врачей – блинчики с маком. Возможно, немногие знают, но по своим целебным и витаминным свойствам мак – один из самых полезных продуктов на планете. Его употребляли в пищу с давних времён, греки и римляне, персы и македоняне. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Мак необыкновенно богат витаминами и полезными веществами, служит лучшим лекарство от головной боли и нервного истощения, незаменим для пищеварения и иммунитета. Вкусовые свойства мака известны нам с детства: это любимый ингредиент в лакомствах детей и взрослых. Ну а в сочетании с пышным блинным тестом, приготовленным мастерами SmaCom по особой рецептуре, маковое волшебство достигает вершин вкуса.</p>
							<p>Многие ассоциируют мак исключительно с опиатными свойствами, воспринимая его как наркотик. Отчасти они правы. Потому что, попробовав блинчики с маком, Вы будете очарованы их роскошным вкусом, открывая их для себя снова и снова. </p>
							<p>Блинчики с маком от ТМ SmaCom: вкусный и полезный тонизатор Вашего настроения! </p>
						</div>														
					</div>

				</div>	
			<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">Мука в/с, мак, соль, сахар, масло растительное, вода питьевая. </div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>22,06 г</span></li>
							<li>жиры<span>46,63 г</span></li>
							<li>углеводы<span>4,04 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>705,0 ккал</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>0,45 кг<span>± 5 г</span></li>
						</ul>												
					</div>
				</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Блинчики кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>