<div class="popupHeader">
	<div class="title"><h1>Блинчики </h1><span class="subtitle">с мясом курицы</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat3/product_popup_12.jpg" alt=""></div>

	
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Некоторые блинные традиции славяне позаимствовали у французов. Например, блинчики с мясом курицы. Это тонкое тесто с нежным мясом цыплёнка, поданное с исключительно французской изысканностью.</p>
							<p>ТМ SmaCom презентует блюдо, воплотившее неописуемый колорит Франции с её оригинальными блюдами и истинно аристократическим благородством. Блинчики с курицей, сир! Секрет вкусных блинчиков с курицей – это начинка из отборного филе, которое мелко нарублено и смешано с яйцом и шпиком. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Такая смесь необычайно нежна, изысканна и одновременно сытна, сочна. Натуральное куриное лакомство заворачивается в тонкий блинчик, который благодаря своей пористой структуре впитывает все ароматы и соки деликатесной начинки.</p>
							<p>Надо заметить, что SmaCom – единственная торговая марка, блинчики которой благодаря ультрасовременному производству прожариваются с двух сторон, свидетельством чему является изящный узор и равномерный золотистый цвет.</p>
							<p>Куриные блинчики от ТМ SmaCom приготовить быстро и легко. Просто поджарьте их до румяной корочки и - Bon Appetit, gourmet! </p>
						</div>									
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, мясо птицы, вода питьевая, шпиг, лук, сахар, яичный порошок, масло растительное, соль.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>12,36 г</span></li>
			<li>жиры<span>11,64 г</span></li>
			<li>углеводы<span>29,71 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>274,84 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Блинчики с мясом курицы кладём в сковородку с растительным маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>