<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«Люкс»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_4.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Когда Вы в полной мере желаете насладиться натуральным мясом, когда аромат и вкус должны быть идеальными – выбирайте котлеты «Люкс» от ТМ SmaCom.</p>
						<p>Котлеты «Люкс» созданы, чтобы дарить наслаждение истинным мясоедам, чтобы нести концентрированную гармонию вкуса в каждом кусочке, чтобы подчеркнуть абсолютные преимущества мяса.</p>				
						<p>Котлеты «Люкс» от ТМ SmaCom – это бескомпромиссность совершенства, оправданная роскошь ощущать подлинный вкус, получая чистое наслаждение. Котлеты «Люкс» – это оригинальная французская рецептура, подчёркивающая совершенство мясного деликатеса.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Необыкновенная сочность, натуральный состав и идеально сбалансированные вкусовые свойства делают котлеты «Люкс» настоящей ценностью для истинных мясоедов. Котлеты «Люкс» полностью сохраняют полезные свойства и изящно подчёркивают подлинный вкус мяса, создавая доминирующее совершенство и благородное изящество кулинарного деликатеса.</p>	
						<p>Котлеты «Люкс» от ТМ SmaCom – оправданная роскошь вкуса!</p>
					</div>														
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">Говядина, свинина, лук репчатый, шпик боковой, вода питьевая, соль, яичный порошок. </div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>17,35 г</span></li>
							<li>жири<span>16,4 г</span></li>
							<li>вуглеводи<span>12,2 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>265,8 ккал</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>0,42 кг<span>± 5 г</span></li>
						</ul>												
					</div>
				</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты отлично сочетаются с любым блюдом.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>