<div class="popupHeader">
	<div class="title"><h1>Блинчики</h1><span class="subtitle"> с варёным сгущённым молоком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_17.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>В старину блины готовили с душистым липовым медом. Сегодня ассортимент сладких начинок стал разнообразнее, и особое место в нём занимает сгущённое молоко. </p>
				<p>Блинчики с варёным сгущённым молоком – это и предмет, и повод для домашних уютных посиделок в тёплой дружной компании. И это не просто вкусный, любимый с детства десерт, но и самостоятельное полноценное блюдо. Приготовить его можно быстро и комфортно! С блинчиками от ТМ SmaCom каждая хозяйка может легко устроить шикарный, сладкий ужин для большой компании.</p>	
			</div>
			<div>
				<div class="title">2</div>
				<p>Любопытно, что дома блины жарятся с двух сторон. Однако на производствах блины в основном поджаривают только с одной стороны, а вторая остаётся бледной и неподжаренной. Виной тому несовершенное оборудование, а, точнее, барабан, на который наматывается блинное тесто. ТМ SmaCom не терпит полумер и стремится, чтобы её потребитель получал только самое лучшее! Дабы достичь идеала, было установлено ультрасовременное европейское оборудование последнего поколения, которое позволяет печь блины с двух сторон. Поэтому блинчики от ТМ SmaCom – это аппетитный вид, абсолютное качество и полноценный вкус!</p>	
				<p>Блинчики с варёным сгущённым молоком от ТМ SmaCom: просто вкуснятина! Живите сладко!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Мука в/с, вареное сгущенное молоко, вода питьевая, сахар, масло растительное, соль, яичный порошок. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>7,6 г</span></li>
				<li>жири<span>4,39 г</span></li>
				<li>вуглеводи<span>49,19 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>267,34 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,45 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>		
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Блинчики с вареным сгущенным молоком кладем в сковородку с маслом. Поджариваем на самом слабом огне под закрытой крышкой до полной готовности.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>