<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«Любава»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_6.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>«Любава» со старославянского значит «любимая». Когда мы так назвали котлеты с начинкой, то, действительно, вложили в их рецептуру всю любовь к нашим покупателям и к делу, которым занимаемся. Мы хотели, чтобы котлеты удались на славу, поэтому и создали «Любаву».</p>
				<p>Элитные, избранные ингредиенты вошли в её состав. Во-первых, настоящая говядина лучших сортов. Мы приготовили её особым способом, маринуя и приправляя настоящими индийскими специями, чтобы подчеркнуть идеальный вкус совершенного мяса. Уникальные инновационные технологии позволили сохранить все полезные вещества, создав аппетитный витамин. Во-вторых, мы создали подлинное совершенство вкуса – грибы с сыром. Нежный натуральный сыр, тая, обволакивает жареные грибы. Сыр, который используется в качестве начинки, изготавливается без добавления растительных жиров. За этим строго следит наша лаборатория. Деликатесное великолепие сыра дополняют жареные натуральные грибы, которые обладают ярко-выраженным устойчивым вкусом. Это сочетание считается непревзойдённым в кулинариях всего мира.</p>
			</div>
			<div>
				<div class="title">2</div>
				<p>Главный ингредиент котлет «Любава» от ТМ SmaCom – это наша любовь. Мы постарались, чтобы котлеты получились такими же нежными, как любовь. Такими же рафинированными, как любовь. Такими же дарящими радость, как любовь. </p>	
				<p>Котлеты «Любава» от ТМ SmaCom: наслаждайтесь вкусом с любовью!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Говядина, грибы жареные, сыр твердый, вода питьевая, лук репчатый, соль, яичный порошок, перец черный молотый, перец душистый.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>15,47 г</span></li>
				<li>жири<span>9,67 г</span></li>
				<li>вуглеводи<span>0,90 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>152,48 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,48 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым блюдом.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>