<div class="popupHeader">
	<div class="title"><h1>Котлети  </h1><span class="subtitle">«По-київськи» </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_9.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Походження легендарної котлети достеменно невідомо. Згідно з однією з версій, вона з'явилася у ресторані готелю «Континенталь» на вулиці Миколаївській (зараз Городецького). Тут знаходився штаб гетьмана Скоропадського, а його офіцерам подавали так звану «котлету де-воляй по-київськи». Про цю легендарну котлету кулінарний теоретик Вільям Похльобкін писав: «Ці котлети були типово «вигаданою» стравою. Вони спеціально потурали примхам смаку заможних та забезпечених замовників поєднанням натуральної, цілісної сировини з європейською та східною технологією обробки».</p>	
			</div>
			<div>
				<div class="title">2</div>
				<p>Сьогодні котлета по-київськи - це по-справжньому культовий український гастрономічний бренд, який, приїжджаючи до української столиці, прагне спробувати кожен: чи це Шон Коннері або Джордж Буш.</p>	
				<p>ТТМ SmaCom пропонує Вам насолодитися справжньою кулінарною легендою, приготовленою за класичним рецептом з найніжнішої курки. Ми відбираємо дійсно кращу курятину, суворо дотримуючись технології приготування котлети, додаючи у неї виключно домашнє вершкове масло. Перед тим, як потрапити до покупців, котлета по черзі, кілька разів, обвалюється у сухарях та яйці. </p>		
				<p>Котлета по-київськи від ТМ SmaCom - повернення легенди! </p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Філе куряче, масло вершкове, вода питна, сіль харчова, яєчний порошок, перець чорний мелений, перець духмяний. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>12,43 г</span></li>
				<li>жири<span>30,45 г</span></li>
				<li>вуглеводи<span>0,80 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>326,97 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,48 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Сковорідку змащуєте жиром, вершковим маслом або соняшниковою олією. Розігріваєте. На розігріту сковорідку викладаєте котлети. Підсмажуєте до появи скоринки. Подавати на стіл, прикрасивши зеленню. Котлети гарно гармонують з будь-якою стравою.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>