<div class="popupHeader">
	<div class="title"><h1>Крокеты </h1><span class="subtitle">мясные</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_14.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Крокеты получили своё название во Франции — там же, где они и появились впервые. Сroquer — означает "кусать/хрустеть", а сами крокеты представляют собой шарики из мясного фарша или овощей, обваленные в панировке или картофельном пюре, и обжаренные во фритюре. Не зря это вкусное блюдо получило известность во всём мире, ведь оно отлично подходит как в качестве основного, так и в качестве гарнира!</p>
				<p>Специалисты ТМ SmaCom готовы предложить  потрясающие мясные крокеты в хрустящей оболочке. Основа крокет – нежное  мясо курицы, сочная свинина и ароматные специи. Плотная хрустящая корочка сохраняет сочность  внутри, а чеснок, лук и перец  придают неповторимый вкус каждому изделию.</p>			
			</div>	
			<div>
				<div class="title">2</div>	
				<p>Крокеты — это палочка-выручалочка для экономных хозяек. Мы знаем, как важно создавать пищу, которая будет по-настоящему сытной, вкусной и полезной. Приятного аппетита!</p>
				<p>Черешня насыщена низкомолекулярными сахарами, которые быстро усваиваются, имеет приятный сладкий вкус и отлично утоляет чувство голода. Сахароза является необходимым источником глюкозы для жизненной энергии человека, а потому черешня – настоящий кладезь энергии. В сочетании с настоящим домашним блинным тестом, которое у специалистов  ТМ SmaCom получается ажурным, черешня - просто несравненное лакомство!</p>
			</div>
			<div>
				<div class="title">3</div>	
				<p>Приготовить блинчики с ней теперь крайне легко благодаря ТМ SmaCom! Блинчики с сочной, сладкой черешней, исключительно натуральной и полезной, наверняка найдут путь к сердцу мужчины. А ещё блины с черешней очень любят дети.</p>
				<p>Блинчики с черешней от ТМ SmaCom – подлинная услада!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Свинина, мясо курицы, вода, сухари панировочные, лук, соль, чеснок, перец чорный молотый. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>12,66 г</span></li>
				<li>жири<span>21,55 г</span></li>
				<li>вуглеводи<span>8,03 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>286,6 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>2,5 кг</li>
			</ul>												
		</div>
	</div>		
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Крокеты обычно обжариваются во фритюре. В отсутствии фритюрницы, можно использовать углубленную сковородку. В разогретую сковороду добавить подсолнечное или оливковое масло, выложить и обжарить крокеты. Желательно убавить огонь до среднего и жарить крокеты, проворачивая, до образования золотистой хрустящей корочки со всех сторон. Готовые изделия переложите на блюдо с бумажными салфетками, чтобы они впитали в себя излишек масла. Крокеты можно подавать с любым гарниром по вкусу.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>