<div class="popupHeader">
	<div class="title"><h1>Котлеты  </h1><span class="subtitle">«Сечёные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_8.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Аромат жарящихся грибов. Солнце растительного масла. Золото румянящегося лука. Всё это составляет чарующее великолепие правильно приготовленных грибов. Сложно устоять перед их особенным запахом, а, начав пробовать на вкус, оторваться уже невозможно. Ни один гурман не устоит! А если даже попробует, то добавление нежной натуральной печени с её потрясающим мягким оригинальным вкусом довершит начатое. Отборная печень здоровых животных готовится на пару с добавлением чёрного перца. Грибы с печенью – двойной удар вкуса. </p>
			</div>	
			<div>
				<div class="title">2</div>	
				<p>Но если лакомиться – так лакомиться! ТМ SmaCom заключает потрясающую начинку в объятия вкуснейшей говядины. Ведь гурманам надо подумать и о здоровье. А говядина – главный источник железа и цинка, которые так необходимы для иммунитета.</p>	
				<p>Котлеты «Сечёные» от ТМ SmaCom: потрясающе вкусно!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Говядина, грибы жареные, печень говяжья отварная, лук репчатый, вода питьевая, соль пищевая, яичный порошок, перец черный молотый, перец душистый. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>14,10 г</span></li>
				<li>жири<span>6,32 г</span></li>
				<li>вуглеводи<span>0,52 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>115,36 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,48 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>		
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым блюдом.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>