<div class="popupHeader">
	<div class="title"><h1>Котлеты  </h1><span class="subtitle">«Лесная песня»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_7.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Мясные зразы или котлеты с начинкой? Выбирайте! Впрочем, независимо от выбора это будет по-настоящему вкусно!</p>
						<p>ТМ SmaCom, которая отличается эксклюзивностью и оригинальностью своей ассортиментной линейки, предлагает Вашему вниманию новое уникальное блюдо – котлеты с начинкой. В котлетах используется настоящая свинина. Благодаря уникальной технике заморозки она полезна, а древний рецепт, дошедший к нам от пращуров славян, делает её необыкновенно вкусной.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Название «Лесная песня» оправдывает себя. Начинка котлет – настоящие грибы, отобранные строжайшим образом. Прежде чем стать начинкой они поджариваются с золотистым луком для придания особого аппетитного аромата, от которого в предвкушении пиршества урчит желудок. Сочетание натуральной свинины и грибов – истинная классика кухни.</p>	
						<p>Котлеты «Лесная песня» от ТМ SmaCom: вкусу можно оды петь!</p>
					</div>														
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
			
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">Свинина, грибы жареные, яичный порошок, лук репчатый, вода питьевая, соль пищевая, перец черный молотый, перец душистый. </div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>7,52 г</span></li>
						<li>жири<span>18,58 г</span></li>
						<li>вуглеводи<span>1,69 г</span></li>
					</ul>
					<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
					<ul>
						<li><span>204,06 ккал</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>0,48 кг<span>± 5 г</span></li>
					</ul>												
				</div>
			</div>
			

			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
				<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым блюдом.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>