<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«Свиные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_2.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Котлеты «Свиные» от ТМ SmaCom – это истинное наслаждение вкусом, уникальный гармоничный синтез отборного мяса, инновационных технологий и оригинальной рецептуры.</p>
							<p>«Свиные» котлеты производятся из отборной свинины, чьё качество контролируется на всех этапах производства: от поступления сырья на завод до упаковки готовой продукции. Рецепт котлет свиных – строгое следование классическим традициям вкуса. Нежная сочная свинина сама по себе необычайно вкусна, а благодаря добавлению настоящего золотистого лука становится просто восхитительной.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлеты «Свиные» от ТМ SmaCom:</p>
							<ul>
								 <li>Идеальны по соотношению «цена-качество»</li>
								 <li>Отлично утоляют аппетит</li>
								 <li>Подходят на все случаи жизни</li>
								 <li>Незаменимы, чтобы «побаловать себя настоящим мясным блюдом»</li>
								 <li>Несут энергию и здоровье</li>
								 <li>На 100% экологичны и натуральны</li>
							</ul>
							<p>Котлеты «Свиные» от ТМ SmaCom: живите с наслаждением!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Свинина, лук репчатый, шпик боковой, яичний порошок, сухари панировочные, соль, перец черный.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>13,54 г</span></li>
			<li>жири<span>22,14 г</span></li>
			<li>вуглеводи<span>22,14 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>256,7 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,42 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты идеально сочетаются с любым блюдом.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>