<div class="popupHeader">
    <div class="title"><h1>Chevupizza </h1><span class="subtitle"></span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/chevpizza/chevpizza-classic-pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>
                    Pizza is one of the favourite food of both adults and children.
                    Why that? Because it is a combination of crispy dough and delicious filling.
                    We decided to make a unique culinary delight out of ordinary pizza.
                </p>
                <p>
                    The secret of chevupizza in its filling and form.
                    The main ingredients: cheese “Mozzarella”, sausage and Bulgarian pepper which go well with tender cheburek.
                    Chevupizza is ready to eat. Warm it up for 5 minutes in microwave oven and you will get a delicious rich dish.
                </p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                Top-grade flour, potable water, deodorized-sunflower oil, edible table salt, white sugar, acetic acid.
                <br>
                Filling: boiled sausage 36% (greasy pork, potable water, mechanically deboned poultry, chicken skin, protein stabilizer, wheat flour, semolina, edible salt, powdered milk, nutritional supplements), smoked sausage 22% (mechanically deboned poultry, chicken skin,  potable water, lard, protein stabilizer, edible table salt, potato powder,  nutritional supplements), cheese “Mozzarella” 11% (cow’s milk, edible table salt, calcium chloride, milk ferment leaven, milk- clotting enzymes), tomato paste (tomato, preservative – sodium benzoate, citric acid) , potable water, Bulgarian pepper, white sugar, edible salt, oregano.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>9,6 g</span></li>
                <li>fat<span>20,4 g</span></li>
                <li>carbohydrates<span>31,2 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>1451,0 kJ / 346,8 kcal.</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,24 kg<span>± 9 g</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>

            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>