<div class="popupHeader">
    <div class="title"><h1>Chevupizza </h1><span class="subtitle">with cheese</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/chevpizza/chevpizza-cheese-pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>
                    We think that food has to be not only delicious and nourishing but give customers an appetite.
                    The TM SmaCom’s culinary bag was filled with a new unique dish - chevupizza with cheese.
                    Chevupizza with cheese is a combination of two words “cheburek” and “cheese”.
                </p>
                <p>
                    The taste is similar to cheese flaps, which are considered to be Caucasian food for thousands years.
                    We added some dill and got not only flavored but delicious and nourishing dish.
                    Chevupizza with cheese is ready to eat.
                </p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                Top-grade flour, potable water, deodorized-sunflower oil, edible table salt, white sugar, acetic acid.
                <br>
                Filling: cottage cheese 81%, cheese “Mozzarella” 10% (cow’s milk, edible table salt, calcium chloride, milk ferment leaven, milk- clotting enzymes), potable water, dill, edible table salt.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>11,8 g</span></li>
                <li>fat<span>14,1 g</span></li>
                <li>carbohydrates<span>27,4 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>1187,0 kJ /283,7 kcal.</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,24 kg<span>± 9 g</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>

            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>