<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat11.png" alt=""></h1>
            <div class="desc">
                <p>Готовые блюда от ТМ SmaCom - это полноценная, натуральная, по-домашнему вкусная еда для людей, которые заботятся о своем здоровье и ценят свое время. </p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Замороженные готовые блюда можно просто и быстро приготовить, разогрев их в течение 5-7 минут. Технология производства системно сбалансированная, включает в себя все этапы приготовления полноценного блюда, а использование исключительно натуральных качественных ингредиентов, придают особую аппетитность продукта. После полного охлаждения готовый продукт поступает в камеры шоковой заморозки. </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Готовые блюда не содержат сои, красителей и консервантов и являются безопасными для здоровья. ТМ SmaCom предлагает готовые блюда в aссортименте: плов по-узбекски, лапша с мясным соусом, котлета куриная под грибным соусом с картофельным пюре, свинина запеченная с картофелем по-крестьянски и мясо курицы под красным соусом с гречкой. Готовые блюда ТМ SmaCom - это быстро, вкусно и сытно!</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner7.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat16/product10'); return false;">
                    <img src="img/new_pack/chiz-0.png" alt="">
                    <div class="title">Чизбургер</div>
                    <div class="subtitle">c говядиной</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Чизбургер</div>
                    <div class="subtitle">с говядиной и свининой</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product12'); return false;">
                    <img src="img/new_pack/chiz-2.png" alt="">
                    <div class="title">Чизбургер</div>
                    <div class="subtitle">с индейкой</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Пюре картофельное </div>
                    <div class="subtitle"> с куриной котлетой</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Гречка с куриным филе </div>
                    <div class="subtitle"> под красным соусом </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Лапша </div>
                    <div class="subtitle"> с мясным соусом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Свинина запеченная  </div>
                    <div class="subtitle">с картофелем по-селянски</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Плов    </div>
                    <div class="subtitle">по-узбекски</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product8'); return false;">
                    <img src="img/products/cat11/product_thumb_1.jpg" alt="">
                    <div class="title">Чевупели </div>
                    <div class="subtitle">с сыром и ветчиной</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product9'); return false;">
                    <img src="img/products/cat11/product_thumb_2.jpg" alt="">
                    <div class="title">Чевупели  </div>
                    <div class="subtitle">с говядиной и свининой</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product10'); return false;">
                    <img src="img/products/cat11/product_thumb_8.jpg" alt="">
                    <div class="title">Сырники  </div>
                    <div class="subtitle"> с изюмом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Голубцы </div>
                    <div class="subtitle">с мясом кулинарные замороженные</div>
                </div>
                <!--<div class="product" onclick="getPopup('subcat11/product2'); return false;">-->
                    <!--<img src="img/products/cat11/product_thumb_10.jpg" alt="">-->
                    <!--<div class="title">Оладьи </div>-->
                    <!--<div class="subtitle">печеночные</div>-->
                <!--</div>-->
                <div class="product" onclick="getPopup('subcat11/product11'); return false;">
                    <img src="img/new_img/mini_b_s.png" alt="">
                    <div class="title">Мини-беляши</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product12'); return false;">
                    <img src="img/new_img/mini_b_s_1.png" alt="">
                    <div class="title">Беляши</div>
                    <div class="subtitle">с мясом кулинарные</div>
                </div>

                <div class="insideDivider" ></div>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Украинский с мясом»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Украинский с грибами»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Суп </div>
                    <div class="subtitle">Гороховый</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> Овощной</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> Лапша</div>
                </div>

                <div class="insideDivider" ></div>

                <!--<div class="product" onclick="getPopup('subcat16/product8'); return false;">-->
                    <!--<img src="img/new_img/first_k_gr.png" alt="">-->
                    <!--<div class="title">Крем-суп</div>-->
                    <!--<div class="subtitle">«Грибной»</div>-->
                <!--</div>-->
                <!--
                <div class="product" onclick="getPopup('subcat16/product6'); return false;">
                    <img src="img/new_img/first_k_r.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> Pисовый</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product7'); return false;">
                    <img src="img/new_img/first_k_b.png" alt="">
                    <div class="title">Крем-борщ</div>
                    <div class="subtitle empty"> &nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product8'); return false;">
                    <img src="img/new_img/first_k_gr.png" alt="">
                    <div class="title">Крем-суп</div>
                    <div class="subtitle">«Грибной»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product9'); return false;">
                    <img src="img/new_img/first_k_sh.png" alt="">
                    <div class="title">Крем-суп</div>
                    <div class="subtitle">«Шпинатный»</div>
                </div>

                <div class="insideDivider" ></div>

                <div class="product" onclick="getPopup('subcat17/product1'); return false;">
                    <img src="img/new_img/second_km.png" alt="">
                    <div class="title">Капуста тушеная </div>
                    <div class="subtitle">с мясом</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product2'); return false;">
                    <img src="img/new_img/second_kgr.png" alt="">
                    <div class="title">Капуста тушеная </div>
                    <div class="subtitle">с грибами</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product3'); return false;">
                    <img src="img/new_img/second_pm.png" alt="">
                    <div class="title">Плов </div>
                    <div class="subtitle">с курицей</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product4'); return false;">
                    <img src="img/new_img/second_pf.png" alt="">
                    <div class="title">Перец фаршированный</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product5'); return false;">
                    <img src="img/new_img/second_rv.png" alt="">
                    <div class="title">Рис отварной</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product6'); return false;">
                    <img src="img/new_img/second_ro.png" alt="">
                    <div class="title">Рис </div>
                    <div class="subtitle">с овощами</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product7'); return false;">
                    <img src="img/new_img/second_g.png" alt="">
                    <div class="title">Гречка отварная</div>
                    <div class="subtitle empty"> &nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product8'); return false;">
                    <img src="img/new_img/second_gg.png" alt="">
                    <div class="title">Гречка </div>
                    <div class="subtitle">с грибами</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product9'); return false;">
                    <img src="img/new_img/second_p.png" alt="">
                    <div class="title">Пюре картофельное</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product10'); return false;">
                    <img src="img/new_img/second_k.png" alt="">
                    <div class="title">Крылышки куриные </div>
                    <div class="subtitle">запеченные</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product11'); return false;">
                    <img src="img/new_img/second_mb.png" alt="">
                    <div class="title">Мини-беляши</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat17/product12'); return false;">
                    <img src="img/new_img/second_gk.png" alt="">
                    <div class="title">Голень куриная</div>
                    <div class="subtitle">запеченная</div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>