<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/frozen-pre-ru-0.png" alt="">
			</h1>
			<div class="desc">
				<p>Готовые блюда ТМ «SmaCom» представлены полноценными самостоятельными блюдами, гарнирами и горячими закусками, последние из которых идеально подойдут для пикника на природе и просто дружеских посиделок.</p>
			</div>
		</div>
		<div class="middle">
			<div class="hidden" id="hidden14">
				<div class="twoCols" >
					<div class="col">
						<div class="colInner">
							<p class="small">Как говорится, сытный обед – залог хорошего настроения на весь день. Полноценным обед считается тогда, когда в нем присутствует второе блюдо.  ТМ «SmaCom» представляет ассортимент готовых блюд, которые впечатляют своим разнообразием, вкусовыми качествами, полезными свойствами, и особенностями, касающихся происхождения пищи (растительная или мясная).</p>
						</div>
					</div>
					<div class="col">
						<div class="colInner">
							<p class="small">Очень важно, что продукты, которые используют для приготовления блюд, не только вкусные, питательные, но и качественные, свежие. Они не содержат сои, красителей, консервантов и являются безопасными для здоровья. ТМ SmaCom предлагает готовые блюда в aссортименте: плов с курицей, капуста тушеная с мясом, капуста тушеная с грибами, перец фаршированный, рис отварной, рис с овощами, гречка с грибами, гречка отварная, пюре картофельное, крылья куриные запеченные, голень куриная запеченная, мини-беляши.</p>
						</div>
					</div>
				</div>
			</div>
			<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/horec/first.png" alt="" >
		</div>
	</div>
	<div class="borderUp2"></div>
	<div class="cat inside" id="cat1_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>
		<div class="middle">
			<div class="products">
				<!--<div class="product" onclick="getPopup('subcat17/product1'); return false;">
					<img src="img/products/cat4/product_thumb_1.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Домашние особенные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">
					<img src="img/products/cat4/product_thumb_2.png" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">«Свиные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">
					<img src="img/products/cat4/product_thumb_3.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Куриные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">
					<img src="img/products/cat4/product_thumb_4.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Люкс»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">
					<img src="img/products/cat4/product_thumb_5.jpg" alt="">
					<div class="title">Шницель</div>
					<div class="subtitle">«Куриный»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">
					<img src="img/products/cat4/product_thumb_6.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Любава»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">
					<img src="img/products/cat4/product_thumb_7.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Лесная песня»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">
					<img src="img/products/cat4/product_thumb_8.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Сечёные»</div>
				</div>
				<div class="product brandName"  >
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product10'); return false;">
					<img src="img/products/cat4/product_thumb_10.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с мясом «Традиционные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product11'); return false;">
					<img src="img/products/cat4/product_thumb_11.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с грибами и субпродуктами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product12'); return false;">
					<img src="img/products/cat4/product_thumb_12.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle"> с грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product13'); return false;">
					<img src="img/products/cat4/product_thumb_13.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle">с грибами, субпродуктами и рисом</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product14'); return false;">
					<img src="img/products/cat4/product_thumb_14.jpg" alt="">
					<div class="title">Крокеты </div>
					<div class="subtitle">мясные</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product15'); return false;">
					<img src="img/products/cat4/product_thumb_15.jpg" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">печеночные</div>
				</div>-->
<!--				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
                <div class="product" onclick="getPopup('subcat17/product1'); return false;">
                    <img src="img/new_img/second_km.png" alt="">
                    <div class="title">Капуста тушеная</div>
                    <div class="subtitle">с мясом</div>
                </div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">
					<!--<img src="img/products/cat7/product_thumb_14.jpg" alt="">-->
					<img src="img/new_img/second_kgr.png" alt="">
					<div class="title">Капуста тушеная </div>
					<div class="subtitle">с грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">
					<img src="img/new_img/second_pm.png" alt="">
					<div class="title">Плов </div>
					<div class="subtitle">с курицей</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">
					<img src="img/new_img/second_pf.png" alt="">
					<div class="title">Перец</div>
					<div class="subtitle">фаршированный</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">
					<img src="img/new_img/second_rv.png" alt="">
					<div class="title">Рис </div>
					<div class="subtitle">отварной</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">
					<img src="img/new_img/second_ro.png" alt="">
					<div class="title">Рис </div>
					<div class="subtitle">с овощами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">
					<img src="img/new_img/second_g.png" alt="">
					<div class="title">Гречка </div>
					<div class="subtitle"> отварная</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">
					<img src="img/new_img/second_gg.png" alt="">
					<div class="title">Гречка </div>
					<div class="subtitle">с грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product9'); return false;">
					<img src="img/new_img/second_p.png" alt="">
					<div class="title">Пюре картофельное</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product10'); return false;">
					<img src="img/new_img/second_k.png" alt="">
					<div class="title">Крылышки куриные </div>
					<div class="subtitle">запеченные</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product11'); return false;">
					<img src="img/new_img/second_mb.png" alt="">
					<div class="title">Мини-беляши</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product12'); return false;">
					<img src="img/new_img/second_gk.png" alt="">
					<div class="title">Голень куриная</div>
					<div class="subtitle">запеченная</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>
</div>