<div class="wrapper page-frozen" style="overflow:hidden;"  >

    <div class="animationGroup">
        <div class="object_left roundAnimation"  >
            <img src="../../img/cat_1_object_left_1.jpg" alt="">
        </div>
        <div class="object_right roundAnimation" >
            <img src="../../img/cat_1_object_right_1.jpg" alt="">
        </div>
    </div>

    <div class="subcats" id="subcat1" >
        <div class="animationGroup">

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_4.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 24); " class="hoverBox frozen-cat">
                    <a href="" class="more" onClick="return false;">
                        <span>котлеты <br>и блюда <br>из мясного <br>фарша</span>
                    </a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_2.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 25);" class="hoverBox">
                    <a href="" class="more" onClick="return false;">вареники</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_1.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 26);" class="hoverBox">
                    <a href="" class="more" onClick="return false;">пельмени</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_20.png" alt="">
                <div onclick="return false;" class="hoverBox">
                    <a href="" class="more" onClick="return false;">бульмени</a>
                </div>
            </div>

            <div class="subcat subcat-more roundAnimation">
                <img src="../../img/product_thumb_7.png" alt="">
                <div class="hoverBox frozen-cat">
                    <a href="" class="more" onclick="return false;">
                        <span>
                            продукция<br>высокой<br>степени<br>готовности
                        </span>
                    </a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 29);" class="more__pop more__pop-0">
                    <a href="" class="more__pop-btn" onclick="return false;">первые и вторые блюда</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 30);" class="more__pop more__pop-1">
                    <a href="" class="more__pop-btn" onclick="return false;">котлеты</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 31);" class="more__pop more__pop-2">
                    <a href="" class="more__pop-btn" onclick="return false;">чебуреки</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 32);" class="more__pop more__pop-3">
                    <a href="" class="more__pop-btn" onclick="return false;">чизбургеры</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 33);" class="more__pop more__pop-4">
                    <a href="" class="more__pop-btn" onclick="return false;">беляши</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 34);" class="more__pop more__pop-5">
                    <a href="" class="more__pop-btn" onclick="return false;">сырники</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 35);" class="more__pop more__pop-6">
                    <a href="" class="more__pop-btn" onclick="return false;">чевупели</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 36);" class="more__pop more__pop-7">
                    <a href="" class="more__pop-btn" onclick="return false;">пирожки</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 38);" class="more__pop more__pop-8">
                    <a href="" class="more__pop-btn" onclick="return false;">блинчики</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_dough.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 28);" class="hoverBox">
                    <a href="" class="more" onclick="return false;">тесто</a>
                </div>
            </div>

        </div>
    </div>
</div>