<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h2><img src="img/text-img/firstAndSecond-ru-0.png" alt=""></h2>
            <h2><img src="img/text-img/firstAndSecond-ru-1.png" alt=""></h2>
            <div class="desc">
                <p>Готовые блюда от ТМ SmaCom - это полноценная, натуральная, по-домашнему вкусная еда для людей, которые заботятся о своем здоровье и ценят свое время.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Замороженные готовые блюда можно просто и быстро приготовить, разогрев их в течение 5-7 минут.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Готовые блюда не содержат сои, красителей и консервантов и являются безопасными для здоровья. ТМ SmaCom предлагает готовые блюда в aссортименте. Это быстро, вкусно и сытно!</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner7.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Пюре картофельное </div>
                    <div class="subtitle"> с куриной котлетой</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Гречка с куриным филе </div>
                    <div class="subtitle"> под красным соусом </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Лапша </div>
                    <div class="subtitle"> с мясным соусом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Свинина запеченная  </div>
                    <div class="subtitle">с картофелем по-селянски</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Плов</div>
                    <div class="subtitle">по-узбекски</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Голубцы </div>
                    <div class="subtitle">с мясом кулинарные замороженные</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Украинский с мясом»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Украинский с грибами»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Суп </div>
                    <div class="subtitle">Гороховый</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> Овощной</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> Лапша</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>