<div class="wrapper retort" style="overflow:hidden;">

    <div class="cat inside">

        <div class="internal">

            <div class="middle narrow">
                <h1>
                    <img src="img/text-img/readyRetort-ru-0.png" alt="">
                    <img src="img/text-img/readyRetort-ru-1.png" alt="">
                </h1>
                <div class="desc">
                    <p>
                        Компания «Пирятинский деликатес» стремительно развивается и предлагает новую разработку в категории готовых блюд, приготовленных по технологии стерилизации и упакованых в индивидуальные реторт-пакеты со сроком хранения в окружающей среде до 12 месяцев.
                    </p>
                </div>
            </div>

            <div class="middle">
                <center><a href="" class="more" onclick="getPopup('subcat22/product0'); return false;">подробнее</a></center>
            </div>

            <div class="middle narrow last">
                <div class="desc">
                    <p>
                        <strong>
                            Путешествуйте, отдыхайте и не волнуйтесь о питании! С блюдами в реторт-пакетах ТМ Smacom придерживаться здорового режима питания очень легко в любых условиях.
                        </strong>
                    </p>
                </div>
            </div>

            <div class="slider__wrap">
                <div class="slider__wrap-img slider__wrap-img-0"></div>
                <div class="slider__wrap-img slider__wrap-img-1"></div>
                <div class="slider__wrap-img slider__wrap-img-2"></div>
            </div>

        </div>

    </div>

    <div class="borderUp2"></div>

    <div class="cat inside " id="cat1_products">

        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat22/product1'); return false;">
                    <img src="img/retort/img-rise.png" alt="">
                    <div class="subtitle">Каша рисовая</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product2'); return false;">
                    <img src="img/retort/img-wheat.png" alt="">
                    <div class="subtitle">Каша пшеничная</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product3'); return false;">
                    <img src="img/retort/img-potatoStew.png" alt="">
                    <div class="subtitle">Картофель тушеный с овощами</div>
                    <div class="title">
                        и мясом свинины <br>
                        и мясом курицы <br>
                        и мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product4'); return false;">
                    <img src="img/retort/img-bean.png" alt="">
                    <div class="subtitle">Фасоль с овощами</div>
                    <div class="title">
                        и мясом свинины <br>
                        и мясом курицы <br>
                        и мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product5'); return false;">
                    <img src="img/retort/img-pearlBarley.png" alt="">
                    <div class="subtitle">Каша перловая</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product6'); return false;">
                    <img src="img/retort/img-buckwheat.png" alt="">
                    <div class="subtitle">Каша гречневая</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product12'); return false;">
                    <img src="img/retort/img-borscht.png" alt="">
                    <div class="subtitle">Борщ украинский</div>
                    <div class="title">
                        с фасолью и говядиной
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product8'); return false;">
                    <img src="img/retort/img-borscht.png" alt="">
                    <div class="subtitle">Борщ</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product21'); return false;">
                    <img src="img/retort/img-peaSoup.png" alt="">
                    <div class="subtitle">Суп гороховый</div>
                    <div class="title">
                        со свининой <br>
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product9'); return false;">
                    <img src="img/retort/img-peaSoup.png" alt="">
                    <div class="subtitle">Суп гороховый</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product10'); return false;">
                    <img src="img/retort/img-riceSoup.png" alt="">
                    <div class="subtitle">Суп рисовый</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product11'); return false;">
                    <img src="img/retort/img-buckwheatSoup.png" alt="">
                    <div class="subtitle">Суп гречневый</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat22/product7'); return false;">
                    <img src="img/retort/img-peas.png" alt="">
                    <div class="subtitle">Каша гороховая</div>
                    <div class="title">
                        с мясом свинины <br>
                        с мясом курицы <br>
                        с мясом говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product13'); return false;">
                    <img src="img/retort/img-beefBuckwheat.png" alt="">
                    <div class="subtitle">Говядина</div>
                    <div class="title">
                        с гречневой кашей и овощным соусом
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product14'); return false;">
                    <img src="img/retort/img-porkWithPearlBarley.png" alt="">
                    <div class="subtitle">Свинина</div>
                    <div class="title">
                        с перловой кашей и овощным соусом
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product15'); return false;">
                    <img src="img/retort/img-chickenSous.png" alt="">
                    <div class="subtitle">Курица</div>
                    <div class="title">
                        с чечевицей и красным соусом
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product16'); return false;">
                    <img src="img/retort/img-chickenWithNutom.png" alt="">
                    <div class="subtitle">Курица</div>
                    <div class="title">
                        с нутом и овощами в томатной подливе
                    </div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat22/product17'); return false;">
                    <img src="img/retort/img-pack_beef.png" alt="">
                    <div class="subtitle">Мясные консервы</div>
                    <div class="title">
                        из говядины
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product18'); return false;">
                    <img src="img/retort/img-pack_pork.png" alt="">
                    <div class="subtitle">Мясные консервы</div>
                    <div class="title">
                        из свинины
                    </div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat22/product19'); return false;">
                    <img src="img/retort/img-beefStew.png" alt="">
                    <div class="subtitle">Мясо говядины</div>
                    <div class="title">
                        тушеное
                    </div>
                </div>

                <div class="product" onclick="getPopup('subcat22/product20'); return false;">
                    <img src="img/retort/img-porkStew.png" alt="">
                    <div class="subtitle">Мясо свинины</div>
                    <div class="title">
                        тушеное
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="internal__modal-wrap">
        <a href="javascript:void(0);" class="btn-close-retort"></a>
        <div id="internal__modal" class="internal__modal owl-carousel owl-theme">
            <div class="internal__modal-item">
                <img src="img/retort/1-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/2-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/3-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/4-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/5-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/6-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/7-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/8-min.JPG" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/9-min.JPG" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/10-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/11-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/12-min.jpg" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/13-min.JPG" alt="">
            </div>
            <div class="internal__modal-item">
                <img src="img/retort/14-min.JPG" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#internal__modal").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".slider__wrap-img").click(function () {
            $(".ajaxed, body, .internal__modal-wrap").addClass('active');
        });
        $(".btn-close-retort").click(function () {
            $(".ajaxed, body, .internal__modal-wrap").removeClass('active');
        });
    });
</script>