<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">

        <div class="middle narrow">
            <h1>
                <img src="img/text-img/cutlets-ru-0.png" alt="">
                <img src="img/text-img/cutlets-ru-1.png" alt="">
            </h1>
            <div class="desc">
                <p>Котлеты ТМ SmaCom – любимое всеми, мастерски приготовленное сочное блюдо, в котором благодаря заботе и опыту профессионалов, уникальной методике заморозки сохранены все вкусовые и энергетические свойства отборного натурального мяса, приготовленного по искусной рецептуре.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Котлеты SmaCom созданы, чтобы дарить наслаждение истинным мясоедам, нести концентрированную гармонию вкуса в каждом кусочке и подчеркнуть абсолютные преимущества мяса.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Котлеты готовят по оригинальной выверенной рецептуре, акцентируя на совершенстве мясного деликатеса. Котлеты SmaCom – изысканный мясной деликатес!</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner4.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat1_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat24/product1'); return false;">
                    <img src="img/frozen/img-cutlet-school.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Школьные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product2'); return false;">
                    <img src="img/frozen/img-cutlet-student.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Студенческие»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product3'); return false;">
                    <img src="img/frozen/img-cutlet-heroic.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Богатырские»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product4'); return false;">
                    <img src="img/frozen/img-cutlet-selyanskye.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Селянские» с чесноком</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product5'); return false;">
                    <img src="img/frozen/img-cutlet-delicious.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle empty">«Вкусные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product6'); return false;">
                    <img src="img/frozen/img-cutlet-chicken.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle empty">«Куриные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product7'); return false;">
                    <img src="img/frozen/img-cutlet-rolls.png" alt="">
                    <div class="title">Голубцы</div>
                    <div class="subtitle">«Украинские»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product8'); return false;">
                    <img src="img/frozen/img-cutlet-sticks.png" alt="">
                    <div class="subtitle">Палочки</div>
                    <div class="subtitle">«Куриные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product9'); return false;">
                    <img src="img/frozen/img-cutlet-pasties.png" alt="">
                    <div class="subtitle">Чебуреки</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>