<div class="wrapper export" style="overflow:hidden;"  >

    <div class="cat inside">

        <div class="middle narrow" >
            <h1>
                <img src="img/text-img/export-ru.png" alt="">
            </h1>
            <div class="desc">
                <p>ООО «Пирятинский деликатес» является динамично развивающимся экспортёром сельскохозяйственной продукции и продуктов переработки на международные рынки. Потребителями нашей продукции являются страны Центральной и Восточной Европы, Сирия, Египет, Иран.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols export" >
                    <div class="col">
                        <div class="colInner">
                            <p class="small">
                                В зарубежье компания реализует зерновые и масличные культуры: сою, пшеницу, лен, подсолнечник, кукурузу, ячмень. Кроме этого развивается экспорт подсолнечного, льняного, соевое масел и жмыха, который получается в результате переработки семени.
                                </br>  </br> Особое внимание мы уделяем поставке продукции, которая осуществляется на условиях FOB, CIF, CPT, CIP, DAT.
                                </br> </br>  Зарекомендовав себя надежным партнером, компания «Пирятинский деликатес» дорожит своей репутацией как на внутреннем, так и на внешнем рынке. Поставляя свою продукцию на международные рынки, предприятие обеспечивает своих партнеров абсолютно надежным и оперативным сотрудничеством.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside" >
            <img class="" src="img/export-block/img-export-bg-transparent.jpg" alt="" >
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside " id="cat1_products">
        <div class="subcats" id="subcat1" >
            <div class="animationGroup">
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-0.png" alt="">
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">соя и соевое масло</span>
                        </a>
                    </div>
                </div>

                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-1.png" alt="">
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">лен, льняное масло и жмых</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-2.png" alt="">
                    <div class="hoverBox">
                        <a href="/" class="more"  onClick="return false;">
                            <span class="txt">подсолнечное масло и подсолнечник</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation"  >
                    <img src="../../img/export-block/img-product-3.png" alt="">
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">пшеница</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-4.png" alt="">
                    <div class="hoverBox">
                        <a href="" class="more" onclick="return false;">
                            <span class="txt">яровой ячмень</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-5.png" alt="">
                    <div class="hoverBox">
                        <a href="" class="more" onclick="return false;">
                            <span class="txt">кукуруза</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>