<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/bread-ru.png" alt="">
			</h1>
			<div class="desc">
				<p>Хлеб – всему голова. Значение хлеба в нашей жизни бесценно. Без него не обходится ни один прием пищи, потому что хлеб – это ключ к здоровью, энергии и сытости. TM «SmaCom» предлагает авторские хлебо-булочные изделия – булочка пшеничная и булочка с отрубями.</p>
			</div>
		</div>
		<div class="middle">
			<div class="hidden" id="hidden14">
				<div class="twoCols" >
					<div class="col">
						<div class="colInner">
							<p class="small">Устоять перед этими круглыми, воздушными, аппетитными булочками невозможно! Кто соблюдает диету и правильное питание, обязательно оценит их полезные свойства.</p>
						</div>
					</div>
					<div class="col">
						<div class="colInner">
							<p class="small">Стоит только почувствовать запах булочек, как перед глазами – родной дом и мамины руки. В каждую булочку повара TM «SmaCom» вкладывают свою любовь, которая чувствуется и передается всем в каждом кусочке.</p>
						</div>
					</div>
				</div>
			</div>
			<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/horec/hl.png" alt="" >
		</div>
	</div>
	<div class="borderUp2"></div>
	<div class="cat inside" id="cat1_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>
		<div class="middle">
			<div class="products">
				<div class="product" onclick="getPopup('subcat20/product1'); return false;">
					<img src="img/new_img/second_h1.png" alt="">
					<div class="title">Булочка </div>
					<div class="subtitle"> пшеничная</div>
				</div>
				<div class="product" onclick="getPopup('subcat20/product2'); return false;">
					<img src="img/new_img/second_h.png" alt="">
					<div class="title">Булочка </div>
					<div class="subtitle"> из отрубей</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>
</div>