<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/syrniki-ru.png" alt=""></h1>
            <div class="desc">
                <p>Сырники с изюмом ТМ SmaCom – полезно и вкусно, это здоровая альтернатива для детей-сладкоежек. Натуральные ингредиенты и современные технологии в сочетании с тщательным контролем производства на всех стадиях гарантируют абсолютную безопасность продукции, которая будет полезна и взрослым, и, особенно, детям.</p>
            </div>
        </div>

        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner-syrniki.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat11/product10'); return false;">
                    <img src="img/products/cat11/product_thumb_8.jpg" alt="">
                    <div class="title">Сырники  </div>
                    <div class="subtitle"> с изюмом</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>