<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside inside__su">

        <div class="middle narrow">

            <h1><img src="img/text-img/su-ru.png" alt=""></h1>

            <div class="desc">
                <p>
                    ООО «Пирятинский деликатес» предлагает вкусные блюда, приготовленные по новой технологии – су-вид, или в вакууме.
                    Технология су-вид готовит блюда деликатно, продукт не высыхает и не подгорает.
                    Блюда сохраняют натуральный вкус и все питательные вещества.
                </p>
            </div>
        </div>

        <div class="middle">
            <div class="hidden" id="hidden11">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <h4 style="text-align: left;">Технология приготовления</h4>

                            <p>
                                Технология sous-vide (с франц. «под вакуумом») – это новый абсолютно уникальный метод приготовления пищи, при котором продукт помещается в пакет из пищевого пластика с откаченным воздухом и запаивается. Упаковка с продуктом помещается в воду, которую нагревают до необходимой температуры (от 47 до 70-80 градусов) и поддерживают на одном уровне до готовности блюда. Сам процесс приготовления занимает несколько часов в зависимости от продукта. Отсутствие воздушной прослойки между продуктом и упаковкой позволяет сохранить все полезные свойства продукта, в то время, как обычный способ приготовления не оставляет их в полном количестве.
                            </p>

                            <i>
                                <b>
                                    Особенности приготовления овощей:
                                </b>
                            </i>

                            <p>су-вид позволяет готовить овощи без добавления соли, сохраняя их форму и хрусткость.</p>

                            <i>
                                <b>
                                    Особенности приготовления мяса и рыбы:
                                </b>
                            </i>

                            <p>
                                по технологии су-вид мясо и рыба готовятся без добавления каких-либо специй и сохраняют влагу, присущую продуктам. Готовые блюда получаются сочными, нежными, с ярким вкусом.
                            </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">

                            <h4 style="text-align: left;">Особенности температуры приготовления</h4>

                            <p>
                                Важной особенностью су-вид является использование температуры намного ниже, чем для обычного приготовления пищи. Продукты готовятся при температуре, которую обычно блюда имеют при подаче к столу. Технология су-вид готовит блюда деликатно, прогрев пищи идет равномерно, температура внутри и на поверхности готового продукта одинакова, продукт не высыхает и не подгорает.
                            </p>

                            <h4 style="text-align: left;"> Аромат и вкус</h4>

                            <p>
                                Продукты во время приготовления методом су-вид активно просачиваются своими ароматами, которые намного сильнее, чем при обычной варке или обжаривании. Учитывая, что продукт в вакуумной упаковке не имеет контакта с воздухом и не окисляются водой, в нем сохраняется натуральный вкус и все питательные вещества.
                            </p>

                            <h4 style="text-align: left;">Способ разогрева и хранения</h4>

                            <p>
                                Разрезать пакет, выложить продукт в емкость для разогрева и поместить в микроволновую печь, духовой шкаф, или разогреть на сковороде. Пищу, приготовленную методом су-вид, можно брать с собой в дорогу: она уже приготовлена, упакована и может хорошо храниться в течение 60 дней при температуре от 0 до 6 градусов.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <center><a href="" class="more" onClick="showHidden(this,'hidden11'); return false;">подробнее</a></center>

        </div>

        <div class="info">
            <div class="info__field">Сохраняются все питательные вещества</div>
            <div class="info__field">Полностью готовы к употреблению блюда</div>
            <div class="info__field">Срок хранения: 60 дней при температуре от 0 до 6 градусов</div>
        </div>

    </div>

    <div class="borderUp2"></div>

    <div class="cat inside" id="cat1_products" style="padding-top: 0;">

        <div class="image__su-wrap" style="margin-bottom: 100px;">
            <div class="image__su-wrap--block">
                <i class="image__su image__su-0"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-1"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-2"></i>
            </div>
        </div>

        <div class="middle">
            <div class="products">

                <div class="product product_su" onclick="return false;">
                    <img src="img/su/su-borsh.png" alt="">
                    <div class="subtitle">Борщ с курицей, 600 мг</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-soup.png" alt="">
                    <div class="subtitle">Суп гороховый с курицей, 600 мг</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-buckwheat.png" alt="">
                    <div class="subtitle">Гречка с курицей и овощами, 300 г</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-rise.png" alt="">
                    <div class="subtitle">Рис с курицей и овощами, 300г</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chickenVegetables.png" alt="">
                    <div class="subtitle">Куриное филе с овощами</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chicken.png" alt="">
                    <div class="subtitle">Четверть курицы, 2 шт.</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-cutlets.png" alt="">
                    <div class="subtitle">Котлеты из индейки, 2 шт.</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmon.png" alt="">
                    <div class="subtitle">Стейк из лосося</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmonFillet.png" alt="">
                    <div class="subtitle">Филе лосося</div>
                    <div class="title">
                    </div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-trout.png" alt="">
                    <div class="subtitle">Форель</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-seaBass.png" alt="">
                    <div class="subtitle">Сибас</div>
                    <div class="title"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="scrollDown" onClick="$(window).scrollTo($('#cat3_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>

</div>
