<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/сheeseburger-ru.png" alt=""></h1>
            <div class="desc desc__text-shadow">
                <p>В чизбургерах ТМ «SmaCom» собраны только питательные ингредиенты: булочка, котлета из свежего мяса, сыр, маринованный огурец, свежий помидор, лук и соусы: горчичный и томатный.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small desc__text-shadow">Мы создали полностью готовое блюдо, которое перед употреблением необходимо лишь разогреть в микроволновой печи 3 минуты!</p>
                            <p class="small desc__text-shadow">Наш чизбургер можно есть в дороге, на работе, он до сих пор остается олицетворением молодежного стиля жизни, поэтому станет незаменим друзьям на отдыхе.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small desc__text-shadow">Особенно важно то, что наш чизбургер не противоречащей нормам здорового питания, поэтому на 100% станет любимой пищей для детей.</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner-small.png" alt="">
            <img class="bannerInside__img bannerInside__img_bottom bannerInside__img_small" src="img/banners_inner/banner-сheeseburger.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">

        <div class="middle">
            <div class="products">

                <!--<div class="product" onclick="getPopup('subcat16/product10'); return false;">-->
                    <!--<img src="img/new_pack/chiz-0.png" alt="">-->
                    <!--<div class="title">Чизбургер</div>-->
                    <!--<div class="subtitle">c говядиной</div>-->
                <!--</div>-->
                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Чизбургер</div>
                    <div class="subtitle">с говядиной и свининой</div>
                </div>
                <!--<div class="product" onclick="getPopup('subcat16/product12'); return false;">-->
                    <!--<img src="img/new_pack/chiz-2.png" alt="">-->
                    <!--<div class="title">Чизбургер</div>-->
                    <!--<div class="subtitle">с индейкой</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>