<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/bylmen-ru.png" alt=""></h1>
            <div class="desc">
                <p>
                    Это сочетание эксцентричного вкуса, необычной формы продукта и современного дизайна.
                </p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Перед бульменямы невозможно устоять! Внутри маленьких круглых бульменив скрытый безумный бум гастрономического вкуса!</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Секрет бульменив раскрывается во время приготовления, в процессе которого мясо выделяет сочный бульон.</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner8.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat5_products">
        <!--<div class="animationGroup">-->
            <!--<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>-->
            <!--<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>-->
            <!--<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>-->
            <!--<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>-->
            <!--<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>-->
        <!--</div>-->
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat26/product1'); return false;">
                    <img src="img/test-bul.png" alt="">
                    <div class="title">Бульмени</div>
                    <div class="subtitle">из филе индейки</div>
                </div>
                <div class="product" onclick="getPopup('subcat26/product2'); return false;">
                    <img src="img/test-bul.png" alt="">
                    <div class="title">Бульмени</div>
                    <div class="subtitle">со свининой и говядиной</div>
                </div>
                <div class="product" onclick="getPopup('subcat26/product3'); return false;">
                    <img src="img/test-bul.png" alt="">
                    <div class="title">Бульмени</div>
                    <div class="subtitle">с говядиной</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat5_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>