<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1><img src="img/h1_subcat3.png" alt=""></h1>
			<div class="desc">
				<p>Блинчики ТМ SmaCom – аппетитное интернациональное блюдо, дарящее первозданную энергию солнечного теста и необычайный вкус разнообразных начинок.
			</div>
		</div>
		<div class="middle">			
				<div class="hidden" id="hidden13">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small"> Обжаренные, будто домашние, с двух сторон, золотистые ажурные круги в сочетании с сочностью и сытностью наполнителей служат настоящим лакомством истинного гурмана.</p>
								<p class="small">Главное в блинчиках – это правильное тесто. Специалисты SmaCom знают рецепт лучшего теста, которое готовится исключительно из натуральных компонентов и сразу же после приготовления поступает на барабан для обжарки. Благодаря этому в нём сохраняются все полезные вещества.</p>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small"> Второй ключевой элемент блинчиков – начинка. Начинка обязательно будет вкусной, если, во-первых, она натуральна, во-вторых, предварительно приготовлена по специальной рецептуре, в-третьих, непосредственно сразу заворачивается в тесто. Точно, как в блинчиках SmaCom.</p>
								<p class="small">Поэтому мы можем с уверенность говорить: блинчики ТМ SmaCom, пожалуй, самые вкусные в мире!</p>
							</div>
						</div>							
					</div>									
				</div>						
				<center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner3.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat5_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">			
				<!--<div class="product brandName"  >-->
                    <!--<img src="img/cat_doy-pack.jpg" alt="">-->
                    <!--<div class="title">&nbsp;</div>-->
                    <!--<div class="subtitle">&nbsp;</div>-->
				<!--</div>-->
				<!--<div class="product" onclick="getPopup('subcat9/product13'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_13.jpg" alt="">-->
					<!--<div class="title">Блинчики  </div>-->
					<!--<div class="subtitle">с мясом</div>-->
				<!--</div>									-->

				<!--<div class="product" onclick="getPopup('subcat9/product12'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_12.jpg" alt="">-->
					<!--<div class="title">Блинчики </div>-->
					<!--<div class="subtitle">с мясом курицы и грибами</div>-->
				<!--</div>-->
				<!--<div class="product" onclick="getPopup('subcat9/product11'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_11.jpg" alt="">-->
					<!--<div class="title">Блинчики </div>-->
					<!--<div class="subtitle">с творогом и изюмом</div>-->
				<!--</div>-->
<!--&lt;!&ndash;				<div class="product" onclick="getPopup('subcat9/product14'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_14.jpg" alt="">-->
					<!--<div class="title">Блинчики  </div>-->
					<!--<div class="subtitle">с вишней</div>-->
				<!--</div>&ndash;&gt;-->
                <!--<div class="product" onclick="getPopup('subcat3/product18'); return false;">-->
                    <!--<img src="img/products/cat3/product_thumb_18.jpg" alt="">-->
                    <!--<div class="title">Блинчики </div>-->
                    <!--<div class="subtitle">с яблоками и корицей</div>-->
                <!--</div>-->
				<!--<div class="product" onclick="getPopup('subcat3/product1'); return false;">
					<img src="img/products/cat3/product_thumb_1.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с сгущённым молоком</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product2'); return false;">
					<img src="img/products/cat3/product_thumb_2.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с печенью</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product3'); return false;">
					<img src="img/products/cat3/product_thumb_3.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с повидлом</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product4'); return false;">
					<img src="img/products/cat3/product_thumb_4.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с маком</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product5'); return false;">
					<img src="img/products/cat3/product_thumb_5.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с ливером</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product6'); return false;">
					<img src="img/products/cat3/product_thumb_6.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">«Классические»</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product7'); return false;">
					<img src="img/products/cat3/product_thumb_7.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с капустой и грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product8'); return false;">
					<img src="img/products/cat3/product_thumb_8.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с  грибами</div>
				</div>	
				<div class="product" onclick="getPopup('subcat3/product9'); return false;">
					<img src="img/products/cat3/product_thumb_9.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с шоколадом</div>
				</div>-->
<!--				<div class="insideDivider" ></div>
				<br>-->
                <br>
				<div class="product brandName"  >	
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product10'); return false;">
					<img src="img/products/cat3/product_thumb_10.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с мясом</div>
				</div>
				<!--<div class="product" onclick="getPopup('subcat3/product11'); return false;">
					<img src="img/products/cat3/product_thumb_11.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с  мясом и рисом</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat3/product12'); return false;">
					<img src="img/products/cat3/product_thumb_12.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с мясом курицы</div>
				</div>
				<!--<div class="product" onclick="getPopup('subcat3/product13'); return false;">
					<img src="img/products/cat3/product_thumb_13.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с вишней</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product14'); return false;">
					<img src="img/products/cat3/product_thumb_14.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с черешней</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat3/product15'); return false;">
					<img src="img/products/cat3/product_thumb_15.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с творогом и изюмом</div>
				</div>
				<div class="product" onclick="getPopup('subcat3/product16'); return false;">
					<img src="img/products/cat3/product_thumb_16.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с творогом</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product17'); return false;">
					<img src="img/new_pack/product_thumb_17_1.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">«Классические»</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product29'); return false;">
					<img src="img/products/cat7/product_thumb_17.jpg" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с яблоками и корицей</div>
				</div>
				<!--<div class="product" onclick="getPopup('subcat3/product17'); return false;">
					<img src="img/products/cat3/product_thumb_17.png" alt="">
					<div class="title">Блинчики </div>
					<div class="subtitle">с  варёным сгущённым молоком</div>
				</div>	-->	
				<div class="insideDivider" ></div>
				<br>			
				<div class="product brandName"  >	
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>																												
				<div class="product" onclick="getPopup('subcat7/product15'); return false;">
					<img src="img/products/cat7/product_thumb_15.jpg" alt="">
					<div class="title">Бендерки  </div>
					<div class="subtitle">с мясом и луком</div>
				</div>
				<!--<div class="product" onclick="getPopup('subcat7/product16'); return false;">
					<img src="img/products/cat7/product_thumb_16.jpg" alt="">
					<div class="title">Бендерки  EkoSmac</div>
					<div class="subtitle">с творогом</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat7/product18'); return false;">	
					<img src="img/products/cat7/product_thumb_18.jpg" alt="">
					<div class="title">Блинчики EkoSmac </div>
					<div class="subtitle">с субпродуктами</div>
				</div>	-->
								
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat5_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>