<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat8.png" alt=""></h1>
            <div class="desc">
                <p>Мы осознаём, насколько важно каждому человеку в Украине получать полноценное питание, насколько важно иметь возможность приобретать вкусные, безопасные продукты высокого качества по доступной цене. Мы понимаем, что на данный момент не каждый украинец живёт в достатке.
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Думая и заботясь о потребностях каждого в этой стране, мы создали экономичный продукт ТМ EkoSmac. Это высококачественные продукты быстрого приготовления, которые производится нами с соблюдением всех мировых стандартов качества. </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> ТМ EkoSmac создаются по оригинальным рецептурам из натуральных компонентов. Благодаря экономии на упаковке, логистике, рекламе, маркетинговых затратах мы смогли дать потребителю продукт по максимально комфортной, выгодной цене. </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner2.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat7_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat7/product1'); return false;">
                    <img src="img/new_img/img-dump-sm-2.png" alt="">
                    <div class="title">Пельмени</div>
                    <div class="subtitle">«Богатырские»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product2'); return false;">
                    <img src="img/products/cat7/product_thumb_2.jpg" alt="">
                    <div class="title">Пельмени</div>
                    <div class="subtitle">«Застольные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product25'); return false;">
                    <img src="img/products/cat7/product_thumb_25.jpg" alt="">
                    <div class="title">Пельмени</div>
                    <div class="subtitle">«Уральские»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product5'); return false;">
                    <img src="img/products/cat7/product_thumb_5.jpg" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">с мясом и чесноком</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product9'); return false;">
                    <img src="img/products/cat7/product_thumb_9.jpg" alt="">
                    <div class="title">Хинкали</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat7/product33'); return false;">
                    <img src="img/mother/img-cutlets-school.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle empty">«Школьные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product11'); return false;">
                    <img src="img/products/cat7/product_thumb_11.jpg" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Студенческие»</div>
                    <div class="subtitle">жареные/нежареные</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product12'); return false;">
                    <img src="img/products/cat7/product_thumb_12.jpg" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Богатырские»</div>
                    <div class="subtitle">жареные/нежареные</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product14'); return false;">
                    <img src="img/products/cat7/product_thumb_14.jpg" alt="">
                    <div class="title">Гречаники</div>
                    <div class="subtitle">жареные/нежареные</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product22'); return false;">
                    <img src="img/products/cat7/product_thumb_22.jpg" alt="">
                    <div class="title">Тефтели</div>
                    <div class="subtitle">жареные/нежареные</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product23'); return false;">
                    <img src="img/products/cat7/product_thumb_23.jpg" alt="">
                    <div class="title">Чебуреки</div>
                    <div class="subtitle">жареные/нежареные</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat24/product8'); return false;">
                    <img src="img/frozen/img-cutlet-sticks.png" alt="">
                    <div class="subtitle">Палочки</div>
                    <div class="subtitle">«Куриные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product7'); return false;">
                    <img src="img/frozen/img-cutlet-rolls.png" alt="">
                    <div class="title">Голубцы</div>
                    <div class="subtitle">«Украинские»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product6'); return false;">
                    <img src="img/frozen/img-cutlet-chicken.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle empty">«Куриные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product4'); return false;">
                    <img src="img/frozen/img-cutlet-selyanskye.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle">«Селянские» с чесноком</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat7_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>