<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/firmovi-ru.png" alt="">
			</h1>
			<div class="desc">
				<!--<p>ТМ SmaСom презентует истинно эксклюзивный продукт – полуфабрикаты ручной лепки «премиум» класса. Необходимость развития в данном сегменте – соответствовать запросам наших потребителей. Когда мы говорим «премиум», то, конечно, подразумеваем успех, благосостояние, качество. </p>-->
			</div>
		</div>
		<div class="middle">		
				<div class="hidden" id="hidden14">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<!--<p class="small">Продукция «премиум» класса является эксклюзивной, ориентированной на ценителей культуры вкуса к действительно качественным вещам.</p>
								<p class="small">В линейке продукции ручной лепки ТМ SmaСom мы воплотили все традиции приготовления домашних пельменей и вареников, мы отобрали свежайшие, самые качественные ингредиенты.</p>-->
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<!--<p class="small">В частности, для приготовления фарша пельменей использовали охлажденное мясо и рыбу в сочетании с душистыми специями, а для приготовления начинки вареников – цельные, сладкие вишни. Классическая рецептура в домашних традициях, и, конечно же, ручная фигурная лепка, которая создает отличную эстетику и исключительную аппетитность продукта!</p>-->
							</div>
						</div>							
					</div>									
				</div>									
				<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
			</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner4.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat8_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">

				<div class="product" onclick="getPopup('subcat1/product11'); return false;">
					<img src="img/new_pack/firmovi.png" alt="">
					<div class="title">Фирменные пельмени</div>
					<div class="subtitle">из отборной свинины и мускатным орехом</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product12'); return false;">
					<img src="img/new_pack/firmovi1.png" alt="">
					<div class="title">Фирменные пельмени</div>
					<div class="subtitle">с сочной говядиной, свининой и свежей кинзой</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product13'); return false;">
					<img src="img/new_pack/firmovi2.png" alt="">
					<div class="title">Фирменные пельмени</div>
					<div class="subtitle">с нежным филе <br>индейки</div>
				</div>

<!--				<div class="product" onclick="getPopup('subcat8/product1'); return false;">
					<img src="img/products/cat8/product_thumb_1.jpg" alt="">
					<div class="title">Пельмени </div>
					<div class="subtitle">с сёмгой и горбушей</div>
				</div>
				<div class="product" onclick="getPopup('subcat8/product2'); return false;">					
					<img src="img/products/cat8/product_thumb_2.jpg" alt="">
					<div class="title">Пельмени </div>
					<div class="subtitle">с говядиной и свининой</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat8/product3'); return false;">
					<img src="img/products/cat8/product_thumb_3.jpg" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">с вишней</div>
				</div>	-->
													
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat8_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>