<div class="popupHeader">
	<div class="title"><h1>Шницель </h1><span class="subtitle">«Куриный»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Немецкое слово “Schnitzel” происходит от глагола “Schnitzen” (нарезать) и буквально означает «вырезка, нарезка». Собственно, этимология слова во многом объясняет его кулинарную концепцию. Шницелем назывались тонкие куски нежирного мяса, обжаренные во фритюре. На родине этого блюда – в Германии – обычно использовалась телятина. В 20 веке шницель завоевал популярность у славянских народов и, как водится, адаптировался под национальные интересы. Курятина сменила телятину, и куриный шницель стал популярным славянским блюдом.</p>
						<p>Шницель «Куриный» от ТМ SmaCom, согласно классической традиции, приготавливается из нежнейшего молодого цыплёнка. Мясо цыплёнка отбивается и предварительно, на производстве, поджаривается с подсолнечным маслом и луком до тёмно-золотистого цвета. «Куриный» шницель, рецепт которого строго соблюдается специалистами ТМ SmaCom, отличается насыщенным вкусом, а приготовить его легко и быстро – просто обжарьте на сковороде.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Шницель «Куриный» обычно подается с картофельным пюре или жареным картофелем. Отбивная в этом случае размещается поверх гарнира. Если же избран другой гарнир, то он выкладывается на большое блюдо справа от шницеля. Для аппетитного вида шницель «Куриный» обязательно украшают кружком лимона и веточками петрушки.</p>	
						<p>«Куриный» шницель великолепно идёт с кислым, чисто немецким соусом, который подчёркивает естественный вкус натурального мяса. </p>		
						<p>«Куриный» шницель от ТМ SmaCom – отличное решение для желающих полакомиться настоящим европейским блюдом. Тот, кто попробовал нежные, ароматные шницели от ТМ SmaCom, обязательно захочет насладиться ими вновь.</p>		
						<p>Шницель «Куриный» от ТМ SmaCom – европейские традиции вкуса! Живите со SmaCom!</p>
					</div>														
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Мясо птицы, лук репчатый, яичный порошок, соль, мука в/с. </div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>17,73 г</span></li>
						<li>жиры<span>12,25 г</span></li>
						<li>углеводы<span>2,17 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>189,87 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>0,46 кг<span>± 5 г</span></li>
					</ul>												
				</div>
			</div>

			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<p>Шницель жарится на сковороде с большим количеством масла, пока не приобретет темно-золотистый цвет.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon4.jpg" alt="">
			</div>							
</div>