<div class="popupHeader">
	<div class="title"><h1>Зразы </h1><span class="subtitle">с грибами, субпродуктами и рисом </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_13.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>До сих пор в среде кулинаров идут споры о том, откуда и когда появились так называемые зразы. Вариантов предлагается и предполагается великое множество. Однако доподлинно известно, что в русском и украинском языках слово «зразы» стали употреблять в девятнадцатом веке. Слово имеет польское происхождение и дословно означает «отрезанный кусок». Такое специфическое значение объясняется тем, что сначала зразы готовили весьма причудливым образом: мясо, как правило, говядину, отбивали, клали в неё начинку, скручивали и прожаривали. </p>
				<p>Зразы с субпродуктами, рисом и грибами. Этот рецепт стал известен специалистам ТМ SmaCom во время их регулярного вояжа за границу для обмена опытом с иностранными партнёрами. Полученные там уникальные знания с блеском воплотились в зразах с субпродуктами, грибами и рисом. Сегодня это абсолютно совершенный продукт.</p>
			</div>
			<div>
				<div class="title">2</div>
				<p>Зразы с грибами, субпродуктами и рисом отличаются пикантным вкусом и ни с чем несравнимой нежностью. Рис оттеняет изысканный вкус натуральных отварных субпродуктов, а грибы формируют ярко-выраженный, насыщенный вкус и аромат. Устоять невозможно. Ох, уж эти поджаренные до хрустящей корочки грибочки, нежные, как материнские объятия, субпродукты и великолепный рис.</p>	
				<p>Зразы с грибами, субпродуктами и рисом от ТМ SmaCom: великолепная троица райского вкуса!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Картофель отварной протертый, печень говяжья отварная, сердце говяжье отварное, легкое говяжье отварное, грибы жареные, рис отварной, сухари панировочные, лук репчатый, соль пищевая, яичный порошок, перец черный молотый. </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>5,76 г</span></li>
				<li>жиры<span>1,84 г</span></li>
				<li>углеводы<span>39,26 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>196,64 ккал</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,48 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>На разогретую сковородку выкладываете зразы. Поджариваете до появления корочки. Подавать на стол с томатным или сметанным соусом.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>