<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«По-киевски» </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_9.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Происхождение легендарной котлеты доподлинно неизвестно. Согласно одной из версий, она появилась в ресторане гостиницы «Континенталь» на улице Николаевской (сейчас Городецкого). Здесь находился штаб гетмана Скоропадского, а его офицерам подавали так называемую «котлету де-воляй по-киевски». Об этом легендарном блюде кулинарный теоретик Вильям Похлебкин писал: «Эти котлеты были типично «измысленным» блюдом, специально потакавшим капризам вкуса состоятельных и избалованных заказчиков сочетанием натурального, цельного сырья с европейской и восточной технологией обработки».</p>	
			</div>
			<div>
				<div class="title">2</div>
				<p>Сегодня котлета по-киевски – это по-настоящему культовый украинский гастрономический бренд, который стремится попробовать каждый приезжий в украинскую столицу, будь-то Шон Коннери или Джордж Буш.</p>	
				<p>ТМ SmaCom предлагает Вам насладиться подлинной кулинарной легендой, приготовленной по классическому рецепту из нежнейшей курицы. В отборное куриное мясо, строго следуя технологии приготовления котлет, добавляем исключительно домашнее сливочное масло. Перед тем, как попасть к покупателям, котлеты несколько раз обваливаются в сухарях и яйце. </p>		
				<p>Котлета по-киевски от ТМ SmaCom – возвращение легенды! </p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Филе куриное, масло сливочное, вода питьевая, соль пищевая, яичный порошок, перец черный молотый, перец душистый. </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>12,43 г</span></li>
				<li>жиры<span>30,45 г</span></li>
				<li>углеводы<span>0,80 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>326,97 ккал</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,48 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым блюдом.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>