<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">печеночные</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat4/product_popup_15.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>	
				<p>Печеночные котлеты от TM SmaCom – это натуральный деликатес, воплотивший в себе совершенный вкус и жизненную силу. </p>
				<p>Говяжья печень, входящая в состав продукта, относится к субпродуктам. Она содержит достаточно много белка, небольшое количество углеводов, а калорийность говяжьей печени значительно ниже самой говядины. Отличительной особенностью печени является большое содержание хорошо усваиваемого железа, что позволяет рекомендовать её как диетический продукт пациентам с железодефицитной анемией. Котлеты печеночные TM SmaCom – это воплощение вкусной и полезной еды. Сочность котлетам придает украинское сало, а лук и перец дает остроту отменному блюду. </p>
			</div>	
			<div>
				<div class="title">2</div>	
				<p>Котлеты печеночные созданы лучшими мастерами своего дела в экологически чистом регионе Украины, дабы подарить истинное наслаждение тем, кто ищет комфортное совершенство во всём.</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Печенка говяжья, сало, лук, соль, перец черный молотый. </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>14,29 г</span></li>
				<li>жиры<span>7,91 г</span></li>
				<li>углеводы<span>1,31 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>137,22 ккал</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>2,5 кг</li>
			</ul>												
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджарить до появления корочки. Подавать на стол, украсив зеленью. Котлеты идеально сочетаются с любым гарниром.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>