<div class="popupHeader">
	<div class="title"><h1>Біляші з м'ясом кулінарні</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/mini_b_pop_1.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>
								Біляші ТМ «Smacom» - справжні пиріжки з істинним домашнім смаком.
							</p>
							<p>
								Вони дуже смачні і апетитні, відмінно втамовують голод та відрізняються спокусливим ароматом.Своїм неповторним смаком біляші зобов'язані начинці, для якої використовується куряче м'ясо, яловичина, свинина, цибуля, перець, сіль. М'ясний фарш залишається м'яким і немов розсипчастим.
							</p>
							<p>
								Біляші ТМ «SmaCom» не тільки смачні, але і естетично красиві, із золотистою скоринкою.
							</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text"> Тісто: борошно пшеничне в/с, вода питна, олія соняшникова рафінована дезодорована, цукор білий, дріжджі пресовані, сіль кухонна. Фарш: цибуля ріпчаста свіжа, м’ясна сировина заморожена - 40% (м'ясо механічного обвалювання куряче – 10%, яловичина знежилована – 10%, свинина знежилована – 10%, сало – 10%), вода питна, сіль кухонна, перець чорний мелений. </div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>6,3 г</span></li>
						<li>жири<span>8,2 г</span></li>
						<li>вуглеводи<span>33,0 г</span></li>
					</ul>
					<div class="title">Eнергетична цінність:</div>
					<ul>
						<li><span>966,5 кДж (231,0 ккал)</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>1 кг <span>± 15 г</span></li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">Біляші розігрівати у мікрохвильовій печі 3 - 4 хв. при потужності 700 Вт.  Продукт не підлягає повторному заморожуванню! Умови зберігання та строк придатності при температурі не вище мінус 18 °С не більше 2 місяців.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>