<div class="popupHeader">
    <div class="title"><h1>Чевупєлі з сиром та шинкою</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_1.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Ти молодий, сповнений сил та енергії, прагнеш чогось свіжого та нового. Чевупєлі саме для тебе!!! Чевупєлі з сиром і шинкою від ТМ SmaCom - універсальна закуска на всі випадки життя!</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Зовні, це вдале поєднання соковитих пельменів та хрустких чебуреків. Готувати чевупели дуже просто - достатньо розігріти в мікрохвильовій, цей продукт можна їсти навіть холодним. Ніжний плавлений сир із ароматною шинкою – це відмінна начинка для втамування голоду, неймовірний смак якої не залишать байдужим. Зручний формат та приготування всього за декілька хвилин саме те, що треба для тебе і твоєї компанії.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Чевупєлі з сиром і шинкою ТМ SmaCom – вдала експрес-закуска в ритмі твого життя!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">тісто: борошно пшеничне в/г, вода, сіль. Начинка: сир, шинка, вода, олія соняшникова.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>9,3 г</span></li>
                <li>жири<span>9,2 г</span></li>
                <li>вуглеводи<span>25,4 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>221,6 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,18 кг<span>± 5 г</span></li>
                <li>0,35 кг<span>± 5 г</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>Надрізати плівку в кутку на 2-3 см, розігріти в СВЧ-печі (3 хв. при потужності 700W). Перед розігрівом не розморожувати.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>