<div class="popupHeader">
    <div class="title"><h1>Пюре картопляне з котлетою курячою та грибним соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_3.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Пюре!... Ця смакота знайома кожному з дитинства. Мабуть, не зустрінеш людини, яка б відмовилась від пюрешки, ще й з курячої котлеткою, та ще й під грибним соусом. І уявіть, що подати страву до столу ви зможете всього за кілька хвилин, просто підігрівши її. Це поєднання декількох задоволень в одному - неперевершений смак домашньої кухні, ситність і комфортність приготування.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Легке, але ситне картопляне пюре створює цілісний кулінарний союз у поєднанні з котлетою. Ніжне куряче філе - основний інгредієнт котлети, що підкреслює абсолютні переваги м'яса птиці. «Родзинкою» цієї страви є грибний соус, який вносить грибні нотки та надає пікантність їжі.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Поставка сировини здійснюється з екологічно чистих регіонів України, що гарантує якість продукції. Отримайте задоволення від готової страви на Вашому столі. Смачного!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">Пюре картопляне (170г ): картопля, вода питна, масло вершкове, сіль кухонна.
                Котлета куряча (100г): філе куряче, цибуля, сало, вода, хліб пшеничний, крупа манна, сіль, перець чорний мелений.
                Соус грибний (80г): гриби шампіньйони, олія соняшникова, масло вершкове, борошно пшеничне в/г, сіль.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>8,9 г</span></li>
                <li>жири<span>17,4 г</span></li>
                <li>вуглеводи<span>22,7 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>283 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text">Зняти картонну упаковку. Відкріпити з будь-якого кінця захисну плівку або проколоти в декількох містах. Помістити лоточок в СВЧ-піч або в духову шафу. У СВЧ-печі: розігрівати при потужності 700W протягом 5-7 хвилин. В духовій шафі: розігрівати при t 130-150 С впродовж 30 хвилин.</div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>