<div class="popupHeader">
    <div class="title"><h1>Голубці з м'ясом кулінарні заморожені</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_9.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>ТМ SmaСоm з гордістю презентує в лінійці готових других страв справжні домашні голубці. Вони настільки міцно укріпилися в Україні, що стали національним блюдом. З історичної точки зору голубці могли виникнути не в якості їжі, а з метою збереження продуктів. Наші пращури використовували велике листя рослин (капусти, винограду та навіть водоростей), щоб обернути ними їжу й зберегти її довше.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Зараз не доведеться морочитися з приготуванням - тільки розігріти та... ситна, поживна, смачна страва вже готова! Рецепт приготування витримано кулінарами ТМ SmaСоm у відповідності з традиціями української кухні. Фарш для голубців робиться з відбірної яловичини і курячого філе, свіжих овочів, смаженої цибулі та моркви з додаванням рису.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Особливої пікантності додають натуральні спеції та прянощі. Цільні листя білокачанної капусти містять в собі цю чудову начинку. Голубці від ТМ SmaСоm - тандем смаку й традицій!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">Капуста парена, яловичина, м'ясо курки, рис відварний, морква, цибуля смажена, томатна паста, олія соняшникова, вода, сіль, перець чорний мелений.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>3,9 г</span></li>
                <li>жири<span>6,1 г</span></li>
                <li>вуглеводи<span>20,9 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>154,1 ккал (644,8 кДж)</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,45 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ - печі: Помістіть заморожене блюдо в СВЧ-піч у лотку зі злегка прочиненими плівкою і розігрівайте 5-7 хвилин при потужності 700Вт. Попередньо розморожене блюдо розігрівайте 3-4 хвилини. Подавайте до столу гарячим.</p>

                <p>В духовій шафі: Розігрійте духовку до 200 С. Помістіть заморожене блюдо в лотку без плівки і розігрівайте в духовці 25 -30 хвилин. Попередньо розморожене блюдо розігрівайте 10-15 хвилин.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>