<div class="popupHeader">
    <div class="title"><h1>Сирники з родзинками</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_8.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Сирники з родзинками - корисно і смачно, це здорова альтернатива для дітей-ласунів. Натуральні інгредієнти та сучасні технології у поєднанні з ретельним контролем виробництва на всіх стадіях гарантують абсолютну безпеку продукції, яка буде корисна і дорослим, і, особливо, дітям.</p>
                <p>Смачний готовий десерт без зайвого клопоту за кілька хвилин - реальність. Сирники достатньо тільки розігріти в мікрохвильовці й повноцінний сніданок або вечеря готова. Склад продукту говорить сам за себе - маслянистий, однорідний сир багатий кальцієм, що відмінно засвоюється організмом. Додавання родзинок - додаткові корисні мікроелементи та втіха для ласунів.</p>
                <p>Поєднання сиру та родзинок знайоме кожному з дитинства, тому сирники ТМ SmaCom неодмінно сподобаються всім. Смачного!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">сир, цукор, родзинки, манка, борошно пшеничне в/г, ароматизатор - ванілін.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>12,7 г</span></li>
                <li>жири<span>6,8 г</span></li>
                <li>вуглеводи<span>22,1 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>111,4 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,36 кг<span>± 5 г</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>Відкрити з будь-якого краю захисну плівку, помістити в лоток СВЧ-піч. Розігріти при потужності 700 W впродовж 3-5 хвилин. На пару: готувати вироби під закритою кришкою 10-15 хвилин.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>