<div class="popupHeader">
    <div class="title"><h1>Плов по-узбецьки</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_7.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Плов - улюблена страва багатьох. Тепер вона доступна кожному – приготувати плов від ТМ SmaCom легко, досить тільки розігріти й гордість східної кухні у Вас на столі!</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Плов традиційно вважають стравою Середньої Азії, він легко ввійшов в кухні багатьох народів. Страва може мати різні назви, але спосіб приготування і склад схожий на відомий всім плов. Наприклад, в Японії роблять плов з куркою і абраге (соєве тофу), в Таїланді в плов додають багато спецій, а ось справжній узбецький плов готується зі свіжої баранини. У слов'янській кухні плов легко адаптувався до вже існуючих в ній традицій, і цю страву чудово готують з використанням м'яса птиці, свинини або яловичини.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Так, фахівці ТМ SmaCom пропонують у серії готових страв апетитний плов по-узбецьки з використанням яловичини, овочів і запашних спецій. Зіра - пряна основа плову, ця пряність має сильний запах і горіховий, злегка гіркуватий смак, що надає страві особливий незабутній ароматний смак. Шматки яловичини дають надзвичайну ситність і поживність плову. Технологія приготування має свої особливості.</p>
            </div>
            <div>
                <div class="title">4</div>
                <p>Цибулю, м'ясо і моркву обсмажують, потім змішують зі спеціями і тушкують до готовності, що дозволяє відтворити істинно неперевершений смак азіатської кухні. Інноваційна система заморозки надає можливість зберегти всі корисні речовини і смакові властивості страви. Тож, смачну і ситну їжу для всієї родини забезпечено в будь-який час доби, необхідно лише розігріти плов по-узбекски від ТМ SmaCom! Смачного!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">рис пропарений, м’ясо яловичини, морква, олія соняшникова, сіль, зіра, карі.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>13,9 г</span></li>
                <li>жири<span>14,7 г</span></li>
                <li>вуглеводи<span>53,2 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>143 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ – печі:
                Зняти картонну упаковку. Відкріпити з будь-якого кінця захисну плівку або проколоти в декількох містах. Помістити лоточок у СВЧ-піч або в духову шафу. У СВЧ-печі: розігрівати при потужності 700W впродовж 5-7 хвилин.
                В духовій шафі: розігрівати при t 130-150 С впродовж 30 хвилин. </p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>