<div class="popupHeader">
    <div class="title"><h1>Оладки печінкові</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_10.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Печінкові оладки мають свій ні на що не схожий смак. Це ті ж печінкові млинці, але більш об'ємні та пишні. Оладки ТМ SmaCom незрівнянні - ніжні, досить поживні і, найголовніше, легкі в приготуванні, тому що їх достатньо лише розігріти.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Ці оладки містять 62% свинячої печінки, тому вони смачні, дуже ситні та соковиті. Печінка нічим не гірше за м'ясо. Відомо, що в печінці міститься велика кількість вітаміну А, В та С. Такі оладки відмінно смакуватимуть зі свіжим салатом із соковитих овочів до будь-якого гарніру.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Печінкові оладки від ТМ SmaCom - це смачний, корисний і улюблений багатьма продукт.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">Печінка свиняча, цибуля, сало, сухарі панірувальні, борошно пшеничне в/г, яєчний порошок, олія соняшникова, сіль, часник сушений, перець чорний мелений.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>12,8 г</span></li>
                <li>жири<span>15,9 г</span></li>
                <li>вуглеводи<span>5,4 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>216 ккал (903,3 кДж)</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,24 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ - печі: Помістіть заморожену страву в СВЧ-піч у лотку зі злегка прочиненою плівкою та розігрівайте 7-10 хвилин при потужності 700Вт. Попередньо розморожену страву розігрівати 3-4 хвилини. Подавайте до столу гарячим.</p>

                <p>В духовій шафі: Розігрійте духовку до 200 С. Помістіть заморожену страву в лотку без плівки та розігрівайте в духовці 25 -30 хвилин. Попередньо розморожену страву розігрівайте 10-15 хвилин.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>