<div class="popupHeader">
    <div class="title"><h1>Чевупєлі з яловичиною та свининою</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_2.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Чевупєлі з яловичиною та свининою - інноваційний продукт від ТМ SmaCom. При нинішньому темпі життя без готових до вживання страв і напівфабрикатів не обійтися. Чевупєлі - це вдалий тандем класичних пельменів і смажених чебуреків, злегка хрусткі на смак, м'ясна начинка в міру соковита й досить пікантна. За формою вони більш схожі на ажурні мініатюрні вареники, що обсмажені у фритюрі. У складі продукту натуральний м'ясний фарш з яловичиною та свининою, відсоткове наповнення начинки не менш 45%.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Чевупєлі з яловичиною та свининою будуть доречні на природі або вдома для тебе і твоїх друзів. Дуже зручно, коли немає часу з ранку возитися з приготуванням, швиденько розігріти чевупели в мікрохвильовці й сніданок готовий. Насолодись соковитим неперевершеним смаком гарячої новинки! Смачного!</div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">тісто: борошно пшеничне в/г, вода, сіль. Фарш: яловичина - 42%, сало – 15%, свинина - 10%, цибуля ріпчаста, вода, клітковина пшенична, сіль, кріп сушений, перець чорний мелений.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>8,4 г</span></li>
                <li>жири<span>10,2 г</span></li>
                <li>вуглеводи<span>25,3 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>226,6 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,18 кг<span>± 5 г</span></li>
                <li>0,35 кг<span>± 5 г</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>Надрізати плівку в кутку на 2-3 см, розігріти в СВЧ-печі (3 хв. при потужності 700W). Перед розігрівом не розморожувати.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>