<div class="popupHeader">
    <div class="title"><h1>Локшина з м’ясним соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_5.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Всього кілька хвилин і на столі повноцінна натуральна їжа - мрія будь-якої господині. ТМ SmaСom пропонує готову страву на друге, яку потрібно лише розігріти. Локшина з м'ясним соусом - це повноцінна, натуральна, по-домашньому смачна страва для людей, які піклуються про своє здоров'я та цінують свій час.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Для приготування локшини використовувалося борошно твердих сортів пшениці, яке виробляється з екологічно чистої сировини, при цьому зберігає весь діапазон вітамінів, мікроелементів і клітковини. В якості соусу фахівці ТМ SmaCom приготували відомий у всьому світі м'ясний соус, він є однією з найпопулярніших заправок сучасності. Бернард Шоу якось зазначив: "Архітектор ховає свої помилки під плющем, лікар - в землі, а кухар - під соусом".</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>І дійсно, соус – саме та чарівна кулінарна паличка, яка здатна перетворити гарбуз на карету, а звичайну локшину – у свято для шлунка. Саме соус в першу чергу формує неповторний смак страви. У нашій страві м'ясний соус являє собою томатно-м'ясну суміш яловичини з цибулею, нотками базиліку, спеціями і духмяними прянощами.</p>
            </div>
            <div>
                <div class="title">4</div>
                <p>Локшина з м'ясним соусом від ТМ SmaСom - це неперевершений смак домашньої кухні всього за декілька хвилин для всієї родини. Спробуйте смачну та ситну страву з простих інгредієнтів!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">Лапша (з твердих сортів пшениці), соус м’ясний (вода, яловичина, томатна паста, цибуля, борошно пшеничне в/г, олія соняшникова, сіль, базилік сушений, перець чорний мелений).</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>5,4 г</span></li>
                <li>жири<span>3,4 г</span></li>
                <li>вуглеводи<span>22,7 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>143 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ – печі:
                *Помістіть заморожену страву в СВЧ-піч у лотку зі злегка надрізаною плівкою і розігрівати 7-10 хвилин при потужності 700Вт. Попередньо розморожену страву розігрівайте 3-4 хвилини. Подавайте до столу гарячим. В духовій шафі:
                * Розігрійте духовку до 200 С. Помістіть заморожену страву в лотку без плівки і розігрівайте в духовці 25 -30 хвилин. Попередньо розморожену страву розігрівайте 10 - 15 хвилин.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>