<div class="popupHeader">
    <div class="title"><h1>Гречка з курячим філепід червоним соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_4.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>ТМ SmaCom представляє готове блюдо, яке досить просто розігріти. Що може бути простіше? Друга страва на швидку руку - чудова підмога, як для молодих мам, так і для жінок, які працюють.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Ніжне куряче філе та гречка - основні компоненти цієї страви. Враховуючи популярність даних продуктів, фахівці ТМ SmaCom відтворили смакові якості цієї страви в домашніх традиціях української кухні. Треба сказати, що це надзвичайно корисний продукт. Адже і м'ясо птиці, і гречка містять безліч вітамінів та корисних речовин - це тандем справжньої дієтичної ситності.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)"> Склад продукту</div>
        <div class="consistInside">
            <div class="text">Гречана каша (170г): крупа гречана, олія соняшникова, сіль.
                Філе (100г) : філе куряче, олія соняшникова, сіль.
                Соус (80г): олія соняшникова, борошно в/г, томатне пюре, вода, цукор, сіль, перець чорний мелений.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>4,3 г</span></li>
                <li>жири<span>6,3 г</span></li>
                <li>вуглеводи<span>8,8 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>109,1 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <div class="text">Зняти картонну упаковку. Відкріпити з будь – якого кінця захисну плівку або проколоти в декількох містах. Помістити лоточок в СВЧ – піч або в духову шафу. В СВЧ – печі: розігрівати при потужності 700W протягом 5 – 7 хвилин. В духовій шафі: розігрівати при t 130 – 150 С впродовж 30 хвилин.</div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>