<div class="popupHeader">
    <div class="title"><h1>Bulmens </h1><span class="subtitle">with pork and beef</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/bull/bull-beefAnd-pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>
                    TM SmaCom has a large assortment of products, but it does not make us stand still. We are constantly generating new ideas to surprise our consumers with new tastes.
                    Introducing an entirely new product, not like any of the existing frozen semi-finished products on the market. It is a bulmens with pork and beef.
                </p>
                <p>
                    Bulmens is a delicate and juicy culinary masterpiece, it is irresistible to resist!
                    The secret of bulmens is revealed during cooking, during which meat broth is formed inside of the product
                </p>
                <p>
                    We are sure that small round form of bulmens will be appeal not only to adults, but also to children.
                    We recommend to try the bulmens with turkey, and bulmens with beef.
                </p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">
                Minced meat: meat raw frozen 64.5% (pork meat is uncultivated 28.9%, beef meat is unnecessary 29.8%, pork fat 5.8%), drinking water, onion, salt, pepper black ground, glutamate sodium. Dough: wheat flour, drinking water, wheat flour, salt.
            </div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>8,9 г</span></li>
                <li>fat<span>10,3 г</span></li>
                <li>carbohydrates<span>25,4 г</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>961,9 kJ /229,9 kcal.</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,900 кг<span>± 15 г</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>
                Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 3 minutes. Dumplings are served with butter and sour cream.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>