<div class="popupHeader">
	<div class="title"><h1>Bulmens </h1><span class="subtitle">with beef</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/bull/bull-beef-pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>
					TM SmaCom is keen to create special products that leave a lasting taste and a desire to try again.
					New line of semi-finished products - a bulmens, 100%  will be remembered for a long time to everyone.
					Bulmens is a delicate and juicy culinary masterpiece, it is irresistible to resist!
				</p>
				<p>
					The secret of bulmens is revealed during cooking, during which meat broth is formed inside of the product
					Thanks to a delicate dough during the application of a bulmens do not lose a single drop of fragrant juice.
				</p>
				<p>
					We are sure that small round form of bulmens will be appeal not only to adults, but also to children.
					We recommend to try the, bulmens with pork and beef and bulmens with turkey.
				</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">
				Minced meat: 63.7% frozen meat (friable beef is 53.9%, pork fat is 9.8%), drinking water, onion, vegetable salt, ground black pepper, ground coriander, sodium glutamate. Dough: wheat flour, drinking water, wheat flour, salt.
			</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>9,2 г</span></li>
				<li>fat<span>9,4 г</span></li>
				<li>carbohydrates<span>25,4 г</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>929,3 kJ / 222,1 kcal.</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,900 кг<span>± 15 г</span></li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>
				Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 3 minutes. Dumplings are served with butter and sour cream.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>