<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/frozen-pre-en-0.png" alt="">
				<img src="img/text-img/frozen-pre-en-1.png" alt="">
			</h1>
			<div class="desc">
				<p>Pre-cooked meals of TM “SmaCom” are presented as separate dishes, side orders, hot appetizers, which are great for picnic or meeting with friends.</p>
			</div>
		</div>
		<div class="middle">
			<div class="hidden" id="hidden14">
				<div class="twoCols" >
					<div class="col">
						<div class="colInner">
							<p class="small">As they say, nourishing and rich lunch is a source of good mood for the whole day. Meal is considered as full course dinner if it has second course. TM “SmaCom” offers a wide range of pre-cooked meals which impress with its diversity, taste qualities, nutrients and food origin (sourced from an animal or a plant).</p>
						</div>
					</div>
					<div class="col">
						<div class="colInner">
							<p class="small">Very important that incoming products are not only delicious, nourishing but fresh. The do not contain soybeans, food grade dyes and are safe for health. TM “SmaCom” offers frozen pre-cooked meals in assortment: chicken pilaf, braised cabbage with beef, braised cabbage with mushrooms, stuffed peppers, boiled rice, vegetable rice, boiled buckwheat, mashed potato, crispy baked chicken wings, backed chicken thigh, mini belyashi.</p>
						</div>
					</div>
				</div>
			</div>
			<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">more</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/horec/first.png" alt="" >
		</div>
	</div>
	<div class="borderUp2"></div>
	<div class="cat inside" id="cat1_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>
		<div class="middle">
			<div class="products">
				<!--<div class="product" onclick="getPopup('subcat17/product1'); return false;">					
					<img src="img/products/cat4/product_thumb_1.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Домашние особенные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">	
					<img src="img/products/cat4/product_thumb_2.png" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">«Свиные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">	
					<img src="img/products/cat4/product_thumb_3.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Куриные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">	
					<img src="img/products/cat4/product_thumb_4.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Люкс»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">	
					<img src="img/products/cat4/product_thumb_5.jpg" alt="">
					<div class="title">Шницель</div>
					<div class="subtitle">«Куриный»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">	
					<img src="img/products/cat4/product_thumb_6.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Любава»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">	
					<img src="img/products/cat4/product_thumb_7.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Лесная песня»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">	
					<img src="img/products/cat4/product_thumb_8.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Сечёные»</div>
				</div>-->
<!--				<div class="product brandName"  >
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat17/product10'); return false;">	
					<img src="img/products/cat4/product_thumb_10.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с мясом «Традиционные»</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat17/product11'); return false;">	
					<img src="img/products/cat4/product_thumb_11.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с грибами и субпродуктами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product12'); return false;">	
					<img src="img/products/cat4/product_thumb_12.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle"> с грибами</div>
				</div>	
				<div class="product" onclick="getPopup('subcat17/product13'); return false;">	
					<img src="img/products/cat4/product_thumb_13.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle">с грибами, субпродуктами и рисом</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product14'); return false;">	
					<img src="img/products/cat4/product_thumb_14.jpg" alt="">
					<div class="title">Крокеты </div>
					<div class="subtitle">мясные</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat17/product15'); return false;">	
					<img src="img/products/cat4/product_thumb_15.jpg" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">печеночные</div>
				</div>-->
<!--				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
                <div class="product" onclick="getPopup('subcat17/product1'); return false;">
                    <img src="img/new_img/second_km.png" alt="">
                    <div class="title">Braised cabbage</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">
					<img src="img/new_img/second_kgr.png" alt="">
					<div class="title">Braised cabbage </div>
					<div class="subtitle">with mushrooms</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">
					<img src="img/new_img/second_pm.png" alt="">
					<div class="title">Pilaf</div>
					<div class="subtitle"> with chicken</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">
					<img src="img/new_img/second_pf.png" alt="">
					<div class="title">Stuffed pepper</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">
					<img src="img/new_img/second_rv.png" alt="">
					<div class="title">Boiled rice</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">
					<img src="img/new_img/second_ro.png" alt="">
					<div class="title">Rice </div>
					<div class="subtitle">with vegetables</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">
					<img src="img/new_img/second_g.png" alt="">
					<div class="title">Boiled buckwheat</div>
					<div class="subtitle empty"> &nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">
					<img src="img/new_img/second_gg.png" alt="">
					<div class="title">Boiled </div>
					<div class="subtitle">with mushrooms</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product9'); return false;">
					<img src="img/new_img/second_p.png" alt="">
					<div class="title">Mashed potatoes</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product12'); return false;">
					<img src="img/new_img/second_k.png" alt="">
                    <div class="title">Crispy roasted chicken wings</div>
                    <div class="subtitle empty">&nbsp;</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product11'); return false;">
					<img src="img/new_img/second_mb.png" alt="">
					<div class="title">Mini belyashi</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product10'); return false;">
					<img src="img/new_img/second_gk.png" alt="">
					<div class="title">Backed chicken thighs</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>
</div>