<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat7.png" alt=""></h1>
            <div class="desc">
                <p>SmaCom™ are natural high quality frozen semi-finished items.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> SmaCom™ entered the market in October 2010. The new brand implies
                                innovation in everything: quality, taste, production - innovations with a consistently
                                high level. "SmaCom" always offers the most advanced, the most delicious, the best on
                                the market of semis. The brand was created for those who seek for a better, for those
                                who appreciate delicious food and their own time.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">The brand name "SmaCom" characterizes the products and the company's
                                mission: first, high-quality products with excellent taste properties, and secondly, a
                                harmonious synthesis of Ukrainian taste traditions and European production levels.</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner1.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat1/product14'); return false;">
                    <img src="img/mother/img-dumpling-beef.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with beef</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product15'); return false;">
                    <img src="img/mother/img-dumpling-pork.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with pork</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product16'); return false;">
                    <img src="img/mother/img-dumpling-porkBeef.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with beef and pork</div>
                </div>
                <div class="product margin_top" onclick="getPopup('subcat1/product17'); return false;">
                    <img src="img/mother/img-khinkali.png" alt="">
                    <div class="title">Khinkali</div>
                    <div class="subtitle empty"></div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product11'); return false;">
                    <img src="img/new_pack/firmovi.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle"> from selected pork and flavored nutmeg</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product12'); return false;">
                    <img src="img/new_pack/firmovi1.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle">with beef, pork and fresh coriander</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product13'); return false;">
                    <img src="img/new_pack/firmovi2.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle"> with tender turkey<br>fillet</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product7'); return false;">
                    <img src="img/new_pack/kiev.png" alt="">
                    <div class="title">"Kiev"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product9'); return false;">
                    <img src="img/new_pack/dom.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">"Home"</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product4'); return false;">
                    <img src="img/new_pack/sib.png" alt="">
                    <div class="title">«Siberian»</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product18'); return false;">
                    <img src="img/mother/img-khinkali-kkz.png" alt="">
                    <div class="title">Khinkali</div>
                    <div class="subtitle">caucasus</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat9/product2'); return false;">
                    <img src="img/new_img/img-dump-sm-0.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle"> with pork and beef</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product3'); return false;">
                    <img src="img/new_img/img-dump-sm-1.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle"> with beef</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat2/product3'); return false;">
                    <img src="img/new_pack/var_kg.png" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with potatoes and mushrooms</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product5'); return false;">
                    <img src="img/new_pack/var_s.png" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with cottage cheese</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product6'); return false;">
                    <img src="img/new_pack/var_kp.png" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with potatoes and liver</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product6'); return false;">
                    <img src="img/new_pack/var_k.png" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with potatoes</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product10'); return false;">
                    <img src="img/new_pack/var_kap.png" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with cabbage</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat7/product34'); return false;">
                    <img src="img/mother/img-cutlets-chicken.png" alt="">
                    <div class="title">Chicken cutlets</div>
                    <div class="subtitle empty">fried</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product35'); return false;">
                    <img src="img/mother/img-cutlets-porkBeef.png" alt="">
                    <div class="title">Pork and beef cutlets</div>
                    <div class="subtitle empty">crispy fried</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Cheeseburger</div>
                    <div class="subtitle">of pork and beef</div>
                </div>

                <br>

                <br>

                <div class="product" onclick="getPopup('subcat6/product1'); return false;">
                    <img src="img/products/cat6/product_thumb_1.jpg" alt="">
                    <div class="title">Meat</div>
                    <div class="subtitle">patties</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product2'); return false;">
                    <img src="img/products/cat6/product_thumb_2.jpg" alt="">
                    <div class="title">Patties</div>
                    <div class="subtitle">with liver</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product3'); return false;">
                    <img src="img/products/cat6/product_thumb_3.jpg" alt="">
                    <div class="title">Patties</div>
                    <div class="subtitle">with potatoes</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product4'); return false;">
                    <img src="img/products/cat6/product_thumb_4.jpg" alt="">
                    <div class="title">Patties</div>
                    <div class="subtitle">with cabbage</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product10'); return false;">
                    <img src="img/products/cat6/product_thumb_10.jpg" alt="">
                    <div class="title">Patties</div>
                    <div class="subtitle">apples with cinnamon</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat6/product11'); return false;">
                    <img src="img/new_img/img-fried-sm-0.png" alt="">
                    <div class="title">Fried</div>
                    <div class="subtitle">pies with meat</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product12'); return false;">
                    <img src="img/new_img/img-fried-sm-1.png" alt="">
                    <div class="title">Fried</div>
                    <div class="subtitle">pies with peas</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product13'); return false;">
                    <img src="img/new_img/img-fried-sm-2.png" alt="">
                    <div class="title">Fried</div>
                    <div class="subtitle">pies with cabbage</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product14'); return false;">
                    <img src="img/new_img/img-fried-sm-3.png" alt="">
                    <div class="title">Fried</div>
                    <div class="subtitle">pies with potatoes</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat11/product11'); return false;">
                    <img src="img/new_img/mini_b_s.png" alt="">
                    <div class="title">Mini belyashi</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product12'); return false;">
                    <img src="img/new_img/mini_b_s_1.png" alt="">
                    <div class="title">Belyashi</div>
                    <div class="subtitle">meat cooking</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Borshch</div>
                    <div class="subtitle">«Ukrainian with meat»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Borshch</div>
                    <div class="subtitle">«Ukrainian with mushrooms»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">pea</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">vegetable</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">noodle</div>
                </div>

                <br>


                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Mashed potatoes</div>
                    <div class="subtitle"> with chicken cutlets</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Buckwheat with chicken meat</div>
                    <div class="subtitle"> and tomato sauce</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Noodles</div>
                    <div class="subtitle"> with meat sauce</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Baked pork</div>
                    <div class="subtitle">with potato wedges</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Uzbek</div>
                    <div class="subtitle">pilaf</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product8'); return false;">
                    <img src="img/products/cat11/product_thumb_1.jpg" alt="">
                    <div class="title">Chevupeli</div>
                    <div class="subtitle">with cheese and ham</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product9'); return false;">
                    <img src="img/products/cat11/product_thumb_2.jpg" alt="">
                    <div class="title">Chevupeli</div>
                    <div class="subtitle">with beef and pork</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product10'); return false;">
                    <img src="img/products/cat11/product_thumb_8.jpg" alt="">
                    <div class="title">Syrniki</div>
                    <div class="subtitle"> with raisins</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Stuffed cabbage</div>
                    <div class="subtitle">with meat cooking frozen</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat3/product10'); return false;">
                    <img src="img/products/cat3/product_thumb_10.jpg" alt="">
                    <div class="title">Pancakes</div>
                    <div class="subtitle"> with meat</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product12'); return false;">
                    <img src="img/products/cat3/product_thumb_12.jpg" alt="">
                    <div class="title">Pancakes</div>
                    <div class="subtitle">with chicken</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product15'); return false;">
                    <img src="img/products/cat3/product_thumb_15.jpg" alt="">
                    <div class="title">Pancakes</div>
                    <div class="subtitle">with cottage cheese and raisins</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product16'); return false;">
                    <img src="img/products/cat3/product_thumb_16.jpg" alt="">
                    <div class="title">Pancakes</div>
                    <div class="subtitle">with cottage cheese</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product17'); return false;">
                    <img src="img/new_pack/product_thumb_17_1.png" alt="">
                    <div class="title">"Classic"</div>
                    <div class="subtitle">pancakes</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product29'); return false;">
                    <img src="img/products/cat7/product_thumb_17.jpg" alt="">
                    <div class="title">Pancakes</div>
                    <div class="subtitle">with apples and cinnamon</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat6/product7'); return false;">
                    <img src="img/products/cat6/product_thumb_7.jpg" alt="">
                    <div class="title">Frozen puff</div>
                    <div class="subtitle">pastry</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product8'); return false;">
                    <img src="img/products/cat6/product_thumb_8.jpg" alt="">
                    <div class="title">Frozen yeast puff</div>
                    <div class="subtitle">pastry</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat10_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>