<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

        <div class="middle narrow" >
            <h1>
				<img src="img/text-img/cutlets-en-0.png" alt="">
				<img src="img/text-img/cutlets-en-1.png" alt="">
			</h1>
            <div class="desc">
                <p>Cutlets are meat culinary masterpiece that is familiar to all from childhood, and never ceases to be loved. TM «SmaCom» has created a range of meat dishes that decorate each table as everyday and festive. The range: cutlets "Delicate", "Homemade", "Chicken cutlets". Alternative cutlets - meatballs in sauce, that will please the people who observe dietary food.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols" >
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Cutlets and meatballs of TM «SmaCom» created to give true meat-eaters the pleasure. Spicy aroma of cutlets whet strong appetite, and their unsurpassed taste make crazy. They are made of natural ingredients.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Try these meat dishes, you will be full and happy, because the basis of the cutlets and meatballs - selective tender meat rich in vitamins, which comes from ecologically clean regions of Ukraine. Any side dish emphasizes their absolute advantage.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">more</a></center>
        </div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner4.jpg" alt="" >
		</div>
	</div>
	<div class="borderUp2"></div>
	<div class="cat inside" id="cat1_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>
		<div class="middle">
			<div class="products">
				<!--<div class="product" onclick="getPopup('subcat4/product1'); return false;">					
					<img src="img/products/cat4/product_thumb_1.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Домашние особенные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product2'); return false;">	
					<img src="img/products/cat4/product_thumb_2.png" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">«Свиные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product3'); return false;">	
					<img src="img/products/cat4/product_thumb_3.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Куриные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product4'); return false;">	
					<img src="img/products/cat4/product_thumb_4.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Люкс»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product5'); return false;">	
					<img src="img/products/cat4/product_thumb_5.jpg" alt="">
					<div class="title">Шницель</div>
					<div class="subtitle">«Куриный»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product6'); return false;">	
					<img src="img/products/cat4/product_thumb_6.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Любава»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product7'); return false;">	
					<img src="img/products/cat4/product_thumb_7.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Лесная песня»</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product8'); return false;">	
					<img src="img/products/cat4/product_thumb_8.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Сечёные»</div>
				</div>-->
<!--				<div class="product brandName"  >
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat4/product9'); return false;">
					<img src="img/products/cat4/product_thumb_9.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«По-киевски»</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat4/product10'); return false;">	
					<img src="img/products/cat4/product_thumb_10.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с мясом «Традиционные»</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat4/product11'); return false;">	
					<img src="img/products/cat4/product_thumb_11.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с грибами и субпродуктами</div>
				</div>
				<div class="product" onclick="getPopup('subca                <div class="product" onclick="getPopup('subcat7/product19'); return false;">
                    <img src="img/products/cat7/product_thumb_19.jpg" alt="">
                    <div class="title">Голубці   </div>
                    <div class="subtitle">«Українські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product21'); return false;">
                    <img src="img/products/cat7/product_thumb_21.jpg" alt="">
                    <div class="title">Палички   </div>
                    <div class="subtitle">«Курячі»</div>
                </div>

                <div class="product" onclick="getPopup('subcat7/product23'); return false;">
                    <img src="img/products/cat7/product_thumb_23.jpg" alt="">
                    <div class="subtitle">Чебуреки</div>
                    <div class="subtitle empty">&nbsp; </div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product24'); return false;">
                    <img src="img/products/cat7/product_thumb_24.jpg" alt="">
                    <div class="title">Перець  </div>
                    <div class="subtitle">«Таращанський» </div>
                </div>t4/product12'); return false;">
					<img src="img/products/cat4/product_thumb_12.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle"> с грибами</div>
				</div>	
				<div class="product" onclick="getPopup('subcat4/product13'); return false;">	
					<img src="img/products/cat4/product_thumb_13.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle">с грибами, субпродуктами и рисом</div>
				</div>
				<div class="product" onclick="getPopup('subcat4/product14'); return false;">	
					<img src="img/products/cat4/product_thumb_14.jpg" alt="">
					<div class="title">Крокеты </div>
					<div class="subtitle">мясные</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat4/product15'); return false;">	
					<img src="img/products/cat4/product_thumb_15.jpg" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">печеночные</div>
				</div>-->
<!--				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat7/product14'); return false;">
					<img src="img/products/cat7/product_thumb_14.jpg" alt="">
					<div class="subtitle">Гречаники</div>
					<div class="subtitle empty"> &nbsp;</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat18/product1'); return false;">
					<img src="img/new_img/third_kn.png" alt="">
					<div class="title">Cutlets</div>
					<div class="subtitle">«Delicate» </div>
				</div>
<!--				<div class="product" onclick="getPopup('subcat7/product11'); return false;">
					<img src="img/products/cat7/product_thumb_11.jpg" alt="">
					<div class="title">Котлеты  </div>
					<div class="subtitle">«Студенческие»</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat7/product12'); return false;">
					<img src="img/products/cat7/product_thumb_12.jpg" alt="">
					<div class="title">Котлеты  </div>
					<div class="subtitle">«Богатырские»</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product13'); return false;">
					<img src="img/products/cat7/product_thumb_13.jpg" alt="">
					<div class="title">Котлеты  </div>
					<div class="subtitle">«Селянские» с чесноком</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat18/product2'); return false;">
					<img src="img/new_img/third_t.png" alt="">
					<div class="title">Meatballs </div>
					<div class="subtitle"> in sauce</div>
				</div>
				<div class="product" onclick="getPopup('subcat18/product3'); return false;">
					<img src="img/new_img/cout_d.png" alt="">
					<div class="title">Cutlets </div>
					<div class="subtitle">«Homemade»</div>
				</div>
<!--				<div class="product" onclick="getPopup('subcat7/product27'); return false;">
					<img src="img/products/cat7/product_thumb_27.jpg" alt="">
					<div class="subtitle">Котлеты   </div>
					<div class="subtitle empty">«Вкусные»</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat18/product4'); return false;">
					<img src="img/new_img/cout_k.png" alt="">
					<div class="title">Cutlets</div>
					<div class="subtitle"> «Chicken»</div>
				</div><!--
                <div class="product" onclick="getPopup('subcat7/product19'); return false;">
                    <img src="img/products/cat7/product_thumb_19.jpg" alt="">
                    <div class="title">Cabbage rolls</div>
                    <div class="subtitle">«Ukrainian»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product21'); return false;">
                    <img src="img/products/cat7/product_thumb_21.jpg" alt="">
                    <div class="title">Chicken</div>
                    <div class="subtitle">nuggets</div>
                </div>

                <div class="product" onclick="getPopup('subcat7/product23'); return false;">
                    <img src="img/products/cat7/product_thumb_23.jpg" alt="">
                    <div class="subtitle">Chiburekki</div>
                    <div class="subtitle empty">&nbsp; </div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product24'); return false;">
                    <img src="img/products/cat7/product_thumb_24.jpg" alt="">
                    <div class="title">Pepper</div>
                    <div class="subtitle">Tarashchanskii</div>
                </div>-->
				<div class="product" onclick="getPopup('subcat18/product5'); return false;">
					<img src="img/new_img/tef-horec-s.png" alt="">
					<div class="title">Meatballs</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat18/product6'); return false;">
					<img src="img/new_img/grech-horec-s.png" alt="">
					<div class="title">Grechaniky</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat18/product7'); return false;">
					<img src="img/new_img/st-horec-s.png" alt="">
					<div class="title">Cutlets</div>
					<div class="subtitle">&quot;Student&quot;</div>
				</div>
				<div class="product" onclick="getPopup('subcat18/product8'); return false;">
					<img src="img/new_img/bog-horec-s.png" alt="">
					<div class="title">Cutlets</div>
					<div class="subtitle">&quot;Bogatyrskie&quot;</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>
</div>