<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h2><img src="img/text-img/firstAndSecond-en-0.png" alt=""></h2>
            <h2><img src="img/text-img/firstAndSecond-en-1.png" alt=""></h2>
            <div class="desc">
                <p>Smacom™ frozen pre-cooked meal is a full, natural, homemade tasty food for people who care about their health and appreciate their time.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">It is simply and quickly to cook frozen pre-cooked meals. Just warm them up for about 5-7 minutes. </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Frozen pre-cooked meals do not contain soybeans, food grade dyes and preservatives and are safe for health. Smacom™ offers frozen pre-cooked meals in assortment. Frozen pre-cooked meals are quickly, tasty and satisfying!</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner7.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Mashed potatoes</div>
                    <div class="subtitle"> with chicken cutlets</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Buckwheat with chicken meat </div>
                    <div class="subtitle"> and tomato sauce </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Noodles   </div>
                    <div class="subtitle"> with meat sauce</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Baked pork  </div>
                    <div class="subtitle">with potato wedges</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Uzbek    </div>
                    <div class="subtitle">pilaf </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Stuffed cabbage </div>
                    <div class="subtitle">with meat cooking frozen</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Borshch </div>
                    <div class="subtitle">«Ukrainian with meat»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Borshch </div>
                    <div class="subtitle">«Ukrainian with mushrooms»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">pea</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">vegetable</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Soup</div>
                    <div class="subtitle">noodle</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>