<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat1_en.png" alt=""></h1>
            <div class="desc">
                <p>SmaCom™ meat dumplings are delicious, mouthwatering and elegant masterpieces of culinary art, their
                    advantage is in thin pastry dough made of extra quality flour and in selected tender juicy meat
                    filling.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden11">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p>Framed in a decorative sophisticated molding, cooked according to classic recipes, they
                                dominate over gourmets around the world. SmaCom™ invites you to enjoy the best meat
                                dumplings masterpieces of world cuisine, the primordial recipe of which is complied in
                                the preparation.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p> All kinds of SmaCom meat dumplings are created in accordance with national traditions
                                exclusively from selected natural ingredients. Meat dumplings are made according to the
                                current state standards for the production of this product.</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden11'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner1.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat3_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product brandName">
                    <img src="img/cat_smacom.jpg" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>

                <div class="product" onclick="getPopup('subcat1/product14'); return false;">
                    <img src="img/mother/img-dumpling-beef.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with beef</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product15'); return false;">
                    <img src="img/mother/img-dumpling-pork.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with pork</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product16'); return false;">
                    <img src="img/mother/img-dumpling-porkBeef.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">with beef and pork</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product17'); return false;">
                    <img src="img/mother/img-khinkali.png" alt="">
                    <div class="subtitle">Khinkali</div>
                    <div class="subtitle empty"></div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product11'); return false;">
                    <img src="img/new_pack/firmovi.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle"> from selected pork and flavored nutmeg</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product12'); return false;">
                    <img src="img/new_pack/firmovi1.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle">with beef, pork and fresh coriander</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product13'); return false;">
                    <img src="img/new_pack/firmovi2.png" alt="">
                    <div class="title">Dumplings “Firmovi”</div>
                    <div class="subtitle"> with tender turkey<br>fillet</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product7'); return false;">
                    <img src="img/new_pack/kiev.png" alt="">
                    <div class="title">"Kiev"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product4'); return false;">
                    <img src="img/new_pack/sib.png" alt="">
                    <div class="title">«Siberian»</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product9'); return false;">
                    <img src="img/new_pack/dom.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">"Home"</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product18'); return false;">
                    <img src="img/mother/img-khinkali-kkz.png" alt="">
                    <div class="title">Khinkali</div>
                    <div class="subtitle">caucasus</div>
                </div>

                <br>

                <div class="product brandName">
                    <img src="img/cat_doy-pack.jpg" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>

                <div class="product" onclick="getPopup('subcat9/product2'); return false;">
                    <img src="img/new_img/img-dump-sm-0.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle"> with pork and beef</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product3'); return false;">
                    <img src="img/new_img/img-dump-sm-1.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle"> with beef</div>
                </div>

                <br>

                <div class="product brandName">
                    <img src="img/cat_ekosmac.jpg" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product1'); return false;">
                    <img src="img/new_img/img-dump-sm-2.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">"Bogatyrskiye"</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product2'); return false;">
                    <img src="img/products/cat7/product_thumb_2.jpg" alt="">
                    <div class="title">"Zastolnye"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product25'); return false;">
                    <img src="img/products/cat7/product_thumb_25.jpg" alt="">
                    <div class="title">"Ural"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product9'); return false;">
                    <img src="img/products/cat7/product_thumb_9.jpg" alt="">
                    <div class="subtitle">"Khinkali"</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat3_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>