<div class="wrapper page-frozen" style="overflow:hidden;">

    <div class="animationGroup">
        <div class="object_left roundAnimation">
            <img src="../../img/cat_1_object_left_1.jpg" alt="">
        </div>
        <div class="object_right roundAnimation">
            <img src="../../img/cat_1_object_right_1.jpg" alt="">
        </div>
    </div>

    <div class="subcats" id="subcat1">
        <div class="animationGroup">

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_4.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 24); " class="hoverBox frozen-cat">
                    <a href="" class="more" onClick="return false;">
                        <span>cutlets<br>and dishes<br>from minced<br>meat</span>
                    </a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_2.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 25);" class="hoverBox">
                    <a href="" class="more" onClick="return false;">dumplings</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_1.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 26);" class="hoverBox">
                    <a href="" class="more" onClick="return false;">meat dumplings</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_3.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 27);" class="hoverBox">
                    <a href="" class="more" onClick="return false;">pancakes</a>
                </div>
            </div>

            <div class="subcat subcat-more roundAnimation">
                <img src="../../img/product_thumb_7.png" alt="">
                <div class="hoverBox frozen-cat">
                    <a href="" class="more" onclick="return false;">
                        <span>
                            high<br>availability<br>products<br>
                        </span>
                    </a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 29);" class="more__pop more__pop-0">
                    <a href="" class="more__pop-btn" onclick="return false;">first and second courses</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 30);" class="more__pop more__pop-1">
                    <a href="" class="more__pop-btn" onclick="return false;">cutlets</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 31);" class="more__pop more__pop-2">
                    <a href="" class="more__pop-btn" onclick="return false;">chebureki</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 32);" class="more__pop more__pop-3">
                    <a href="" class="more__pop-btn" onclick="return false;">cheeseburger</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 33);" class="more__pop more__pop-4">
                    <a href="" class="more__pop-btn" onclick="return false;">belyashi</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 34);" class="more__pop more__pop-5">
                    <a href="" class="more__pop-btn" onclick="return false;">syrniki</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 35);" class="more__pop more__pop-6">
                    <a href="" class="more__pop-btn" onclick="return false;">chevupeli</a>
                </div>
                <div onclick="renderInnerPage(this, 'cat', 36);" class="more__pop more__pop-7">
                    <a href="" class="more__pop-btn" onclick="return false;">patties</a>
                </div>
            </div>

            <div class="subcat roundAnimation">
                <img src="../../img/product_thumb_dough.png" alt="">
                <div onclick="renderInnerPage(this, 'cat', 28);" class="hoverBox">
                    <a href="" class="more" onclick="return false;">dough</a>
                </div>
            </div>

        </div>
    </div>
</div>