<div class="wrapper" style="overflow:hidden;">
								
	<div class="cat inside">
		<div class="middle narrow" >
			<h1><img src="img/text-img/frozen-dough-en.png" alt=""></h1>
				<div class="desc" >
				<p>It has never been so easy to bake! “Obedient” dough will not give you any troubles but only satisfaction from cooking. We will help you to make the most delicious culinary dishes. Puff and yeasted pastry will be soft, delicious and fragrant.</p>
			</div>
		</div>

		<div class="bannerInside" >
			<img class="" src="img/banners_inner/frozen-dough.png" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat6_products">
		<div class="middle">
			<div class="products">
				<div class="product" onclick="getPopup('subcat6/product7'); return false;">
					<img src="img/products/cat6/product_thumb_7.jpg" alt="">
					<div class="title">Frozen puff  </div>
					<div class="subtitle">pastry </div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product8'); return false;">	
					<img src="img/products/cat6/product_thumb_8.jpg" alt="">
					<div class="title">Frozen yeast puff  </div>
					<div class="subtitle">pastry </div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat6_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>