<div class="wrapper export" style="overflow:hidden;"  >

    <div class="cat inside">

        <div class="middle narrow" >
            <h1>
                <img src="img/text-img/export-en.png" alt="">
            </h1>
            <div class="desc">
                <p>LLC "PYRIATYNSKIY DELIKATES" is dynamically developing exporter of agricultural products and processed products on the international markets. Consumers of our products are the countries of the Central and Eastern Europe, Syria, Egypt and Iran. </p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols export" >
                    <div class="col">
                        <div class="colInner">
                            <p class="small">
                                In foreign countries the company sells grain and oil-bearing crops: soy, wheat, flax, sunflower, corn, barley. Besides developing export sunflower, linseed, soy oils and soybean meal, sunflower meal, linseed cake, which is obtained by processing the seed.
                                </br>  </br> We pay special attention to delivery of products, which is performed on the terms of FOB, CIF, CPT, CIP, DAT.
                                </br> </br>  Having proved itself as a reliable partner, the company "PYRIATYNSKIY DELIKATES" values its reputation both on internal, and in the foreign market. Delivering the products on the international markets, the company provides its partners with absolutely reliable and operational cooperation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">подробнее</a></center>
        </div>
        <div class="bannerInside" >
            <!--<img class="" src="img/export-block/img-export-bg-0.jpg" alt="" >-->
            <img class="" src="img/export-block/img-export-bg-transparent.jpg" alt="" >
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside " id="cat1_products">
        <div class="subcats" id="subcat1" >
            <div class="animationGroup">
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-0.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',16); " class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">soy, soy oils and soybean meal</span>
                        </a>
                    </div>
                </div>

                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-1.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',17);" class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">flax, linseed oils and linseed cake</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-2.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',18);" class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="/" class="more"  onClick="return false;">
                            <span class="txt">sunflower, sunflower oils and sunflower meal</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation"  >
                    <img src="../../img/export-block/img-product-3.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',19);" class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="" class="more" onClick="return false;">
                            <span class="txt">wheat</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-4.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',20);" class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="" class="more" onclick="return false;">
                            <span class="txt">barley</span>
                        </a>
                    </div>
                </div>
                <div class="subcat  roundAnimation">
                    <img src="../../img/export-block/img-product-5.png" alt="">
                    <!--<div onclick="renderInnerPage(this, 'cat',20);" class="hoverBox">-->
                    <div class="hoverBox">
                        <a href="" class="more" onclick="return false;">
                            <span class="txt">corn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>