<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/сheeseburger-en.png" alt=""></h1>
            <div class="desc desc__text-shadow">
                <p>Cheeseburgers consist of only nourishing ingredients: a bread roll, a cutlet of fresh meat, cheese, pickles cucumbers, fresh tomato, onion and mustard and tomato sauces.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small desc__text-shadow">Cheeseburger is only need to be reheated in the microwave oven about 3 minutes. You can eat cheeseburger on a road, at work.</p>
                            <p class="small desc__text-shadow">It represents the youth lifestyle, so it would be indispensable for people on a picnic.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small desc__text-shadow">The essential fact that our  cheeseburger considered to be as a part of healthy diet so it would be one of the favorite food for children.</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner-small.png" alt="">
            <img class="bannerInside__img bannerInside__img_bottom bannerInside__img_small" src="img/banners_inner/banner-сheeseburger.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">

        <div class="middle">
            <div class="products">

                <!--<div class="product" onclick="getPopup('subcat16/product10'); return false;">-->
                    <!--<img src="img/new_pack/chiz-0.png" alt="">-->
                    <!--<div class="title">Cheeseburger</div>-->
                    <!--<div class="subtitle">of beef</div>-->
                <!--</div>-->
                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Cheeseburger</div>
                    <div class="subtitle">of pork and beef</div>
                </div>
                <!--<div class="product" onclick="getPopup('subcat16/product12'); return false;">-->
                    <!--<img src="img/new_pack/chiz-2.png" alt="">-->
                    <!--<div class="title">Cheeseburger</div>-->
                    <!--<div class="subtitle">of turkey</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>