<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/chevaupeli-en.png" alt=""></h1>
            <div class="desc">
                <p>
                    Chevupeli is a good tandem of classic pelmeni and fried chebureki, a little crispy with tender juicy filling. They look like mini dumplings deep fried. You will be delighted with chevupeli with beef and pork on a picnic or at home.
                </p>
            </div>
        </div>

        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols" >
                    <div class="col">
                        <div class="colInner">
                            <p class="small">They are filled with natural ground meat, filling per cent no less than 45%.</p>
                            <p class="small">Chevupeli with cheese and ham is a great universal appetizer much of the time.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small" >Tender processed cheese with fragrant ham is an excellent filling to ease hunger and to leave nobody different after this taste.</p>
                            <p class="small">The cooking method is convenient and easy as well, just warm it up in a microwave oven around some minutes and the meal is ready.</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>

        <div class="bannerInside">
            <img class="" src="img/banners_inner/frozen-chevaupeli.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat11/product8'); return false;">
                    <img src="img/products/cat11/product_thumb_1.jpg" alt="">
                    <div class="title">Chevupeli </div>
                    <div class="subtitle">with cheese and ham</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product9'); return false;">
                    <img src="img/products/cat11/product_thumb_2.jpg" alt="">
                    <div class="title">Chevupeli  </div>
                    <div class="subtitle">with beef and pork</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>