<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside inside__su">

        <div class="middle narrow">

            <h1><img src="img/text-img/su-en.png" alt=""></h1>

            <div class="desc">
                <p>
                    LLC «Pyryatynsky delicates» offers delicious meals, which prepared by new technology sous-vide, or in a vacuum.
                    Food cooked sous-vide are soft, they heated evenly and slowly. So the food doesn’t dry or burn.
                    Meals retain its natural taste and nutrients.
                </p>
            </div>
        </div>

        <div class="middle">
            <div class="hidden" id="hidden11">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <h4 style="text-align: left;">Cooking technique</h4>

                            <p>
                                The technology sous-vide ("under vacuum") is a new absolutely unique method of cooking food. Food is placed in a vacuum-sealed plastic pouch and sealed. Then it is placed in hot water at accurately regulated temperature at around 47 to 70-80 degrees and the temperature is controlled until the food is done. The process itself takes several hours depending on a kind of product. The exclusion of air between the food and pouch allows retain all nutrients while the conventional cooking loses them in the process.
                            </p>

                            <h4 style="text-align: left;">Essential features of cooking vegetables </h4>

                            <p>
                                The sous-vide allows cook vegetables salt-free while maintaining their shape and crisp texture. According to the sous-vide technique meat and fish cooked without seasonings and retain natural moisture. Ready meals are tender, soft, juicy and delicious at the end of cooking.
                            </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">

                            <h4 style="text-align: left;">Temperature</h4>

                            <p>
                                The use of temperature much lower than for conventional cooking is an equally essential feature of sous-vide. Food cooked at temperature which is common for served meals. Food cooked sous-vide are soft, they heated evenly and slowly, the temperature is the same inside and on the surface of ready food. So the food doesn’t dry or burn.
                            </p>

                            <h4 style="text-align: left;">Taste and flavors</h4>

                            <p>
                                The use of temperature much lower than for conventional cooking is an equally essential feature of sous-vide. Food cooked at temperature which is common for served meals. Food cooked sous-vide are soft, they heated evenly and slowly, the temperature is the same inside and on the surface of ready food. So the food doesn’t dry or burn.
                            </p>

                            <h4 style="text-align: left;">Warm-up and storage method</h4>

                            <p>
                                Cut the pouch, place the food in a pot and then in a microwave oven or warm in a frying pan. Food cooked sous-vide can be taken in a travelling. It is thoroughly cooked, packaged and can be stored perfectly to 60 days at a temperature 0 to 6 degrees.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <center><a href="" class="more" onClick="showHidden(this,'hidden11'); return false;">more</a></center>

        </div>


        <div class="info">
            <div class="info__field">Retain nutrients</div>
            <div class="info__field">Ready meals</div>
            <div class="info__field">Term of the storage: 60 days at a temperature 0 to 6 degrees</div>
        </div>

    </div>

    <div class="borderUp2"></div>

    <div class="cat inside" id="cat1_products" style="padding-top: 0;">

        <div class="image__su-wrap" style="margin-bottom: 100px;">
            <div class="image__su-wrap--block">
                <i class="image__su image__su-0"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-1"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-2"></i>
            </div>
        </div>

        <div class="middle">
            <div class="products">

                <div class="product" onclick="return false;">
                    <img src="img/su/su-borsh.png" alt="">
                    <div class="subtitle">Borshch with chicken, 600 mg</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-soup.png" alt="">
                    <div class="subtitle">Рea soup with chicken, 600 mg</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-buckwheat.png" alt="">
                    <div class="subtitle">Buckwheat with chicken and vegetables, 300 g</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-rise.png" alt="">
                    <div class="subtitle">Rice with chicken and vegetable, 300g</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chickenVegetables.png" alt="">
                    <div class="subtitle">Chicken fillet with vegetables</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chicken.png" alt="">
                    <div class="subtitle">Leg quarters, 2 pieces</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-cutlets.png" alt="">
                    <div class="subtitle">Turkey cutlets, 2 pieces</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmon.png" alt="">
                    <div class="subtitle">Salmon steak</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmonFillet.png" alt="">
                    <div class="subtitle">Trout</div>
                    <div class="title">
                    </div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-trout.png" alt="">
                    <div class="subtitle">Salmon fillets</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-seaBass.png" alt="">
                    <div class="subtitle">Sea bass</div>
                    <div class="title"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="scrollDown" onClick="$(window).scrollTo($('#cat3_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>