<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/chiburekki-en.png" alt="">
			</h1>
			<div class="desc">
				<p>Fried chebureki is a bright culinary trend which possesses the honorable place in Ukrainian cuisine. It differs thanks to its crispy deep-fried dough and juicy fragrant meat.</p>
			</div>
		</div>
		<div class="middle">
				<div class="hidden" id="hidden14">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small">This is a national dish of the Crimean Tatars. The filling is ground beef, seasoned previously with aroma spices</p>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small">The unique juiciness the dish gets from Ukrainian onions. The result -  delicious half moons stuffed with tender ground beef.</p>
							</div>
						</div>
					</div>
				</div>
				<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">more</a></center>
			</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner-chiburekki.png" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat1_products">

		<div class="middle">
			<div class="products">

                <!--<div class="product" onclick="getPopup('subcat7/product23'); return false;">-->
                    <!--<img src="img/products/cat7/product_thumb_23.jpg" alt="">-->
                    <!--<div class="subtitle">Chebureki</div>-->
                    <!--<div class="subtitle empty">&nbsp</div>-->
                <!--</div>-->
                <div class="product" onclick="getPopup('subcat7/product30'); return false;">
                    <img src="img/frozen/img-chiburekki.png" alt="">
                    <div class="title">Chebureki</div>
                    <div class="subtitle">fried</div>
                </div>

			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>				
</div>