<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/chevpizza-en.png" alt=""></h1>
            <div class="desc">
                <p>Chevupizza – it is a new type of pizza!</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">If you are seaching for an unforgettable taste in gastronomy, than you have to try our dish! TM SmaCom is a combination of delicacy, uniqueness, quality and competitive price.</p>
                            <p class="small">TM SmaCom goes beyond common cooking methods so that to bring the customers a real satisfaction from food. </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">We present a new dish – chevupizza and chevupizza with cheese. It is an ordinary cheburek with delicious cheese and sausage filling.</p>
                            <p class="small">Frozen dish is stored at a temperature no more than below 18 °С for 6 months.</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner9.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat5_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat27/product1'); return false;">
                    <img src="img/chevpizza/chevpizza-classic.png" alt="">
                    <div class="title">Chevupizza</div>
                    <div class="subtitle"></div>
                </div>
                <div class="product" onclick="getPopup('subcat27/product2'); return false;">
                    <img src="img/chevpizza/chevpizza-cheese.png" alt="">
                    <div class="title">Chevupizza</div>
                    <div class="subtitle">with cheese</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat5_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>