<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1><img src="img/h1_subcat5.png" alt=""></h1>
			<div class="desc">
				<p>TM SmaCom предлагает Мороженое в ассортименте на любой вкус, наиболее востребованные позиции: Мороженое в вафельном стаканчике, Мороженое на палочке, семейное (весовое). </p>
			</div>
		</div>	
		<div class="middle">		
				<div class="hidden" id="hidden15">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small">Мороженое от ТМ SmaCom производится из цельного молока на мощностях Лубенского молочного завода, сырьевая база которого расположена в Полтавской области. </p>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small">Мороженое идеально сбалансировано, изготавливается согласно действующим Государственным стандартам (ДСТУ) на производство данного вида продукции.</p>	
							</div>
						</div>							
					</div>									
				</div>					
					

								
				<center><a href="" class="more" onClick="showHidden(this, 'hidden15'); return false;">подробнее</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner5.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside">
		<div class="middle">
			<div class="products">
				<div class="product" onclick="getPopup('subcat5/product1'); return false;">
					<img src="img/products/cat5/product_thumb_1.jpg" alt="">
					<div class="title">Мороженое</div>
					<div class="subtitle">«Каштан полтавский» ванильное в глазури</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product2'); return false;">	
					<img src="img/products/cat5/product_thumb_2.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Каштан полтавский» шоколадное в глазури</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product3'); return false;">	
					<img src="img/products/cat5/product_thumb_3.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle"> «Премьера»</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product4'); return false;">	
					<img src="img/products/cat5/product_thumb_4.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">Milkshake</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product5'); return false;">	
					<img src="img/products/cat5/product_thumb_5.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">Fresh cherry плодово-ягодное желейное</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product6'); return false;">	
					<img src="img/products/cat5/product_thumb_6.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">плодово-ягодное</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product7'); return false;">	
					<img src="img/products/cat5/product_thumb_7.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">ежевичное с пломбиром</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product8'); return false;">	
					<img src="img/products/cat5/product_thumb_8.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">пломбир ванильное в глазури с орехами фундук</div>
				</div>	
				<div class="product" onclick="getPopup('subcat5/product9'); return false;">	
					<img src="img/products/cat5/product_thumb_9.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">пломбир ванильное</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product10'); return false;">	
					<img src="img/products/cat5/product_thumb_10.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Фея» сливочное с сиропом крем-брюле</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product11'); return false;">	
					<img src="img/products/cat5/product_thumb_11.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Полярна зірка» с ароматом ванили</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product12'); return false;">	
					<img src="img/products/cat5/product_thumb_12.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Тобі і мені» шоколадное</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product13'); return false;">	
					<img src="img/products/cat5/product_thumb_13.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Тобі і мені» ванильное</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product14'); return false;">	
					<img src="img/products/cat5/product_thumb_14.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">со вкусом шоколада</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product15'); return false;">	
					<img src="img/products/cat5/product_thumb_15.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">с ароматом ванили</div>
				</div>
				<div class="product" onclick="getPopup('subcat5/product16'); return false;">	
					<img src="img/products/cat5/product_thumb_16.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Белоснежка» ванильное</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat5/product17'); return false;">	
					<img src="img/products/cat5/product_thumb_17.jpg" alt="">
					<div class="title">Мороженое </div>
					<div class="subtitle">«Каштан полтавский» ванильное</div>
				</div>						
			</div>
		</div>
	</div>			
</div>