<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat8.png" alt=""></h1>
            <div class="desc">
                <p>We realize how important it is for everyone in Ukraine to receive an adequate nutrition, the importance of having the opportunity to purchase delicious, safe, high quality products at an affordable price. We understand that at the moment, not every Ukrainian lives in abundance.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Thinking and caring about the needs of everyone in this country, we have created a cost-effective product line EkoSmac™. This is high-quality semi-finished food, which is produced by us in compliance with all international quality standards. </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> EkoSmac™ products are created according to the original recipes and from natural ingredients. By saving on packaging, logistics, advertising, marketing costs, we are able to give the consumers a product of the most convenient, best price. </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">more</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner2.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat7_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat7/product1'); return false;">
                    <img src="img/new_img/img-dump-sm-2.png" alt="">
                    <div class="title">Meat dumplings</div>
                    <div class="subtitle">"Bogatyrskiye"</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product2'); return false;">
                    <img src="img/products/cat7/product_thumb_2.jpg" alt="">
                    <div class="title">"Zastolnye"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product25'); return false;">
                    <img src="img/products/cat7/product_thumb_25.jpg" alt="">
                    <div class="title">"Ural"</div>
                    <div class="subtitle">meat dumplings</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product5'); return false;">
                    <img src="img/products/cat7/product_thumb_5.jpg" alt="">
                    <div class="title">Dumplings</div>
                    <div class="subtitle">with meat and garlic</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product9'); return false;">
                    <img src="img/products/cat7/product_thumb_9.jpg" alt="">
                    <div class="subtitle">Khinkali</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat7/product33'); return false;">
                    <img src="img/mother/img-cutlets-school.png" alt="">
                    <div class="title">"School"</div>
                    <div class="subtitle empty">cutlets</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product11'); return false;">
                    <img src="img/products/cat7/product_thumb_11.jpg" alt="">
                    <div class="title">"Student"</div>
                    <div class="subtitle">cutlets</div>
                    <div class="subtitle">fried/not fried</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product12'); return false;">
                    <img src="img/products/cat7/product_thumb_12.jpg" alt="">
                    <div class="title">"Bogatyrskie"</div>
                    <div class="subtitle">cutlets</div>
                    <div class="subtitle">fried/not fried</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product14'); return false;">
                    <img src="img/products/cat7/product_thumb_14.jpg" alt="">
                    <div class="subtitle">Grechaniky</div>
                    <div class="subtitle">fried/not fried</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product22'); return false;">
                    <img src="img/products/cat7/product_thumb_22.jpg" alt="">
                    <div class="subtitle">Meatballs</div>
                    <div class="subtitle">fried/not fried</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product23'); return false;">
                    <img src="img/products/cat7/product_thumb_23.jpg" alt="">
                    <div class="subtitle">Chebureki</div>
                    <div class="subtitle">fried/not fried</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat7/product21'); return false;">
                    <img src="img/frozen/img-cutlet-sticks.png" alt="">
                    <div class="title">Chicken</div>
                    <div class="subtitle">nuggets</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product19'); return false;">
                    <img src="img/frozen/img-cutlet-rolls.png" alt="">
                    <div class="title">Cabbage rolls</div>
                    <div class="subtitle">«Ukrainian»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product32'); return false;">
                    <img src="img/frozen/img-cutlet-chicken.png" alt="">
                    <div class="title">"Chicken"</div>
                    <div class="subtitle empty">cutlets</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product13'); return false;">
                    <img src="img/frozen/img-cutlet-selyanskye.png" alt="">
                    <div class="title">"Selyanski"</div>
                    <div class="subtitle">cutlets with garlic</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat7_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>