<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/firmovi-en.png" alt="">
			</h1>
			<div class="desc">
				<!--<p>SmaSom™ presents a truly exclusive product - semi-finished hand-made "premium" class products. The need for development in this segment is to meet the demands of our customers. When we say "premium", we mean success, prosperity, quality.</p>-->
			</div>
		</div>
		<div class="middle">		
				<div class="hidden" id="hidden14">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<!--<p class="small">The production of the "premium" class products is an exclusive and focused on real quality taste lovers.</p>
								<p class="small">In the line of hand-made products from SmaSom™, we incorporate all the traditions of home preparation of meat dumplings and dumplings, we select only the freshest and highest quality ingredients.</p>-->
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<!--<p class="small">In particular, we use chilled meat and fish, combined with fragrant spices for the preparation of meat dumplings, and we select whole, sweet cherries for the preparation of the dumplings fillings. The classic recipe is in home traditions, and, of course, in hand figured molding, which creates excellent aesthetics and exceptional savoriness of the product!</p>-->
							</div>
						</div>							
					</div>									
				</div>									
				<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">more</a></center>
			</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner4.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat8_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">

				<div class="product" onclick="getPopup('subcat1/product11'); return false;">
					<img src="img/new_pack/firmovi.png" alt="">
					<div class="title">Dumplings “Firmovi”</div>
					<div class="subtitle"> from selected pork and flavored nutmeg</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product12'); return false;">
					<img src="img/new_pack/firmovi1.png" alt="">
					<div class="title">Dumplings “Firmovi”</div>
					<div class="subtitle">with beef, pork and fresh coriander</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product13'); return false;">
					<img src="img/new_pack/firmovi2.png" alt="">
					<div class="title">Dumplings “Firmovi”</div>
					<div class="subtitle"> with tender turkey<br>fillet</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product19'); return false;">
					<img src="img/new_pack/firmovi3.png" alt="">
					<div class="title">Dumplings “Firmovi”</div>
					<div class="subtitle">with mushrooms</div>
				</div>

<!--				<div class="product" onclick="getPopup('subcat8/product1'); return false;">
					<img src="img/products/cat8/product_thumb_1.jpg" alt="">
					<div class="title">Fish dumplings  </div>
					<div class="subtitle">with salmon and pink salmon</div>
				</div>

				<div class="product" onclick="getPopup('subcat8/product2'); return false;">	
					<img src="img/products/cat8/product_thumb_2.jpg" alt="">
					<div class="title">Meat dumplings </div>
					<div class="subtitle">with beef and pork </div>
				</div>
				<div class="product" onclick="getPopup('subcat8/product3'); return false;">					
					<img src="img/products/cat8/product_thumb_3.jpg" alt="">
					<div class="title">Cherry  </div>
					<div class="subtitle">dumplings</div>
				</div>	-->
													
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat8_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>