<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1><img src="img/h1_subcat10.png" alt=""></h1>
			<div class="desc">
				
				<div class="iconWrap">
					<img src="img/doypack_icon.png" alt="" width="175">
					<div ><span><p style="font: 26px/36px 'PFBP_thin';">SmaCom™ proudly presents a line of high-quality frozen convenience foods.  </p>
						<p>Products are presented in a convenient package of Doy-pack type. Learn more about this innovative packaging.</p> </span></div>
				</div>
			</div>
		</div>
		<div class="middle">			
				<div class="hidden" id="hidden13">
					<h2 style="color:#333; margin-top: 20px;">Package features</h2>
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<div class="imgContainer"><img src="img/cat6_left_col_img.jpg" alt=""></div>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small"> Packaging is made of two-layer lamination film, which has a number of functional properties:							<ul>
									<li>Air-tightness is provided by a strong metal clip fastener that prevents pouring out from the opened package.</li>
									<li>The presence of a resistant bottom allows you to conveniently place the Doy-pack package in the refrigerators and shop-windows.</li>
									<li> The new package proposes a balanced range of the most capacious categories: meat dumplings, khinkali, dumplings and pancakes.</li>
								</ul>  
								</p>
								<p class="small"> Juicy filling and thin dough are the main distinguishing characteristics of SmaCom™ meat dumplings. Meat dumplings are made accordingly to the current DSTU standarts for the production of this product. Meat dumplings have a circular "Saturn" shape, which provides a greater value of meat to dough than the "ravioli" form. </p>								
								<p class="small"> Lush, delicious dumplings from SmaCom™ are presented with the most popular types of fillings in Ukraine. Fillings are made only from natural ingredients: natural potatoes and fresh mushrooms in the dumplings with potato filling, natural cottage cheese in the cottage cheese dumplings, frozen, crushed berries in the dumplings with cherries.</p>
								<p class="small"> Openwork pancakes from SmaCom™ are outstanding in their production technology. It is based on a bilateral frying of dough, ie, exactly the same way of making pancakes at home. This provides an excellent taste, attractive appearance of the product and its high degree of readiness. </p>								
							</div>
						</div>							
					</div>									
				</div>						
				<center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">more</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner2.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat9_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">
				<!--<div class="product" onclick="getPopup('subcat9/product1'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_1.jpg" alt="">-->
					<!--<div class="title">Meat Dumplings </div>-->
					<!--<div class="subtitle">with pork</div>-->
				<!--</div>-->
				<div class="product" onclick="getPopup('subcat9/product2'); return false;">
					<img src="img/new_img/img-dump-sm-0.png" alt="">
					<div class="title">Meat dumplings  </div>
					<div class="subtitle"> with pork and beef </div>
				</div>
				<div class="product" onclick="getPopup('subcat9/product3'); return false;">
					<img src="img/new_img/img-dump-sm-1.png" alt="">
					<div class="title">Meat dumplings  </div>
					<div class="subtitle"> with beef </div>
				</div>
				<br>
				<!--<div class="product" onclick="getPopup('subcat9/product4'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_4.jpg" alt="">-->
					<!--<div class="title">Meat dumplings </div>-->
					<!--<div class="subtitle">with chicken </div>-->
				<!--</div>-->
				<!--<div class="product" onclick="getPopup('subcat9/product5'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_5.jpg" alt="">-->
					<!--<div class="subtitle">Khinkali</div>-->
					<!--<div class="subtitle empty"> &nbsp;</div>-->
				<!--</div>-->
<!--				<div class="product" onclick="getPopup('subcat9/product6'); return false;">
					<img src="img/new_pack/var_k.png" alt="">
					<div class="title">Dumplings    </div>
					<div class="subtitle">with potatoes</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat9/product7'); return false;">
					<img src="img/products/cat9/product_thumb_7.jpg" alt="">
					<div class="title">Dumplings   </div>
					<div class="subtitle">with potatoes and mushrooms </div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat9/product8'); return false;">
					<img src="img/new_pack/var_s.png" alt="">
					<div class="title">Dumplings    </div>
					<div class="subtitle">with cottage cheese</div>
				</div>-->

				<!--<div class="product" onclick="getPopup('subcat9/product13'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_13.jpg" alt="">-->
					<!--<div class="title">Pancakes   </div>-->
					<!--<div class="subtitle">with meat</div>-->
				<!--</div>									-->

				<!--<div class="product" onclick="getPopup('subcat9/product12'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_12.jpg" alt="">-->
					<!--<div class="title">Pancakes  </div>-->
					<!--<div class="subtitle">with chicken and mushrooms</div>-->
				<!--</div>-->
				<!--<div class="product" onclick="getPopup('subcat9/product11'); return false;">-->
					<!--<img src="img/products/cat9/product_thumb_11.jpg" alt="">-->
					<!--<div class="title">Pancakes  </div>-->
					<!--<div class="subtitle">with cottage cheese and raisins</div>-->
				<!--</div>-->
                <!--<div class="product" onclick="getPopup('subcat3/product18'); return false;">-->
                    <!--<img src="img/products/cat3/product_thumb_18.jpg" alt="">-->
                    <!--<div class="title">Pancakes </div>-->
                    <!--<div class="subtitle">with apples and cinnamon  </div>-->
                <!--</div>-->
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat9_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>