<div class="popupHeader">
	<div class="title"><h1>Узвар</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/four_u_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Узвар – традиционный украинский напиток из сушеных фруктов и ягод. TM «SmaCom» создала по-настоящему домашний, вкусный узвар, который будет незаменим на вашем праздничном столе. В напитке удачно сочетаются яблоки, груши, шиповник.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Узвар – источник полезных витаминов, потому как фрукты только доводят до кипения, а не подвергают длительной варке. Будьте здоровы с TM «SmaCom»!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Вода питьевая, сухофрукты – 10% (яблоки, груши, шиповник), сахар, кислота лимонная.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>0,3 г</span></li>
						<li>жиры<span>0,0 г</span></li>
						<li>углеводы<span>10,01 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>174,1 кДж (41,6 ккал)</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>1 л</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">Разморозить до полного оттаивания.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>