<div class="popupHeader">
	<div class="title"><h1>Компот</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/four_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Лето – прекрасное время витаминов и время заготовки даров природы на зиму. Теплая пора дарит нам много вкусных ягод, благодаря которым мы можем наслаждаться летними напитками в холодную погоду.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>TM «SmaCom» сохранила кусочек лета в замороженных компотах, которые помогут поддерживать витамины в организме человека и зимой. В состав напитка входят вишня, черная смородина, клубника и слива – очень удачный ягодный союз!</p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Вода питьевая, смесь для компота замороженная (вишня, черная смородина, клубника, слива), сахар, кислота лимонная.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>0,1 г</span></li>
				<li>жиры<span>0,04 г</span></li>
				<li>углеводы<span>7,0 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>120,3 кДж (28,8 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 л</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
        <div class="text">Разморозить до полного оттаивания.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>