<div class="popupHeader">
	<div class="title"><h1>Суп гороховий з м’ясом курки/свинини/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-peaSoup-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Гороховий суп – страва, яку полюблять багато людей. Базовими інгредієнтами є м'ясо, горох, морква, цибуля, прянощі і сіль. Кожен може вибрати собі улюблений гороховий суп у залежності від м'яса: курка, свинина, або яловичина. У процесі приготування горох розварюється і стає м'яким, а страва набуває особливого смаку та аромату.</p>
                    <p>Гороховий суп володіє відмінними смаковими якостями і при цьому корисний. Оцініть якість і неповторний смак горохового супу від ТМ «SmaCom»! Такий суп нагадає кожному про дитинство!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп гороховий з м’ясом курки</div>
		<div class="consistInside">
			<div class="text">М’ясо курки, картопля, горох, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>36,5 г</span></li>
				<li>жири<span>17,5 г</span></li>
				<li>вуглеводи<span>41,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>391,2 кДж (93,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп гороховий з м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">М’ясо свинина, картопля, горох, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>32,5 г</span></li>
				<li>жири<span>29,0 г</span></li>
				<li>вуглеводи<span>41,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>464,4 кДж (111,0 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп гороховий з м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">М’ясо яловичина, картопля, горох, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>34,5 г</span></li>
				<li>жири<span>15,6 г</span></li>
				<li>вуглеводи<span>40,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>369,5 кДж (88,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>