<div class="popupHeader">
	<div class="title"><h1>Суп рисовий з м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-riceSoup-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Рис – це не лише рисова каша чи плов, це ще дуже смачні супи. Рисовий суп із м'ясом дуже поживний та смачний. Пропонуємо суп на вибір із м’ясом свинини, курки, або яловичини. Рисовий суп відноситься до зігріваючих супів, така перша страва стане особливо незамінною у дорозі.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп рисовий з м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">М’ясо (яловичина, свинина , курка), м’ясо, картопля, крупа рисова, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>22,0 г</span></li>
				<li>жири<span>27,8 г</span></li>
				<li>вуглеводи<span>27,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>375,9 кДж (89,9 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп рисовий з м’ясом курки</div>
		<div class="consistInside">
			<div class="text">М’ясо (яловичина, свинина , курка), м’ясо, картопля, крупа рисова, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>25,5 г</span></li>
				<li>жири<span>17,0 г</span></li>
				<li>вуглеводи<span>27,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>303,8 кДж (72,6	 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад суп рисовий з м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">М’ясо (яловичина, свинина , курка), м’ясо, картопля, крупа рисова, цибуля, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>24,0 г</span></li>
				<li>жири<span>15,5 г</span></li>
				<li>вуглеводи<span>27,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>290,8 кДж (69,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>