<div class="popupHeader">
	<div class="title"><h1>Каша рисова з м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-rise-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Рис у поєднанні з м’ясом – це традиційна східна страва, яка існує вже багато століть. Правильна технологія приготування ТМ SmaCom не дозволяє рису злипатися, він виходить розсипчастим та ніжним. Рис готується разом із м’ясом, вбираючи в себе його аромат і смак.</p>
					<p>Рис відмінно смакує з м’ясом курки, свинини, яловичини. Курка та яловичина роблять страву не жирною, а свинина соковитою.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каши рисової з м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">Рис варений, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>20,0	г</span></li>
				<li>жири<span>18,6 г</span></li>
				<li>вуглеводи<span>51,5 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>541,0 кДж (129,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каши рисової з м’ясом курки</div>
		<div class="consistInside">
			<div class="text">Рис варений, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>22,4 г</span></li>
				<li>жири<span>27,7 г</span></li>
				<li>вуглеводи<span>49,4 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>640,6 кДж (153,1 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каши рисової з м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">Рис варений, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>22,1 г</span></li>
				<li>жири<span>15,8 г</span></li>
				<li>вуглеводи<span>51,5 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>520,9 кДж (124,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>