<div class="popupHeader">
	<div class="title"><h1>Картопля тушкована з овочами та м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-potatoStew-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Не можна уявити собі щоденне меню без картоплі. ТМ SmaCom пропонує найпопулярнішу страву на українському столі за власним рецептом – тушковану картоплю з різними видами м’яса: свининою, яловичиною та курятиною.</p>
					<p>Аби отримати апетитну страву ми використовуємо відібрану картоплю, яка має не властивості розварюватися. Картопля не дуже подрібнюється, аби одночасно набути готового вигляду разом із м’ясом. Страва виходить дуже ароматна завдяки додаванню цибулі, моркви та часнику. Відмінний смак!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад картоплі тушкованої з овочами та м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">Картопля очищена, м'ясо 1 гатунок, вода пина, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>17,5 г</span></li>
				<li>жири<span>19,6 г</span></li>
				<li>вуглеводи<span>	28,4 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>430,1 кДж (102,8 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад картоплі тушкованої з овочами та м’ясом курки</div>
		<div class="consistInside">
			<div class="text">Картопля очищена, м'ясо 1 гатунок, вода пина, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>20,7 г</span></li>
				<li>жири<span>17,2 г</span></li>
				<li>вуглеводи<span>28,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>417,1 кДж (99,7 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад картоплі тушкованої з овочами та м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">Картопля очищена, м'ясо 1 гатунок, вода пина, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>19,6 г</span></li>
				<li>жири<span>16,1 г</span></li>
				<li>вуглеводи<span>28,4 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>402,5 кДж (96,2 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>