<div class="popupHeader">
	<div class="title"><h1>Квасоля з овочами та м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-bean.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Квасоля є однією з найдавніших та унікальних культур. На сьогоднішній день вона входить у раціон багатьох країн. Аби зробити не лише смачну, корисну, але й поживну страву, ми поєднали квасолю з овочами та м’ясом.</p>
                    <p> Для любителів низькокалорійної та нежирної їжі, пропонуємо квасолю з курятиною, або яловичиною. Любителям ситної їжі до вподоби стане страва з м’ясом свинини. Квасоля у страві виходить дуже ароматною і ніжною, просочується м'ясним та овочевим соком зі спеціями. Навіть той, хто не любить квасолю, залюбки спробує!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад квасолі з овочами та м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">Квасоля  варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>65,1 г</span></li>
				<li>жири<span>34,0 г</span></li>
				<li>вуглеводи<span>117,3 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>1237,2 кДж (295,7 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад квасолі з овочами та м’ясом курки</div>
		<div class="consistInside">
			<div class="text">Квасоля  варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>68,6 г</span></li>
				<li>жири<span>31,5 г</span></li>
				<li>вуглеводи<span>117,3 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>1227,6 кДж (293,4 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад квасолі з овочами та м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">Квасоля  варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>67,6 г</span></li>
				<li>жири<span>30,5 г</span></li>
				<li>вуглеводи<span>117,3 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>1211,3 кДж (289,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>