<div class="popupHeader">
	<div class="title"><h1>Борщ український з квасолею та яловичиною</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort" style="padding:70px 60px 50px;">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-borscht-pop_pack.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>ТМ Smacom має у своєму асортименті червоний борщ на трьох м’ясних бульйонах. Окрім цього ми запропонували ще один варіант цієї чудової страви – червоний борщ із квасолею. На відміну від класичного рецепту борщу, тут присутня квасоля, яка робить першу страву ще ситніше, та смачніше.</p>
                    <p>Аби отримати дієтичну та корисну страву, ми готуємо борщ із квасолею з м’ясом яловичини.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукта</div>
		<div class="consistInside">
			<div class="text">М'ясо (яловичина, свинина, курка), квасоля, картопля, капуста білокачанна, , буряк червоний, цибуля ріпчата, морква , олія соняшникова рафінована дезодорована, паста томатна, сіль кухонна, цукор білий , перець солодкий, оцет, перець чорний мелений.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>22,0 г</span></li>
				<li>жири<span>21,5 г</span></li>
				<li>вуглеводи<span>21,5 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>307,5 кДж (73,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,500 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>