<div class="popupHeader">
	<div class="title"><h1>Каша гречана з м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-buckwheat-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Гречана каша є найпопулярнішою стравою на українському столі. Особливо корисна вона для тих, хто хоче бути здоровим та красиво виглядати. Ми смачно поєднали гречку з м’ясом та отримали дуже поживну страву. Насичена вітамінами гречка та дієтичне м’ясо курки, або яловичини смакуватиме особливо дітям, а гречка зі свининою – чоловікам. Страва апетитна на вигляд, ароматна та соковита.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші гречаної з м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">Каша гречана, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>23,1 г</span></li>
				<li>жири<span>30,5 г</span></li>
				<li>вуглеводи<span>45,2 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>654,0 кДж (156,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші гречаної з м’ясом курки</div>
		<div class="consistInside">
			<div class="text">Каша гречана, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>26,3 г</span></li>
				<li>жири<span>28,0 г</span></li>
				<li>вуглеводи<span>45,2 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>642,7 кДж (153,6 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші гречаної з м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">Каша гречана, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>25,2 г</span></li>
				<li>жири<span>27,0 г</span></li>
				<li>вуглеводи<span>45,2 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>626,3 кДж (149,7 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>