<div class="popupHeader">
	<div class="title"><h1>Каша перлова з м’ясом свинини/курки/яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-pearlBarley-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Каша перлова – страва дитинства. І не випадково, адже саме перловка, як її називають удома, багата клітковиною та вітамінами. Цікаво, що назва «перлова» походить від староруської «перли», що означає – річкові перли. Така гарна назва ідеально поєднується з харчовою цінністю, що має ця каша.</p>
                    <p>Перлова каша цілком може стати одним із основних компонентів збалансованого раціонального харчування. Ми пропонуємо кашу з трьома видами м’яса, які ідеально поєднуються з нею: свининою, яловичиною та курятиною.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші перлової з м’ясом свинини</div>
		<div class="consistInside">
			<div class="text">Перловка варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>20,3 г</span></li>
				<li>жири<span>29,1 г</span></li>
				<li>вуглеводи<span>52,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>662,3 кДж (158,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші перлової з м’ясом курки</div>
		<div class="consistInside">
			<div class="text">Перловка варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>23,5 г</span></li>
				<li>жири<span>26,6 г</span></li>
				<li>вуглеводи<span>52,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>651,0 кДж (155,6 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад каші перлової з м’ясом яловичини</div>
		<div class="consistInside">
			<div class="text">Перловка варена, м’ясо 1 гатунок, олія соняшникова, сіль кухонна, морква, цибуля, перець чорний</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>22,4 г</span></li>
				<li>жири<span>25,6 г</span></li>
				<li>вуглеводи<span>52,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>634,7 кДж (151,7 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>