<div class="popupHeader">
    <div class="title">
        <h1>Готові страви в реторт-пакетах</h1>
    </div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent cat retort">
    <div class="PopupImageContainer">
        <img  class="productPopupImage" src="img/retort/img-pack-pop.png" alt="">
    </div>

    <div class="col">
        <div class="colInner">
            <p class="small">Виробництво поповнилось цехом із сучасним новітнім обладнанням, яке дає можливість виробляти готові до вживання м’ясні та м'ясо-овочеві страви.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Що таке реторт-пакет? У чому його переваги?</strong></p>
            </div>
            <p class="small">Реторт-пакет — харчова упаковка, що використовується як альтернатива консервним банкам.</p>
            <p class="small">Реторт-пакет складається з декількох ламінованих шарів, здатних витримувати високі температури при стерилізації в автоклаві.</p>
            <p class="small">Реторт- пакет був розроблений для американської армії ще у 1978 році і дотепер використовується збройними силами США для упаковки сухих пайків. З 2016 року ТОВ «Пирятинський делікатес» ввела дану розробку у власне виробництво, забезпечуючи продукцією українську армію та пропонуючи споживачам на ринку.</p>
            <p class="small">Страви в реторт пакеті зберігаються при температурі від 0 до +25 градусів і відносній вологості 72%.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Інструкція з використання страв в реторт-пакеті</strong></p>
            </div>
            <p class="small"><strong>Застереження!</strong> Забороняється класти реторт пакет зі стравою:</p>
            <ul>
                <li>
                    <strong>у відкритий вогонь!</strong>
                </li>
                <li>
                    <strong>у мікрохвильову піч!</strong>
                </li>
            </ul>
            <p class="small"></p>

            <div class="desc" style="text-align:left">
                <p><strong>Спосіб приготування:</strong></p>
            </div>
            <ul>
                <li>розігріти вміст пакету, зануривши його (не розкриваючи) в гарячу воду;</li>
                <li>розігріти вміст пакету поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);</li>
                <li>розігріти вміст пакету  на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);</li>
            </ul>
            <p class="small"></p>
            <p class="small">Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <p class="small">Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Подорожуйте, відпочивайте та не хвилюйтесь про харчування! Зі стравами у реторт-пакетах від ТМ Smacom дотримуватися здорового режиму харчування дуже легко у будь-яких умовах.</strong></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="colInner">
            <div class="desc" style="text-align:left">
                <p><strong>Технологія приготування страв в реторт-пакетах</strong></p>
            </div>
            <p class="small">Готові до вживання страви готують на сучасному обладнанні. Виробниче обладнання дозволяє готувати, запікати і обсмажувати страви без додаткового використання будь-яких жирів та готувати круп’яні та овочеві страви на пару.</p>
            <p class="small">Технологія приготування готових до вживання страв у реторт-пакетах полягає у попередній термічній обробці окремих складових страви.</p>
            <p class="small">Вся сировина надходить у гарячий цех, де проходить її термічна обробка. Далі усі інгредієнти поєднуються, потім страви автоматизовано дозуються порціями в реторт-пакети.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Автоматизоване дозування страви в реторт-пакети</strong></p>
            </div>
            <p class="small">Підготовлена і перевірена страва розфасовується в реторт-пакети на автоматизованій дозувальній машині. Вакуумний пристрій розкриває і дезінфікує реторт-пакети (до або після наповнення пакета).</p>
            <p class="small">Сухий залишок перших і других страв надходить у реторт-пакети через дозуючу лінію транспортеру, м’ясо-кістковий бульйон дозується через насос.</p>
            <p class="small">Наповнений стравою реторт-пакет герметично запаюється і укладається на лотки для автоклава. Наповнені реторт-пакети проходять процес стерилізації при високій температурі і тиску в паровому статичному автоклаві, що дає можливість отримати повноцінний, високоякісний і безпечний продукт харчування і продовжити термін використання страв на 24 міс.</p>
        </div>
    </div>

</div>