<div class="popupHeader">
	<div class="title"><h1>Свинина з перловою кашею та овочевим соусом</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort" style="padding:70px 60px 50px;">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-porkWithPearlBarley-pop_pack.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Свинина, не дивлячись на калорійність, по праву залишається найуживанішим м’ясом серед українців. Свинина з перволою кашею та овочевим соусом не залишить голодним жодного! Завдяки своєму солодкуватому смаку, свинина утворює справжній тандем з овочами, роблячи перлову кашу надзвичайно смачною.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукта</div>
		<div class="consistInside">
			<div class="text">М'ясо свинини 1 гатунку , крупа перлова, морква, цибуля ріпчаста сіль, перець чорний мелений, олія соняшникова рафінована дезодорована масло вершкове</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>20,3 г</span></li>
				<li>жири<span>29,1 г</span></li>
				<li>вуглеводи<span>52,9 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>662,3 кДж (158,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,350 кг</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Розігріти вміст пакету:</p>
            - зануривши його (не розкриваючи) в гарячу воду;
            <br>
            - поклавши його на будь-який нагрівальний прилад (радіатор опалення, радіатор машини і т. д.);
            <br>
            - на відкритому вогні, висипавши його вміст в ємкість для розігріву (каструля, сковорода і т. д.);

            <p>Після розігріву реторт пакет акуратно відкрити (особливо першу страву) з допомогою відривної смужки і по можливості висипати в ємкість для зручності споживання.</p>
            <br>
            <p>Страву перемішати та споживати. Пакет з другою стравою (каша в асортименті) перед відкриванням рекомендується розім’яти руками, а потім відкрити за допомогою відривної смужки. Страву перемішати та споживати.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>