<div class="popupHeader">
	<div class="title"><h1>Pilaf with chicken</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_pm_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Pilaf is one of the respectable meals of any kitchen mistress as it is extremely delicious and nourishing as well. For TM SmaCom pilaf cooking is culinary art. Mahmudov Karim devoted many years of his life to Uzbek cuisine research, especially to cooking the rice pilaf. He emphasized that the process is connected with such fields of knowledge as biology, chemistry and medicine as well. When a cook is aware of nutritives contained in meal and works up them carefully, he looks like a chemist.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>TM “SmaCom” knows very well the biological structure of used products, doing the meal flavored and preserves all nutritives. Parboiled rice which is the basis of pilaf goes well with chicken and spices. If you try the pilaf with chicken of TM “SmaCom” you will love it at once. </p>
						</div>
                    </div>
				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Parboiled rice, beef meat, carrots, refined deodorized sunflower seed oil, salt, curry, cumin.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>3,4 g</span></li>
			<li>fat<span>3,4 g</span></li>
			<li>carbohydrates<span>33,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>745,6 kJ (178,2 kcal)</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <p>Cut the packing a little bit, place the dish into microwave oven in a packing and warm up for 7 – 10 minutes at the power of 700 watts. Heat up the oven to 200 C. Place frozen meal into oven without packing and warm it up for 25-30 minutes. Serve hot. </p>
    </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>