<div class="popupHeader">
	<div class="title"><h1>Boiled rice</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_rv_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Rice cereal is associated with health as usual. It is rich in nutrients which are the source of our Energy (caloric) 100 g. Boiled rice is a perfect side dish for any meat or fish dishes. Also boiled rice goes well with different sauces, spices and fruits as well. There are wide range of variants, just choose the recipe which you like most. </p>
				<p>Rice cooking techniques has its own characteristics as the rice absorbs water very fast. </p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>That's why not all kitchen mistresses can get satisfied result in the end, as to get fluffy rice with each grain distinct and not mushy a little bit difficult.</p>
                <p>Today we have the solution: ТМ «SmaCom» offers second course, frozen pre-cooked meal “Boiled rice”. Just few minutes and you have organic food on your table!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water, first grade parboiled rice, salt.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>2,3 g</span></li>
				<li>fat<span>0,3 g</span></li>
				<li>carbohydrates<span>23,5 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>443,1 kJ (105,9 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Product should be pre-defrosted. Cut the packing a little bit, place the dish into the oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>