<div class="popupHeader">
	<div class="title"><h1>Rice with vegetables</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_ro_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>TM «SmaCom» offers pre-cooked meal, which just need to be warmed up. Boiled rice and vegetables – are the main ingredients of this meal, which is not only delicious and flavored, but provide a source of many nutrients. Vegetables are the source of rich minerals and vitamins. Cooked vegetables preserve all vitamins. They are easy to digest and gentle on your stomach.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>That’s why don’t forget about rice cereal with vegetable on your breakfast, even if you have already grew up.</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Boiled rice – 67 %, vegetable mix – 29 %, refined deodorized sunflower-seed oil, salt.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>5,6 g</span></li>
				<li>fat<span>9,9 g</span></li>
				<li>carbohydrates<span>51,3 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>1325,1 kJ (316,7 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
		<p>Product should be pre-defrosted. Cut the packing a little bit, place the dish into the oven and warm up for 7 – 10 minutes at the power of 750 watts.
        </p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>