<div class="popupHeader">
	<div class="title"><h1>Braised cabbage</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_km_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Braised cabbage with meat is rich separate second course that doesn't need side orders. The cabbage cut into long thin strips is very soft, lush and meat is delicate and tasty as well. Due to harmonized combination of selected vegetables, carrots, onions and salt, sugar, pepper, tomato paste and butter as well, cabbage and chicken breasts open their unique taste.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Besides unique taste the meal is very nourishing as the cabbage is a source of nutritive minerals. As the cabbage is low in calories and high in fiber, it is a valuable dietary food. Those who adore the braised cabbage will assess the delicious offer from TM “SmaCom”</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text">Cabbage – 74%, chicken breasts – 10%, carrots, carrots, fried onion, tomato paste, refined deodorized sunflower seed oil, salt, sugar, water, ground black pepper, first grade wheat flour.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>4,0 g</span></li>
						<li>fat<span>1,0 g</span></li>
						<li>carbohydrates<span>5,7 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>200,0 kJ (47,8 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>1 kg</li>
					</ul>												
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">Cooking method: Cut the packing a little bit, place the dish into microwave oven in a packing and warm up for 7 – 10 minutes at the power of 750 watts.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>