<div class="popupHeader">
	<div class="title"><h1>Boiled buckwheat</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_g_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Buckwheat is one of the most popular cereals, what’s more, it deserves big attention. In fact, it should be included in a diet of everybody. Buckwheat is easy to cook and considered as one of the healthiest cereals as it contains the variety of useful vitamins and minerals. It is not for nothing it is called as a “Queen” of cereals.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Culinaries ТМ «SmaСоm», offering modern person only organic and healthy food, has made new dish boiled buckwheat. It goes well with meat, vegetables, simply with milk, olive oil, or even can be eaten sweet, just add honey and fruits.</p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Water, first grade buckwheat, salt.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>4,2 g</span></li>
			<li>fat<span>1,1 g</span></li>
			<li>carbohydrates<span>2,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>456,5 kJ (109,1 kcal)</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Product should be pre-defrosted. Cut the packing a little bit, place the dish into the oven and warm up for 7 – 10 minutes at the power of 750 watts.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>