<div class="popupHeader">
	<div class="title"><h1>Crispy roasted chicken wings</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_k_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Everything brilliant is very simple and delicious. This refers to such meal as crispy roasted chicken wings from ТМ «SmaCom». Unique taste of meal comes out due to marinade which contains paprika, garlic, salt and chilli pepper.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>If you are about to make a party and want to surprise your friends by something extremely delicious, than spicy chicken wings from ТМ «SmaCom» are what exactly you need. Completely fragrant chicken wings with crispy skin is perfect beer appetizers. And in bad weather crispy roasted chicken wings will remind you of summer with its picnics, barbecue and grill.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text">Frozen meat stock – 62,2 %, (chicken wings), brine (water, salt, stabilizators (Е 450, Е 451), ground paprika, dried garlic, salt, ground chilli pepper.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>12,7 g</span></li>
						<li>fat<span>5,8 g</span></li>
						<li>carbohydrates<span>2,6 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span>474,5 kJ (113,4 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>1 kg</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">In a microwave oven: place the dish into the oven and warm up for 5 – 7 minutes  at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>