<div class="popupHeader">
	<div class="title"><h1>Stuffed pepper</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_pf_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Except food flavor, its aesthetic appearance is one of the main principals. Dishes served beautifully can usually greatly arouse people's appetite and help to improve your digestive system. </p>
                                <p>Stuffed pepper includes all present characteristics which is the evidence of our cook’s culinary skills. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>This meal will satisfy adults and kids as well. Stuffed pepper, in turn, is very rich dish, as the separate vegetables stuffed with chicken meat, tender veal, lard, perfect crumbly boiled rice, onions and carrots as well. </p>
                            <p>Stuffed pepper is not only delicious dish but extremely healthy too, because all fried elements are practically excluded. Enjoy your meal together with ТМ «SmaCom»! </p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Water,  fresh pepper, frozen meat stock – 17,3 % (chicken stock – 13,2 %, beef stock – 2,7 %, fat – 1,4 %), fried onions, tomato paste, carrots, rice, refined deodorized sunflower-seed oil, salt, textured soy protein (TSP), beans, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>12,7 g</span></li>
				<li>fat<span>6,8 g</span></li>
				<li>carbohydrates<span>22,1 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>466,1 kJ (111,4 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <p>Patties do not need to be pre-defrosted. Put the frozen pepper in a frying pan, add a little amount of water and stew at a very low heat under the closed lid for 5 – 7 minutes, turn on both sides. Preparing on a cooking basket: don’t defrost the pepper, insert the basket with pepper into a large pan containing boiling water and cover firmly. When the water starts boiling, cook for about 5 minutes. The steamer can be used as well. In a microwave oven: place frozen pepper into the oven and warm up for 4 – 7 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time.</p>
    </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>