<div class="popupHeader">
	<div class="title"><h1>Backed chicken thighs</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_gk_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
                        <div>
                            <!--<div class="title">1</div>-->
                            <p>Chicken thighs – are one of the favorite chicken part, because they are easy to eat, also ultra-juicy, tender and delicious as well. The main technique is to make marinade for pre-soaking thighs or covering them before frying.</p>
<!--                        </div>
                        <div>
                            <div class="title">2</div>-->
                            <p>That’s why cooks were extremely careful in choosing marinade and in result they got totally wonderful flavor. Hot spices and spicy blends go well with chicken thighs which can be great ingredient for side dishes.
                            </p>
                        </div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">
                            Frozen meat stock – 62,3 %, (chicken thighs ), brine ( water, salt, stabilizators (Е 450, Е 451), ground paprika, dried garlic, salt, ground chilli pepper.

                        </div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>12,1 g</span></li>
							<li>fat<span>10,4 g</span></li>
							<li>carbohydrates<span>2,6 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>637,64 kJ (152,4 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>1 kg</li>
						</ul>												
					</div>
				</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p> In a microwave oven: place the dish into the oven and warm up for 5 – 7 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>