<div class="popupHeader">
	<div class="title"><h1>Braised cabbage with mushrooms</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_kgr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Cabbage became one of the favorite crops since the beginning of time as it is a good source of vitamins and goes well with any food. </p>
                            <p>So ТМ «SmaCom» offers delicious and nutritious meal “Braised cabbage with mushrooms”. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Such meal will satisfy anybody, especially who keeps up the balanced diet strictly. Despite the fact that mushrooms are low in calories, they provide important nutrients, vitamins and proteins.</p>
                            <p>Those who will not refuse from juicy, tender meat chop, cabbage with mushrooms is excellent side order. Following ordinary cooking technology braised cabbage with mushrooms come out really homemade dish.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Cabbage – 74%, fried mushrooms, carrots, fried onion, tomato paste, refined deodorized sunflower seed oil, salt, water, ground black pepper, first grade wheat flour.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
                <li>proteins<span>4,0 g</span></li>
                <li>fat<span>1,0 g</span></li>
                <li>carbohydrates<span>5,7 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>200,0 kJ (47,8 kcal)</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>1 kg</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <div class="text">Cut the packing a little bit, place the dish into microwave oven in a packing and warm up for 7 – 10 minutes at the power of 750 watts.</div>
        </div>
    </div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>