<div class="popupHeader">
	<div class="title"><h1>Блины </h1><span class="subtitle">с абрикосами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img class="productPopupImage" src="img/pancakes/img-pancakes-apricot--pop.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Сколько людей, столько и вкусов! ТМ SmaCom пытается заботиться о кулинарном вкусе каждого. Результат – расширенная линейка блинов уже готовых к употреблению. Теперь блюдо можно подать на стол за 5 минут и избежать длительного процесса жарки блинов дома.</p>
				<p>Мы ломаем стереотипы и предлагаем вам не только классический, но и изысканный вкус продукта – блины с абрикосами.</p>
				<p>Они особенные, они неповторимы! Начинка содержит свежие цели кусочки фруктов и сахар, которые закружились в самый сладкий тандем!</p>
				<p>Расширяйте свои гастрономические вкусы, экспериментируйте и наслаждайтесь жизнью!</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">
				Тесто: вода питьевая, мука пшеничная в/с, сахар, яичный порошок, масло подсолнечное рафинированное дезодорированное, соль поваренная, сода пищевая, кислота лимонная. Начинка: абрикосы, сахар, вода питьевая, крахмал картофельный.
			</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>2,6 г</span></li>
				<li>жиры<span>1,0 г</span></li>
				<li>углеводы<span>27,6 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span></span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,45 кг<span>± 3%</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>1. На разогретую сковородку, смазанной маслом, выложить блины. Жарить на слабом огне, постепенно переворачивая, до образования румяной корочки со всех сторон.</p>
			<p>2. Поместить блины в СВЧ-печь, разогревать 5-7 минут при мощности 700 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>