<div class="popupHeader">
	<div class="title"><h1>Meat  </h1><span class="subtitle">patties</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_1.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Meat patties from SmaCom™ are created under a unique recipe from domestic premium flour, with fried chicken filling and passaged onion and spices. This combination gives an extraordinary tenderness, juiciness and simultaneously satiety. Rectangular patties are perfect for a delicious meat filling, and it helps to satisfy hunger. Ingredients of SmaCom™ meat patties are very carefully and appropriately thought out. They contain reasonably distributed proteins and carbohydrates, so patties are perfectly acquired by an organism. The combination of natural Ukrainian ingredients and the latest manufacturing equipment helps to achieve maximum product quality. It is not only delicious, but also safe.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Patties with meat are particularly loved by men. This dish highlights their character. They appreciate patties for taste and satiety. Housewives will also love patties with meat from SmaCom™, since they can be prepared in just a few minutes by just being warmed up, and their taste and looks are truly like homemade.</p>
							<p>Treat yourself to homemade patties!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, roasted poultry, water, fried onion, sugar, margarine, baking yeast, powdered egg white, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>9,2 g</span></li>
			<li>fat<span>10,4 g</span></li>
			<li>carbohydrates<span>39,3 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>287,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C. The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>