<div class="popupHeader">
	<div class="title"><h1>Patties </h1><span class="subtitle"> apples with cinnamon</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_10.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Apples with cinnamon - a great creative tandem. The combination of this useful fruit and spices used in cooking many dishes. Try fragrant pies TM «Smacom» and enjoy their unrivaled taste and quality. After that sweet pies become a favorite delicacy for your entire family. Our chefs prepare them for a special recipe, thanks to which there is tenderness test and harmonious combination of apples with cinnamon. </p>
							<p>Pies are a great dessert for tea and a snack to quench your hunger.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Filling pies requires special attention because its preparation is very important to follow the proportions of fruit and spices, proper cleaning and slicing apples. Blush, lush, fragrant pies TM «Smacom» not only tasty, but also a source of nutrients due to its stuffing. </p>
							<p>Enjoy a wide variety pies TM «Smacom» and forget about the worries in the kitchen!</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Wheat, apples, drinking water, sugar, margarine, baking pressed yeast, potato starch, salt, dry pasteurized egg, Baking improver), emulsifier (E 471), cinnamon. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,7 g</span></li>
			<li>fat<span>8,7 g</span></li>
			<li>carbohydrates<span>58,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>336,7 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg <span>± 3 %</span></li>
			<li>2,5 kg</li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C.</p>
	<p>The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>