<div class="popupHeader">
	<div class="title"><h1>Patties </h1><span class="subtitle">with potatoes </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_3.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>It is interesting that the root of the word "patty" (pirozhok) comes from the word "feast" (pir), i.e. patties has long been an essential attribute of every celebratory table. And now you can see them served for any dinner, they are treated with, they are served as a separate dish...</p>
							<p>Patties with potatoes are very popular in Ukraine. They are valued primarily for satiety and incomparable taste. Potatoes with fried onions is a great filling to satisfy hunger. Rounded airy patties from SmaCom™ are appetizing and complement your diet.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p> In the preparation of the patties, a classic recipe with home traditions is sustained. This satisfies even the most sophisticated requirements of Ukrainian cuisine connoisseurs.</p>
							<p>Now every woman can prepare a delicious nourishing baking for her beloved one - quickly and without hassle!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, boiled potatoes, water, sugar, margarine, fried onion, baking yeast, powdered egg white, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>6,5 g</span></li>
			<li>fat<span>9,4 g</span></li>
			<li>carbohydrates<span>46,7 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>297,4 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C. The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>