<div class="popupHeader">
	<div class="title"><h1>Patties  </h1><span class="subtitle">with liver</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_2.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>We know everything about the patties and we can say with confidence that patties with liver from SmaCom™ cardinally differ from anything you have tried before. With plenty of filling and a thin layer of fragrant, sweet airy dough, patties with liver have a pretty large shape. This is a product which perfectly satisfies hunger and gives Energy (caloric) 100 g for the whole day. Patties with liver from SmaCom™ are valued both for the original form and for a spicy taste.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>In addition, SmaCom™ does not compromise on quality. Delivery to the production of fresh, clean and safe ingredients that meet all hygienic and microbiological standards is carefully controlled.</p>
							<p>Quality baking is guaranteed, see for yourself!</p>
						</div>															
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, water, boiled beef lungs, sugar, fried onion, margarine, boiled buckwheat, boiled pork liver, fat, baking yeast, powdered egg white, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,7 g</span></li>
			<li>fat<span>11,7 g</span></li>
			<li>carbohydrates<span>40,4 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>297,7 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C. The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							

