<div class="popupHeader">
	<div class="title"><h1>Fried buns stuffed with cabbage</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-2.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Patties with cabbage from TM SmaCom prepared according to classic recipes of Ukrainian cuisine. Our chefs will prepare them for a special recipe, thanks to which the test is felt soft and harmonious combination of cabbage.</p>
							<p>It is noteworthy that the patties with cabbage - that's healthy cuisine.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough, water, oil sunflower refined, deodorized, sugar, yeast, pressed, salt; filling: cabbage, water, fresh onion, sugar, vinegar, salt, sunflower oil, refined, deodorized, tomato paste.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>4,7 g</span></li>
			<li>fat<span>3,2 g</span></li>
			<li>carbohydrates<span>31,1 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>736,4 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg </li>
			<li>300 g <span>± 9 g</span> </li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts. </p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>