<div class="popupHeader">
	<div class="title"><h1>Fried buns stuffed with meat</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-0.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Fried buns stuffed with meat are cooked according to homemade recipe of high grade flour. They are filled with fried pork, beef, chicken, browned onion and pepper. </p>
							<p>This combination gives a unique tender. Buns are of triangle shape. There are three items in each package. Men love buns for their taste and richness. Housewives like buns because it is easy to cook them and they look like homemade buns.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">
			<strong>Dough:</strong> high grade flour, water, sunflower oil, sugar, compressed yeast, salt.
			<br>
			<strong>Filling:</strong> frozen meat stock (lard, trimmed meat of pork, beef, boning chicken, browned onion, water, salt, ground black pepper.
		</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>6,5 g</span></li>
			<li>fat<span>8,4 g</span></li>
			<li>carbohydrates<span>31,3 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>948,9 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg </li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts. </p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>