<div class="popupHeader">
	<div class="title"><h1>Patties  </h1><span class="subtitle">with "Raspberry" filling</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_5.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>"Do not sit down on a stump, do not eat a patty" - so says a folk tale character to the bear who loves raspberries. Let's step out of the fairy tale into reality!</p>
							<p>SmaCom™ offers a real treat for those who have a sweet tooth - patties with raspberry filling. Combining the best natural ingredients with spices, we have invented an amazing taste and aroma of baking, which will be undoubtedly appreciated by all. Patties from SmaCom™ can be served to hot tea, giving a particular zest to hospitality. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Baking will not only quickly satisfy the hunger, but will also bring a sense of inner harmony and pleasure. You will be tempted by the harmonious blend of apple puree with fragrant raspberry filling framed in tender yeast dough. Baked according to a home recipe, with love and affection, patties will be a favorite guest at a breakfast or lunch, banquet or feast.</p>
							<p>When you want summer mood, when you crave for the juice of life, easily cook patties from SmaCom™! This can be done in only a few minutes. Our baking has an excellent taste and gives a perfect mood for friendly family gatherings!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, baking yeast, powdered egg white, salt, apple filling with raspberry flavor (apple puree, corn syrup, citric acid, sodium benzoate, "Raspberry" flavor), water, sugar, margarine.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,6 g</span></li>
			<li>fat<span>8,7 g</span></li>
			<li>carbohydrates<span>54,8 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>319,9 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C. The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>