<div class="popupHeader">
	<div class="title"><h1>Fried buns stuffed with peas</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-1.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Try the fragrant fried pies with peas TM gusto, vote their unsurpassed taste and quality. When you try them once, they will take a worthy place in your kitchen. Pies our chefs will remind you a taste of home grandmother's pies, and children are happy they will be filled. Patties with peas suited to all first courses, as well as completely replace a full lunch or dinner.</p>
							<p>Patties with peas TM Smacom especially important during Lent.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough flour, potable water, Sunflower oil, sugar, yeast pressed, salt; Filling: boiled peas, fried onions, drinking water, Sunflower oil, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,9 g</span></li>
			<li>fat<span>4,2 g</span></li>
			<li>carbohydrates<span>33,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>819,2 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg </li>
			<li>300 g <span>± 9 g</span> </li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts. </p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>