<div class="popupHeader">
	<div class="title"><h1>Patties </h1><span class="subtitle">with cherries </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_6.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Cherry, praised by Gianni Radari, immortalized in cognac and which has even become an appellative name, has conquered the world. We can surely say that this is one of the best berries for baking.</p>
							<p>Despite its juiciness, cherry does not wet the dough, but gives a slight acidity and impregnates patties with its wonderful taste and aroma. Cherry is also good by the fact that patties with it can be prepared both in the summer, in the season of berries, and in winter, when baking can take frozen berries. The specialists of SmaCom™ use environmentally safe technology of fast freezing "ICEFree", so all useful vitamins and minerals of the berries are preserved.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p> Patties with cherries from SmaCom™, cooked according to the classic recipe in the home traditions of Ukrainian cuisine, are very tasty, lush, soft and airy. They associate with warm, sunny days, cloudless skies and excellent mood.</p>
							<p>Patties with cherries from SmaCom™ - tasty summer all year round! Live with the sunny mood!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, baking yeast, powdered egg white, salt, frozen cherries, water, sugar, margarine.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,6 g</span></li>
			<li>fat<span>8,7 g</span></li>
			<li>carbohydrates<span>46,8 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>287,9 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts or in a preheated oven at a temperature of 180-200 C. The heating time depends on the quantity of products simultaneously warmed up: the more patties you warm up, the more time you need. Patties do not need to be pre-defrosted.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>