<div class="popupHeader">
	<div class="title"><h1>Frozen puff  </h1><span class="subtitle">pastry</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_7.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Puff pastry from SmaSom™ will help to minimize the troubles in the kitchen. Due to its special recipe, it is perfect for baking using any fillings: meat, fish, mushrooms, fruits, vegetables. The weight of the sheet helps a rapid defrosting. You don't need to wait for 1-2 hours, as in the case with the dough in the rolls.</p>
							<p>Enjoy your meal!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, puff pastry margarine, natural-identical flavoring "Butter-cream", natural colorant β-carotene, citric acid, water, salt, bakery improver, egg powder.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,77 g</span></li>
			<li>fat<span>16,37 g</span></li>
			<li>carbohydrates<span>37,64 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>311,58 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>450 g <span>± 3 %</span></li>
			<li>900 g <span>± 3 %</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Release the dough from the outer packaging, thaw it at a room temperature of 20-25 °C. If necessary, roll the dough to the desired thickness. Form products, put them on a greased baking tray. For cutting, use a sharp knife or a recess, not to crush the edges of the dough. Cover with polyethylene to prevent chapping. Leave in a warm place (+25 ... +28 ° C), give time to rise. To give the finished products gloss and nice color, grease the surface with eggs before baking. Preheat oven to 220-230 ° C. Bake at 220-230 ° C until golden brown (small items - 10-15 min., large ones - 15-20 min.).</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>