<div class="popupHeader">
	<div class="title"><h1>Fried buns stuffed with potatoes</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-3.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>In Ukraine, pies and potatoes are popular. They are valued primarily for satiety and incomparable taste. Potatoes with fried onions is an excellent filling for satisfying hunger. Air rectangular cakes TM SmaCom impart palatability and supplement your diet.</p>
							<p>In the preparation of sustained recipe classical traditions in the home. Pies will satisfy the most sophisticated demands of connoisseurs of Ukrainian cuisine.</p>
							<p>Now every woman can quickly and without hassle to prepare loved ones a delicious hearty pastries!</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: drinking water, sunflower oil, sugar, yeast pressed, salt; filling: boiled potatoes, fried onions, salt, fennel fresh.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,7 g</span></li>
			<li>fat<span>3,6 g</span></li>
			<li>carbohydrates<span>41,1 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>918,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg </li>
			<li>300 g <span>± 9 g</span> </li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Warm up patties in the microwave for 3-4 minutes at a power of 700 watts. </p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>