<div class="popupHeader">
	<div class="title"><h1>Dumplings </h1><span class="subtitle">with potatoes and mushrooms</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kg_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>A simple question - what is the most suitable to the potatoes? The answer is simple too - of course, it is fried mushrooms, which emphasize the satiety of mealy potatoes by their unique and rich flavor.</p>
						<p>
						SmaCom™ dumplings with potatoes and mushrooms are the real Ukrainian dumplings, which Ukraine can be really proud of!</p>	
					</div>

					<div>
						<div class="title">2</div>
						<p>Dumplings with potatoes and mushrooms are valued primarily for their satiety and incomparable taste. There is nothing more delicious to satisfy hunger. Each hostess can quickly and without tortures of heat and steam make a tasty nourishing dinner to her beloved one! </p>			
						<p>SmaCom™ dumplings with potatoes and mushrooms is the best Ukrainian choice!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Extra class flour, boiled potatoes, mushrooms, mushrooms, drinking water, browned onions, butter, salt, vegetable oil, egg powder, black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>9,68 g</span></li>
				<li>fat<span>3,87 g</span></li>
				<li>carbohydrates<span>64,51 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>308,82 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,35 kg<span>± 5 g</span></li>
				<li>0,9 kg<span>± 5 g</span></li>
				<li>2,5 кг<span></span></li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put into a pan with a pre-fried onion. Fry until golden brown. Serve with garlic and sour cream.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>

