<div class="popupHeader">
    <div class="title"><h1>Dumplings  </h1><span class="subtitle">with cabbage</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kap_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>
                    Dumplings, whose recipe has been handed down from generation to generation were a favorite dish of Ukrainians. Almost every family had its own special kind of dumplings, which was maintained in the strictest confidence. Cabbage filling was very popular.  </p>
                <p>After all, cabbage is in many ways a sacred vegetable of Slavs. Primarily, due to the fact that they eat it all year round. They eat it raw and in a variety of dishes: salads, pies, soups and much more. It is quite an ordinary Ukrainian dish, but cabbage was also served to patricians after sumptuous dinners as an exquisite delicacy in ancient Rome.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Dumplings with cabbage is a favorite treat in all Ukrainian houses. This extremely simple, but at the same time original and unusual nourishing and full of vitamins dish inspires both children and adults. Wheat, made in the ecologically clean regions of Ukraine, is used in flour for producing dough for the dumplings. Cabbage is selected very strictly, so only exceptionally fresh and the most useful products get to the production. </p>
                <p>Dumplings with cabbage: traditionally tasty and healthy!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Ingredients</div>
        <div class="consistInside">
            <div class="text">Extra class flour, braised cabbage, carrots, water, onion, salt, egg powder, ground black pepper.</div>
            <div class="title">Nutritional (food) information:</div>
            <ul>
                <li>proteins<span>4,69 g</span></li>
                <li>fat<span>4,07 g</span></li>
                <li>carbohydrates<span>33,79 g</span></li>
            </ul>
            <div class="title">Energy (caloric) 100 g:</div>
            <ul>
                <li><span>190,6 kcal</span></li>
            </ul>
            <div class="title">Net weight and packing:</div>
            <ul>
                <li>0,9 kg<span>± 5 g</span></li>
                <li>2,5 кг<span></span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>Put the dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put into a pan with a pre-fried onion. Fry until golden brown. Serve with garlic and sour cream.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>