<div class="popupHeader">
	<div class="title"><h1>Dumplings </h1><span class="subtitle">with cottage cheese</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Ukrainians carefully keep their cooking recipes which they can be justifiably proud of. SmaCom™ dumplings with cottage cheese are  the traditional dumplings, whose recipe remains unchanged from the XVIII century. Fans of dairy products will certainly be pleased with this dish. Cottage cheese has beneficial effects on a growing body, because it serves as an excellent source of calcium and phosphorus. Thus, it is highly recommended for children.</p>	
						<p>Dough of the dumplings is made from high quality flour. It becomes unusually gentle and lush while cooking. Special cooling technology allows to achieve an absolute strength and integrity of the dough. Cottage cheese for the filling is an extremely natural dairy product.</p>						
					</div>

					<div>
						<div class="title">2</div>


						<p>An elegant and delicious mix of lush dough and sweet cottage cheese is useful for children and adults. Delicate taste will leave no one indifferent!</p>

						<p>SmaCom™ dumplings with cottage cheese is a Ukrainian tradition of a delicate taste and healthy food!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Extra class flour, cottage cheese, water, semolina, sugar, salt, vegetable oil, egg powder, vanilla.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>9,88 g</span></li>
				<li>fat<span>7,70 g</span></li>
				<li>carbohydrates<span>36,25 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>253,82 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<!--<li>0,1 kg<span>± 5 g</span></li>-->
				<li>0,35 kg<span>± 5 g</span></li>
				<li>0,9 kg<span>± 5 g</span></li>
				<li>2,5 kg<span>± 5 g</span></li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the dumplings with cottage cheese in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put on the plate. Add butter so the dumplings won't stick together. Serve with sour cream.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>