<div class="popupHeader">
	<div class="title"><h1>Liver </h1><span class="subtitle">dumplings</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_p_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						A lot of people consider that dumplings is an exceptionally Ukrainian product. Of course, this is our culinary trend, but they are popular in other countries too. For example, few people know that liver dumplings take a central place in the Moldavian cuisine. Moldovans prepare them using a special recipe. </p>	
						<p>It was recreated in the liver dumplings by the specialists of SmaCom™. Fresh liver of healthy animals raised in ecologically clean regions of Ukraine is used as filling. Before getting into production, raw material passes verification steps. In particular, it is tested for GMOs, microbiological, health indicators, etc. Only after it the liver gets into production. Further, it gets cleaned of the bile ducts and membranes.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Liver is prepared in a special way, by mixing with onions and herbs to give a bright and pronounced taste of spicy flavor. Combined with white lush dough, it becomes incomparable.</p>
						<p>SmaCom™ liver dumplings is an original and versatile dish, outstanding in it's special piquancy and delicate flavor. It was created from high quality ingredients after the original recipe.</p>	
						<p>SmaCom™ liver dumplings: properly cooked tenderness!</p>		
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, water, salt, vegetable oil, dill, black pepper, boiled beef liver. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>8,42 g</span></li>
			<li>fat<span>4,08 g</span></li>
			<li>carbohydrates<span>24,41 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>167,92 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<!--<li>0,1 kg<span>± 5 g</span></li>-->
			<li>0,35 kg<span>± 5 g</span></li>
			<!--<li>0,9 kg<span>± 5 g</span></li>-->
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the liver dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put in a wooden bowl. Serve with garlic and sour cream.</p>	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>