<div class="popupHeader">
	<div class="title"><h1>Dumplings </h1><span class="subtitle">with potatoes and liver</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_kp_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
							<p>Dumplings is the most favorite product in Ukraine. Some think that it is borrowed from the Iranians, other equate it to meat dumplings. It is known that dumplings existed in Tripolie times. Anyway, Ukrainian dumplings today are the main culinary trend worldwide, and the Ukrainians glorify them and don't get tired of experimenting with fillings. </p>
							<p>The result of these experiments is the appearing of dumplings with potatoes and liver. It is not a secret that liver is useful for the organism. It is a rich source of iron, phosphorus, amino acids and various useful enzymes. Liver contains vitamins A, D, E, K and is rich in B vitamins.</p>
							<p>SmaCom™ dumplings with potatoes and liver: a delicious and nourishing vitamin!</p>
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, boiled potatoes, beef liver, drinking water, browned onions, butter, salt, vegetable oil, egg powder, black pepper. </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,89 g</span></li>
			<li>fat<span>4,08 g</span></li>
			<li>carbohydrates<span>30,40 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>189,92 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,35 kg<span>± 5 g</span></li>
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put the dumplings with potatoes and liver in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and put in a wooden bowl. Serve with garlic and sour cream.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>