<div class="popupHeader">
	<div class="title"><h1>Cherry </h1><span class="subtitle">dumplings</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat2/product_popup_4.jpg" alt=""></div>

			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Ukrainian dumplings are not just a food, but a national color, symbol and pride. Appetizing crescents have been glorified in the Ukrainian literature and are loved in every house. Ukrainian cherry dumplings are the world's legend without any doubts. Any foreigner arriving in Ukraine, first of all, will want to taste the dumplings. </p>	
						<p>SmaCom™ dumplings with cherries are: molded white dough made of the finest flour and juicy cherries, carefully cleaned of stones.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Before getting into dumplings, selected cherry is covered with sugar to form a truly homemade taste. Ultramodern technologies and professional control at all stages make SmaCom™ dumplings absolutely safe and high-quality and figured molding is not only aesthetically pleasing, but also ensures the integrity of the dish after cooking.</p>
						<p>Enjoy your meal!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Extra class flour, cherries, water, sugar, semolina, egg powder, vegetable oil, salt.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>4,01 g</span></li>
			<li>fat<span>0,8 g</span></li>
			<li>carbohydrates<span>35,4 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>165,12 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<!--<li>0,1 kg<span>± 5 g</span></li>-->
			<li>0,35 kg<span>± 5 g</span></li>
			<li>0,9 kg<span>± 5 g</span></li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Put cherry dumplings in a plenty of salted boiling water. Boil until cooked. Finished dumplings start to float. Remove them with a slotted spoon and pour the warmed butter on them. Sweet syrup can be served separately. The best syrup choice is cherry or black cherry syrup, you can also add jam.</p>	
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>