<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">с ливером</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_2.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Мы знаем о пирожках все и можем смело утверждать, что пирожки с ливером от  TM SmaCom кардинально отличаются от всего, что вы пробовали раньше.  С большим количеством начинки и тонким слоем  ароматного, воздушного сдобного теста пирожки с ливером имеют довольно большую форму. Это продукт, который отлично утоляет голод, заряжая энергией и силой на весь день. Пирожки с ливером TM SmaCom ценятся как за оригинальную форму, так и за пикантный  вкус.</p>

						</div>
						<div>
							<div class="title">2</div>
							<p>К тому же, TM SmaCom  не экономит на качестве – на производстве тщательно контролируется  поступление свежих экологически чистых и безопасных продуктов, которые соответствуют всем санитарно-гигиеническим и микробиологическим нормам.</p>
							<p>Качественная выпечка гарантирована, убедитесь  сами! </p>
						</div>															
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, вода, легкие говяжьи отварные, сахар, лук жареный, маргарин, крупа гречневая отварная, печенка свиная отварная, сало, дрожжи хлебопекарские, белок яичный сухой, соль, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>7,7 г</span></li>
			<li>жиры<span>11,7 г</span></li>
			<li>углеводы<span>40,4 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>297,7 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогреть в микроволновой печи 3-4 минуты при мощности 700 Вт или в предварительно разогретой духовке при температуре 180-200 С. Время разогрева зависит от количества изделий, разогреваемых одновременно: чем больше пирожков, тем больше нужно времени. Пирожки предварительно не нужно размораживать.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							

