<div class="popupHeader">
	<div class="title"><h1>Тесто </h1><span class="subtitle">слоено-дрожжевое замороженное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_8.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Это тесто создано для настоящих сластён. Его можно использовать без дополнительной раскатки для максимального поднятия или раскатать  в тонкий слой для приготовления тортов, пирогов, основ для пиццы. А удобная расфасовка теста  листами (вместо рулона) позволяет размораживать лишь необходимое его количество.</p>
							<p>Вкусной выпечки!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, вода питьевая, маргарин для слоеного теста, ароматизатор натурально-идентичный «Масло-сливки», краситель натуральный β-каротин, лимонная кислота, дрожжи хлебопекарские, соль, сахар, хлебопекарский улучшитель, яичный порошок, ароматизатор идентичный натуральному «Ванилин».</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>5,68 г</span></li>
			<li>жиры<span>17,46 г</span></li>
			<li>углеводы<span>37,21 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>319,49 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>450 г <span>± 3 %</span></li>
			<li>900 г <span>± 3 %</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Освободить тесто от внешней упаковки, разморозить при комнатной температуре (20-25 °C). При необходимости раскатать тесто до нужной толщины. Сформировать изделия, выложить на смазанный маслом противень. Для нарезания использовать острый нож или выемку, чтобы не смять края теста. Накрыть полиэтиленом во избежание обветривания. Поставить в теплое место (+25…+28 °C), дать подойти. Для придания готовым изделиям блеска и румяности, перед выпеканием смазать их поверхность яйцом. Разогреть духовку до 220-230 °C. Выпекать при температуре 200-220 °C до образования румяной корочки (мелкие изделия – 10-15 мин., крупные – 15-20 мин.).</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>