<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">с капустой</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_4.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Пирожки с капустой от TM SmaCom с отменными вкусовыми качествами, приготовлены согласно классической рецептуре украинской кухни.  Выпечка из дрожжевого сдобного теста с большим количеством начинки, непременно понравится любителям вкусненького.  </p>
							<p>Стоит отметить, что пирожки с капустой – это полезное  для здоровья блюдо. Лечебные свойства капусты воспевали ещё Гален и Авиценна.  Это вполне логично, ведь этот овощ содержит почти весь набор витаминов, и в частности противоязвенный витамин U, фитонциды, ферменты, соли калия, кальция, фосфора, серы, железа, йода.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p> Клетчатка капусты улучшает моторную деятельность кишечника и оказывает положительное влияние на развитие полезной кишечной микрофлоры. Кроме того, способствует выведению из организма шлаков.</p>
							<p>Пирожки с капустой от TM SmaCom – это вкусная и здоровая пища. Кушайте на здоровье!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, капуста жареная, вода, лук жареный, морковь жареная, сахар, маргарин, дрожжи хлебопекарские, белок яичный сухой, соль, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>9,1 г</span></li>
			<li>жиры<span>11,4 г</span></li>
			<li>углеводы<span>48,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>333 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогреть в микроволновой печи 3-4 минуты при мощности 700 Вт или в предварительно разогретой духовке при температуре 180-200 С. Время разогрева зависит от количества изделий, разогреваемых одновременно: чем больше пирожков, тем больше нужно времени. Пирожки предварительно не нужно размораживать.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>