<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">с наполнителем «Малина»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_5.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>«Не садись на пенек, не ежь пирожок» - так приговаривала героиня народной сказки медведю, который обожает  малину.  Шагнем из сказки в реальность?</p>
							<p>ТМ SmaCom предлагает настоящее лакомство для сладкоежек – пирожки с малиновым наполнителем. Соединив наилучшие специи с натуральными ингредиентами, мы изобрели удивительный вкус и аромат выпечки, которая, несомненно, придет по вкусу всем. Пирожки ТМ SmaCom смело можете подать гостям к горячему чаю, придав некую изюминку гостеприимству. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Выпечка не только быстро утолит чувство голода, но и принесет ощущение внутренней гармонии и удовольствия. Искушает гармоничное сочетание  яблочного пюре с ароматным малиновым наполнителем в обрамлении нежного дрожжевого теста. Испечённые по домашнему рецепту, с любовью и нежностью, пирожки будут любимым гостем на завтраке или обеде, празднике или банкете.</p>
							<p>Когда хочется летнего настроения, когда жаждется сока жизни, легко приготовьте пирожки ТМ SmaCom. Сделать это можно за несколько минут. Наша выпечка – это превосходный вкус и прекрасное настроение для дружеских семейных встреч!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, дрожжи хлебопекарские, белок яичный сухой, соль, наполнитель яблочный с привкусом малины (пюре яблочное, патока крахмальная, кислота лимонная, бензоат натрия, ароматизатор пищевой «Малина»), вода, сахар, маргарин.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>5,6 г</span></li>
			<li>жиры<span>8,7 г</span></li>
			<li>углеводы<span>54,8 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>319,9 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогревать в микроволновой печи 3-4 минуты при мощности 700 Вт или в предварительно разогретой духовке при температуре 180-200 С. Время разогрева зависит от количества изделий, разогреваемых одновременно: чем больше пирожков, тем больше нужно времени. Пирожки предварительно не нужно размораживать.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>