<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">жареные с мясом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-0.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Жареные пирожки с мясом от ТМ SmaCom созданы по уникальной домашней рецептуре из муки высшего сорта, в качестве начинки обжаренное мясо свинины, говядины, курицы, с добавлением пассированного лука и перца. Такое сочетание дает необычайную нежность. Пирожки прямоугольной формы, представлены в упаковке по 3 шт.</p>
							<p>Пирожки с мясом особенно любят мужчины, которые ценят пирожки за вкус и сытность. Хозяйки же любят пирожки с мясом ТМ SmaCom, так как приготовить их можно всего за несколько минут только разогрев, а вкус и вид у них истинно домашний.</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, сахар, дрожжи прессованные, соль поваренная пищевая. Начинка: мясное сырье замороженная (сало, мясо свинины жилованную, мясо говядины жилованную, мясо механической обвалки куриное), лук репчатый пассерованный, вода питьевая, соль поваренная пищевая, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>6,5 г</span></li>
			<li>жиры<span>8,4 г</span></li>
			<li>углеводы<span>31,3 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>948,9 кДж (226,8 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг</li>
			<li>300 г</li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогревать в микроволновой печи 3-4 мин. при мощности 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>