<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">жаренные с горохом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-1.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Попробуйте ароматные жареные пирожки с горохом ТМ Smacom и оцените их непревзойденный вкус и качество. Попробовав один раз, они займут достойное место на вашей кухне. Пирожки наших поваров напомнят вам вкус домашних бабушкиных пирожков, и дети с удовольствием ими насытятся. Пирожки с горохом подойдут ко всем первым блюдам, а также вполне заменят полноценный обед или ужин.</p>
							<p>Пирожки с горохом ТМ Smacom особенно актуально во время поста.</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: мука пшеничная в / с, вода питьевая, масло подсолнечное рафинированное дезодорированное, сахар, дрожжи прессованные, соль поваренная; начинка: горох вареный, лук репчатый пассерованный, вода питьевая, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>5,9 г</span></li>
			<li>жиры<span>4,2 г</span></li>
			<li>углеводы<span>33,6 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>819,2 кДж (195,8 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг </li>
			<li>300 г <span>± 9 г</span> </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогревать в микроволновой печи 3-4 мин. при мощности 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>