<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">с картошкой</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_3.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Интересно, что корень слова «пирожок» походит от слова «пир», т.е.  издавна пирожки были непременным атрибутом любого праздничного стола.  Да и сейчас  ими обедают, ими угощают, их подают на стол, как отдельное блюдо…</p>
							<p>На Украине особой популярностью пользуются пирожки с картошкой. Их ценят, прежде всего, за сытность и несравнимый вкус. Картошка с обжаренным луком - отличная начинка для утоления разыгравшегося голода.  Воздушные округлой формы пирожки TM SmaCom придают аппетитность и дополнят ваш рацион.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p> В приготовлении выдержана классическая рецептура в домашних традициях, что удовлетворит самые изысканные требования знатоков украинской кухни.</p>
							<p>Теперь каждая хозяйка может быстро, без лишних хлопот приготовить любимым и близким вкусную сытную выпечку!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, картофель отварной, вода, сахар, маргарин, лук жаренный, дрожжи хлебопекарские, белок яичный сухой, соль, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>6,5 г</span></li>
			<li>жиры<span>9,4 г</span></li>
			<li>углеводы<span>46,7 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>297,4 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогреть в микроволновой печи 3-4 минуты при мощности 700 Вт или в предварительно разогретой духовке при температуре 180-200 С. Время разогрева зависит от количества изделий, разогреваемых одновременно: чем больше пирожков, тем больше нужно времени. Пирожки предварительно не нужно размораживать.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>