<div class="popupHeader">
	<div class="title"><h1>Пирожки </h1><span class="subtitle">жаренные с картофелем</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-3.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>На Украине особой популярностью пользуются пирожки с картофелем. Их ценят, прежде всего, за сытность и несравнимый вкус. Картофель с обжаренным луком – отличная начинка для утоления разыгравшегося голода. Воздушные прямоугольной формы пирожки TM SmaCom придают аппетитность и дополнят ваш рацион.</p>
							<p>В приготовлении выдержана классическая рецептура в домашних традициях, что удовлетворит самые изысканные требования знатоков украинской кухни.</p>
							<p>Теперь каждая хозяйка может быстро, без лишних хлопот приготовить любимым и близким вкусную сытную выпечку!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, сахар, дрожжи прессованные, соль поваренная; начинка: картофель вареный, лук репчатый жареный, соль поваренная, укроп свежий. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>5,7 г</span></li>
			<li>жиры<span>3,6 г</span></li>
			<li>углеводы<span>41,1 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>918,8 кДж (219,6 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг </li>
			<li>300 г <span>± 9 г</span> </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пирожки разогревать в микроволновой печи 3-4 мин. при мощности 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>