<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> пломбир ванильное в глазури с орехами фундук</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_8.jpg" alt=""></div>

				<p>
				Попробуйте незабываемый вкус нежного пломбира в кондитерской глазури с орехами фундук от ТМ SmaCom. В основе мороженого – молоко, сливки, сгущенное молоко. </p>
				<p>Пломбир – это классика кулинарной традиции мороженого. Названный по имени французской провинции Пломбьер, он плотно вошел в нашу жизнь. Пломбиры являются базой для гастрономических изысков. Пломбир в чистом виде любят люди старшего поколения, а также люди, уважающие традиции, предпочитающие семейный образ жизни и любители ретро.</p>
				<p>Настоящий вкус детства – пломбир  в глазури, да еще и с орехами фундук вызывает ассоциации с качелями и выходными днями в семейном круг</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">сливки, молоко, глазурь, кондитерская 25% (масло кокосовое, сахар, какао тертое, какао-порошок натуральный, молоко сухое обезжиренное, ванилин), сахар, молоко сгущенное обезжиренное, вода, сыворотка сгущённая, патока крахмальная, орех фундук, гуарова камедь, каррагенан, ванилин.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>3,5 g</span></li>
							<li>fat<span>23,8 g</span></li>
							<li>carbohydrates<span>23,2 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1343 kJ (321 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

