<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> «Полярна зірка» с ароматом ванили</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_11.jpg" alt=""></div>

				<p>
				Нежное и вкусное мороженое с ароматом ванили предлагает TM SmaCom. При изготовлении этого холодного лакомства производитель сделал качество его основной характеристикой. Попробуйте и погрузитесь в сладкий холод полярной ночи, найдите свою звезду. Убедитесь во вкусовых качествах мороженого «Полярна зірка».  </p>
				<p>Интересный факт –  некоторые ЛОР-врачи считают, что поедание мороженого закаляет горло. Закаляя тело, мы в первую очередь приучаем его к контрасту температур. Значит, и регулярное употребление мороженого позволяет выработать местный иммунитет и приучить горло к низкой температуре. Только такие тренировки следует начинать осторожно и постепенно. Закаляйтесь и кушайте на здоровье! </p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко обезжиренное сухое, молочный белок, сахар, масло кокосовое, вода, стабилизатор, ароматизатор «Ванилин»); стаканчик вафельный (мука пшеничная, вода, яйца куриные, крахмал картофельный, масло подсолнечное, соль).</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>3,1 g</span></li>
							<li>fat<span>11,2 g</span></li>
							<li>carbohydrates<span>21,4 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>832,6 kJ (199 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

