<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">Milkshake</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_4.jpg" alt=""></div>

				<p>
				TС приходом тепла начинается «сезон мороженого». Этим продуктом любят лакомиться в жару и взрослые, и дети. Еще со времен императора Нерона смешивали горный лед с фруктами, туда же добавляли молоко, таким образом, получалась смесь, подобная мороженому.</p>
				<p>Вкуснейшее сочетание фруктового льда и ванильного мороженого предлагает TM SmaCom. Мороженое Milkshake – это освежающее лакомство в виде оригинального сплетения трехцветного льда фруктово-ягодного вкуса с ванильным мороженым. Разнообразие вкусов в этом  холодном десерте никого не оставит равнодушным. Мороженое питательно, бодрит и поднимает настроение.</p>
				<p>Milkshake от TM SmaCom – истинное наслаждение!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко обезжирено сухое, сахар, масло кокосовое, сироп, вода, ароматизатор «Ванилин»), лед 32% (вода, сахар, стабилизатор), лимонная кислота, ароматизаторы: «Клубника», «Яблоко», «Персик», «Маракуйя», красители, натуральны: бетанин, кармин, β-каротин, куркумин.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>2,5 g</span></li>
							<li>fat<span>8,1 g</span></li>
							<li>carbohydrates<span>20,8 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>695 kJ (166,1 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

