<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">   со вкусом шоколада</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_14.jpg" alt=""></div>

				<p>
				Наверное, невозможно встретить человека, ни разу в жизни не пробовавшего мороженого. Общеизвестно, что этот продукт наибольшей популярностью пользуется у детей, однако и взрослые зачастую любят полакомиться мороженым. Легкое мороженое 3% жирности со вкусом шоколада, приготовленное исключительно из натурального сырья, предлагает ТМ SmaCom.    </p>
				<p>Исторически сложилось так, что самым популярным остается  мороженое в стаканчике, которое не обязательно есть сидя на месте, что и привлекает современного человека, привыкшего жить в движении. А изысканный и утонченный вкус шоколада приумножит удовольствие от употребления  мороженого ТМ SmaCom.</p>
				<p>Смакуйте с удовольствием!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко обезжиренное сухое, молочный белок, сухой глюкозный сироп, какао-порошок, сахар, масло кокосовое, вода, стабилизатор, ароматизатор «Черный шоколад»); стаканчик вафельный (мука пшеничная, вода, яйца куриные, крахмал картофельный, масло подсолнечное, соль).</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>2,3 g</span></li>
							<li>fat<span>3,1 g</span></li>
							<li>carbohydrates<span>22,5 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>531,8 kJ (127,1 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>60 g</li>
						</ul>																		
					</div>
				</div>
</div>

