<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> пломбир ванильное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_9.jpg" alt=""></div>

				<p>
				Попробуйте чрезвычайно вкусный пломбир TM SmaCom, в основе которого молоко, сливки и сгущенное  молоко. Мороженое изготовлено по классической рецептуре. </p>
				<p>Это максимально полезный продукт, который изготовляется на основе цельного молока. Диетологи убеждены, что полное усвоение полезных веществ возможно лишь из пломбира. Еще во времена СССР в состав этого сорта входили лишь натуральные продукты, это и теперь остается наиболее ценным преимуществом в качестве этого продукта.</p>
				<p>Пломбир от TM SmaCom – настоящий вкус качества!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко, сливки, молоко, сгущенное, сахар), вафельный стаканчик (мука высшего и первого сорта, крахмал картофельный, масло, яйца куриные, сахар, соль), вода, стабилизатор-эмульгатор, ванилин</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>4,2 g</span></li>
							<li>fat<span>14,3 g</span></li>
							<li>carbohydrates<span>24,9 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1025 kJ (245,1 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>60 g</li>
						</ul>																		
					</div>
				</div>
</div>

