<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> плодово-ягодное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_6.jpg" alt=""></div>

				<p>
				Мороженое плодово-ягодное с ароматами груши и ванильно-сливочным в оболочке фруктового льда – это нежное фруктовое мороженое «2 в 1». Оболочка мороженого – фруктовый лед со вкусом сладкой груши,  внутри – натуральное фруктовое пюре из ванильно-грушевым вкусом. </p>
				<p>В жаркий день это, в первую очередь, вкусно, освежает и утоляет жажду. Такой десерт является чемпионом по низкой калорийности, он не содержит ни жира, ни белка, а вместе с лакомством вы получите полезные витамины А, D, Е, Р, группы В, а также минеральные вещества. </p>
				<p>Смакуйте на здоровье!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">вода, фруктовый лед (пюре яблочное, сахар, патока крахмальная, лимонная кислота), клетчатка сахарная Herbacel AQ Plus Citrus-fibre, ароматизатор натурально-идентичный «Груша», камедь рожкового дерева, краситель пищевой натуральный Куркумин, ароматизатор натурально-идентичный «Ванильно-сливочный»</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>0 g</span></li>
							<li>fat<span>0 g</span></li>
							<li>carbohydrates<span>29,8 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>498,7 kJ (119,2 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

