<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> «Тобі і мені» шоколадное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_12.jpg" alt=""></div>

				<p>
				Не секрет, что среди нас много любителей шоколада. Так же много и тех, кто следит за своей фигурой и не может себе позволить роскошевать этим продуктом. Выход есть!  </p>
				<p>Для любителей сладостей TM SmaCom представляет нежное шоколадное мороженое. Основные его компоненты –  молоко, сливки, какао-порошок. Это натуральное сливочное мороженое является одним из наиболее сбалансированных продуктов, активизирует обмен веществ, легко усваивается и прекрасно утоляет тягу к сладкому. Медленно переваривается и надолго оставляет ощущение сытости. Калорийность его незначительна – 176,4 kcal, а жирность  всего 6 %.  </p>
				<p>Погрузитесь в утонченность вкуса с мороженым  от TM SmaCom!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">молоко, сахар, молоко обезжиренное сгущенное, сливки из коровьего молока, вода, вафельный стаканчик (мука пшеничная высшего и первого сорта, крахмал картофельный, масло подсолнечное, яйца куриные, сахар, соль), какао порошок ,масло сливочное, масло кокосовое, стабилизатор-эмульгатор, ванилин.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>4,1 g</span></li>
							<li>fat<span>6,4 g</span></li>
							<li>carbohydrates<span>25,7 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>738 kJ (176,4 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>55 g</li>
						</ul>																		
					</div>
				</div>
</div>

