<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> ежевичное с пломбиром</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_7.jpg" alt=""></div>

				<p>
				Если вам хочется чего-то необычного – предлагаем попробовать это чудесное мороженое! Незабываемое удовольствие лакомится плодово-ягодным пломбиром с ежевикой от ТМ SmaCom. Это оригинальное сочетание  нежного пломбира с легким ежевичным сорбетом (взбитое мороженое на плодово-ягодной основе). </p>
				<p>Прекрасный охлаждающий десерт, привлекает своими  формой и яркостью, нежным и легким вкусом. Это мороженое особенно придется, кстати, летом, когда сильная жара отбивает у человека аппетит, но постоянно требует чего-то прохладительного, холодного или даже ледяного. Мороженое ежевичное с пломбиром от  ТМ SmaCom  утолит жажду и придаст сил.</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">мороженое пломбир (сливки из коровьего молока, молоко сгущённое, молоко коровье, сахар, вода, масло сливочное), мороженое на плодово-ягодной основе (вода, сахар, патока крахмальная, пюре фруктовое), краситель натуральный Кармин, натурально-идентичный ароматизатор «Ежевика».</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>2,7 g</span></li>
							<li>fat<span>10 g</span></li>
							<li>carbohydrates<span>24,1 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>825 kJ (197, 2 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

