<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle">«Каштан полтавский» ванильное в глазури</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_1.jpg" alt=""></div>

				<p>
				Любимое ванильное мороженое в  хрустящей глазури презентует ТМ SmaCom. Это удивительно вкусное, замороженное лакомство, вкус которого знаком каждому  с детства. Зимой и летом оно не теряет своей популярности. Эта сладость весьма калорийная. При производстве использовались только натуральные ингредиенты.</p>
				<p>Мороженое «Каштан полтавский» – настоящая классика кондитерского искусства, которая остается неизменно востребованной среди ценителей мороженого. При этом,  мороженое, как и шоколад, стимулирует выработку гормона счастья – серотонина, благодаря которому моментально улучшается настроение и появляется чувство радости. Наслаждайтесь радостью с мороженым от ТМ SmaCom!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Ingredients</div>
					<div class="consistInside">
						<div class="text">молоко, глазурь кондитерская 25% (масло кокосовое, сахар, какао тертое, какао порошок, молоко сухое обезжиренное, лецитин соевый, ванилин), сахар, молоко сгущенное обезжиренное, сливки, вода, масло кокосовое, сыворотка молочная сгущенная, вафельная крошка (менее 2%), стабилизатор-эмульгатор, ванилин.</div>
						<div class="title">Nutritional (food) information:</div>
						<ul>
							<li>proteins<span>3,6 g</span></li>
							<li>fat<span>21,4 g</span></li>
							<li>carbohydrates<span>23,7 g</span></li>
						</ul>
						<div class="title">Energy (caloric) 100 g:</div>
						<ul>
							<li><span>1263 kJ (301,8 kcal)</span></li>
						</ul>
						<div class="title">Net weight and packing:</div>
						<ul>
							<li>65 g</li>
						</ul>																		
					</div>
				</div>
</div>

