<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> «Премьера»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_3.jpg" alt=""></div>

				<p>
				TM SmaCom предлагает двухслойное мороженое в кондитерской глазури – это комбинация ванильного и шоколадного мороженого с сохранением рисунка двух вкусов. Мороженое «Премьера» с комбинированным составом сырья соответствует ДСТУ 4735:2007, а внешний вид заметно выделяет  его на фоне других сортов мороженого ТМ SmaCom.</p>
				<p>В летнюю жару приятно полакомиться порцией такого освежающего десерта. Благодаря легкому усваиванию, приятному вкусу и пищевой ценности  этот продукт взбодрит и придаст сил.</p>
				<p>Мороженое «Премьера» – это идеальный десерт для любителей всего нового и необычного!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">молоко, глазурь кондитерская 25% (масло кокосовое, сахар, какао тертое, какао-порошок натуральный, молоко сухое обезжиренное, лецитин соевый, ароматизатор ванилин), сахар, сливки, вода, молоко сгущенное обезжиренное, масло кокосовое, сыворотка молочная сгущеная, какао-порошок натуральный и алкализованый, вафельная крошка (менее 2%), стабилизатор-эмульгатор, ароматизатор ванилин.</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>3,4 г</span></li>
							<li>жири<span>21,6 г</span></li>
							<li>вуглеводи<span>23,9 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>1270 кДж (303,6 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>65 г</li>
						</ul>																		
					</div>
				</div>
</div>

