<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> «Фея» сливочное с сиропом крем-брюле</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_10.jpg" alt=""></div>

				<p>
				Поверьте в сказку – погрузитесь в сказочную вкусноту вместе с мороженым TM SmaCom. Предлагаем удивительное сливочное мороженое с сиропом крем-брюле, оно гарантированно понравится взрослым и детям.</p>
				<p>Мороженое, как и любой продукт, на основе молока, питательное и калорийное. Содержит витамины (А, В, D, Р, Е), минеральные вещества (железо, магний, калий, фосфор, натрий) и позволяет не только «охладить» организм, но и быстро возобновить энергию.  </p>
				<p>Попробуйте сказочный вкус  качества!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">молоко, сахар, молоко обезжирено сгущенное, сливки из коровьего молока, крем-брюле 12%, вафельный стаканчик (мука пшеничная высшего и первого сорта, крахмал картофельный, масло подсолнечное, яйца куриные, сахар, соль), вода, масло сливочное, стабилизатор-эмульгатор, ванилин.</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>4,4 г</span></li>
							<li>жири<span>9,2 г</span></li>
							<li>вуглеводи<span>29,7 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>917,1 кДж (219,2 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>60 г</li>
						</ul>																		
					</div>
				</div>
</div>

