<div class="popupHeader">
	<div class="title"><h1>Мороженое   </h1><span class="subtitle"> пломбир ванильное</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat5/product_popup_9.jpg" alt=""></div>

				<p>
				Попробуйте чрезвычайно вкусный пломбир TM SmaCom, в основе которого молоко, сливки и сгущенное  молоко. Мороженое изготовлено по классической рецептуре. </p>
				<p>Это максимально полезный продукт, который изготовляется на основе цельного молока. Диетологи убеждены, что полное усвоение полезных веществ возможно лишь из пломбира. Еще во времена СССР в состав этого сорта входили лишь натуральные продукты, это и теперь остается наиболее ценным преимуществом в качестве этого продукта.</p>
				<p>Пломбир от TM SmaCom – настоящий вкус качества!</p>
				<div class="clear" style="clear:both"></div>
				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">мороженое (молоко, сливки, молоко, сгущенное, сахар), вафельный стаканчик (мука высшего и первого сорта, крахмал картофельный, масло, яйца куриные, сахар, соль), вода, стабилизатор-эмульгатор, ванилин</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>4,2 г</span></li>
							<li>жири<span>14,3 г</span></li>
							<li>вуглеводи<span>24,9 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>1025 кДж (245,1 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>60 г</li>
						</ul>																		
					</div>
				</div>
</div>

