<div class="popupHeader">
    <div class="title"><h1>Чевупицца </h1><span class="subtitle"></span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/chevpizza/chevpizza-classic-pop.png" alt=""></div>


    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Пицца – одно из любимых блюд как взрослых, так и детей. Почему? Потому что это сочетание хрустящего теста и вкусной начинки.</p>
                <p>Мы решили привычную для всех пиццу перевоплотить в нестандарный кулинарный изыск – чевупиццу!</p>
                <p>Секрет чевупиццы в её начинке и форме.</p>
                <p>Основные ингредиенты: сыр «Моцарелла», колбаса и болгарский перец, которые идеально сочетались с нежнейшим чебуреком.</p>
                <p>Чевупицца полностью готова к употреблению. Через 5 минут разогрева в микроволновой печи вы получите вкусное сытное блюдо.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">
                Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, сахар белый, кислота уксусная.
                <br>
                Начинка: колбаса вареная 36% (свинина жирная, вода питьевая, м'ясо птици механической обвалки, кожа куриная, стабилизатор белковый, мука пшеничная, крупа манная, соль поваренная пищевая, молоко сухое, добавки комплексные пищевые), колбаса копченая 22% (м'ясо птици механической обвалки, кожа куриная, вода питьевая, сало боковое, стабилизатор белковый, соль поваренная пищевая, крахмал картофельный, добавки комплексные пищевые), сыр «Моцарелла» 11% (молоко коровье, соль поваренная пищевая, хлористый кальций, молокосвертывающий ферментный препарат, закваска молочнокислих бактерий), паста томатная (томаты, консервант – натрия бензоат, регулятор кислотности – лимонная кислота), вода питьевая, перец болгарський, сахар белый, соль поваренная пищевая, орегано.
            </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>9,6 г</span></li>
                <li>жиры<span>20,4 г</span></li>
                <li>углеводы<span>31,2 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>1451,0 kJ (кДж) / (346,8 kcal (ккал)).</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,24 кг<span>± 9 г</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>1. В микроволновой печи: Надрезать упаковку и разогревать продукт в микроволновой печи 3 мин при мощности 700 Вт. Время приготовления может отличаться в зависимости от модели и мощности микроволновой печи.</p>
            <p>2. На сковороде: достать продукт из упаковки и разогреть на медленном огне 7-8 мин.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>