<div class="popupHeader">
	<div class="title"><h1>Cutlets</h1><span class="subtitle">«Delicate»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/third_kn_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Cutlets "Delicate" named not by accident. Ready-made semis of TM «SmaCom»  is the embodiment of both ease and fullness. In tender cutlets felt reverent attitude to every chef’s culinary ingredients. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Chicken and golden onion with aromatic spices creates unparalleled taste. Cutlets taste excellent. They are healthy and ease, as in chicken meat is much less fat than in any other kinds of meat. They are suitable for the diet and nutrition of young children. Feel tender cutlets of TM «SmaCom» with the first piece!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Ingredients</div>
				<div class="consistInside">
					<div class="text">Frozen meat stock – 93,5% (chicken fillet – 80%, fat 13,5%), fresh onions, salt, ground black pepper.</div>
					<div class="title">Nutritional (food) information:</div>
					<ul>
						<li>proteins<span>16,0 g</span></li>
						<li>fat<span>14,1 g</span></li>
						<li>carbohydrates<span>1,0 g</span></li>
					</ul>
					<div class="title">Energy (caloric) 100 g:</div>
					<ul>
						<li><span> 818,8 kJ (195,7 kcal)</span></li>
					</ul>
					<div class="title">Net weight and packing:</div>
					<ul>
						<li>1 kg</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cook Method</div>
				<div class="consistInside">
					<div class="text">Grease the pan with butter or sunflower oil. Heat it. Lay out the cutlets on a heated pan. Fry until brown for at least 10 minutes.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>