<div class="popupHeader">
	<div class="title"><h1>Meatballs in sauce</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/third_t_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>TM «SmaCom» offers an excellent alternative to cutlets – meatballs. From  cutlets they are distinguished by a few culinary attributes: firstly, the round shape, and secondly, they are coated only in flour, and third, they are served with the sauce together with a dish.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>This feature in the origin of meatballs, which came to us from the national cuisine of the Turkic peoples across the Balkans and Austrian cuisine. Where they were first invented, the meatballs were served on a platter in thick gravy. Meat balls, cooked in a sauce is a popular dish in diet cuisine, they are perfectly combined with any customary garnish.
                            </p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Raw meat, frozen – 42% (trimmed pork (thigh) – 15%, fat 14%, trimmed beef – 13%), boiled rice, fresh onion, water, bread, salt, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>15,0 g</span></li>
				<li>fat<span>11,9 g</span></li>
				<li>carbohydrates<span>1,0 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>722,6 kJ (172,0 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
        <p>
            Patties do not need to be pre-defrosted. Steaming: Put the meatballs cooking basket pan, insert the basket into a large pan containing boiling water and cover firmly. When the water start boiling, cook for about 8 – 10 minutes. The steamer can be used as well. In a microwave oven: place frozen pepper into the oven and warm up for 3 – 5 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time for warming up.
        </p>
    </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>