<div class="popupHeader">
	<div class="title"><h1>Cutlets</h1><span class="subtitle">«Chicken»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>"Chicken cutlets " of TM «SmaCom» is made of selected natural chicken. The main difference between chicken cutlets from pork or beef in softness and airiness. They are related to dietary products. Chicken cutlets for those who want to stay in a good shape. They are suitable for nutrition of young children.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Meatballs recipe is created in a classic style. Only fresh chicken meat that is processed with spices give a special flavour of sweetness and spicy taste. Further, semi-finished coated with breadcrumbs, acquiring a special flavour and traditional look.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Raw meat frozen - 70% (chicken fillet - 40%, chicken meat (thigh) - 20%, fat - 10%), white bread, onion fresh, drinking water, salt, black pepper, dried garlic.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>15,0 g</span></li>
				<li>fat<span>11,9 g</span></li>
				<li>carbohydrates<span>1,0 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>722,6 kJ (172,0 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>1 kg</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Grease the pan with butter or sunflower oil. Heat it. Lay out the cutlets on a heated pan. Fry until brown for at least 10 minutes.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>