<div class="popupHeader">
	<div class="title"><h1>Cutlets</h1><span class="subtitle">«Homemade»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_d_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Cutlets "Home" – a symbol of love, care and family comfort. Where people enjoy cutlets of TM «SmaCom», reigns joy and homely atmosphere.</p>
                            <p>Recipe for meatballs established in accordance with all standards. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>The unique and delicate taste of homemade cutlets felt thanks to the right combination of pork and chicken meat, which requires a special approach and knowledge of many culinary subtleties.</p>
                            <p>Cutlets can be served with greens, vegetables, any side dish, and your favourite sauce will enhance their home taste.</p>
                        </div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Raw meat, frozen – 65% (pork trimmed – 30%, chicken meat (thighs) – 25%, fat – 10%), white bread, fresh onion, water, salt, ground black pepper, dried garlic.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>11,5 g</span></li>
			<li>fat<span>10,3 g</span></li>
			<li>carbohydrates<span>1,3 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>978,6 kJ (233,9 kcal)</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>1 kg</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Grease the pan with butter or sunflower oil. Heat it. Lay out the cutlents on a heated pan. Fry until brown for at least 10 minutes.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>