<div class="popupHeader">
	<div class="title"><h1>Meatballs</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/tef-horec-s-pop.png" alt=""></div>

	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Smacom™ specialists, following the original recipe, cook delicious meatballs made of tender freshest minced chicken meat mixed with 100% beef and rice. According to the classic technology, Smacom™ meatballs are breaded in crispy breadcrumbs to acquire their authentic taste, which has come to us from the times of medieval French cuisine, where meatballs were served to the royal table.</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Poultry, beef, water, rice, onion, salt, ground black pepper.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>12,74 g</span></li>
				<li>fat<span>7,97 g</span></li>
				<li>carbohydrates<span>20,69 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>205 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>2,5 kg</li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>The steamer can be used as well. In a microwave oven: place frozen pepper into the oven and warm up for 3 – 5 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time for warming up.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>