<div class="popupHeader">
	<div class="title"><h1>&quot;Bogatyrskie&quot; cutlets</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/bog-horec-s-pop.png" alt=""></div>

	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Smacom™, whose high quality products are a synthesis of Ukrainian traditions of taste and European level of production, have combined meat traditions of the Slavs and the original French recipe. The result is &quot;Bogatyrskie&quot; cutlets. Probably, the most vigorous and nourishing cutlets in Ukraine!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Beef, pork, water, mid-back fat, onion, soy protein, semolina, bread crumbs, salt, black pepper, garlic.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>11,05 g</span></li>
				<li>fat<span>17,12 g</span></li>
				<li>carbohydrates<span>11,6 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>244,68 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>2,5 kg</li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>The steamer can be used as well. In a microwave oven: place frozen pepper into the oven and warm up for 3 – 5 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time for warming up.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>