<div class="popupHeader">
	<div class="title"><h1>Grechaniky</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/grech-horec-s-pop.png" alt=""></div>

	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>A marvelous combination of juicy pork, vitamin beef and tender poultry are used in grechaniky. These are the three kinds of meat from which grechaniky has always been prepared in Ukraine. It should be said that it is a surprisingly healthy dish. Meat and buckwheat contain a variety of vitamins and minerals. It is a real treasury of protein, iron, B vitamins, and much more.</p>
				<p>Innovative forming equipment gives grechaniky their perfect appetizing round shape and gives a rich pleasant aroma. Cooked grechaniky can be served with sour cream. Grechaniky from Smacom are the delicious traditions of Ukraine!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Beef, pork, poultry meat, buckwheat, salt.</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>7,19 g</span></li>
				<li>fat<span>2,21 g</span></li>
				<li>carbohydrates<span>18,61 g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>303,68 kcal</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>2,5 kg</li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
		<div class="consistInside">
			<p>The steamer can be used as well. In a microwave oven: place frozen pepper into the oven and warm up for 3 – 5 minutes at the power of 700 watts. The heating time depends on the quantity of products simultaneously warmed up: large number of patties require more time for warming up.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>