<div class="popupHeader">
	<div class="title"><h1>Buckwheat soup with chicken/pork/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-buckwheatSoup-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Buckwheat soup is the most popular meal on the Ukrainian table. Thanks to the tremendous nutritional value the buckwheat soup is recommended for children and adults as well. TM Soup offers broth-based buckwheat soup: pork, chicken, beef. Having tasted the first dish on the road, you'll be full and energy.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients pork</div>
		<div class="consistInside">
			<div class="text">Бульон мясной, мясо, картофель, крупа гречневая, лук, морковь, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>28,0g</span></li>
				<li>fat<span>29,5g</span></li>
				<li>carbohydrates<span>62,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>525,1 kJ (125,5	 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients chicken</div>
		<div class="consistInside">
			<div class="text">Бульон мясной, мясо, картофель, крупа гречневая, лук, морковь, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>32,0g</span></li>
				<li>fat<span>18,5g</span></li>
				<li>carbohydrates<span>63,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>459,0 kJ (109,7 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients beef</div>
		<div class="consistInside">
			<div class="text">Бульон мясной, мясо, картофель, крупа гречневая, лук, морковь, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>30,0g</span></li>
				<li>fat<span>16,5g</span></li>
				<li>carbohydrates<span>62,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>433,9 kJ (103,7	 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>