<div class="popupHeader">
	<div class="title"><h1>Beans with vegetables and pork/chicken/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-bean-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Bean is one of the oldest and unique crops. Today it is included in the diet of many countries. To make not only tasty, but healthy, and nutritious dish, we combine beans with vegetables and meat. For fans of low-calorie and low-fat foods we offer the beans with chicken or beef. </p>
                    <p>Fans of healty food will enjoy the meal with pork. Meat and vegetable juice with spices work all through the beans so the dish is very delicious and tender. Even those who don't like beans, can’t resist trying this tasty meal!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with pork</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>65,1g</span></li>
				<li>fat<span>34,0g</span></li>
				<li>carbohydrates<span>117,3g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>1237,2 kJ (295,7 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with chicken</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>68,6g</span></li>
				<li>fat<span>31,5g</span></li>
				<li>carbohydrates<span>117,3g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>1227,6 kJ (293,4 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with beef</div>
		<div class="consistInside">
			<div class="text">Фасоль вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>67,6g</span></li>
				<li>fat<span>30,5g</span></li>
				<li>carbohydrates<span>117,3g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>1211,3 kJ (289,5 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>