<div class="popupHeader">
	<div class="title"><h1>Barley porridge with pork/chicken/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-pearlBarley-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Barley porridge is a meal of our childhood. And it is no coincidence, because barley is rich in fiber and vitamins. It is interesting that the name "Pearly" comes from ancient times ", which means" freashwater pearls. Such a good title is ideally combined with nutritional value, which this porridge has.</p>
                    <p>Barley porridge can become one of the main components of a balanced diet. We offer barley porridge with meat: pork, beef and chicken.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with pork</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>20,3g</span></li>
				<li>fat<span>29,1g</span></li>
				<li>carbohydrates<span>52,9g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>662,3 kJ (158,3 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with chicken</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>23,5g</span></li>
				<li>fat<span>26,6g</span></li>
				<li>carbohydrates<span>52,9g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>651,0 kJ (155,6 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with beef</div>
		<div class="consistInside">
			<div class="text">Перловка вареная, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>22,4g</span></li>
				<li>fat<span>25,6g</span></li>
				<li>carbohydrates<span>52,9g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>634,7 kJ (151,7 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>