<div class="popupHeader">
	<div class="title"><h1>Ukrainian Borshch with beans and beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort" style="padding:70px 60px 50px;">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-borscht-pop_pack.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>TM Soup has a range of broth-based red borshch. In addition, we offered another version of this wonderful meal - borshch with beans. Unlike the classic borshch, in this recipe there are beans, which make the first meal more richer and tastier.</p>
                    <p>To get the light and healthy meal we prepare borshch with beans and beef.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Мясо (говядина, свинина, курица), фасоль, картофель, капуста белокочанная, свекла красная, лук репчатый, морковь, масло подсолнечное рафинированное дезодорированное, паста томатная, соль поваренная пищевая, сахар, перец сладкий, уксус, перец черный молотый</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>22,0g</span></li>
				<li>fat<span>21,5g</span></li>
				<li>carbohydrates<span>21,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>307,5 kJ (73,5 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>