<div class="popupHeader">
	<div class="title"><h1>Borshch with chicken/pork/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-borscht-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Ukrainian borshch is a dish that has made Ukrainian cuisine famous. The smell and taste of any Ukrainian borshch is unmistakable and incomparable. Ukrainians are proud of their special meal.</p>
                    <p>TM "SmaCom" represents a real Ukrainian borshch of three types depending on the meat stock: borshch with chicken, pork and beef.</p>
                    <p>A rich, delicious, nutritious and most importantly – it is natural! The cooks of TM «SmaSom» follow the recipe of Ukrainian cuisine. Ukrainian borshch is the source of many vitamins for human health, because all the selected  vegetables are only stewed and boiled, preserving nutrients.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with pork</div>
		<div class="consistInside">
			<div class="text">Мясо (говядина, свинина, курица), картофель, капуста белокочанная, свекла красная, лук репчатый, масло подсолнечное рафинированное дезодорированное, морковь, паста томатная, сахар, соль поваренная пищевая, перец сладкий, уксус, перец черный молотый</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>23,5g</span></li>
				<li>fat<span>23,0g</span></li>
				<li>carbohydrates<span>22,0g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>328,8 kJ (77,4 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with chicken</div>
		<div class="consistInside">
			<div class="text">Мясо (говядина, свинина, курица), картофель, капуста белокочанная, свекла красная, лук репчатый, масло подсолнечное рафинированное дезодорированное, морковь, паста томатная, сахар, соль поваренная пищевая, перец сладкий, уксус, перец черный молотый</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>20,0g</span></li>
				<li>fat<span>33,0g</span></li>
				<li>carbohydrates<span>21,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>387,4 kJ (92,6 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with beef</div>
		<div class="consistInside">
			<div class="text">Мясо (говядина, свинина, курица), картофель, капуста белокочанная, свекла красная, лук репчатый, масло подсолнечное рафинированное дезодорированное, морковь, паста томатная, сахар, соль поваренная пищевая, перец сладкий, уксус, перец черный молотый</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>22,0g</span></li>
				<li>fat<span>21,5g</span></li>
				<li>carbohydrates<span>21,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>307,5 kJ (73,5 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>