<div class="popupHeader">
	<div class="title"><h1>Pea soup with pork</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort" style="padding:70px 60px 50px;">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-peaSoup-pop_pack.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Pea soup is a dish that is loved by many people. The basic ingredients are meat, peas, carrots, onions, spices and salt. In the process of cooking peas boiled until soften and fragrant.</p>
                    <p>Pea soup is delicious and healthy. Appreciate the quality and unique taste of pea soup from TM «Soup»! This soup will remind you of your childhood!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>


	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Meat pork, potatoes, peas, onions, carrots, Sunflower oil, salt, black pepper</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>32,5g</span></li>
				<li>fat<span>29,0g</span></li>
				<li>carbohydrates<span>41,0g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>464,4 kJ (111,0 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,500 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>