<div class="popupHeader">
	<div class="title"><h1>Pease porridge with meat/pork/chicken/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-peas-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Pease porridge is very tasty and one of the most favorite one among children. Adults also eat it with a great pleasure, especially if meat is added in to a meal. We offer pease porridge with meat, pork, chicken and beef. To get a truly delicious porridge, pease boiled until they are soft and mushy. Roasted meat, carrots and onion give a pleasant flavour to a meal.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with meat pork</div>
		<div class="consistInside">
			<div class="text">Горох отварной, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>23,8g</span></li>
				<li>fat<span>28,4g</span></li>
				<li>carbohydrates<span>6,7g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>450,6 kJ (107,7	 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with meat chicken</div>
		<div class="consistInside">
			<div class="text">Горох отварной, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>27,0g</span></li>
				<li>fat<span>25,9g</span></li>
				<li>carbohydrates<span>6,7g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>439,3 kJ (105,0 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with meat beef</div>
		<div class="consistInside">
			<div class="text">Горох отварной, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>25,9g</span></li>
				<li>fat<span>24,9g</span></li>
				<li>carbohydrates<span>6,7g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>423,0 kJ (101,1 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>