<div class="popupHeader">
	<div class="title"><h1>Beef stew</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-beefStew-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Beef is tasty, nutritious meat that contains many minerals and vitamins b. It’s impossible to count a great number of  meals that can be prepared from beef, but the most popular and favorite one has always been and remained a stew. Besides stewing is considered as one of the most healthiest methods of cooking meat. It allows you to save a large amount of nutrients and vitamins that remain in a ready meal, and not to pour off water (broth),  like during cooking.</p>
                    <p>We had an important task is to make beef soft, juicy, tender. And we did it! Appreaciate the taste of beef stew from TM SmaCom!</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients</div>
		<div class="consistInside">
			<div class="text">Мясо говядины 1 сорта, соль, перец горошек, лавровый лист</div>
			<div class="title">Питательная (пищевая) ценность на 0,200 kg:</div>
			<ul>
				<li>proteins<span>10,8g</span></li>
				<li>fat<span>5,2g</span></li>
				<li>carbohydrates<span>0,2g</span></li>
			</ul>
			<div class="title">Питательная (пищевая) ценность на 0,325 kg:</div>
			<ul>
				<li>proteins<span>17,5g</span></li>
				<li>fat<span>8,5g</span></li>
				<li>carbohydrates<span>0,3g</span></li>
			</ul>
			<div class="title">Питательная (пищевая) ценность на 0,520 kg:</div>
			<ul>
				<li>proteins<span>28,1g</span></li>
				<li>fat<span>13,5g</span></li>
				<li>carbohydrates<span>0,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>190,0 kJ (45,8 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,200 kg</li>
				<li>0,325 kg</li>
				<li>0,520 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>