<div class="popupHeader">
    <div class="title">
        <h1>Ready meals in retort pouch</h1>
    </div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent cat retort">
    <div class="PopupImageContainer">
        <img  class="productPopupImage" src="img/retort/img-pack-pop.png" alt="">
    </div>

    <div class="col">
        <div class="colInner">
            <p class="small">The manufacture is fully equipped, and it makes possible to produce ready-to-eat meat and vegetable meals.</p>

            <div class="desc" style="text-align:left">
                <p><strong>What is retort pouch? What are its advantages?</strong></p>
            </div>
            <p class="small">Retort pouch is a type of food packaging and is used as an alternative to traditional industrial canning methods.</p>
            <p class="small">A retort pouch is constructed from a flexible metal-plastic laminate that is able to withstand the thermal processing used for sterilization in autoclave machine.</p>
            <p class="small">Retorts-package was produced for the American army in 1978 and still extensively used by the U.S. military for field rations.  From 2016 year LLC "Pyryatynsky delicates " introduced the new product development in its own production, providing the Ukrainian army with food and launched it onto the market. </p>
            <p class="small">Meals in retort are safely stored at temperature 0 to 25 % and relative humidity 72%.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Instructions for using dishes in retort bags</strong></p>
            </div>
            <p class="small"><strong>Warning!</strong>It is prohibited to place a retort pouch:</p>
            <ul>
                <li>
                    <strong>in open fire!</strong>
                </li>
                <li>
                    <strong>in the microwave!</strong>
                </li>
            </ul>
            <p class="small"></p>

            <div class="desc" style="text-align:left">
                <p><strong>How to warm up meals:</strong></p>
            </div>
            <ul>
                <li>Warm up the meal components, submerging it in hot water;</li>
                <li>Warm up the meal components, placing it on any heater (convection heater, radiator, etc.);</li>
                <li>Warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.).</li>
            </ul>
            <p class="small"></p>
            <p class="small">After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish.</p>
            <p class="small">Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Go on travels, rest and don't worry about diet! it is easy to have a healthy diet with ready meals in retort in any conditions.</strong></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="colInner">
            <div class="desc" style="text-align:left">
                <p><strong>Technology of meals preparation in retort pouches</strong></p>
            </div>
            <p class="small">Ready meals are made in modern plant equipment. They are steam convection ovens, rotary and tunnel ovens. </p>
            <p class="small">Production equipment allows you cook, bake and fry meals without using any added oil and cook cereals and vegetable meals by steaming. All ready meals require heat treatment, so they go to hot section where on cooking pans and frying surfaces food is heated.</p>
            <p class="small">Prepared components are combined and added into a dish according to the recipe and dosed in retort pouches.</p>

            <div class="desc" style="text-align:left">
                <p><strong>Automatic food dosing</strong></p>
            </div>
            <p class="small">Prepared and approved meal streams to packaging into the automatic packaging machine. The vacuum device opens and disinfects retort.</p>
            <p class="small">Dry food of the first and second courses stream into retort pouches through the filling line of the conveyor.</p>
            <p class="small">Filled retort pouch hermetically sealed and placed on an autoclave trays. Packaged meals are sterilized being subjected to high temperature and pressure in an autoclave. It makes possible to get high quality and safe products and extend their shelf life to 24 (12) months.</p>
        </div>
    </div>

</div>