<div class="popupHeader">
	<div class="title"><h1>Buckwheat porridge with pork/chicken/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-buckwheat-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Buckwheat porridge is the most popular meal on the Ukrainian table. It is especially useful for those who want to be healthy and look beautiful. We have combined the tasty buckwheat with meat and got very nourishing meal. Rich in vitamins buckwheat and lean meats are good especially for children, and buckwheat with pork for men. A meal is nice, fragrant and juicy.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with pork</div>
		<div class="consistInside">
			<div class="text">Каша гречневая, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>23,1g</span></li>
				<li>fat<span>30,5g</span></li>
				<li>carbohydrates<span>45,2g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>654,0 kJ (156,3 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with chicken</div>
		<div class="consistInside">
			<div class="text">Каша гречневая, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>26,3g</span></li>
				<li>fat<span>28,0g</span></li>
				<li>carbohydrates<span>45,2g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>642,7 kJ (153,6 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with beef</div>
		<div class="consistInside">
			<div class="text">Каша гречневая, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>25,2g</span></li>
				<li>fat<span>27,0g</span></li>
				<li>carbohydrates<span>45,2g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>626,3 kJ (149,7 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>