<div class="popupHeader">
	<div class="title"><h1>Rice porridge with pork/chicken/beef</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent retort">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/retort/img-rise-pop.png" alt=""></div>

		<div class="popupSliderWrapper">
			<div class="liquid-slider" id="ls3">
				<div>
					<p>Rice with meat is a traditional Oriental meal that has existed for a long time. Our correct technology doesn't let the rice stick together, it turns out fluffy and tender. Rice is cooked together with meat, absorbing its flavor.</p>
					<p>Rice goes well with meat, chicken, pork and beef. Chicken and beef make the meal not greasy but light and the pork makes it juicy.</p>
				</div>
			</div>
		</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with pork</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>20,0g</span></li>
				<li>fat<span>18,6g</span></li>
				<li>carbohydrates<span>51,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>541,0 kJ (129,3 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with chicken</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>22,4g</span></li>
				<li>fat<span>27,7g</span></li>
				<li>carbohydrates<span>49,4g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>640,6 kJ (153,1 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Ingredients with beef</div>
		<div class="consistInside">
			<div class="text">Рис вареный, мясо 1 сорта, масло подсолнечное, соль поваренная пищевая, морковь, лук, перец черный</div>
			<div class="title">Nutritional (food) information:</div>
			<ul>
				<li>proteins<span>22,1g</span></li>
				<li>fat<span>15,8g</span></li>
				<li>carbohydrates<span>51,5g</span></li>
			</ul>
			<div class="title">Energy (caloric) 100 g:</div>
			<ul>
				<li><span>520,9 kJ (124,5 kcal)</span></li>
			</ul>
			<div class="title">Net weight and packing:</div>
			<ul>
				<li>0,350 kg</li>
			</ul>
		</div>
	</div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cook Method</div>
        <div class="consistInside">
            <p>How to warm up meals:</p>
            - warm up the meal components, submerging it in hot water;
            <br>
            - warm up the meal components, placing it on any heater (convection heater, radiator, etc.);
            <br>
            - warm up the components over a fire, previously placed them in the pot (saucepan, frying pan, etc.);

            <p>After warming open carefully the retort pouch (especially the first course) with a help of a tear strip and put into a dish. </p>
            <br>
            <p>Stir the meal and eat. A package with a second meal (porridge) is recommended before opening to mash in your hands and then open it with a tear strip. Stir the food and eat.</p>
        </div>
	</div>

	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>