<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat11_ua.png" alt=""></h1>
            <div class="desc">
                <p>Готові страви від ТМ SmaCom - це повноцінна, натуральна, по-домашньому смачна їжа для людей, які піклуються про своє здоров'я та цінують свій час.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Заморожені готові страви можна просто й швидко приготувати, розігрівши їх впродовж 5-7 хвилин. Технологія виробництва системно збалансована, включає в себе всі етапи приготування повноцінної страви, а використання виключно натуральних якісних інгредієнтів, надає виняткову апетитність продукту. Після повного охолодження готовий продукт надходить до камери шокової заморозки.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Готові страви не містять сої, барвників та консервантів і є безпечними для здоров’я. ТМ SmaCom пропонує готові страви в асортименті: плов по-узбецьки, локшина з м’ясним соусом, котлета куряча під грибним соусом з картопляним пюре, свинина запечена з картоплею по-селянськи та м'ясо курки під червоним соусом з гречкою. Готові страви ТМ SmaCom – це швидко, смачно та ситно!</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onclick="showHidden(this,'hidden13'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner7.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat16/product10'); return false;">
                    <img src="img/new_pack/chiz-0.png" alt="">
                    <div class="title">Чізбургер</div>
                    <div class="subtitle">з яловичиною</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Чізбургер</div>
                    <div class="subtitle">з яловичиною та свининою</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product12'); return false;">
                    <img src="img/new_pack/chiz-2.png" alt="">
                    <div class="title">Чізбургер</div>
                    <div class="subtitle">з індичкою</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Пюре картопляне</div>
                    <div class="subtitle">з котлетою курячою </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Гречка з курячим філе  </div>
                    <div class="subtitle"> під червоним соусом </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Локшина   </div>
                    <div class="subtitle"> з м’ясним соусом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Свинина запечена      </div>
                    <div class="subtitle"> з картоплею по-селянськи </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Плов  </div>
                    <div class="subtitle"> по-узбецьки </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product8'); return false;">
                    <img src="img/products/cat11/product_thumb_1.jpg" alt="">
                    <div class="title">Чевупєлі   </div>
                    <div class="subtitle">з сиром та шинкою </div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product9'); return false;">
                    <img src="img/products/cat11/product_thumb_2.jpg" alt="">
                    <div class="title">Чевупєлі     </div>
                    <div class="subtitle">з яловичиною та свининою</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product10'); return false;">
                    <img src="img/products/cat11/product_thumb_8.jpg" alt="">
                    <div class="title">Сирники    </div>
                    <div class="subtitle">з родзинками</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Голубці </div>
                    <div class="subtitle">з м'ясом кулінарні</div>
                </div>

                <div class="product" onclick="getPopup('subcat11/product11'); return false;">
                    <img src="img/new_img/mini_b_s.png" alt="">
                    <div class="title">Міні-біляші</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product12'); return false;">
                    <img src="img/new_img/mini_b_s_1.png" alt="">
                    <div class="title">Біляші</div>
                    <div class="subtitle">з м'ясом кулінарні</div>
                </div>

                <div class="insideDivider" ></div>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з м'ясом»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з грибами»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle">гороховий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> овочевий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> локшина</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onclick="$(window).scrollTo($('#cat10_products'),1000)" style="display: block;">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>