<div class="wrapper" style="overflow:hidden; ">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/h1_subcat7.png" alt=""></h1>
            <div class="desc">
                <p>ТМ SmaCom - це натуральні заморожені напівфабрикати високої якості.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> ТМ SmaCom вийшла на ринок у жовтні 2010 року. Нова марка передбачає
                                інновації у всьому: в якості, смаку, виробництві - інновації з незмінно високим рівнем.
                                SmaCom завжди пропонує найсучасніше, найсмачніше, краще на ринку напівфабрикатів. Марка
                                створена для тих, хто прагне до кращого, для тих, хто цінує смачну їжу і власний
                                час.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Назва марки “SmaCom” характеризує продукцію і місію компанії: по-перше, це
                                високоякісні продукти з відмінними смаковими властивостями, по-друге, гармонійний синтез
                                українських традицій смаку та європейського рівня виробництва.</p>
                        </div>
                    </div>

                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner1.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat10_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat1/product14'); return false;">
                    <img src="img/mother/img-dumpling-beef.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">з яловичини</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product15'); return false;">
                    <img src="img/mother/img-dumpling-pork.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">зі свинини</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product16'); return false;">
                    <img src="img/mother/img-dumpling-porkBeef.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">зі свинини та яловичини</div>
                </div>
                <div class="product margin_top" onclick="getPopup('subcat1/product17'); return false;">
                    <img src="img/mother/img-khinkali.png" alt="">
                    <div class="title">Хінкалі</div>
                    <div class="subtitle empty"></div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product11'); return false;">
                    <img src="img/new_pack/firmovi.png" alt="">
                    <div class="title">Фірмові пельмені</div>
                    <div class="subtitle">зі свинини та мускатним <br>горіхом</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product12'); return false;">
                    <img src="img/new_pack/firmovi1.png" alt="">
                    <div class="title">Фірмові пельмені</div>
                    <div class="subtitle">з яловичиною, свининою та кінзою</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product13'); return false;">
                    <img src="img/new_pack/firmovi2.png" alt="">
                    <div class="title">Фірмові пельмені</div>
                    <div class="subtitle">з ніжним філе <br>індички</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat1/product7'); return false;">
                    <img src="img/new_pack/kiev.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">«Київські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product9'); return false;">
                    <img src="img/new_pack/dom.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">«Домашні»</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product4'); return false;">
                    <img src="img/new_pack/sib.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle">«Сибiрські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat1/product18'); return false;">
                    <img src="img/mother/img-khinkali-kkz.png" alt="">
                    <div class="title">Хінкалі</div>
                    <div class="subtitle">по-кавказьки</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat9/product2'); return false;">
                    <img src="img/new_img/img-dump-sm-0.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle"> зі свининою та яловичиною</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product3'); return false;">
                    <img src="img/new_img/img-dump-sm-1.png" alt="">
                    <div class="title">Пельмені</div>
                    <div class="subtitle"> з яловичиною</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat2/product3'); return false;">
                    <img src="img/new_pack/var_kg.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">з картоплею та грибами</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product6'); return false;">
                    <img src="img/new_pack/var_k.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">з картоплею</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product5'); return false;">
                    <img src="img/new_pack/var_s.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">з сиром</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product15'); return false;">
                    <img src="img/new_pack/var_sm.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">зі смородиною</div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product16'); return false;">
                    <img src="img/new_pack/var_kl.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">з полуницею</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product6'); return false;">
                    <img src="img/new_pack/var_kp.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle">с картоплею та печінкою</div>
                </div>
                <div class="product" onclick="getPopup('subcat2/product10'); return false;">
                    <img src="img/new_pack/var_kap.png" alt="">
                    <div class="title">Вареники</div>
                    <div class="subtitle"> з капустою</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat7/product34'); return false;">
                    <img src="img/mother/img-cutlets-chicken.png" alt="">
                    <div class="title">Котлети курячі</div>
                    <div class="subtitle empty">смажені</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product35'); return false;">
                    <img src="img/mother/img-cutlets-porkBeef.png" alt="">
                    <div class="title">Котлети зі свинини та яловичини</div>
                    <div class="subtitle empty">смажені</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product11'); return false;">
                    <img src="img/new_pack/chiz-1.png" alt="">
                    <div class="title">Чізбургер</div>
                    <div class="subtitle">з яловичиною та свининою</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat6/product1'); return false;">
                    <img src="img/products/cat6/product_thumb_1.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з м'ясом</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product2'); return false;">
                    <img src="img/products/cat6/product_thumb_2.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з лівером</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product3'); return false;">
                    <img src="img/products/cat6/product_thumb_3.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з картоплею</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product4'); return false;">
                    <img src="img/products/cat6/product_thumb_4.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з капустою</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product10'); return false;">
                    <img src="img/products/cat6/product_thumb_10.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з яблуками та корицею</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat6/product11'); return false;">
                    <img src="img/new_img/img-fried-sm-0.png" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">смажені з м’ясом</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product12'); return false;">
                    <img src="img/new_img/img-fried-sm-1.png" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">смажені з горохом</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product13'); return false;">
                    <img src="img/new_img/img-fried-sm-2.png" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">смажені з капустою</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product14'); return false;">
                    <img src="img/new_img/img-fried-sm-3.png" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">смажені з картоплею</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat11/product11'); return false;">
                    <img src="img/new_img/mini_b_s.png" alt="">
                    <div class="title">Міні-біляші</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product12'); return false;">
                    <img src="img/new_img/mini_b_s_1.png" alt="">
                    <div class="title">Біляші</div>
                    <div class="subtitle">з м'ясом кулінарні</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з м'ясом»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з грибами»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle">гороховий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> овочевий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> локшина</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat11/product3'); return false;">
                    <img src="img/products/cat11/product_thumb_3.jpg" alt="">
                    <div class="title">Пюре картопляне</div>
                    <div class="subtitle">з котлетою курячою</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product4'); return false;">
                    <img src="img/products/cat11/product_thumb_4.jpg" alt="">
                    <div class="title">Гречка з курячим філе</div>
                    <div class="subtitle"> під червоним соусом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product5'); return false;">
                    <img src="img/products/cat11/product_thumb_5.jpg" alt="">
                    <div class="title">Локшина</div>
                    <div class="subtitle"> з м’ясним соусом</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product6'); return false;">
                    <img src="img/products/cat11/product_thumb_6.jpg" alt="">
                    <div class="title">Свинина запечена</div>
                    <div class="subtitle"> з картоплею по-селянськи</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product7'); return false;">
                    <img src="img/products/cat11/product_thumb_7.jpg" alt="">
                    <div class="title">Плов</div>
                    <div class="subtitle"> по-узбецьки</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product8'); return false;">
                    <img src="img/products/cat11/product_thumb_1.jpg" alt="">
                    <div class="title">Чевупєлі</div>
                    <div class="subtitle">з сиром та шинкою</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product9'); return false;">
                    <img src="img/products/cat11/product_thumb_2.jpg" alt="">
                    <div class="title">Чевупєлі</div>
                    <div class="subtitle">з яловичиною та свининою</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product10'); return false;">
                    <img src="img/products/cat11/product_thumb_8.jpg" alt="">
                    <div class="title">Сирники</div>
                    <div class="subtitle">з родзинками</div>
                </div>
                <div class="product" onclick="getPopup('subcat11/product1'); return false;">
                    <img src="img/products/cat11/product_thumb_9.jpg" alt="">
                    <div class="title">Голубці</div>
                    <div class="subtitle">з м'ясом кулінарні</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat3/product10'); return false;">
                    <img src="img/products/cat3/product_thumb_10.jpg" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">з м'ясом</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product12'); return false;">
                    <img src="img/products/cat3/product_thumb_12.jpg" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">з м'ясом курки</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product15'); return false;">
                    <img src="img/products/cat3/product_thumb_15.jpg" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">з сиром та родзинками</div>
                </div>
                <div class="product" onclick="getPopup('subcat3/product16'); return false;">
                    <img src="img/products/cat3/product_thumb_16.jpg" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">з сиром</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product17'); return false;">
                    <img src="img/new_pack/product_thumb_17_1.png" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">«Класичні»</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product29'); return false;">
                    <img src="img/products/cat7/product_thumb_17.jpg" alt="">
                    <div class="title">Млинці</div>
                    <div class="subtitle">з яблуками та корицею</div>
                </div>

                <br>

                <div class="product" onclick="getPopup('subcat6/product7'); return false;">
                    <img src="img/products/cat6/product_thumb_7.jpg" alt="">
                    <div class="title">Тісто</div>
                    <div class="subtitle">листкове</div>
                </div>
                <div class="product" onclick="getPopup('subcat6/product8'); return false;">
                    <img src="img/products/cat6/product_thumb_8.jpg" alt="">
                    <div class="title">Тісто</div>
                    <div class="subtitle">листково-дріжджове</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat10_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>