<div class="wrapper" style="overflow:hidden;"  >

	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/frozen-pre-ua-0.png" alt="">
			</h1>
			<div class="desc">
				<p>Готові страви ТМ «SmaCom» представлені повноцінними самостійними стравами, гарнірами і гарячими закусками, останні з яких ідеально підійдуть для пікніка на природі та просто дружніх зустрічей.</p>
			</div>
		</div>
		<div class="middle">
			<div class="hidden" id="hidden14">
				<div class="twoCols" >
					<div class="col">
						<div class="colInner">
							<p class="small">Як кажуть, ситний обід – запорука гарного настрою на весь день. Повноцінним обід вважається тоді, коли в ньому присутній друга страва. ТМ «SmaCom» представляє асортимент готових страв, які вражають своєю різноманітністю, смаковими якостями, корисними властивостями і особливостями, що стосуються походження їжі (рослинна або м'ясна).</p>
						</div>
					</div>
					<div class="col">
						<div class="colInner">
							<p class="small">Дуже важливо, що продукти, які використовують для приготування страв, не тільки смачні, поживні, а й якісні, свіжі. Вони не містять сої, барвників, консервантів та є безпечними для здоров'я. ТМ «SmaCom» пропонує готові страви в aссортіменті: плов з куркою, капуста тушкована з м'ясом, капуста тушкована з грибами, перець фарширований, рис відварний, рис з овочами, гречка з грибами, гречка відварна, пюре картопляне, крила курячі запечені, гомілка куряча запечена, міні-біляші.</p>
						</div>
					</div>
				</div>
			</div>
			<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/horec/first.png" alt="" >
		</div>
	</div>
	<div class="borderUp2"></div>
	<div class="cat inside" id="cat1_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>
		<div class="middle">
			<div class="products">
				<!--<div class="product" onclick="getPopup('subcat17/product1'); return false;">					
					<img src="img/products/cat4/product_thumb_1.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Домашние особенные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">	
					<img src="img/products/cat4/product_thumb_2.png" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">«Свиные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">	
					<img src="img/products/cat4/product_thumb_3.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Куриные»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">	
					<img src="img/products/cat4/product_thumb_4.png" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Люкс»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">	
					<img src="img/products/cat4/product_thumb_5.jpg" alt="">
					<div class="title">Шницель</div>
					<div class="subtitle">«Куриный»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">	
					<img src="img/products/cat4/product_thumb_6.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Любава»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">	
					<img src="img/products/cat4/product_thumb_7.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Лесная песня»</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">	
					<img src="img/products/cat4/product_thumb_8.jpg" alt="">
					<div class="title">Котлеты</div>
					<div class="subtitle">«Сечёные»</div>
				</div>-->
<!--				<div class="product brandName"  >
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat17/product10'); return false;">	
					<img src="img/products/cat4/product_thumb_10.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с мясом «Традиционные»</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat17/product11'); return false;">	
					<img src="img/products/cat4/product_thumb_11.jpg" alt="">
					<div class="title">Зразы</div>
					<div class="subtitle">с грибами и субпродуктами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product12'); return false;">	
					<img src="img/products/cat4/product_thumb_12.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle"> с грибами</div>
				</div>	
				<div class="product" onclick="getPopup('subcat17/product13'); return false;">	
					<img src="img/products/cat4/product_thumb_13.jpg" alt="">
					<div class="title">Зразы </div>
					<div class="subtitle">с грибами, субпродуктами и рисом</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product14'); return false;">	
					<img src="img/products/cat4/product_thumb_14.jpg" alt="">
					<div class="title">Крокеты </div>
					<div class="subtitle">мясные</div>
				</div>																									
				<div class="product" onclick="getPopup('subcat17/product15'); return false;">	
					<img src="img/products/cat4/product_thumb_15.jpg" alt="">
					<div class="title">Котлеты </div>
					<div class="subtitle">печеночные</div>
				</div>-->
<!--				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>-->
                <div class="product" onclick="getPopup('subcat17/product1'); return false;">
                    <img src="img/new_img/second_km.png" alt="">
                    <div class="title">Капуста тушкована </div>
                    <div class="subtitle">з м'ясом</div>
                </div>
				<div class="product" onclick="getPopup('subcat17/product2'); return false;">
					<img src="img/new_img/second_kgr.png" alt="">
					<div class="title">Капуста тушкована </div>
					<div class="subtitle">з грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product3'); return false;">
					<img src="img/new_img/second_pm.png" alt="">
					<div class="title">Плов </div>
					<div class="subtitle">з куркою</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product4'); return false;">
					<img src="img/new_img/second_pf.png" alt="">
					<div class="title">Перець </div>
					<div class="subtitle">фарширований</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product5'); return false;">
					<img src="img/new_img/second_rv.png" alt="">
					<div class="title">Рис </div>
					<div class="subtitle">відварний</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product6'); return false;">
					<img src="img/new_img/second_ro.png" alt="">
					<div class="title">Рис </div>
					<div class="subtitle">з овочами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product7'); return false;">
					<img src="img/new_img/second_g.png" alt="">
					<div class="title">Гречка </div>
					<div class="subtitle"> відварнa</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product8'); return false;">
					<img src="img/new_img/second_gg.png" alt="">
					<div class="title">Гречка </div>
					<div class="subtitle empty">з грибами</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product9'); return false;">
					<img src="img/new_img/second_p.png" alt="">
					<div class="title">Картопляне пюре</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
				<div class="product" onclick="getPopup('subcat17/product10'); return false;">
					<img src="img/new_img/second_k.png" alt="">
					<div class="title">Курячі крильця</div>
					<div class="subtitle">запечені</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product11'); return false;">
					<img src="img/new_img/second_mb.png" alt="">
					<div class="title">Міні-біляші</div>
					<div class="subtitle empty">&nbsp;</div>
				</div>
                <div class="product" onclick="getPopup('subcat17/product12'); return false;">
					<img src="img/new_img/second_gk.png" alt="">
					<div class="title">Гомілка куряча</div>
					<div class="subtitle">запечена</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>
</div>