<div class="wrapper page-horec" style="overflow:hidden; ">

    <div class="animationGroup">
        <div class="object_left roundAnimation"  >
            <img src="../../img/cat_1_object_left_1.jpg" alt="">
        </div>
        <div class="object_right roundAnimation" >
            <!--<img src="../../img/cat_1_object_right_3.jpg" alt="">-->
        </div>
        <div class="object_left_bottom roundAnimation"  >
            <img src="../../img/cat_1_object_left_2.jpg" alt="">
        </div>
        <div class="object_right_bottom roundAnimation" >
            <img src="../../img/cat_1_object_right_5.jpg" alt="">
        </div>
    </div>


    <div class="subcats" id="subcat1" >
		<div class="animationGroup">
			<div class="subcat  roundAnimation">
				<img src="../../img/horec/product_thumb_horec_1.png" alt="">
				<div onclick="renderInnerPage(this, 'cat',16); " class="hoverBox">
					<a href="" class="more" onClick="return false;">перші страви</a>
				</div>
			</div>

			<div class="subcat  roundAnimation">
				<img src="../../img/horec/product_thumb_horec_2.png" alt="">
				<div onclick="renderInnerPage(this, 'cat',17);" class="hoverBox">
					<a href="" class="more" onClick="return false;">готові страви</a>
				</div>
			</div>
			<div class="subcat  roundAnimation">
				<img src="../../img/horec/product_thumb_4.png" alt="">
				<div onclick="renderInnerPage(this, 'cat',18);" class="hoverBox frozen-cat">
					<a href="/" class="more"  onClick="return false;">
                        <span>котлети <br>і страви <br>з м'ясного <br>фаршу</span>
                    </a>
				</div>
			</div>
			<div class="subcat  roundAnimation"  >
				<img src="../../img/horec/product_thumb_horec_4.png" alt="">
				<div onclick="renderInnerPage(this, 'cat',19);" class="hoverBox">
					<a href="" class="more" onClick="return false;">напої</a>
				</div>
			</div>
			<div class="subcat  roundAnimation">
				<img src="../../img/horec/product_thumb_horec_3.png" alt="">
				<div onclick="renderInnerPage(this, 'cat',20);" class="hoverBox">
					<a href="" class="more" onclick="return false;">хліб</a>
				</div>
			</div>
		</div>
	</div>

</div>