<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">

        <div class="middle narrow">
            <h1>
                <img src="img/text-img/first-course-ua.png" alt="">
            </h1>
            <div class="desc">
                <p>Перші страви повинні обов'язково входити в денний раціон людини. Залежно від смаків ТМ «SmaCom» пропонує на вибір кілька позицій перших страв: борщ український з м'ясом, борщ український з грибами, суп гороховий, суп овочевий, суп локшина, суп рисовий, крем-борщ, крем-суп грибний, крем-суп зі шпинату.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Асортимент перших страв приємно здивує як любителів м'ясних бульйонів, так і поціновувачів вегетаріанської кухні. Крім цього, рецептура перших страв продиктована не тільки українськими кулінарними традиціями, але й особливостями національної кухні інших країн.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Кожен суп та борщ має свої характерні риси приготування, від чого залежить їх смак і аромат. А завдяки унікальній методиці заморозки збережені всі енергетичні властивості. Заморожені перші страви можна просто і швидко приготувати, розігрівши 7 - 10 хвилин.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/horec/first_meat.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat1_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">
                <div class="product" onclick="getPopup('subcat16/product1'); return false;">
                    <img src="img/new_img/first_bu.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з м'ясом»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product2'); return false;">
                    <img src="img/new_img/first_u_pop.png" alt="">
                    <div class="title">Борщ</div>
                    <div class="subtitle">«Український з грибами»</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product3'); return false;">
                    <img src="img/new_img/first_gr.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle">гороховий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product4'); return false;">
                    <img src="img/new_img/first_ov.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> овочевий</div>
                </div>
                <div class="product" onclick="getPopup('subcat16/product5'); return false;">
                    <img src="img/new_img/first_k_l.png" alt="">
                    <div class="title">Суп</div>
                    <div class="subtitle"> локшина</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>