<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">

        <div class="middle narrow">
            <h1>
                <img src="img/text-img/cutlets-ua-0.png" alt="">
                <img src="img/text-img/cutlets-ua-1.png" alt="">
            </h1>
            <div class="desc">
                <p>Котлети ТМ SmaCom - улюблена всіма, майстерно приготована соковита страва, в якій завдяки турботі й досвіду професіоналів, унікальною методикою заморозки збережені всі смакові та енергетичні властивості добірного натурального м'яса, підготовленого за майстерною рецептурою.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Котлети SmaCom створені, щоб дарувати насолоду істинним м'ясоїдам, нести концентровану гармонію смаку в кожному шматочку й підкреслити абсолютні переваги м'яса.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Котлети готують за оригінальною вивіреної рецептурою, акцентуючи на досконалості м'ясного делікатесу. Котлети SmaCom - вишуканий м'ясний делікатес!</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner4.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat1_products">
        <div class="animationGroup">
            <div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
            <div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
            <div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
            <div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
            <div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
        </div>
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat24/product1'); return false;">
                    <img src="img/frozen/img-cutlet-school.png" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Шкільні»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product2'); return false;">
                    <img src="img/frozen/img-cutlet-student.png" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Студентські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product3'); return false;">
                    <img src="img/frozen/img-cutlet-heroic.png" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Богатирські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product4'); return false;">
                    <img src="img/frozen/img-cutlet-selyanskye.png" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Селянські» з часником</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product5'); return false;">
                    <img src="img/frozen/img-cutlet-delicious.png" alt="">
                    <div class="title">Котлеты</div>
                    <div class="subtitle empty">«Вкусные»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product6'); return false;">
                    <img src="img/frozen/img-cutlet-chicken.png" alt="">
                    <div class="subtitle">Котлета</div>
                    <div class="subtitle empty"> «Куряча»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product7'); return false;">
                    <img src="img/frozen/img-cutlet-rolls.png" alt="">
                    <div class="title">Голубці</div>
                    <div class="subtitle">«Українські»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product8'); return false;">
                    <img src="img/frozen/img-cutlet-sticks.png" alt="">
                    <div class="title">Палички</div>
                    <div class="subtitle">«Курячі»</div>
                </div>
                <div class="product" onclick="getPopup('subcat24/product9'); return false;">
                    <img src="img/frozen/img-cutlet-pasties.png" alt="">
                    <div class="subtitle">Чебуреки</div>
                    <div class="subtitle empty">&nbsp;</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>