<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1><img src="img/h1_subcat2.png" alt=""></h1>
			<div class="desc">
				<p>Вареники ТМ SmaCom – це мініатюрні українські пироги, делікатесні вершини національної кухні з величезною палітрою різноманітних смачних начинок. </p>
			</div>
		</div>
		<div class="middle">		
				<div class="hidden" id="hidden12">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small">Завод, на якому створюються вареники SmaCom, знаходиться у Полтавській області, колисці вареничних традицій Україні. Споконвічні національні рецепти, зібрані фахівцями SmaCom, з апетитним блиском втілені у фірмових варениках.  </p>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small">Класичні традиції реалізовані в них за сучасними технологіями. Спеціальна рецептура тіста гарантує естетичний вигляд, цілісність і ситність.</p>
								<p>ТМ SmaCom: справжня класика смачних вареників!</p>	
							</div>
						</div>							
					</div>									
				</div>	
				<center><a href="" class="more" onClick="showHidden(this,'hidden12'); return false;">докладніше</a></center>
		</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner2.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat2_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">
<!--				<div class="product brandName"  >
					<img src="img/cat_premium.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>					
				<div class="product" onclick="getPopup('subcat8/product3'); return false;">					
					<img src="img/products/cat8/product_thumb_3.jpg" alt="">
					<div class="title">Вареники  </div>
					<div class="subtitle">з вишнею</div>
				</div>-->
				<div class="insideDivider" ></div>
<!--				<br>
				<div class="product brandName"  >	
					<img src="img/cat_doy-pack.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>					

				<div class="product" onclick="getPopup('subcat9/product7'); return false;">
					<img src="img/products/cat9/product_thumb_7.jpg" alt="">
					<div class="title">Вареники   </div>
					<div class="subtitle"> з картоплею та грибами </div>
				</div>

				<div class="product" onclick="getPopup('subcat9/product9'); return false;">
					<img src="img/products/cat9/product_thumb_9.jpg" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">з картоплею та печінкою </div>
				</div>
				<div class="product" onclick="getPopup('subcat9/product10'); return false;">
					<img src="img/products/cat9/product_thumb_10.jpg" alt="">
					<div class="title">Вареники  </div>
					<div class="subtitle">з вишнею </div>
				</div>	-->

				<!--<div class="product" onclick="getPopup('subcat2/product1'); return false;">
					<img src="img/products/cat2/product_thumb_1.png" alt="">
					<div class="title">Вареники</div>
					<div class="subtitle">с картофелем и луком</div>
				</div>
				<div class="product" onclick="getPopup('subcat2/product2'); return false;">
					<img src="img/products/cat2/product_thumb_2.png" alt="">
					<div class="title">Вареники</div>
					<div class="subtitle">с мясом</div>
				</div>-->
				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >	
					<img src="img/cat_smacom.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>
                <div class="product" onclick="getPopup('subcat9/product8'); return false;">
                    <img src="img/new_pack/var_s.png" alt="">
                    <div class="title">Вареники   </div>
                    <div class="subtitle">з сиром </div>
                </div>
                <div class="product" onclick="getPopup('subcat9/product6'); return false;">
                    <img src="img/new_pack/var_k.png" alt="">
                    <div class="title">Вареники  </div>
                    <div class="subtitle">з картоплею</div>
                </div>
				<div class="product" onclick="getPopup('subcat2/product3'); return false;">
					<img src="img/new_pack/var_kg.png" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">з картоплею та грибами</div>
				</div>
<!--				<div class="product" onclick="getPopup('subcat2/product4'); return false;">
					<img src="img/products/cat2/product_thumb_4.jpg" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">з вишнею</div>
				</div>-->
<!--				<div class="product" onclick="getPopup('subcat2/product5'); return false;">
					<img src="img/new_pack/var_s.png" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">з сиром</div>
				</div>-->
				<div class="product" onclick="getPopup('subcat2/product6'); return false;">
					<img src="img/new_pack/var_kp.png" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">с картоплею та печінкою</div>
				</div>

                <!--new-->
                <div class="product" onclick="getPopup('subcat2/product10'); return false;">
                    <img src="img/new_pack/var_kap.png" alt="">
                    <div class="title">Вареники </div>
                    <div class="subtitle"> з капустою</div>
                </div>
                <!--/-new-->

				<!--<div class="product" onclick="getPopup('subcat2/product7'); return false;">
					<img src="img/products/cat2/product_thumb_7.png" alt="">
					<div class="title">Вареники</div>
					<div class="subtitle">с картофелем и шкварками</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat2/product8'); return false;">-->
					<!--<img src="img/new_pack/var_p.png" alt="">-->
					<!--<div class="title">Вареники </div>-->
					<!--<div class="subtitle">з печінкою</div>-->
				<!--</div>	-->
				<!--<div class="product" onclick="getPopup('subcat7/product5'); return false;">
					<img src="img/products/cat7/product_thumb_5.png" alt="">
					<div class="title">Вареники EkoSmac</div>
					<div class="subtitle">с мясом и часноком</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product6'); return false;">
					<img src="img/products/cat7/product_thumb_6.jpg" alt="">
					<div class="title">Вареники  EkoSmac</div>
					<div class="subtitle">с скартошкой и зеленью</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product7'); return false;">
					<img src="img/products/cat7/product_thumb_7.png" alt="">
					<div class="title">Вареники EkoSmac </div>
					<div class="subtitle"> с капустой</div>
				</div>
				<div class="product" onclick="getPopup('subcat7/product8'); return false;">
					<img src="img/products/cat7/product_thumb_8.jpg" alt="">
					<div class="title">Вареники  EkoSmac</div>
					<div class="subtitle">с субпродуктами</div>
				</div>-->
				<div class="insideDivider" ></div>
				<br>
				<div class="product brandName"  >	
					<img src="img/cat_ekosmac.jpg" alt="">
					<div class="title">&nbsp;</div>
					<div class="subtitle">&nbsp;</div>
				</div>					
				<div class="product" onclick="getPopup('subcat7/product5'); return false;">
					<img src="img/products/cat7/product_thumb_5.jpg" alt="">
					<div class="title">Вареники </div>
					<div class="subtitle">з м'ясом та часником </div>
				</div>
				<!--<div class="product" onclick="getPopup('subcat7/product6'); return false;">
					<img src="img/products/cat7/product_thumb_6.jpg" alt="">
					<div class="title">Вареники  </div>
					<div class="subtitle">с скартошкой и зеленью</div>
				</div>-->
				<!--<div class="product" onclick="getPopup('subcat7/product7'); return false;">-->
					<!--<img src="img/products/cat7/product_thumb_7.jpg" alt="">-->
					<!--<div class="title">Вареники </div>-->
					<!--<div class="subtitle"> з капустою</div>-->
				<!--</div>															-->
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat2_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>