<div class="wrapper" style="overflow:hidden; "   >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
            <h1><img src="img/text-img/frozen-patties-ua.png" alt=""></h1>
				<div class="desc" >
				<p>Полтавщина завжди була хлібосольною та гостинною. І якщо, полтавські галушки, вареники та голубці до цих пір, залишалися улюбленими стравами  жителів і гостей регіону, то про пиріжки якось забули, але... традиції повертаються!</p>
			</div>
		</div>
		<div class="middle">			
				<div class="hidden" id="hidden13">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small" >Солодкі, здобні, з різноманітною начинкою, випечені за новими технологіями та рецептурою, з традиційно домашнім смаком пиріжки, представлені TM SmaCom. Пропонуємо випічку з великою кількістю начинки й тонким шаром ароматного, ніжного здобного тіста.</p>
							</div>
						</div>						
						<div class="col">
							<div class="colInner">
								<p class="small" >Оцініть незмінну якість та різноманітність начинок. З м'ясом, капустою, картоплею, лівером, повидлом і вишнею… пиріжки від ТМ SmaСom стануть родзинкою будь-якого свята, чи то корпоратив, весілля, день народження чи будь-яка інша подія. Ми випікаємо наші пиріжки за спеціально розробленою рецептурою, яку гідно оцінять навіть найвимогливіші  гурмани.   </p>
							</div>
						</div>
							
					</div>									
				</div>						
				<center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">докладніше</a></center>
		</div>			

		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner6.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat6_products">
		<div class="middle">
			<div class="products">

                <div class="product brandName">
                    <img src="img/cat_patties-baked-ua.png" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>
				<div class="product" onclick="getPopup('subcat6/product1'); return false;">	
					<img src="img/products/cat6/product_thumb_1.jpg" alt="">
					<div class="title">Пиріжки </div>
					<div class="subtitle">з м'ясом</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product2'); return false;">	
					<img src="img/products/cat6/product_thumb_2.jpg" alt="">
					<div class="title">Пиріжки </div>
					<div class="subtitle">з лівером</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product3'); return false;">	
					<img src="img/products/cat6/product_thumb_3.jpg" alt="">
					<div class="title">Пиріжки </div>
					<div class="subtitle">з картоплею</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product4'); return false;">	
					<img src="img/products/cat6/product_thumb_4.jpg" alt="">
					<div class="title">Пиріжки </div>
					<div class="subtitle">з капустою</div>
				</div>
                <div class="product" onclick="getPopup('subcat6/product10'); return false;">
                    <img src="img/products/cat6/product_thumb_10.jpg" alt="">
                    <div class="title">Пиріжки</div>
                    <div class="subtitle">з яблуками та корицею</div>
                </div>

                <div class="insideDivider" ></div>

                <div class="product brandName">
                    <img src="img/cat_patties-ua.png" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>
				<div class="product" onclick="getPopup('subcat6/product11'); return false;">
					<img src="img/new_img/img-fried-sm-0.png" alt="">
					<div class="title">Пиріжки</div>
					<div class="subtitle">смажені з м’ясом</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product12'); return false;">
					<img src="img/new_img/img-fried-sm-1.png" alt="">
					<div class="title">Пиріжки</div>
					<div class="subtitle">смажені з горохом</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product13'); return false;">
					<img src="img/new_img/img-fried-sm-2.png" alt="">
					<div class="title">Пиріжки</div>
					<div class="subtitle">смажені з капустою</div>
				</div>
				<div class="product" onclick="getPopup('subcat6/product14'); return false;">
					<img src="img/new_img/img-fried-sm-3.png" alt="">
					<div class="title">Пиріжки</div>
					<div class="subtitle">смажені з картоплею</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat6_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>