<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">

        <div class="middle narrow">
            <h1>
                <img src="img/text-img/cutlets-only-ua.png" alt="">
            </h1>
            <div class="desc">
                <p>Котлети ТМ SmaCom - улюблена всіма, майстерно приготована соковита страва, в якій завдяки турботі й
                    досвіду професіоналів, унікальною методикою заморозки збережені всі смакові та енергетичні
                    властивості добірного натурального м'яса, підготовленого за майстерною рецептурою.</p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden14">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Котлети SmaCom створені, щоб дарувати насолоду істинним м'ясоїдам, нести
                                концентровану гармонію смаку в кожному шматочку й підкреслити абсолютні переваги
                                м'яса.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small"> Котлети готують за оригінальною вивіреної рецептурою, акцентуючи на
                                досконалості м'ясного делікатесу. Котлети SmaCom - вишуканий м'ясний делікатес!</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner4.jpg" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat1_products">

        <div class="middle">
            <div class="products">
                <div class="product brandName">
                    <img src="img/cat_smacom.jpg" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>

                <div class="product" onclick="getPopup('subcat7/product34'); return false;">
                    <img src="img/mother/img-cutlets-chicken.png" alt="">
                    <div class="title">Котлети курячі</div>
                    <div class="subtitle empty">смажені</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product35'); return false;">
                    <img src="img/mother/img-cutlets-porkBeef.png" alt="">
                    <div class="title">Котлети зі свинини та яловичини</div>
                    <div class="subtitle empty">смажені</div>
                </div>

                <br>

                <div class="product brandName">
                    <img src="img/cat_ekosmac.jpg" alt="">
                    <div class="title">&nbsp;</div>
                    <div class="subtitle">&nbsp;</div>
                </div>

                <div class="product" onclick="getPopup('subcat7/product14'); return false;">
                    <img src="img/products/cat7/product_thumb_14.jpg" alt="">
                    <div class="title">Гречаники</div>
                    <div class="subtitle empty">смажені</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product11'); return false;">
                    <img src="img/products/cat7/product_thumb_11.jpg" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Студентські» смажені</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product12'); return false;">
                    <img src="img/products/cat7/product_thumb_12.jpg" alt="">
                    <div class="title">Котлети</div>
                    <div class="subtitle">«Богатирські» смажені</div>
                </div>
                <div class="product" onclick="getPopup('subcat7/product22'); return false;">
                    <img src="img/products/cat7/product_thumb_22.jpg" alt="">
                    <div class="title">Тефтелі</div>
                    <div class="subtitle empty">смажені</div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>