<div class="wrapper" style="overflow:hidden;"  >		
						
	<div class="cat inside">

		<div class="middle narrow" >
			<h1>
                <img src="img/text-img/chiburekki-ua.png" alt="">
			</h1>
			<div class="desc">
				<p>Жареные чебуреки ТМ «SmaCom» – это яркий кулинарный тренд, который занимает почётное место в гастрономическом зале славы. Его отличает удивительное сочетание хрустящего поджаренного теста и сочного ароматного мяса.</p>
			</div>
		</div>
		<div class="middle">		
				<div class="hidden" id="hidden14">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<p class="small">Чебуреки ТМ SmaСom готовятся по исконной крымско-татарской рецептуре. Фарш в чебуреках готовится из натуральной говядины, предварительно сдобренный настоящими ароматными специями.</p>
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<p class="small"> Особую сочность фаршу придаёт украинский лук. Результат – аппетитные полумесяцы, полные сочного фарша.</p>
							</div>
						</div>							
					</div>									
				</div>									
				<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
			</div>
		<div class="bannerInside" >
            <img class="" src="img/banners_inner/banner-chiburekki.png" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat1_products">

		<div class="middle">
			<div class="products">

                <!--<div class="product" onclick="getPopup('subcat7/product23'); return false;">-->
                    <!--<img src="img/products/cat7/product_thumb_23.jpg" alt="">-->
                    <!--<div class="subtitle">Чебуреки</div>-->
                    <!--<div class="subtitle empty">&nbsp; </div>-->
                <!--</div>-->
                <div class="product" onclick="getPopup('subcat7/product30'); return false;">
                    <img src="img/frozen/img-chiburekki.png" alt="">
                    <div class="title">Чебуреки</div>
                    <div class="subtitle">смажені</div>
                </div>
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat1_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>				
</div>