<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside inside__su">

        <div class="middle narrow">

            <h1><img src="img/text-img/su-ua.png" alt=""></h1>

            <div class="desc">
                <p>
                    ТОВ «Пирятинський делікатес» пропонує смачні страви, приготовлені за новою технологією – су-від, або у вакуумі.
                    Технологія су-від готує страви делікатно, прогрів їжі рівномірний, продукт не висихає і не підгорає.
                    Страви зберігають натуральний смак та всі поживні речовини.
                </p>
            </div>
        </div>

        <div class="middle">
            <div class="hidden" id="hidden11">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <h4 style="text-align: left;">Технологія приготування</h4>

                            <p>
                                Технологія sous-vide (з франц. «під вакуумом") – це новий абсолютно унікальний метод приготування їжі, при якому продукт поміщається в пакет із харчового пластику з відкачаним повітрям та запаюється.  Упаковка з продуктом поміщається у воду, яку нагрівають до необхідної температури (від 47 до 70-80 градусів) та підтримують на одному рівні до готовності страви.  Сам процес приготування займає декілька годин у залежності від продукту. Відсутність повітряного прошарку між продуктом та упаковкою дозволяє зберегти усі корисні властивості продукту, в той час, як звичайний спосіб приготування не залишає їх у повній кількості.
                            </p>

                            <i>
                                <b>
                                    Особливості приготування овочів:
                                </b>
                            </i>

                            <p>
                                су-від дозволяє готувати овочі без додавання солі, зберігаючи їх форму й хрусткість.
                            </p>

                            <i>
                                <b>
                                    Особливості приготування овочів:
                                </b>
                            </i>

                            <p>
                                за технологією су-від м’ясо та риба готуються без додавання будь-яких спецій та зберігають вологу, притаманну продуктам. Готові страви виходять соковитими, ніжними, з яскравим смаком.
                            </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">

                            <h4 style="text-align: left;">Особливості температури приготування</h4>

                            <p>
                                Важливою особливістю су-від є використання температури набагато нижче, ніж для звичайного приготування їжі. Продукти готуються при температурі, яку зазвичай мають страви при подачі до столу. Технологія су-від готує страви делікатно, прогрів їжі рівномірний, температура в середині і на поверхні готового продукту однакова, продукт не висихає і не підгорає.
                            </p>

                            <h4 style="text-align: left;">Аромат та смак</h4>

                            <p>
                                Продукти під час готування методом су-від активно просочуються своїми ароматами, які набагато сильніші, ніж при звичайному варінні чи обсмажуванні. Враховуючи, що продукт у вакуумній упаковці не має контакту з повітрям та не окислюється водою, у ньому зберігається натуральний смак та всі поживні речовини.
                            </p>

                            <h4 style="text-align: left;">Спосіб розігріву і зберігання</h4>

                            <p>
                                Розрізати пакет, викласти продукт в ємність для розігріву і помістити в мікрохвильову піч, духову шафу, або розігріти на сковороді. Їжу, приготовлену методом су-від, можна брати з собою в дорогу: вона вже приготовлена, упакована і може добре зберігатися протягом 60 днів при температурі від 0 до 6 градусів.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <center><a href="" class="more" onClick="showHidden(this,'hidden11'); return false;">подробнее</a></center>

        </div>

        <div class="info">
            <div class="info__field">Зберігаються всі поживні речовини</div>
            <div class="info__field">Повністю готові до вживання страви</div>
            <div class="info__field">Строк зберігання: 60 днів при температурі від 0 до 6 градусів</div>
        </div>

    </div>

    <div class="borderUp2"></div>

    <div class="cat inside" id="cat1_products" style="padding-top: 0;">

        <div class="image__su-wrap" style="margin-bottom: 100px;">
            <div class="image__su-wrap--block">
                <i class="image__su image__su-0"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-1"></i>
            </div>
            <div class="image__su-wrap--block">
                <i class="image__su image__su-2"></i>
            </div>
        </div>

        <div class="middle">
            <div class="products">

                <div class="product" onclick="return false;">
                    <img src="img/su/su-borsh.png" alt="">
                    <div class="subtitle">Борщ з куркою, 600 мг</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-soup.png" alt="">
                    <div class="subtitle">Суп гороховий з куркою, 600 мг</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-buckwheat.png" alt="">
                    <div class="subtitle">Гречка з куркою і овочами, 300 г</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-rise.png" alt="">
                    <div class="subtitle">Рис з куркою і овочами, 300 г</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chickenVegetables.png" alt="">
                    <div class="subtitle">Куряче філе з овочами</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-chicken.png" alt="">
                    <div class="subtitle">Чверть курки, 2 шт.</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-cutlets.png" alt="">
                    <div class="subtitle">Котлети з індички, 2 шт.</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmon.png" alt="">
                    <div class="subtitle">Стейк з лосося</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-salmonFillet.png" alt="">
                    <div class="subtitle">Філе лосося</div>
                    <div class="title">
                    </div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-trout.png" alt="">
                    <div class="subtitle">Форель</div>
                    <div class="title"></div>
                </div>

                <div class="product" onclick="return false;">
                    <img src="img/su/su-seaBass.png" alt="">
                    <div class="subtitle">Сібас</div>
                    <div class="title"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="scrollDown" onClick="$(window).scrollTo($('#cat3_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>

</div>