<div class="wrapper" style="overflow:hidden;">

    <div class="cat inside">
        <div class="middle narrow">
            <h1><img src="img/text-img/chevpizza-ua.png" alt=""></h1>
            <div class="desc">
                <p>
                    Чевупіца – новий формат піци!
                </p>
            </div>
        </div>
        <div class="middle">
            <div class="hidden" id="hidden13">
                <div class="twoCols">
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Якщо шукаєте особливий смак в гастрономії, то вам до нас! ТМ SmaCom – це поєднання вишуканості, унікальності, якості і доступної ціни.</p>
                            <p class="small">ТМ SmaCom виходить за рамки шаблонності, щоб приносити споживачам справжнє задоволення від їжі.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="colInner">
                            <p class="small">Представляємо нову страву – чевупіццу і чевупіццу з сиром. Зовні – це звичний чебурек, який ми наповнили апетитною сирно-ковбасною начинкою.</p>
                            <p class="small">Заморожений напівфабрикат зберігається при температурі не вище мінус 18 ° С не більше 6 місяців.</p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" class="more" onClick="showHidden(this,'hidden13'); return false;">докладніше</a></center>
        </div>
        <div class="bannerInside">
            <img class="" src="img/banners_inner/banner9.png" alt="">
        </div>
    </div>
    <div class="borderUp2"></div>
    <div class="cat inside" id="cat5_products">
        <div class="middle">
            <div class="products">

                <div class="product" onclick="getPopup('subcat27/product1'); return false;">
                    <img src="img/chevpizza/chevpizza-classic.png" alt="">
                    <div class="title">Чевупіца</div>
                    <div class="subtitle"></div>
                </div>
                <div class="product" onclick="getPopup('subcat27/product2'); return false;">
                    <img src="img/chevpizza/chevpizza-cheese.png" alt="">
                    <div class="title">Чевупіца</div>
                    <div class="subtitle">з сиром</div>
                </div>

            </div>
        </div>
    </div>
    <div class="scrollDown" onClick="$(window).scrollTo($('#cat5_products'),1000)">
        <div class="arrowDynamic"></div>
        <div class="arrowStatic"></div>
        <div class="arrowBottom"></div>
    </div>
</div>