<div class="wrapper" style="overflow:hidden;"  >		
								
	<div class="cat inside"    >
		<div class="middle narrow" >
			<h1>
				<img src="img/text-img/firmovi-ua.png" alt="">
			</h1>
			<div class="desc">
				<!--<p>ТМ SmaCom презентує насправді ексклюзивний продукт – напівфабрикати ручного ліплення «преміум» класу. Необхідність розвитку в даному сегменті – відповідати потребам  наших споживачів. Коли ми говоримо «преміум», то, звичайно, маємо на увазі успіх, добробут, якість. </p>-->
			</div>
		</div>
		<div class="middle">		
				<div class="hidden" id="hidden14">
					<div class="twoCols" >
						<div class="col">
							<div class="colInner">
								<!--<p class="small">Продукція «преміум» класу є ексклюзивною, орієнтованою на цінителів культури смаку до дійсно якісних речей.</p>
								<p class="small">В лінійці продукції ручного ліплення ТМ SmaCom ми втілили всі традиції приготування домашніх пельменів та вареників, ми відібрали найсвіжіші, найякісніші інгредієнти. </p>-->
							</div>
						</div>
						<div class="col">
							<div class="colInner">
								<!--<p class="small">Зокрема, для приготування фаршу пельменів використали охолоджене м'ясо та рибу в поєднанні з духмяними спеціями , а для приготування начинки вареників – цільні, солодкі вишні. Класична рецептура у домашніх традиціях, і, звичайно ж, ручне фігурне ліплення, що створює відмінну естетику та виняткову апетитність продукту!</p>-->
							</div>
						</div>							
					</div>									
				</div>									
				<center><a href="" class="more" onClick="showHidden(this,'hidden14'); return false;">докладніше</a></center>
			</div>
		<div class="bannerInside" >
			<img class="" src="img/banners_inner/banner4.jpg" alt="" >
		</div>	
	</div>
	<div class="borderUp2"></div>	
	<div class="cat inside" id="cat8_products">
		<div class="animationGroup">
			<div class="object_left" style="top:-100px;"><img src="img/cat_inside_1_object_left_1.png" alt=""></div>
			<div class="object_right" style="top:150px;"><img src="img/cat_inside_1_object_right_1.png" alt=""></div>
			<div class="object_left" style="top:430px;"><img src="img/cat_inside_1_object_left_2.png" alt=""></div>
			<div class="object_right" style="top:550px;"><img src="img/cat_inside_1_object_right_2.png" alt=""></div>
			<div class="object_left" style="top:900px;"><img src="img/cat_inside_1_object_left_3.png" alt=""></div>
		</div>					
		<div class="middle">
			<div class="products">

				<div class="product" onclick="getPopup('subcat1/product11'); return false;">
					<img src="img/new_pack/firmovi.png" alt="">
					<div class="title">Фірмові пельмені</div>
					<div class="subtitle">зі свинини та мускатним <br>горіхом</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product12'); return false;">
					<img src="img/new_pack/firmovi1.png" alt="">
					<div class="title">Фірмові пельмені</div>
					<div class="subtitle">з яловичиною, свининою та кінзою</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product13'); return false;">
					<img src="img/new_pack/firmovi2.png" alt="">
					<div class="title">Фірмові пельмені</div>
					<div class="subtitle">з ніжним філе <br>індички</div>
				</div>
				<div class="product" onclick="getPopup('subcat1/product19'); return false;">
					<img src="img/new_pack/firmovi3.png" alt="">
					<div class="title">Фірмові пельмені</div>
					<div class="subtitle">з грибами</div>
				</div>
<!--				<div class="product" onclick="getPopup('subcat8/product1'); return false;">
					<img src="img/products/cat8/product_thumb_1.jpg" alt="">
					<div class="title">Пельмені</div>
					<div class="subtitle">з сьомгою та горбушею</div>
				</div>
				<div class="product" onclick="getPopup('subcat8/product2'); return false;">					
					<img src="img/products/cat8/product_thumb_2.jpg" alt="">
					<div class="title">Пельмені</div>
					<div class="subtitle">з яловичиною та свининою </div>
				</div>
				<div class="product" onclick="getPopup('subcat8/product3'); return false;">					
					<img src="img/products/cat8/product_thumb_3.jpg" alt="">
					<div class="title">Вареники  </div>
					<div class="subtitle">з вишнею</div>
				</div>	-->
													
			</div>
		</div>
	</div>
	<div class="scrollDown" onClick="$(window).scrollTo($('#cat8_products'),1000)">
		<div class="arrowDynamic"></div>
		<div class="arrowStatic"></div>
		<div class="arrowBottom"></div>
	</div>					
</div>