<div class="popupHeader">
	<div class="title"><h1>Котлеты  «Селянские»</h1><span class="subtitle"> с чесноком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-selyanskye-pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Котлеты приготовлены исключительно из украинских ингредиентов. Ведь мы знаем, что лучшее - это своё, родное. Пища, приготовленная дома, отличается особым вкусом и ароматом, она несёт в себе силу и энергию родных стен. Поэтому, специалисты TM SmaCom в котлетах «Селянские с чесноком» воссоздали вкусовые качества этого блюда в домашних традициях украинской кухни. </p>
					</div>
					<div>
						<div class="title">2</div>
                        <p>Котлеты сочные и вкусные, ведь в составе отборная натуральная  говядина, нежная вырезка сала и, конечно же, ароматные специи. Румяная  корочка и легкий запах чеснока придадут необычайный вкус блюду под любой гарнир.</p>
						<p>Когда создавали котлеты «Селянские с чесноком», то в рецептуре использовали ключевые ингредиенты – искреннюю любовь и преданность своему делу. Поэтому котлеты получились такими аппетитными, натуральными и полезными!</p>
					</div>
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мясо говяжье, сало, вода, лук, сухари панировочные, соль, перец черный молотый, перец душистый молотый, чеснок.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 11,19 г</span></li>
			<li>жиры<span>17,12  г</span></li>
			<li>углеводы<span>5,08 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>228,81 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Сковородку смазать жиром, сливочным или подсолнечным маслом. На разогретую сковородку выложить котлеты. Поджарить до появления корки. Подавать на стол, украсив зеленью. Котлеты хорошо сочетаются с любым гарниром.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>