<div class="popupHeader">
	<div class="title"><h1>Голубцы  </h1><span class="subtitle">«Украинские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-rolls-pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						«А сделайте мне, мамо, Ваших голубцов», - говорил известный украинский персонаж и окончательно вселял в украинцев веру, что голубцы - это их исконно национальное блюдо, без которого ни сытный завтрак, ни вкусный обед, ни праздничный ужин не состоится. </p>	
						<p>Голубцы настолько прочно укрепились в Украине, что стали национальным блюдом. Впрочем, происхождения они всё же восточного, а точнее тюркского. Наверное, такой синтез двух разных кулинарных культур породил столь прекрасный, изысканный и в то же время универсальный, деликатес. К тюркскому колориту украинцы, знатные кулинары, привнесли свои новшества. Голубцы любимы, вкусны и полезны! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Чтобы создать классические украинские голубцы, мы изучили множество оригинальных рецептур и правил приготовления. Теперь ТМ EkoSmac с гордостью презентует Вам подлинно домашние голубцы, рецепт которых выдержан в строгом соответствии с традициями украинской кухни. Фарщ для голубцов делается из отборной говядины и свежих овощей, пассированного лука и морковки. Особую пикантность придают натуральные индийские специи и пряности. Цельные листья белокочанной капусты заключают в себе эту чудесную начинку.</p>
						<p>Голубцы «Украинские» от ТМ EkoSmac в лучших традициях вкуса! </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Капуста белокачаная отварная, говядина, рис отварной, морковь пассерованная, лук пассерованный, соль, перец черный молотый, перец душистый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 6,7 г</span></li>
			<li>жиры<span>2,3  г</span></li>
			<li>углеводы<span>19,47 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>197,8 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Томатный соус или кетчуп соединить со сметаной и водой (или бульоном). Залить этой смесью голубцы ТМ EkoSmac так, чтобы жидкость едва покрывала их. Готовить на среднем огне до полной готовности. При подаче полить голубцы сметаной и посыпать рубленой зеленью.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>