<div class="popupHeader">
	<div class="title"><h1>Котлеты </h1><span class="subtitle">«Куриные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-chicken-pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Эти котлеты отличаются особой нежностью и пикантностью. Имеют оригинальную форму, напоминающую куриную ножку, что понравится не только взрослым, но и детям. Данный продукт изготавливается из отборного натурального куриного филе, а потому обладает особо изысканным диетическим вкусом. </p>
				<p>Рецепт их выдержан в классическом стиле. Используется только свежее куриное филе, которое обрабатывается специями для придания особого душистого аромата и пикантного вкуса. Далее полуфабрикат панируется в сухарях, приобретая особый колорит и традиционный вид. Такие котлеты крайне легко приготовить дома. Достаточно просто поджарить их на сковородке, украсить зеленью и универсальный «улучшитель настроения» на Вашем столе! </p>
				<p>Приятного аппетита!</p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мясо куриное, вода,  сухари панировочные, лук, мука пшеничная в/с, соевый белок, соль, чеснок. Без ГМО.  </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>9,7 г</span></li>
				<li>жиры<span>15 г</span></li>
				<li>углеводы<span>8 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>205,8 ккал</span></li>
			</ul>												
		</div>
	</div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>На разогретую смазанную растительным маслом сковородку выложить котлеты. Жарить до готовности под закрытой крышкой на слабом огне не менее 10 мин.  Хороши с любым гарниром.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>							
</div>