<div class="popupHeader">
	<div class="title"><h1>Палочки  </h1><span class="subtitle">«Куриные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-sticks-pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>ТМ EkoSmac с гордостью представляет во многом уникальный продукт – палочки «Куриные». Данный продукт готовится из куриного фарша, которому придают особую форму. Каждая куриная палочка обваливается в специальном мучном составе, приправляется индийскими специями, затем предварительно обжаривается с луком.</p>
						<p>Такая рецептура позволяет получить куриные палочки, которые готовятся быстро и просто. На выходе - вкусные, аппетитные, ароматные куриные палочки. А как хороша, как потрясающа хрустящая корочка, которая образуется при приготовлении! Она пикантна и ароматна! Она приведёт в восторг любого гурмана! Добавление натуральных специй и украинского чеснока восхищает своим вкусом, а нежное мясо птицы просто-таки тает во рту.</p>							
					</div>
					<div>
						<div class="title">2</div>
						<p>Похрустеть такими палочками можно в компании, с любимым, с семьёй или даже одному. Ведь куриные палочки отлично подойдут к любому гарниру, салату и, конечно же, к пиву. Поверьте, уважаемые мужчины, лучшей закуски к пиву, правда, не придумаешь!</p>
					</div>																																	
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мясное сырье замороженное 70% (филе куриное - 50%, сало - 10%, мясо птицы куриное - 10%), вода питьевая, лук репчатый, белок соевый (текстурат), сухари панировочные, яичный порошок, соль поваренная пищевая, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 16,04 г</span></li>
			<li>жиры<span> 15,5  г</span></li>
			<li>углеводы<span> 3,79 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>955,04 кДж (228,26 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Палочки «Куриные» ТМ EkoSmac обвалять в муке и обжарить в раскаленном растительном масле до образования хрустящей корочки.

</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>