<div class="popupHeader">
	<div class="title"><h1>Фірмові пельмени</h1><span class="subtitle">з яловичиною, свининою та свіжою кінзою</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop1.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>ТМ «Smacom» представляє новинку в пельменній лінійці – фірмові пельмені з яловичиною, свининою та свіжою кінзою. Ці пельмені заслужено можна назвати кулінарним шедевром – їх смак викликає підвищений апетит завдяки поєднанню відбірного м'яса та свіжої зелені.</p>
							<p>Листя кінзи широко використовуються у кулінарії, що надає стравам неповторного аромату та збагачує корисними властивостями. Але ні з чим так не поєднується кінза, як з м'ясом! Традиція вживати кінзу прийшла до нас із Кавказу, також вона популярна в Іспанії та Таїланді. Тому, хто бажає перейнятися смаком кавказької кухні, пропонуємо спробувати нові пельмені ТМ «Smacom».</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Тісто: борошно пшеничне в/г, вода питна, яйця курячі, сіль кухонна. Фарш: м'ясна сировина заморожена (свинина знежилована, яловичина знежилована), маргарин, цибуля ріпчаста свіжа, вода питна, сіль кухонна, кінза, перець чорний мелений, базилік, мускатний горіх.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>8,5 г</span></li>
				<li>жири<span>14,7 г</span></li>
				<li>вуглеводи<span>24,9 г</span></li>
			</ul>
			<div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>265,9 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,8 кг<span>± 5 г</span></li>
				<!--<li>0,45 кг<span>± 5 г</span></li>-->
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння, варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом та ін.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>