<div class="popupHeader">
	<div class="title"><h1>Фірмові пельмені </h1><span class="subtitle">з грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop3.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Лінійка пельменів «Фірмові» ТМ SmaCom доповнилася новим унікальним продуктом: пельменями з грибами.</p>
				<p>Фішка бренду «Фірмові» полягає у використанні натуральної сировини, ручного ліплення, виключній формі продукту, а також в екологічно чистій крафт-упаковці.</p>
				<p>У начинці пельменів 80% печериць, що говорить про їхній винятковий грибний смак. До найголовнішого інгредієнту ми додали смажену цибулю, сіль і чорний перець.</p>
				<p>Фірмові пельмені з грибами – це дієтичний корисний продукт, який може входити в раціон як вегетаріанців, так і людей, які дотримуються посту.</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">
				Тісто: борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, сіль кухонна. Фарш: гриби печериці 80%, цибуля ріпчаста смажена, сіль кухонна, молоко сухе, перець чорний мелений.
			</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>6,5 г</span></li>
				<li>жири<span>1,5 г</span></li>
				<li>вуглеводи<span>27,0 г</span></li>
			</ul>
			<div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>617,1 кДж/147,5 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,8 кг<span>± 15 г</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння, варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом та ін.</p>
			<br>
			<p>Умови зберігання та строк придатності при температурі не вище мінус 18°С не більше 6 місяців.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>