<div class="popupHeader">
	<div class="title"><h1>Фірмові пельмені</h1><span class="subtitle">з добірної свинини і ароматним мускатним горіхом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>ТМ «Smacom» презентує нові пельмені авторської рецептури – фірмові пельмені з добірної свинини та ароматним мускатним горіхом. Фірмові пельмені є продуктом високого рівня, для створення якого використовуються тільки добірні та натуральні інгредієнти.</p>
							<p>Ці пельмені характерні особливим смаком і ароматом, завдяки додаванню мускатного горіха. Запашна спеція дуже відома у світі, її широко використовують у кулінарії для досягнення досконалого смаку. Мускатний горіх з інтенсивно пряним ароматом та солодко-гірким смаком надає м'ясній начинці тонкість та пікантність.</p>
							<p>Пельмені з добірної свинини і мускатним горіхом можна сміливо назвати бездоганними на смак.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">Тісто: борошно пшеничне в/г, вода питна, яйця курячі, сіль кухонна. Фарш: м'ясна сировина заморожена (свинина знежилована, м'ясо куряче), цибуля ріпчаста свіжа, вода питна, сіль кухонна, мускатних горіх.</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>9,6 г</span></li>
							<li>жири<span>10,3 г</span></li>
							<li>вуглеводи<span>24,9 г</span></li>
						</ul>
						<div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>203,7 ккал</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>0,8 кг<span>± 5 г</span></li>
							<!--<li>0,45 кг<span>± 5 г</span></li>-->
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння і варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом та ін.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>