<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Татарские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_5.jpg" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<div class="title">1</div>
				<p>Кулинары до сих пор ломают копья и вилки в спорах о том, откуда в татарской кухне появились пельмени. Есть версия, согласно которой, татары позаимствовали у кочевников рецепт так называемых пельнянь (буквально «уши из теста», священное блюдо уральских народностей). Существует предположение, что татарские пельмени – это монгольско-бурятские бозы: шарики из теста с бараньей начинкой, которые готовят только вместе с горячим бульоном. Так же есть мнение, что корни надо искать в Иране. Мол, татарские пельмени – это иранские дюшбары, главным ингредиентом которых является отборная, специально выдержанная баранина, обильно сдобренная пахучими пряностями</p>	
			</div>
			<div>
				<div class="title">2</div>
				<p>Скорее всего, татарские пельмени взяли всё лучшее от вышеуказанных восточных блюд. Можно утверждать совершенно точно: они по-русски сытны, по-украински вкусны, по-восточному оригинальны.  </p>	
				<p>Пельмени «Татарские» от ТМ SmaCom созданы для тех, кто ценит подлинные традиции и уникальный вкус! Полностью натуральные, предельно сочные, оригинальные и сытные они идеальны для любителей восточной кухни. «Татарские» пельмени отличаются фирменным, пряным вкусом! Подаются в душистом бульоне с острым татарским соусом!</p>
				<p>Пельмени «Татарские» от ТМ SmaCom – вкусная мудрость Востока!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Мука в/с, баранина, говядина, лук, вода питьевая, соль, яичный порошок, масло растительное, перец черный. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,04 г</span></li>
				<li>жири<span>6,49 г</span></li>
				<li>вуглеводи<span>26,60 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>201,02 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>0,45 кг<span>± 5 г</span></li>
			</ul>												
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
		<p>Пельмени «Татарские», не размораживая, засыпать в мясной бульон, заправленный восточными пряностями, и варить до полной готовности. Подавать пельмени и бульон вместе с татарским соусом в порционных горшочках.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>