<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle"> «Уральские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_1.jpg" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>
							Пельмени издревле считались на Урале святыней и были окружены ореолом божественности. Изначально они преподносились языческим богам во время ритуальных церемоний. Уральские пельмени произошли от так называемых пельняней. Пельняни, буквально «уши из теста», по легенде, были созданы одним из языческих богов и переданы в качестве дара удмуртам и пермякам. С тех пор пельмени стали почитаться жителями Урала пищей богов. </p>		
						</div>
						<div>
							<div class="title">2</div>
							<p>Со временем часть легенд и мифов, окружающих уральские пельмени, развеялась, но сохранилось множество особенностей и секретов. Например, для начинки использовались яйца дрохвы, куропатки или перепёлки. Так же для особой сочности в фарш добавлялись кусочки сала и чеснока. </p>				
						</div>										
						<div>
							<div class="title">3</div>
							<p>Специалисты ТМ SmaCom для создания оригинальной рецептуры пельменей «Уральские» изучили множество древних преданий и рецептов. Теперь мы с гордостью презентуем Вам пельмени «Уральские», в основе которых классический рецепт уральских пельменей. Кусочки домашнего сала придают мясной начинке необыкновенную сочность, а чеснок и чёрный перец добавляют остроту и национальный колорит. </p>									
						</div>
						<div>
							<div class="title">4</div>
							<p>В век глобализации, когда мир становится более доступным, Вам не надо совершать утомительное путешествие на Урал, достаточно приобрести пельмени «Уральские» от ТМ SmaCom и приготовить этот высококачественный продукт дома, всего за 7-8 минут. </p>
							<p>Пельмени «Уральские» от ТМ SmaCom делают мир доступным, а наслаждение вкусной пищей комфортным! Пельмени «Уральские»: отобедайте как Боги, не выходя из дома! </p>									
						</div>						
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">Мука в/с, говядина, шпик, лук, вода питьевая, соль, чеснок, яичный порошок, масло растительное, перец черный. </div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>9,14 г</span></li>
						<li>жири<span>6,47 г</span></li>
						<li>вуглеводи<span>26,11 г</span></li>
					</ul>
					<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
					<ul>
						<li><span>199,28 ккал</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>0,9 кг<span>± 5 г</span></li>
						<li>0,45 кг<span>± 5 г</span></li>
					</ul>												
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">Пельмени «Уральские», не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей к 4 частям воды). Варить на слабом огне 5-7 минут. Выловить шумовкой пельмени и положить в блюдо. Подавать уральские пельмени, заправив их тертым чесноком, смешанным с растительным маслом, уксусом, солью, перцем.</div>															
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>