<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">«Домашні»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/dom_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Що найбільше нагадує про свій дім? Що створює неповторний домашній затишок?
							Їжа зі своїм рідним, тільки Вам знайомим смаком. Вона дарує силу та здоров’я родинного вогнища. Якщо є найсімейніша страва у світі, то це, безсумнівно, пельмені. Приготування пельменів - не просто кулінарне дійство; це ритуал. </p>
							<p>Але якщо часу для готування не достатньо,ТМ SmaCom готова запропонувати Вам гідне рішення - справжні домашні пельмені для всієї родини. Рецепт їх приготування створений відповідно до всіх стандартів та відрізняється особливою, істинно домашньою ретельністю. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Тонке пельменне тісто містить у собі соковиту натуральну начинку, дбайливо створену майстрами своєї справи з ніжного м'яса птиці та добірної яловичини. Майстерне, фігурне ліплення нагадає Вам кращі шедеври домашньої кулінарії.</p>
							<p>Ви завжди зможете швидко та якісно приготувати пельмені «Домашні» і, насолоджуючись їх рідним смаком, відчути себе вдома! Пельмені «Домашні» від ТМ SmaCom: Ви завжди вдома! Створені з істинно сімейної турботою! </p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">Борошно в/г, яловичина, шпиг, м'ясо птиці, цибуля, вода питна, яєчний порошок, олія рослинна, перець чорний.</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>9,06 г</span></li>
							<li>жири<span>6,47 г</span></li>
							<li>вуглеводи<span>26,11 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>198,95 ккал</span></li>
						</ul>
						<div class="title">Маса нетто и фасування:</div>
						<ul>
							<li>0,45 кг<span>± 5 г</span></li>
							<li>0,9 кг<span>± 5 г</span></li>
							<li>2,5 кг</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені «Домашні», не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів до 4 частин води). Варити на слабкому вогні 3-4 хвилини. Напівготові пельмені розкласти в порційні горщики. Залити бульйоном, додати сметану і довести до готовності в духовій шафі. При подачі пельмені посипати зеленню.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>