<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Царские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_2.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
<p>Литература повествует нам, что излюбленным отдыхом царей была охота на рябчиков, во время которой прямо на природе лепили и готовили пельмени из этой сказочно вкусной птицы. Сегодня каждый гражданин, пусть и не царь, может отведать элитарную роскошь вкуса. Даже если сам не может или не желает тратить драгоценные часы и силы на приготовление. </p>

<p>ТМ SmaCom с гордостью представляет эксклюзивные «Царские» пельмени. Несколько минут, и добро пожаловатьна шикарную трапезу! Рецепт пельменей «Царские» от ТМ SmaCom подразумевает использование только оригинальных и натуральных продуктов. Только деликатесное, слегка поджаренное мясо птицы! Только жирная сочная свинина! </p>	
						</div>
						<div>
							<div class="title">2</div>
							<p>И, конечно же, только специальное тесто из муки высшего сорта! Настоящий домашний лук, порезанный, согласно исконной рецептуре, придаёт пельменям «Царские» от ТМ SmaCom особую сочность, а натуральные специи подчёркивают изощрённую вкусовую палитру!</p>

<p>Приготовьте оригинальные «Царские» пельмени, пригласите гостей и, будьте уверены, после трапезы каждый из них скажет: «Приятно познакомиться – царь». </p>

<p>Пельмени «Царские» от ТМ SmaCom - комфортная элитарность вкуса! Живите по-царски!  </p> 	
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Мука в/с, говядина, свинина, мясо птицы, лук, вода питьевая, соль, яичный порошок, масло растительное, перец чёрний. </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>9,06 г</span></li>
				<li>жири<span>6,47 г</span></li>
				<li>вуглеводи<span>26,11 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>198,95 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>0,45 кг<span>± 5 г</span></li>
			</ul>												
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Замороженные пельмени «Царские» выложить на сковородку, смазанную растительным маслом. Поставить на огонь, слегка меньше максимального.Посолить и поперчить. Лучше всего использовать молотый чёрный перец и немножко майорана. Когда пельмени поджарятся до румяности с одной стороны, перевернуть их и посолить/поперчить с обратной стороны. Когда пельмени подрумянятся с обратной стороны, увеличить огонь до максимального, залить водой так, чтобы она покрывала дно примерно на пол сантиметра и закрыть крышкой. Как только вся вода выпарится (не позже и не раньше) снять с огня. Подавать с любым соусом, майонезом, кетчупом, уксусом.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>