<div class="popupHeader">
    <div class="title"><h1>Пельмені зі свинини та яловичини</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-dumpling-porkBeef_pop.png" alt=""></div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Назва лінійки «Мамині рецепти» повністю відображає концепцію напівфабрикатів: своїми смаковими якостями вони яскраво передають любов виробника до споживачів.</p>
                <p>Спробувавши нові пельмені, у вас складеться відчуття, ніби мамині руки замішували тісто, готували м'ясний фарш і ліпили маленькі пельмені вареничної форми.</p>
                <p>Відмінною рисою нової лінійки пельменів є, по-перше, тонке тісто. По-друге, начинка в даних пельменях складається виключно з добірного м'яса яловичини та свинини з додаванням натуральних спецій: чорного перцю і солі. Пельмені сподобаються вам своєю соковитістю, смаком і красивою формою.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Пельмені представлені в картонній ламінованій упаковці з прозорим віконцем для 100% видимості продукту. Коробка пельменів зі свинини і яловичини має «свій» яскравий колір, який дозволяє легко диференціювати позицію серед інших нових.</p>
                <p>Родзинкою є те, що на упаковці поданий рецепт медово-гірчичного соусу, який ми рекомендуємо для підкреслення смаку страви при подачі на стіл.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                <strong>Тісто:</strong> борошно пшеничне в/ґ, вода питна, клітковина пшенична, олія соняшникова рафінована дезодорована, сіль кухонна.
                <br>
                <strong>Фарш:</strong> м'ясна сировина заморожена 75% (м'ясо свинини знежиловане 40%, м’ясо яловичини знежиловане 35%), цибуля ріпчаста свіжа, вода питна, сіль кухонна, перець чорний мелений.
                <br>
                <strong>Не містить ГМО.</strong>
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>10,2 г</span></li>
                <li>жири<span>10,6 г</span></li>
                <li>вуглеводи<span>26,0 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>1005,0 кДж / 240,2 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,6 кг<span>± 15 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води). Довести до кипіння, варити на слабкому вогні 5-7 хвилин. Пельмені можна подати до столу з вершковим маслом, сметаною, соусом.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>