<div class="popupHeader">
	<div class="title"><h1>Фірмові пельмені </h1><span class="subtitle">з ніжним філе індички</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop2.png" alt=""></div>


	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>ТМ «Smacom» створила фірмову лінійку пельменів, у якій закладена унікальна авторська рецептура. Фірмові пельмені є продуктом високого рівня, для створення якого використовуються тільки добірні та натуральні інгредієнти.</p>
				<p>Ми подбали про те, аби наш асортимент пельменів не склав ніяких труднощів будь-якому споживачеві вибрати продукт на свій смак. Особливу увагу заслуговують фірмові пельмені з м'ясом індички, які вважаються низькокалорійними, дуже ніжними, а відповідно дієтичними і корисними. Особливу пікантність пельменям дарує кріп, який наділяє страву вишуканими смаковими нотками.</p>
				<p>Спробуйте фірмові пельмені з ніжним філе індички ТМ «Smacom» та оцініть якість на смак!</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Тісто: борошно пшеничне в/г, вода питна, яйця курячі, сіль кухонна. Фарш: м'ясна сировина заморожена (м'ясо індиче, м'ясо куряче), цибуля ріпчаста свіжа, вода питна, маргарин, сіль кухонна, кріп, цукор білий.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>11,8 г</span></li>
				<li>жири<span>4,5 г</span></li>
				<li>вуглеводи<span>24,5 г</span></li>
			</ul>
			<div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>185,7 ккал</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>0,8 кг<span>± 5 г</span></li>
				<!--<li>0,45 кг<span>± 5 г</span></li>-->
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння і варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом та ін.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>