<div class="popupHeader">
    <div class="title"><h1>Хінкалі</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-khinkali_pop.png" alt=""></div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Розфарбуйте свої будні дні! Запросіть у гості друзів та влаштуйте свято хінкалі – хінклаоба! Це кавказька традиційна страва у виконанні ТМ SmaCom вам дуже сподобається.</p>
                <p>Важливий елемент у створенні нових хінкалі – смачний в середині бульйон, який подарує справжню насолоду стравою.</p>
                <p>Назва лінійки «Мамині рецепти» повністю відображає концепцію напівфабрикатів: своїми смаковими якостями вони яскраво передають любов виробника до споживачів.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Спробувавши нові хінкалі, у вас складеться відчуття, ніби мамині руки замішували тісто, готували м'ясний фарш та ліпили справжні хінкалі.</p>
                <p>Ще одна особливість хінкалі – це тонке тісто та багато м'ясної начинки з натуральними спеціями.</p>
                <p>Хінкалі представлені в картонній ламінованій упаковці з прозорим віконцем для 100% видимості продукту. Коробка хінкалі має «свій» яскравий колір, який дозволяє легко диференціювати позицію серед інших нових.</p>
                <p>Родзинкою є те, що на упаковці подано рецепт соусу, який ми рекомендуємо для підкреслення смаку страви при подачі на стіл.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                <strong>Тісто:</strong> борошно пшеничне в/ґ, вода питна, клітковина пшенична, сіль кухонна.
                <br>
                <strong>Фарш:</strong> м'ясна сировина заморожена 66% (м’ясо яловичини знежиловане 33%, м'ясо механічного обвалювання куряче 23%, сало свинини 10%), цибуля ріпчаста свіжа, вода питна, кінза свіжа, сіль кухонна, клітковина пшенична, перець чорний мелений.
                <br>
                <strong>Не містить ГМО.</strong>
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>9,2 г</span></li>
                <li>жири<span>9,0 г</span></li>
                <li>вуглеводи<span>25,8 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>924,7 кДж / 221,0 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,6 кг<span>± 15 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                Хінкалі, не розморожуючи, засипати в киплячу підсолену воду (1 частина хінкалі: 4 частини води). Довести до кипіння, варити на слабкому вогні 9-12 хвилин. Хінкалі можна подати до столу з вершковим маслом, сметаною, соусом.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>