<div class="popupHeader">
    <div class="title"><h1>Гречка с куриным филе под красным соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_4.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>TM SmaCom представляет готовое блюдо, которое достаточно просто разогреть. Что может быть проще? Второе блюдо на скорую руку – отличное подспорье, как для молодых мам, так и для работающих женщин.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Нежное куриное филе и гречиха – основные компоненты этого блюда. Учитывая популярность данных продуктов, специалисты TM SmaCom воссоздали вкусовые качества этого блюда в домашних традициях украинской кухни. Надо сказать, что это удивительно полезный продукт. Ведь и мясо птицы, и гречка содержат множество витаминов и полезных веществ – это тандем настоящей диетической сытности.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Гречневая каша (170г): крупа гречневая, масло подсолнечное, соль. Филе (100г): филе куриное, масло подсолнечное, соль. Соус (80г): масло подсолнечное, мука в/с, томатное пюре, вода, сахар, соль, перец черный молотый.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>4,3 г</span></li>
                <li>жиры<span>6,3 г</span></li>
                <li>углеводы<span>8,8 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>109,1 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text">Снять картонную упаковку. Приоткрыть защитную пленку или проколоть в нескольких местах. Поместить лоток в СВЧ-печь или духовой шкаф. В СВЧ – печи: разогревать 5-7 минут при мощности 700 W. В духовом шкафу: разогревать при t 130 – 150 C в течение 30 минут.</div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>