<div class="popupHeader">
    <div class="title"><h1>Чевупели с сыром и ветчиной</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_1.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Ты молод, полон сил и энергии, хочешь чего-то свежего и нового. Чевупели - это для тебя!!! Чевупели с сыром и ветчиной от ТМ SmaCom - универсальная закуска на все случаи жизни!</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Внешне, это удачное сочетание сочных пельменей и хрустящих чебуреков. Готовить чевупели очень просто - достаточно разогреть в микроволновке, этот продукт можно есть даже холодным. Нежный плавленый сыр с ароматной ветчиной - это отличная начинка для утоления голода, невероятный вкус которой не оставит равнодушным. Удобный формат и приготовление всего за несколько минут именно то, что надо для тебя и твоей компании.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Чевупели с сыром и ветчиной ТМ SmaCom - удачная экспресс-закуска в ритме твоей жизни!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">тесто: мука пшеничная в/с, вода, масло подсолнечное, соль. Начинка: сыр, ветчина, вода, масло подсолнечное.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>9,3 г</span></li>
                <li>жиры<span>9,2 г</span></li>
                <li>углеводы<span>25,4 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>221,6 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,18 кг<span>± 5 г</span></li>
                <li>0,35 кг<span>± 5 г</span></li>
                <li>2,5 кг</li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text"> <p>Надрезать пленку в углу на 2-3 см, разогревать в СВЧ-печи (3 мин. при мощности 700W). Перед разогревом не размораживать.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>