<div class="popupHeader">
    <div class="title"><h1>Пюре картофельное с котлетой куриной и грибным соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_3.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Пюре!... Эта вкуснятина знакома каждому с детства. Наверное, не встретишь человека, который бы отказался от пюрешки, еще и с куриной котлеткой, да еще и под грибным соусом. И представьте, что подать это блюдо к столу вы сможете всего за несколько минут, просто разогрев. Это сочетание нескольких удовольствий в одном – непревзойденный вкус домашней кухни, сытность и комфортность приготовления.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Воздушное, но сытное картофельное пюре создает некий целостный кулинарный союз в сочетании с котлетой. Нежное куриное филе - основной ингредиент котлеты, что подчёркивает абсолютные преимущества куриного мяса. «Изюминкой» этого блюда является грибной соус, привнося грибные нотки и придавая пикантность еде.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Поставка сырья осуществляется из экологически чистых регионов Украины, что гарантирует качество выпускаемой продукции. Получите удовольствие от готового блюда на Вашем столе. Приятного аппетита!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Пюре картофельное(170г): картофель, вода, масло сливочное, соль. Котлета куриная(100г): филе куриное, лук, сало, вода, хлеб пшеничный, крупа манная, соль, перец черный молотый. Соус грибной(80г): грибы шампиньоны, масло подсолнечное, масло сливочное, мука пшеничная в/с, соль.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>8,9 г</span></li>
                <li>жиры<span>17,4 г</span></li>
                <li>углеводы<span>22,7 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>283 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text">Снять картонную упаковку. Приоткрыть защитную пленку или проколоть в нескольких местах. Поместить лоток в СВЧ-печь или духовой шкаф. В СВЧ-печи: разогревать 5-7 минут при мощности 700 W. В духовом шкафу: разогревать при t 130-150 C в течение 30 минут.</div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>