<div class="popupHeader">
    <div class="title"><h1>Оладьи печеночные</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_10.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Печеночные оладьи имеют свой ни на что непохожий вкус. Это те же печеночные блинчики, но более объемные и пышные. Оладьи ТМ SmaCom бесподобны – сочные, нежные, довольно питательные и, самое главное, легки в приготовлении, потому как их достаточно лишь разогреть.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Эти оладьи содержат 62% свиной печени, поэтому они вкусные, очень сытные и совершенно не сухие. Печень ничем не хуже мяса. Известно, что в печени содержится большое количество витамина А, В и С. Такие оладьи отлично пойдут со свежим салатом из сочных овощей к любому гарниру.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Печеночные оладьи от ТМ SmaCom - это вкусный, полезный и любимый многими продукт.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Печень свиная, лук, сало, сухари панировочные, мука пшеничная в/с, яичный порошок, масло подсолнечное, соль, чеснок сушеный, перец черный молотый.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>12,8 г</span></li>
                <li>жиры<span>15,9 г</span></li>
                <li>углеводы<span>5,4 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>216 ккал (903,3 кДж)</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,24 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ – печи: Поместите замороженное блюдо в СВЧ-печь в лотке со слегка приоткрытой пленкой и разогревайте 7-10 минут при мощности 700Вт. Предварительно размороженное блюдо разогревайте 3-4 минуты. Подавайте к столу горячим.</p>

                <p>В духовом шкафу: Разогрейте духовку до 200 С. Поместите замороженное блюдо в лотке без пленки и разогревайте в духовке 25 -30 минут. Предварительно размороженное блюдо разогревайте 10-15 минут.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>