<div class="popupHeader">
	<div class="title"><h1>Беляши с мясом кулинарные</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/mini_b_pop_1.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>
								Беляши ТМ «Smacom» - настоящие пирожки с истинным домашним вкусом.
							</p>
							<p>
								Они очень вкусны и аппетитны, отлично утоляют голод и отличаются дразнящим, соблазнительным ароматом. Своим неповторимым вкусом такое изделие обязано начинке, для которой используется куриное мясо, говядина, свинина, лук, перец, соль. Мясной фарш остается мягким и словно рассыпчатым.
							</p>
							<p>
								Беляши ТМ «SmaCom» не только вкусные, но и эстетически красивые, с золотистой корочкой.
							</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, сахар белый, дрожжи прессованные, соль поваренная пищевая.  Фарш: лук репчатый свежий, мясное сырье замороженное – 40% (м'ясо механического обваливания куриное – 10%, говядина жилованная – 10%, свинина жилованная – 10%, сало – 10%), вода питьевая, соль поваренная пищевая, перец черный молотый.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>6,3 г</span></li>
						<li>жиры<span>8,2 г</span></li>
						<li>углеводы<span>33,0 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>966,5 кДж (231,0 ккал)</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>1 кг <span>± 15 г</span></li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">Беляши разогревать в микроволновой печи 3-4 мин при мощности 700 Вт. Продукт не подлежит повторному замораживанию! Условия хранения и срок годности при температуре не выше минус 18 °С не более 2 месяцев. </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>