<div class="popupHeader">
    <div class="title"><h1>Плов по-узбекски</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_7.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Плов — любимое блюдо многих. Теперь оно доступно каждому – приготовить плов от TM SmaCom не составит труда, достаточно только разогреть и гордость восточной кухни у Вас на столе!</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Плов традиционно считается блюдом Средней Азии, он легко проник в кухни многих народов. Блюдо может иметь разные названия, но способ приготовления и состав похож на известный всем плов. Например, в Японии плов делают с курицей и абраге (соевое тофу), в Таиланде в плов добавляют множество специй, а вот настоящий узбекский плов готовится из свежей баранины. В славянской кухне плов легко адаптировался к уже существующим в ней традициям, и это блюдо прекрасно готовят с использованием мяса птицы, свинины или говядины.</p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Так, специалисты TM SmaCom представляют в серии готовых блюд аппетитный плов по-узбекски с использованием говяжьего мяса, овощей и душистых специй. Зира – пряная основа плова, эта пряность имеет сильный запах и ореховый, слегка горьковатый вкус, что придаёт блюду особый незабываемый ароматный вкус. Куски говядины дают необычайную сытность и питательность плову. Технология приготовления имеет свои особенности. </p>
            </div>
            <div>
                <div class="title">4</div>
                <p>Лук, мясо и морковь обжаривают, затем смешивают со специями и тушат до готовности, что позволяет воссоздать истинно неотразимый вкус азиатской кухни. Инновационная система заморозки предоставляет возможность сохранить все полезные вещества и вкусовые свойства блюда. Вкусная и сытная еда для всей семьи обеспечена в любое время суток, необходимо лишь разогреть плов по-узбекски от TM SmaCom! Приятного аппетита!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">рис пропаренный, мясо говяжье, морковь, масло подсолнечное, соль, сахар, зира, карри.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>13,9 г</span></li>
                <li>жиры<span>14,7 г</span></li>
                <li>углеводы<span>53,2 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>143 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text"> <p>Снять картонную упаковку. Приоткрыть защитную пленку или проколоть в нескольких местах. Поместить лоток в СВЧ-печь или духовой шкаф. В СВЧ-печи: разогревать 5-7 минут при мощности 700 W. </p>
                <p>В духовом шкафу: разогревать при t 130-150 C в течение 30 минут.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>