<div class="popupHeader">
    <div class="title"><h1>Лапша с мясным соусом</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_5.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Всего несколько минут и на столе полноценная натуральная еда – мечта любой хозяйки. ТМ SmaСom предлагает готовое второе блюдо, которое нужно лишь разогреть. Лапша с мясным соусом – это полноценное, натуральное, по-домашнему вкусное блюдо для людей, заботящихся о своем здоровье и ценящих свое время.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Для приготовления лапши использована мука твердых сортов пшеницы, которая производится из экологически чистого сырья, при этом сохраняет весь диапазон витаминов, микроэлементов и клетчатки. В качестве соуса специалисты TM SmaCom приготовили известный во всем мире мясной соус, он представляет собой одну из самых популярных заправок современности. Бернард Шоу как-то отметил: "Архитектор прячет свои ошибки под плющом, врач - в земле, а повар - под соусом". </p>
            </div>
            <div>
                <div class="title">3</div>
                <p>И действительно, соус - та самая волшебная кулинарная палочка, которая способна превратить тыкву в карету, а обычную лапшу - в праздник для желудка. Именно соус в первую очередь формирует неповторимый вкус блюда. В нашем блюде мясной соус представляет собой томатно-мясную смесь говядины с луком, нотками базилика, специями и душистыми пряностями.</p>
            </div>
            <div>
                <div class="title">4</div>
                <p>Лапша с мясным соусом от ТМ SmaСom – это непревзойденный вкус домашней кухни всего за несколько минут для всей семьи. Попробуйте вкусное и сытное блюдо из простых ингредиентов!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Лапша (из твердых сортов пшеницы), соус мясной (вода, говядина, томатная паста, лук, мука пшеничная в/с, масло подсолнечное, соль, базилик сушеный, перец черный молотый).</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>5,4 г</span></li>
                <li>жиры<span>3,4 г</span></li>
                <li>углеводы<span>22,7 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>143 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,35 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ – печи: * Поместите замороженное блюдо в СВЧ-печь в лотке со слегка приоткрытой пленкой и разогревайте 5-7 минут при мощности 700Вт. Предварительно размороженное блюдо разогревайте 3-4 минуты. Подавайте к столу горячим. </p>
                <p>В духовом шкафу: Разогрейте духовку до 200 С. Поместите замороженное блюдо в лотке без пленки и разогревайте в духовке 25 -30 минут. Предварительно размороженное блюдо разогревайте 10-15 минут.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>