<div class="popupHeader">
	<div class="title"><h1>Мини-беляши</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/mini_b_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Все привыкли видеть беляши больших размеров, поэтому мини-беляши ТМ «SmaCom» всех приятно удивят своей оригинальностью. Маленькие жаренные пирожки с мясом станут прекрасной закуской к пиву. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Они очень вкусны и аппетитны, отлично утоляют голод и отличаются дразнящим, соблазнительным ароматом.  Беляши ТМ «SmaCom» не только вкусные, но и эстетически красивые, с золотистой корочкой.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, сахар, дрожжи прессованные, соль поваренная пищевая. Фарш: лук репчатый свежий, мясное сырье замороженное – 40% (мясо механической обвалки – 10%, говядина жилованная – 10%, свинина жилованная – 10%, сало – 10%), вода питьевая, соль поваренная пищевая, перец черный молотый.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>6,3 г</span></li>
						<li>жиры<span>8,2 г</span></li>
						<li>углеводы<span>33,0 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>966,5 кДж (231,0 ккал)</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>0,4 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">Беляши разогревать в микроволновой печи 3 – 4 мин. при мощности 700 Вт.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>