<div class="popupHeader">
    <div class="title"><h1>Голубцы с мясом кулинарные замороженные</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat11/product_popup_9.jpg" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>ТМ SmaСоm с гордостью презентует в линейке готовых вторых блюд подлинно домашние голубцы. Они настолько прочно укрепились в Украине, что стали национальным блюдом. С исторической точки зрения голубцы могли возникнуть не в качестве пищи, а с целью сохранения продуктов. Наши предки использовали крупные листья растений (капусты, винограда и даже водорослей), чтобы обернуть ими пищу и сохранить ее дольше.

                </p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Сейчас не придется заморачиваться с готовкой – только разогреть и… сытное, питательное, вкусное блюдо уже готово! Рецепт приготовления выдержан кулинарами ТМ SmaСоm в строгом соответствии с традициями украинской кухни. Фарш для голубцов делается из отборной говядины и куриного филе, свежих овощей, пассированного лука и морковки с добавлением риса. </p>
            </div>
            <div>
                <div class="title">3</div>
                <p>Особую пикантность придают натуральные специи и пряности. Цельные листья белокочанной капусты заключают в себе эту чудесную начинку. Голубцы от ТМ SmaСоm – тандем вкуса и традиций!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">Капуста пареная, говядина, мясо курицы, рис отварной, морковь, лук пассерованный, томатная паста, масло подсолнечное, вода, соль, перец черный молотый.</div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>3,9 г</span></li>
                <li>жиры<span>6,1 г</span></li>
                <li>углеводы<span>20,9 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>154,1 ккал (644,8 кДж)</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,45 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <div class="text"> <p>В СВЧ – печи: Поместите замороженное блюдо в СВЧ-печь в лотке со слегка приоткрытой пленкой и разогревайте 5-7 минут при мощности 700Вт. Предварительно размороженное блюдо разогревайте 3-4 минуты. Подавайте к столу горячим.</p>

                <p>В духовом шкафу: Разогрейте духовку до 200 С. Поместите замороженное блюдо в лотке без пленки и разогревайте в духовке 25 -30 минут. Предварительно размороженное блюдо разогревайте 10-15 минут.</p>
            </div>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>