<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">зі свининою </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						ТМ SmaCom представляє пельмені зі свининою. Використані лише натуральні продукти, співвідношення фаршу до тіста – 50/50, завдяки вдалій формі «сатурн». У складі жирна соковита свинина та, звичайно ж, ніжне тісто з борошна вищого ґатунку. Справжня домашня цибуля надає пельменям зі свининою ТМ SmaCom особливу соковитість, а натуральні спеції підкреслюють витончену смакову палітру. </p>	
						<p>Пельмені зі свининою мають приємний пікантний смак, вони ситні та соковиті.</p>	
						<p>Смачного!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/ґ, вода, сіль; фарш: м’ясо свинини - 55%, сало - 20%, цибуля, вода, клітковина пшенична, сіль, перець чорний мелений. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>15,5 г</span></li>
			<li>жири<span>7,8 г</span></li>
			<li>вуглеводи<span>26 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>274,7 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння та варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>