<div class="popupHeader">
	<div class="title"><h1>Вареники  </h1><span class="subtitle">з картоплею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_k_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вареники з картоплею від ТМ SmaCom – споконвічно національний продукт, який став справжньою класикою української кухні. Цей делікатес створений, щоб бути кулінарної гордістю, а тому відповідає самим серйозним вимогам гурманів.</p>	
						<p>Тонке ніжне тісто та золота розсипчаста картопля – це поєднання не тільки естетичне, але й дуже смачне. Саме цю гармонію смаку ми втілили у варениках з картоплею. Це дивовижний синтез енергії картоплі та смаженої соковитої цибулі і спецій. Але ключовий компонент, звичайно ж, справді домашня рецептура. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Де б Ви не були, Ви завжди зможете за 7-10 хвилин приготувати вареники з картоплею та відчути себе вдома. Це корисна страва на кожен день.</p>
						<p>Вареники з картоплею ТМ SmaCom – смачно і поживно!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто: борошно пшеничне в/г, вода, олія соняшникова, яєчний порошок, сіль; начинка: картопля відварена, цибуля смажена, сіль, перець чорний мелений. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,6 г</span></li>
			<li>жири<span>2,2 г</span></li>
			<li>вуглеводи<span>40,2 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,35 кг<span>± 15 г</span></li>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин. Вареники подавати з вершковим маслом, сметаною.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>