<div class="popupHeader">
    <div class="title"><h1>Вареники </h1><span class="subtitle">з полуницею</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/new_pack/var_kl_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Вареники – це споконвічно українська страва, яка смакує з різною начинкою. Цими ситними «пирогами» зі звичним солоно-овочевим наповненням вже не здивувати сучасного споживача.</p>
                <p>І ми вирішили, чому б не спробувати солодкі вареники? Обравши спілу, соковиту, запашну полуницю, кухарі ТМ SmaCom створили тістово-фруктовий дует.</p>
                <p>Ягідки – смак дитинства, їх полюбляють як діти, так і дорослі. Солодкими варениками можна насолоджуватися до чаю, кави, або узвару!</p>
                <p>Оберіть свій улюблений смак солодких вареників ТМ SmaCom та пориньте у затишну атмосферу українських традицій.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                Начинка: полуниця 75%, цукор білий, крохмаль картопляний.
                <br>
                Тісто: борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, клітковина пшенична.
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>3,9 г</span></li>
                <li>жири<span>0,9 г</span></li>
                <li>вуглеводи<span>36,6 г</span></li>
            </ul>
            <div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>711,7 kJ(кДж)/170,1 kcal/ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,9 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon5.jpg" alt="">
    </div>
</div>