<div class="popupHeader">
	<div class="title"><h1>Хінкалі </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Хінкалі – це національна страва грузинської кухні, що завоювала популярність по всьому світу. Як будь-яка гордість і символ, хінкалі, блискуче оспівані Нодаром Думбадзе, мають свої особливості та секрети, що передаються з покоління в покоління. У приготуванні хінкалі  TM SmaСom використано стародавню рецептуру народів Кавказу.</p>
						<p>Гармонійне поєднання яловичини з курячим філе, ароматної зелені та духмяних спецій робить страву незабутньо смачною. Це ні з чим незрівнянний смак: пряний, запашний і незмінно соковитий. У соку, власне, і криється основна «родзинка» цієї страви. Коли ви куштуєте хінкалі, важливо не втратити жодної крапельки м'ясного нектару. Хінкалі TM SmaСom чудові в своїй комфортності. Їх можна приготувати всього за кілька хвилин, і вони будуть доречні в будь-якій компанії, до будь-якого столу. Адже, як кажуть самі грузини: «Гарячі хінкалі - свято у домі». </p>	
						<p>Хінкалі від ТМ SmaСom – це справжній смак Сходу!</p>		
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, сіль; фарш: м'ясо яловичини - 42%, сало – 22%, філе куряче – 12%, цибуля, вода, сіль, перець чорний мелений, перець червоний мелений ,базилік, петрушка, кріп. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>10 г</span></li>
			<li>жири<span>10 г</span></li>
			<li>вуглеводи<span>24,8 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>229,2 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,5 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Хінкалі, не розморожуючи, засипати в м'ясний бульйон, заправлений східними прянощами, і варити до повної готовності. Подавати хінкалі та бульйон разом з татарським соусом у порційних горщиках.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>