<div class="popupHeader">
    <div class="title"><h1>Вареники </h1><span class="subtitle">з полуницею</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer"><img class="productPopupImage" src="img/new_pack/var_kl_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <p>Вареники - это изначально украинское блюдо, которое сочетается с разной начинкой. Этими сытными «пирогами» с привычным солено-овощным наполнением уже не удивить современного потребителя.</p>
                <p>И мы решили, почему бы не попробовать сладкие вареники? Выбрав спелую, сочную, ароматную клубнику, повара ТМ SmaCom создали тестово-фруктовый дуэт.</p>
                <p>Ягодки – вкус детства, их любят как дети, так и взрослые. Сладкими варениками можно наслаждаться с чаем, кофе или компотом!</p>
                <p>Выберите свой любимый вкус сладких вареников ТМ SmaCom и окунитесь в уютную атмосферу украинских традиций.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">
                Начинка: клубника 75%, сахар белый, крахмал картофельный.
                <br>
                Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, клетчатка пшеничная.
            </div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span>3,9 г</span></li>
                <li>жири<span>0,9 г</span></li>
                <li>вуглеводи<span>36,6 г</span></li>
            </ul>
            <div class="title">Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>711,7 kJ(кДж)/170,1 kcal/ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>0,9 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>
                Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon5.jpg" alt="">
    </div>
</div>