<div class="popupHeader">
	<div class="title"><h1>Млинці  </h1><span class="subtitle">з м’ясом </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_13.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						ТМ SmaCom пропонує Вам класичний англійський сніданок - млинці з м'ясом. Вони смачні та швидкі у приготуванні,відмінно вгамовують апетит. Усього за кілька хвилин Ви зможете приготувати собі чудовий сніданок. Технологія їх виробництва базується на двосторонньому смаженні тіста, тобто, точно такій, яку  використовують для приготування млинців в домашніх умовах Це забезпечує відмінні смакові якості, привабливий зовнішній вигляд продукту і високу ступінь його готовності. Натуральні інгредієнти та інноваційне замороження дозволяють зберегти усі корисні елементи та смакові властивості. </p>	
						<p>Млинці з м'ясом від ТМ SmaCom – домашня смакота!</p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Філе куряче, масло вершкове, вода питна, сіль харчова, яєчний порошок, перець чорний мелений, перець духмяний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>7,3 г</span></li>
			<li>жири<span>4,8 г</span></li>
			<li>вуглеводи<span>18,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>146,4 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,4 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Час приготування в мікрохвильовій печі – 2-3 хвилини. Можна розігріти на пательні, заздалегідь змащеній маслом, на слабкому вогні під закритою кришкою.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>