<div class="popupHeader">
	<div class="title"><h1>Вареники  </h1><span class="subtitle">з сиром</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Вареники з сиром від ТМ SmaCom – це традиційні вареники, створені для тих, хто не тільки любить смачну та ситну їжу, але і для тих, хто шанує молочні продукти і дбає про своє здоров'я. Сирна начинка служить відмінним джерелом кальцію та фосфору. Без цих елементів неможливе формування кісткової системи. Тому вареники з сиром від ТМ SmaCom корисні для всіх, але особливо рекомендовані дітям.</p>	
						<p>Тісто приготоване з борошна вищого ґатунку. Після варіння воно залишається надзвичайно ніжним та пишним. Спеціальна технологія його охолодження дозволяє домогтися стовідсоткової міцності та цілісності. Сир для начинки – виключно натуральний кисломолочний продукт.</p>	
						<p>Витончене та смачне поєднання пишного тіста та солодкого сиру корисне дітям та дорослим. Ніжний смак вареників з сиром ТМ SmaCom нікого не залишить байдужим!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, олія соняшникова, яєчний порошок, сіль; начинка: сир кисломолочний, крупа манна, цукор, сіль, ванілін. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>3,3 г</span></li>
			<li>жири<span>11,4 г</span></li>
			<li>вуглеводи<span>33,9 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>211,1 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,35 кг<span>± 5 г</span></li>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин. Вареники подавати з вершковим маслом, сметаною.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>