<div class="popupHeader">
	<div class="title"><h1>Млинці </h1><span class="subtitle">з м’ясом курки та грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_12.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						БМлинці з м’ясом курки та грибами – оригінальна та незвичайна страва, що викликає захват як у дітей, так і у дорослих. Перш за все, це багатюща смакова палітра, яка не залишає байдужим. І, звичайно ж, млинці, гриби та ніжне філе птиці служать чудовою начинкою, ситні та поживні.</p>	
						<p>Курка та гриби для начинки поставляються з екологічно чистих регіонів України. Це не тільки ситна та поживна, а й надзвичайно смачна страва. Гриби надзвичайно багаті білком: зміст до 30%, тобто більше, ніж у м'ясі. Ще в грибах містяться клітковина, вуглеводи, амінокислоти, безліч різних жироподібних речовин - жирні кислоти, ефірні масла. Але найголовніше – це лецитин, що перешкоджає відкладенню холестерину. </p>
					</div>
					<div>
						<div class="title">2</div>
						<p>А з натуральними курячими ласощами загорнутими  у тонкий млинець, який завдяки своїй пористій структурі вбирає усі аромати та соки делікатесної начинки, роблять страву надзвичайним делікатесом.</p>
						<p>Млинці з м’ясом курки та грибами від ТМ SmaCom – це ситно,смачно та витончено!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: вода, борошно пшеничне в/г, молоко сухе знежирене, цукор, олія соняшникова, сіль, яєчний порошок; начинка: м'ясо птиці куряче – 33%, філе куряче – 30%, гриби печериці смажені – 16%, цибуля пасерована, вода, сіль, перець чорний мелений </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>7,2 г</span></li>
			<li>жири<span>2,4 г</span></li>
			<li>вуглеводи<span>18,6 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>124,8 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,4 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Час приготування в мікрохвильовій печі – 2-3 хвилини. Можна розігріти на пательні, заздалегідь змащеній маслом, на слабкому вогні під закритою кришкою.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>