<div class="popupHeader">
	<div class="title"><h1>Млинці  </h1><span class="subtitle">з вишнею </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						TM SmaCom – це надзвичайно соковита, ніжна їжа, яка, незважаючи на простоту, має вишуканий та чудовий смак. Млинці з вишнею дарують гурманам по-справжньому літній настрій. Золотисті ажурні млинці лисніють вгодованістю, ваблять ситністю та дарують первозданну енергію Сонця. Вишня заряджає надзвичайною свіжістю та бадьорістю, оновлюючи сили організму. Той, хто повною мірою насолодився натуральною вишнею, знає, що ця ягода - червона краса на зеленіючих гілках - заряджає безліччю нових ідей, форм та активністю життя. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Свіжа вишня - незаперечна прерогатива української національної кухні. Звичайно, вона вимагає відповідного сезону. Але завдяки технології заморозки, що дозволяє у повній мірі зберегти усі корисні речовини продукту, Ви можете насолоджуватися млинцями з вишнею круглий рік.</p>
						<p>До гарячих млинців з вишнею подають мед, сметану та топлене масло у вазочках. Будьте впевнені, що капризи гурманів будуть повністю задоволені. Млинці з вишнею від ТМ SmaCom – літо круглий рік!  </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: вода, борошно пшеничне в/г, молоко сухе знежирене, цукор, олія соняшникова, сіль, яєчний порошок; начинка: вишня, цукор, вода, крохмаль картопляний.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>10,0 г</span></li>
			<li>жири<span>3,3 г</span></li>
			<li>вуглеводи<span>28,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>136,2 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,4 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Час приготування в мікрохвильовій печі – 2-3 хвилини. Можна розігріти на пательні, заздалегідь змащеній маслом, на слабкому вогні під закритою кришкою.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>