<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з картоплею та грибами  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_7.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Вареники з картоплею та грибами ТМ SmaCom - це вареники, якими справді можна пишатися. Основа начинки - звичайно ж, підсмажені печериці, які своїм унікальним насиченим смаком підкреслюють ситність картоплі. Вареники з картопляною та грибною начинкою цінують, насамперед, за ситність та за ні з чим не зрівняний смак. </p>	
						<p>Створені за домашнім рецептом з натуральних, добірних продуктів вареники з картопляною начинкою та зажареними в маслі грибами готуються всього за кілька хвилин, без особливих зусиль та тимчасових витрат! Ситно, смачно, оригінально! На вечерю - прекрасно! </p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, олія соняшникова, яєчний порошок, сіль; начинка: картопля відварена, гриби печериці смажені – 12%, цибуля смажена, сіль. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,6 г</span></li>
			<li>жири<span>2 г</span></li>
			<li>вуглеводи<span>38,6 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>195,1 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин. Вареники подавати з вершковим маслом, сметаною.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>