<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">з яловичиною</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-0.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Пельмені з ніжним тестом і смачним соковитим м'ясом пропонує ТМ SmaCom. Виготовляються згідно з чинним (ДСТУ) на виробництво даного виду продукції. Пельмені  з яловичиною мають круглу форму «сатурн», яка забезпечує більше співвідношення фаршу до тіста, ніж «равіольна форма».</p>	
						<p>Пельмені  з яловичиною від ТМ SmaCom – це універсальне, ситне, смачна страва на всі випадки життя. Вдома чи в гостях, в обідню перерву чи на пікніку вони завжди будуть доречні! Оригінальна рецептура та лише натуральні інгредієнти – ось чому пельмені з яловичиною такі улюблені холостяками і домогосподарками, бізнесменами та студентами!</p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, сіль; фарш: м’ясо яловичини - 53%, сало - 22%, цибуля, вода, клітковина пшенична, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>12,6 г</span></li>
			<li>жири<span>9 г</span></li>
			<li>вуглеводи<span>25,9 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>253 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння та варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>