<div class="popupHeader">
	<div class="title"><h1>Вареники </h1><span class="subtitle">з картоплею та печінкою  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_9.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Вареники – головний український кулінарний тренд в усьому світі, їм ставлять пам'ятники та не втомлюються експериментувати з начинками. Вареники з картоплею та печінкою від TM SmaCom створені для тих, хто любить пробувати різні поєднання у їжі. Печінка розбавляє звичний смак картопляних вареників, роблячи їх більш соковитими та вишуканими. Треба зауважити, що печінка надзвичайно корисна для організму. В ній містяться незамінні амінокислоти, значна кількість ферментів, екстрактивних речовин, залізо, фосфор. Печінка багата на вітаміни групи В, у ній є вітаміни A, D, Е, K. </p>	
						<p>Вареники з картоплею та печінкою ТМ SmaCom виготовляються за традиційною рецептурою з суворим дотриманням єдино правильної технології. Вірність українським традиціям та європейські технологічні інновації – ось ключові чинники, які гарантують найвищу якість продукту.</p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, олія соняшникова, яєчний порошок, сіль; начинка: картопля відварена, печінка яловича відварена – 20%, цибуля смажена, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>6,8 г</span></li>
			<li>жири<span>2,3 г</span></li>
			<li>вуглеводи<span>36,8 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Вареники, не розморожуючи, засипати в киплячу підсолену воду (1 частина вареників: 4 частини води), довести до кипіння та варити на слабкому вогні 7-10 хвилин. Вареники подавати з вершковим маслом, сметаною.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>