<div class="popupHeader">
	<div class="title"><h1>Пельмені </h1><span class="subtitle">зі свининою та яловичиною</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-1.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						ТМ SmaCom готова запропонувати Вам гідне рішення – пельмені для всієї родини. Пельмені зі свининою та яловичиною мають вигідну апетитну форму «сатурн», що забезпечує більше співвідношення фаршу до тіста. </p>	
						<p>Особливістю є начинка – гармонійне поєднання свинини, яловичини та цибулі. Все дотримано в певних пропорціях – свинина надає пельменям ніжності, яловичина – ситності, цибуля – соковитості, а запашний і чорний перець створюють апетитний пряний аромат страви. </p>	
						<p>Де б Ви не були ¬– на роботі або у відпустці – Ви завжди зможете швидко приготувати пельмені і насолоджуватись їх смаком!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">тісто: борошно пшеничне в/г, вода, сіль; фарш: м’ясо свинини - 42%, сало - 19%, м’ясо яловичини - 14%, цибуля, вода, клітковина пшенична, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>14,2 г</span></li>
			<li>жири<span>8,2 г</span></li>
			<li>вуглеводи<span>25,9 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>264,2 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>0,9 кг<span>± 15 г</span></li>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пельмені, не розморожуючи, засипати в киплячу підсолену воду (1 частина пельменів: 4 частини води), довести до кипіння та варити на слабкому вогні 5-7 хвилин. Пельмені подавати з вершковим маслом, сметаною, соусом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>