<div class="popupHeader">
	<div class="title"><h1>Рис с овощами</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_ro_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>TM «SmaCom» представляет готовое блюдо, которое достаточно просто разогреть, – «Рис с овощами». Отварной рис и овощи – основные компоненты этого блюда, которое обладает не только замечательными вкусовыми качествами, но и питательными свойствами.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>Овощи представляют собой богатый источник полезных веществ. Во время кулинарного процесса они сохраняют все витамины, даря необыкновенную легкость желудку. Поэтому не стоит забывать о рисовой каше с овощами на завтрак, даже если вы уже давно выросли.</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Крупа рисовая отварная – 67 %, смесь овощная – 29 %, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>5,6 г</span></li>
				<li>жиры<span>9,9 г</span></li>
				<li>углеводы<span>51,3 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>1325,1 кДж (316,7 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>