<div class="popupHeader">
	<div class="title"><h1>Перец фаршированный</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_pf_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Кроме вкусовых характеристик блюда, очень важна его эстетическая составляющая. Профессионалы утверждают, что красивая подача блюда вызывает аппетит и улучшает пищеварение. </p>
                            <p>Перец фаршированный от ТМ «SmaCom» воплощает в себе данные характеристики и свидетельствует о кулинарном мастерстве поваров.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Это блюдо придется по вкусу и взрослым, и детям. В свою очередь, фаршированный перец очень сытное блюдо: отборные овощи начиняются мясом курицы, сочной телятиной, нежным салом, идеально рассыпчатым отварным рисом, луком и морковью.</p>
                            <p>Фаршированный перец – это не только очень вкусное, но и полезное блюдо, ведь в нем практически отсутствуют жареные элементы. Кушайте на здоровье с ТМ «SmaCom»! </p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Вода питьевая, перец свежий, мясное сырье замороженное - 17,3% (мясо курицы – 13,2%, мясо говядины – 2,7%, сало – 1,4%), лук жареный, томатная паста, морковь, крупа рисовая, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, белок соевый (текстурат), клетчатка бобовая, перец черный молотый.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>12,7 г</span></li>
				<li>жиры<span>6,8 г</span></li>
				<li>углеводы<span>22,1 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>466,1 кДж (111,4 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Перед приготовлением продукт не нужно размораживать. </p>
    <p>На сковороде: на разогретую сковороду выложить замороженный перец, добавить небольшое количество воды и тушить в течение 5 – 7 мин. на маленьком огне, периодически переворачивая на обе стороны. На пару: перец, не размораживая, выложить на дуршлаг (сито или решетку), который размещен на кастрюле с водой, плотно закрыть крышкой. С момента, когда закипит вода и начнет образовываться пар, готовить под закрытой крышкой 5 мин. Можно использовать пароварку. </p>
        <p>В микроволновой печи: выложить в посуду замороженный перец в один ряд и разогревать 4 – 6 мин. при мощности 700 Вт. Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше требуется времени.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>