<div class="popupHeader">
	<div class="title"><h1>Гречка отварная</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_g_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Гречка – одна из популярных круп, которая заслуживает особого внимания. В идеале, гречка должна регулярно присутствовать в рационе каждого человека. Каша гречневая является очень простой в приготовлении и одной из самых полезных круп, ведь она содержит практически все жизненно необходимые человеку микроэлементы и витамины. Недаром ее называют «Царицей» круп, она богата витаминами, аминокислотами, минералами. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Кулинары ТМ «SmaСоm», предлагая современному человеку только натуральную и здоровую еду, создали готовый гарнир – отварную гречку, которую можно употреблять с мясом, с овощами, просто сочетать с молоком, с оливковым малом, и даже кушать сладкой, добавляя мед и фрукты.</p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Вода питьевая, крупа гречневая высшего сорта, соль поваренная пищевая.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>4,2 г</span></li>
			<li>жиры<span>1,1 г</span></li>
			<li>углеводы<span>2,6 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>456,5 кДж (109,1 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>