<div class="popupHeader">
	<div class="title"><h1>Крылышки куриные запеченные</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_k_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
                        <div>
                            <!--<div class="title">1</div>-->
                            <p>Все гениальное – просто и вкусно! Это утверждение напрямую относится к такому блюду, как запеченные куриные крылышки ТМ «SmaCom». Неповторимый вкус блюда формирует маринад, в компоненты которого входит паприка, чеснок, соль и перец чили.</p>
<!--                        </div>
                        <div>
                            <div class="title">2</div>-->
                            <p>Если у вас намечается праздник, собралась большая компания, которую хочется удивить чем-то вкусным, то пикантные куриные крылышки ТМ «SmaCom» – то, что нужно! Очень ароматные, с хрустящей корочкой куриные крылышки станут прекрасной закуской к пиву. А в нелетную погоду вкусные крылышки напомнят всем о лете с его пикниками, мангалами и барбекю.</p>
                        </div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">
                            Мясное сырье замороженное – 62,2 % (крылья куриные), рассол (вода питьевая, соль поваренная пищевая, стабилизатор (Е 450, Е 451), паприка молотая, чеснок сушеный, соль поваренная пищевая, перец чили молотый.
                        </div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>12,1 г</span></li>
							<li>жиры<span>10,4 г</span></li>
							<li>углеводы<span>2,6 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>637,64 кДж (152,4 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>1 кг</li>
						</ul>												
					</div>
				</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>В микроволновой печи: разогревать 5 – 7 мин. при мощности 700 Вт. Время разогрева зависит от количества изделий, которые одновременно разогреваются: ​​чем больше изделий, тем больше требуется времени.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>