<div class="popupHeader">
	<div class="title"><h1>Пюре картофельное</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_p_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Картофельное пюре – самый популярный и любимый в нашей стране гарнир. Оно чудесно сочетается с любым мясом, овощами, рыбой, надолго оставляет ощущение сытости.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Но чтобы пюре действительно доставляло наслаждение не только вкусом, но и видом, оно должно быть правильно приготовлено. Повара TM «SmaCom» предлагают готовое картофельное пюре, которое отличается особой нежностью и пикантностью.</p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">Картофель отварной – 81%, вода питьевая, маргарин столовый, соль поваренная пищевая.</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>3,2 г</span></li>
							<li>жиры<span>4,0 г</span></li>
							<li>углеводы<span>27,5 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>664,42 кДж (158,8 ккал)</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>1 кг</li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7 – 10 мин. при температуре 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>