<div class="popupHeader">
	<div class="title"><h1>Рис отварной</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_rv_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Рисовая каша всегда ассоциируется со здоровьем. Она богата полезными веществами, которые обеспечивают энергией наш организм. Отварной рис станет прекрасным гарниром к любым мясным или рыбным блюдам. Также рис гармонично сочетается с различными соусами, специями, фруктами! Вариантов множество, стоит лишь подобрать рецепт, который вам больше нравится.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>Приготовление отварного риса имеет свои особенности, учитывая то, что он очень быстро впитывает воду. Поэтому не все хозяйки могут добиться идеального результата – рассыпчатого риса. Сегодня есть решение данной проблемы: ТМ «SmaCom» предлагает готовое второе блюдо «Рис отварной». Всего несколько минут и у вас на столе натуральная еда!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Вода питьевая, крупа рисовая пропаренная высшего сорта, соль поваренная пищевая.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>2,3 г</span></li>
				<li>жиры<span>0,3 г</span></li>
				<li>углеводы<span>23,5 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>443,1 кДж (105,9 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
		<p>Разморозить до полного оттаивания, надколоть упаковку и разогреть в СВЧ печи – 7-10 мин. при температуре 750 Вт.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>