<div class="popupHeader">
	<div class="title"><h1>Плов с курицей</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/second_pm_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Плов – почитаемое блюдо на столе любой хозяйки, ведь это очень сытная и вкусная еда.  Для поваров «SmaCom» приготовление плова – это целое кулинарное искусство. Так по словам Махмудова Карима, уделявшего особое внимание изучению плововарения, данный процесс связан с такими отраслями знания, как химия, биология, медицина и др.</p>
                            <p>Плововар во многом напоминает химика, так как хорошо осведомлен о содержании в использованных продуктах разных полезных веществ и умело обрабатывает их.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Так и компания «SmaCom» хорошо разбирается в биологическом строении использованных продуктов, стараясь создать непревзойденный вкус блюда и сохранить в каждом ингредиенте полезные витамины.</p>
                            <p>Пропаренный рис, что является основой плова, прекрасно гармонирует с куриным нежным мясом и ароматными специями. Попробовав плов с курицей от ТМ «SmaCom», вы полюбите его с первой ложечки.</p>
						</div>
                    </div>
				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Рис пропаренный, мясо говядины жилованное, морковь свежая, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая, зира, карри.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>3,4 г</span></li>
			<li>жиры<span>3,4 г</span></li>
			<li>углеводы<span>33,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>745,6 кДж (178,2 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>1. Поместить замороженное блюдо в СВЧ–печь в лотке со слегка надрезанной пленкой и разогревать 7 – 10 мин. при мощности 700 Вт. </p>
    <p>2. Разогреть духовку до 200°С. Поместить замороженное блюдо в лотке без пленки и разогреть в течение 25-30 минут. Подать к столу горячим.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>