<div class="popupHeader">
	<div class="title"><h1>Бендерки  </h1><span class="subtitle">с мясом и луком</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_15.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Бендерки - это блины треугольной формы с сочным нежным фаршем из отборного мяса, смешанного с золотистым поджаренным луком и натуральными специями. Откуда они появились доподлинно неизвестно. По слухам, они имеют польское, венгерское или западноукраинское происхождение. Впрочем, загадочность не мешает бендеркам быть одним из самых любимых блюд украинцев. </p>
						<p>По сути, бендерки напоминают блины, завёрнутые треугольником. Внутри – вкусная начинка. Для неё используется натуральное мясо и лук. Именно лук придаёт блюду особую сочность, которую так уважают гурманы. Аппетитная хрустящая корочка добавляет блюду пикантности и эстетики.</p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Специалисты ТМ EkoSmac готовят бендерки по классической украинской рецептуре, строго следя за тем, чтобы в производство шли только натуральные, безопасные ингредиенты, прошедшие санитарный и экологический контроль. </p>
						<p>Бендерки ТМ EkoSmac - вкусная альтернатива блинчикам!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: Мука в/с, вода питьевая, соль, яичній порошок, масло растительное. <br />Фарш: Говядина, свинина, шпик боковой, лук, соль, перец черный молотый.</div>		
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 15,28 г</span></li>
			<li>жиры<span>13,03  г</span></li>
			<li>углеводы<span>41,82 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>345,67 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Бендерки выкладывают на противень или сковороду, смазанную маслом. Ставят в духовку при температуре 200 градусов на 2-3 минуты. Или можно обжарить на сковороде до образования золотистой корочки. Подают со сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>