<div class="popupHeader">
	<div class="title"><h1>Чебуреки </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_23.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						В последнее время всё чаще слышится словосочетание «фаст-фуд». Большинство уверено, что родом она из Америки. На самом деле, это не так. Первым фаст-фудом (тогда с данным словосочетанием возникали приятные ассоциации) был чебурек. Вкусно, быстро, сытно – что ещё надо для полного счастья? </p>	
						<p>В Азии, где появился чебурек, его до сих пор, согласно опросам, почитают одним из главных открытий наряду с каллиграфией, порохом и колесом. Примечательно, что по одной из версий, чебурек вообще-то никакого отношения к Азии не имеет, а был создан крымскими татарами (кр.-тат. çüberek, тур. çiğ börek). Так назывался жареный в масле пирожок из пресного теста, для начинки которого использовался мясной фарш с острыми приправами или сыр, или грибы. Ну а распространение чебуреков в странах Азии объясняется, прежде всего, миграцией крымских татар. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Так или иначе, но чебурек – это яркий кулинарный тренд, который занимает почётное место в гастрономическом зале славы. Его отличает удивительное сочетание хрустящего поджаренного теста и сочного ароматного мяса. Чебуреки всегда подают с пылу, с жару, чтобы ощутить всё божественное очарование этого блюда!</p>
						<p>Чебуреки ТМ EkoSmac готовятся по исконной крымско-татарской рецептуре. Тесто замешивают из муки, воды, соли, а затем разделяют на шарики, которые раскатываются на лепёшки. После чего на них кладётся фарш, приготовленный из натуральной стопроцентной говядины, предварительно сдобренный настоящими ароматными специями. Особую сочность фаршу придаёт украинский лук. Далее края лепёшки соединяются. Результат – аппетитные полумесяцы, полные сочного фарша.   </p>		
						<p>Счастлив человек, съевший EkoSmac’а чебурек! </p>	
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вода питьевая, яичный порошок, масло растительное рафинированное, соль, говядина отварная, шпик боковой вытопленный, лук репчатый, перец черный, перец душистый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 9,09 г</span></li>
			<li>жиры<span>6,47  г</span></li>
			<li>углеводы<span>26,11 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>198,95 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Чебуреки жарить во фритюре или на сковороде в большом количестве растительного масла, на среднем огне с двух сторон до румяной корочки.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>