<div class="popupHeader">
	<div class="title"><h1>Перец  </h1><span class="subtitle">«Таращанский»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_24.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Киевщина! Всё здесь дышит нежностью и воздушностью, а украинский колорит ощущается в роскошности окружающей природы. «В Таращі – люди кращі!» - так говорят о небольшом районном центре в Киевской области, здесь даже местная пища ненавязчива своей лёгкостью и утончённо вкусна. Таращанский край славится гостеприимством и своими кулинарными шедеврами, одно из таких замечательных и вкусных блюд – это фаршированный перец, почитаемый всеми. Здесь сложно встретить человека, чья мама, бабушка или он сам не готовил фаршированный перец. Его готовят как на праздники, так и на повседневный стол.</p>						
					</div>
					<div>
						<div class="title">2</div>
						<p>Специалисты TM EkoSmac фаршируют перец «Таращанский» по классическому варианту – мясом, смешанным с рисом. Это логично, если учесть, что славянская душа любит пищу посытнее, а мясо просто-таки обожает. В качестве начинки используется натуральная высококачественная говядина. Именно она великолепно сочетается с рисом. Особую сочность блюду придаёт обжаренный золотистый лук. Фаршированный мясом и рисом перец еще и полезен. Ведь говядина богата белком и витаминами. Да и сам болгарский перец содержит особый алкалоид капсаицин, а так же каротин, витамины С, Р, В1 и В2. Главный секрет фаршированного перца от TM EkoSmac – предварительная обработка. Перец должен хорошо протушиться, чтобы после имел нежный, сочный вкус.</p>
						<p>Перец «Таращанский» TM EkoSmac – тандем вкуса и традиций!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Перец сладкий без семенного гнезда, говядина, рис отварной, лук репчатый, соль, перец черный молотый, перец душистый молотый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 7,19 г</span></li>
			<li>жиры<span>2,21  г</span></li>
			<li>углеводы<span>18,61 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>123,09 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Смешать сметану и томатную пасту, проварить 5 минут до образования соуса. В кастрюлю с соусом выложить перец «Таращанский» от TM EkoSmac. Налить воду так, чтобы она доходила до середины перцев. Варить на среднем огне, под крышкой, около 8 минут. Подавать со сметаной или с соусом, в котором тушились перцы.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>