<div class="popupHeader">
	<div class="title"><h1>Вареники EcoSmac</h1><span class="subtitle"> с субпродуктами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_8.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Специалисты ТМ SmaCom в результате упорного труда, исследований и изысков восстановили самую вкусную рецептуру субпродуктов. Именно правильно приготовленные субпродукты использованы в варениках от бренда EkoSmac.</p>	
						<p>Вареники с субпродуктами от SmaCom – комфортный, экономичный продукт, который оптимален по отношению «цена-качество» и незаменим в качестве повседневного блюда на все случаи. Он любим и ценим как за простоту приготовления, так и за пикантный, оригинальный вкус. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Вареники с субпродуктами от EkoSmac – это, во-первых, стопроцентное качество, соблюдение высоких стандартов которого, главная задача и кредо компании. Поэтому мы тщательно следим за тем, чтобы в производство попадали только безопасные свежие продукты, которые соответствуют всем санитарно-гигиеническим, микробиологическим нормам. Во-вторых, вареники с субродуктами – это значительная экономия времени каждый день. Приготовить их просто и комфортно! В-третьих, приобретая вареники EkoSmac, Вы получаете продукт, который отлично утоляет голод, заряжая энергией и силой.  </p>
						<p>Вареники с субпродуктами от EkoSmac – вкусно каждый день! </p>			
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Говядина отварная, мука в/с, вода питьевая, лук пассерованный, соль, яичный порошок, масло растительное, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 4,69 г</span></li>
			<li>жиры<span>4,07  г</span></li>
			<li>углеводы<span>33,79 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Вареники засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности. Вынуть их шумовкой и выложить на сковородку с предварительно поджаренным луком. Поджаривать до появления румяной корочки. Подавать с чесноком и сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>