<div class="popupHeader">
	<div class="title"><h1>Пельмени </h1><span class="subtitle">«Застольные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_2.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Застольные посиделки – давняя любимая традиция славян. С давних времён любят они собираться за праздничным столом, заставленным разнообразными яствами. Центральное место на нём испокон веков занимали пельмени, приготовленные по особому рецепту. Пельмени прекрасно шли и под разговоры. </p>	
						<p>Кулинары ТМ SmaCom воссоздали этот рецепт, создав пельмени «Застольные» бренда EkoSmac. Это лучшая закуска к праздничному и повседневному столу. Пельмени «Застольные», во-первых, имеют приятный пикантный вкус, великолепно оттеняющий алкогольные напитки, во-вторых, сытны и сочны. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Какова же особенность рецептуры? Начинка – гармоничное сочетание свинины, курятины и лука, смешанных в определённых пропорциях, используемых ещё при дворе Владимира Мономаха. Свинина придаёт пельменям нежной сытности, курятина – воздушной лёгкости, а лук – сочной свежести. </p>
						<p> Пельмени «Застольные» от EkoSmac - это лучшее блюдо к столу. Приготовить их можно за 5 минут, а, значит, гости будут сыты, а Вы довольны. Это реальная экономия времени и сил! Пельмени «Застольные» от EkoSmac – праздник за 5 минут!</p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, мясо птицы, лук репчатый, свинина, соль, перец черный молотый. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>9,14 г</span></li>
			<li>жиры<span>6,47 г</span></li>
			<li>углеводы<span>26,11 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>199,28 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Хорошо замороженные пельмени «Застольные» засыпать в нежирный мясной бульон, заправленный пряностями (майоран, перец и др.). После приготовления всю жидкость тщательным образом сцедить. Пельмени подавать на блюде с майонезом или соусом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>