<div class="popupHeader">
	<div class="title"><h1>Котлеты  </h1><span class="subtitle"> «Богатырские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_12.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Издревле щедрая, плодородная украинская земля славилась своими былинными богатырями, которые свято охраняли традиции родины. Они  были так сильны, что могли, согласно преданиям, своротить горы. Именно с тех богатырских времён пошла народная мудрость: «Мы есть то, что мы едим». Считалось, что сила в еде. Поэтому наши предки готовили сытную пищу, которая была максимально богата витаминами, полезными веществами и энергией. Особое место в рационе наших предков занимало мясо. Его готовили в разном виде. Время шло, и когда в Украине появились так называемые котлеты, они стали одним из главных мясных блюд. </p>
						<p>TM EkoSmac, чья высококачественная продукция является синтезом украинских традиций вкуса и европейского уровня производства, соединила мясные традиции славян и оригинальную французскую рецептуру. Результат – котлеты «Богатырские». Пожалуй, самые сытные и энергичные котлеты в Украине! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>В производство поступает отборная, натуральная свинина и говядина, очищенные от жил, клейм, оттисков. За этим строго следят специалисты, которые прошли практику в зарубежных компаниях. Мясной фарш для создания особого вкуса смешивается с высококлассным шпиком и приправляется индийскими специями, которые считаются лучшими в мире. Всё это создаёт неповторимый аромат и вкус котлет «Богатырские» от TM EkoSmac. Но особый шик – обвалка аппетитных мясных шариков в настоящих панировочных сухарях. Благодаря этому при жарке котлет создаётся изысканная корочка, мечта любого гурмана.Именно поэтому «Богатырские» котлеты дарят силу, энергию и подлинный вкус, воплощая в себе древние традиции наших предков! </p>
						<p>Котлеты «Богатырские» от TM EkoSmac: кулинарное воплощение силы!</p>			
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Говядина, свинина, вода питьевая, шпик боковой, лук репчатый, белок соевый, крупа манная, сухари панировочные, соль, перец черный молотый, чеснок.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 11,05 г</span></li>
			<li>жиры<span>17,12  г</span></li>
			<li>углеводы<span>11,6 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>244,68 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты идеально сочетаются с любым блюдом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>