<div class="popupHeader">
	<div class="title"><h1>Котлеты  </h1><span class="subtitle">«Студенческие»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_11.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Занимаясь спортом или катаясь на байке, постигая науку или самовыражаясь в творчестве, ты испытываешь голод – голод побед, голод новых эмоций и знаний. Ты стремишься быть лучшим. Чтобы утолить свой голод успеха, тебе нужен универсальный источник бодрости и отличного настроения. Тебе необходим сытный заряд энергии. Котлеты «Студенческие» от ТМ EkoSmac созданы специально для тебя. Они быстро восстанавливают твои силы и заряжают энергией. Отборное свежее мясо. Натуральные индийские специи. Хрустящие панировочные сухари. Всё это котлеты «Студенческие»! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>И главное – испытывая голод успеха, стремясь к победам, ты должен максимально рационально использовать своё время. «Студенческие» котлеты готовятся всего за 8 минут. Ты не тратишь время на приготовление пищи, а тратишь его на себя.
</p>
						<p>Котлеты «Студенческие» от ТМ EkoSmac – новый вкус нового времени!
 </p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Говядина, мясо птицы, вода питьевая, шпик боковой, лук репчатый, сухари панировочные, соль, перец черный молотый, чеснок.

 </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 10,76 г</span></li>
			<li>жиры<span>13,90  г</span></li>
			<li>углеводы<span>17,89 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>239,70 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете котлеты. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Котлеты идеально сочетаются с любым блюдом.

</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>