<div class="popupHeader">
    <div class="title"><h1>Котлеты из свинины и говядины жареные</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage" src="img/mother/img-cutlets-porkBeef_pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Название линейки «Мамины рецепты» полностью отражает концепцию полуфабрикатов: своими вкусовыми качествами они ярко передают любовь производителя к потребителям.</p>
                <p>Свино-говяжьи жареные котлеты – это натуральный продукт, приготовленный с любовью к потребителям. Использование мяса высшего сорта, натуральных специй, тщательная предварительная обработка сырья, минимальная добавка жира для обжаривания позволяет назвать эти котлетки истинно домашними.</p>
                <p>Котлетки являются настоящей находкой для истинных ценителей вкусной еды за их необыкновенную сочность, хороший состав и безупречные вкусовые свойства.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>В разогретом виде блюдо очень ароматное, чувствуется хрустящая панировочная корочка и нежность мяса. Благодаря свино-говяжьему фаршу котлеты получились калорийные и очень сытные.</p>
                <p>Котлеты из свинины и говядины представлены в картонной ламинированной упаковке с прозрачным окошком для 100% видимости продукта. Коробка данных котлет имеет «свой» яркий цвет, который позволяет легко дифференцировать позицию с другой.</p>
                <p>Изюминкой есть то, что на упаковке подан рецепт салата, который мы рекомендуем для подчеркивания вкуса блюда при подаче на стол.</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">
                Мясное сырье замороженное 79% (мясо свинины жилованное 29,6%, мясо говядины жилованное 29,6%, сало свинины 19,8%), лук репчатый, соль поваренная пищевая, перец черный молотый.
                <br>
                <strong>Не содержит ГМО.</strong>
            </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>11,7 г</span></li>
                <li>жиры<span>31,2 г</span></li>
                <li>углеводы<span>6,0 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>1471,1 кДж / 351,6 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,360 кг<span>± 3%</span></li>
            </ul>
        </div>
    </div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>
                1. Замороженные котлеты выложить в один ряд в посуду, предназначенную для микроволновой печи и разогревать 4-6 мин. при мощности 750 Вт. Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше необходимо времени.
            </p>
            <p>
                2. На разогретую, смазанную растительным маслом сковороду выложить замороженные котлеты. Добавить небольшое количество воды и тушить на протяжении 5-7 мин. на маленьком огне, периодически переворачивая на обе стороны.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>