<div class="popupHeader">
	<div class="title"><h1>Пельмени </h1><span class="subtitle">«Богатырские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-2.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Наша земля издревле славилась своими сильными, крепкими и здоровыми людьми – богатырями. Здоровье людей, согласно народной мудрости, определялось древним законом «Мы есть то, что мы едим». Поэтому пища должна была быть сытной, здоровой и энергетической.</p>	
						<p>Мы создали пельмени «Богатырские» от бренда EkoSmac как универсальный и вкусный источник энергии и силы на каждый день. Это натуральный, здоровый продукт, который максимально насыщает полезными веществами и микроэлементами. При этом он крайне прост в приготовлении. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Богатырское блюдо должно состоять из максимально здоровых ингредиентов. Немногие знают, что из всех видов мяса наиболее богато энергией мясо птицы. Поэтому специалисты ТМ SmaCom для пельменей «Богатырские» использовали проверенный временем рецепт. Это мясо птицы, предварительно замаринованное в специях, и лепное тесто из муки высшего сорта. Золотистый домашний лук придаёт блюду особую сочность.</p>
						<p>Пельмени «Богатырские» от бренда EkoSmac – энергия, заключённая в форму!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, вода питьевая, яичный порошок, масло растительное рафинированное, говядина , шпик, лук репчатый, соль, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>16,61 г</span></li>
			<li>жиры<span>3,95 г</span></li>
			<li>углеводы<span>63,44 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>355,75 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени «Богатырские», не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей к 4 частям воды). Варить на слабом огне 5-7 минут. Выловить шумовкой пельмени и положить в блюдо. Подавать пельмени, заправив их тертым чесноком, смешанным с растительным маслом, уксусом, солью, перцем.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>