<div class="popupHeader">
	<div class="title"><h1>Голубцы  EcoSmac</h1><span class="subtitle">«Особые»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_20.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						«А сделайте мне, мамо, Ваших голубцов», - говорил известный украинский персонаж и окончательно вселял в украинцев веру, что голубцы – это их исконно национальное блюдо, без которого ни сытный завтрак, ни вкусный обед, ни праздничный ужин не состоятся.</p>	
						<p>Голубцы настолько прочно укрепились в Украине, что стали национальным блюдом. Впрочем, происхождения они всё же восточного, а точнее тюркского. Наверное, такой синтез двух разных кулинарных культур породил столь прекрасный, изысканный и в то же время универсальный, деликатес. К тюркскому колориту украинцы, знатные кулинары, привнесли свои новшества. Голубцы любимы, вкусны и полезны! </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Голубцы – вкусно всегда. Ну а голубцы особенные от ТМ EkoSmac  просто великолепны. Фарш для голубцов делается из отборной говядины и свежих овощей, пассированного лука и морковки. Натуральный рис придаёт фаршу сытности и пикантности. Он сдобрен чесноком и перцем. Фарш смешивается с рубленой капустой. После чего ему придаётся оригинальная форма аппетитных шариков.</p>
						<p>Голубцы «Особенные» от ТМ EkoSmac - по-особенному вкусно!  </p>			
					</div>																						
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">уста белокочанная отварная, говядина, рис отварной, лук, соль пищевая, перец душистый, чеснок.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 6,70 г</span></li>
			<li>жиры<span>2,3  г</span></li>
			<li>углеводы<span>19,47 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>125,38 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Сковородку смазываете сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете голубцы. Поджариваете до появления корочки. Подавать на стол, украсив зеленью. Голубцы отлично сочетаются с любым блюдом.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>