<div class="popupHeader">
	<div class="title"><h1>Бендерки  EcoSmac</h1><span class="subtitle">с творогом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_16.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Бендерки, судя по названию, должны позитивно восприниматься в зависимости от политических пристрастий, но, как показывает кулинарная статистика, они любимы всеми украинцами без исключения. Да и как их не любить? Они необычайно сытны, вкусны и оригинальны. Их готовят на праздники и просто-так, называя блюдом на все времена, низменно экспериментируя с начинками. Следствие одного из таких экспериментов - бендерки с творогом. </p>	
						<p>Надо сказать, что эксперимент удался. Аппетитный треугольник из ажурного теста заключает в себя отборный витаминный творог, который так богат фосфором и кальцием. Мы понимаем, насколько важно сегодня здоровье людей, особенно детей, поэтому использует в рецептуре творог исключительно из натурального молока здоровых коров. За этим строго следят все: от фермера до технолога. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Нежный молочный творог из домашнего молока в сочетании с поджаренным хрустящим тестом придаёт блюду просто восхитительный, ни с чем несравнимый вкус, который так любят дети. И, конечно же, это на сто процентов полезный продукт, который необходим для полноценного развития. Приготовить это великолепие вкуса и витаминов можно всего за 8 минут, быстро и просто.</p>
						<p>Бендерки от ТМ EkoSmac: всё гениальное - вкусно, всё гениальное - легко!</p>			
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Творог, мука в/с, сахарный песок, вода питьевая, масло растительное рафинированное, яичный порошок, ванилин. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span> 13,53 г</span></li>
			<li>жиры<span>12,28  г</span></li>
			<li>углеводы<span>43,09 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>337 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Бендерки выкладывают на противень или сковороду, смазанную маслом. Ставят в духовку при температуре 200 градусов на 2-3 минуты. Или можно обжарить на сковороде до образования золотистой корочки. Подают со сметаной.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>