<div class="popupHeader">
	<div class="title"><h1>Пельмени EcoSmac</h1><span class="subtitle">«Куриные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_3.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Кулинария напрямую связана с жизнью в целом: с её тенденциями, развитием, веяниями и особенностями. Поэтому неудивительно, что кулинарные тренды зачастую полностью определяются трендами социальными. И общая тенденция к лёгкости во всём стала заметна и в производстве пищи. </p>	
						<p>Пельмени «Куриные» от ТМ SmaCom воплощают в себе традицию лёгкого, изысканного вкуса. Их особенность заключается в нежной начинке из свежайшей, отборной курятины. Искусно приготовленная она великолепно гармонирует с сытным тестом. Благодаря натуральным ингредиентам пельмени «Куриные» от бренда  EkoSmac имеют подлинно утончённый вкус </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Это прекрасный продукт для гармоничного сочетания диетического и сытного питания. Благодаря уникальной рецептуре пельмени «Куриные» не создают «тяжести» в желудке, так как необычайно легки. При этом благодаря уникальной методике шоковой заморозки обладают всем набором полезных веществ и микроэлементов, которые содержатся в свежей курятине. </p>
						<p> Пельмени «Куриные» от ТМ EkoSmac: нежное совершенство вкуса!  </p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, мясо птицы, лук репчатый, соль, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>8,43 г</span></li>
			<li>жиры<span>18,4 г</span></li>
			<li>углеводы<span>26,1 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>303,72 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени «Куриные», не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей к 4 частям воды). Отварить их до полуготовности, положить в горшочки и залить горячим бульоном со сметаной и жареными грибами. Горшочки закрыть и довести до готовности в духовом шкафу.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>