<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Уральские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_25.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3" >
					<div>
						<p>Специалисты ТМ SmaCom для создания оригинальной рецептуры пельменей «Уральские» изучили множество древних преданий и рецептов. Теперь мы с гордостью презентуем Вам пельмени «Уральские», в основе которых классический рецепт уральских пельменей. Кусочки домашнего сала придают мясной начинке необыкновенную сочность, а чеснок и чёрный перец добавляют остроту и национальный колорит.</p>
						<p>В век глобализации, когда мир становится более доступным, Вам не надо совершать утомительное путешествие на Урал, достаточно приобрести пельмени «Уральские» от ТМ EkoSmac и приготовить этот высококачественный продукт дома, всего за 7-8 минут.</p>
						<p>Пельмени «Уральские» от ТМ EkoSmac делают мир доступным, а наслаждение вкусной пищей комфортным! Пельмени «Уральские»: отобедайте как Боги, не выходя из дома!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Тесто: Мука в/с, вода питьевая, яичный порошок, масло растительное рафинированное, соль. Фарш: Говядина, вида питьевая, лук, соль, перец черный молотый.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul >
			<li>белки<span>10,1 г</span></li>
			<li>жиры<span>13,0 г</span></li>
			<li>углеводы<span>27,5 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul >
			<li><span>267,4 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul >
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени, не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей: 4 части воды). Довести до кипения, варить на слабом огне 5-7 минут. Пельмени можно подать к столу с сливочным маслом, сметаной, соусом и др.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>