<div class="popupHeader">
	<div class="title"><h1>«Хинкали»</h1><span class="subtitle"></span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_9.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>Кулинары ТМ EkoSmac, понимая всю серьёзность приготовления хинкали, которые, как писал Нодар Думбадзе: «…не могут стоить столько же, сколько рюмка водки», используют древнюю рецептуру, соблюдая все исконно грузинские традиции.</p>	
						<p>	Так чем же хороши хинкали, властвующие над аппетитом тысяч гурманов? На этот вопрос без зазрения совести можно ответить – всем!  Хинкали TM EkoSmac замечательны в своей комфортности приготовления – несколько минут и все готово!</p>						
					</div>
					<div>
						<div class="title">2</div>
						<p>Хороши хинкали своим ни с чем несравнимым вкусом: пряным, душистым и неизменно сочным. Кушая, важно не потерять ни одной капельки драгоценного мясного нектара, который в сочетании с натуральными специями и пряностями источает манящий запах и божественен на вкус.</p>
						<p>Хинкали от ТМ EkoSmac – Кавказская гармония вкуса!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, говядина, свинина, лук репчатый, вода питьевая, яичный порошок, масло растительное, соль, укроп, петрушка, перец черный.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>4,69 г</span></li>
			<li>жиры<span>4,07 г</span></li>
			<li>углеводы<span>33,79 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>190,6 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Хинкали засыпать в большое количество подсоленной кипящей воды. Варить до полуготовности.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>