<div class="popupHeader">
	<div class="title"><h1>Гречаники</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat7/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Гречаники – древнее блюдо с исключительно украинскими корнями, является одним из приоритетных блюд национальной кухни. Гречаники любимы украинцами за оригинальный вкус и простоту приготовления. Впрочем, простота сочетается с определённой спецификой приготовления. Её учли кулинары ТМ EkoSmac в рецептуре фирменных гречаников.  </p>	
						<p>Знаменитый кулинар и исследователь Вильяма Похлебкин полагает, что основные компоненты этого блюда: гречневая крупа и яйца. Мы учли эту особенность, поэтому использовали в рецептуре домашние яйца и настоящую украинскую гречневую крупу. Другой обязательный компонент – это перекрученное мясо. В гречаниках ТМ EkoSmac используется дивное сочетание сочной свинины, витаминной говядины и нежного мяса птицы. Именно из этих трёх видов мяса с древности готовятся гречаники на Украине.  </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Надо сказать, что это удивительно полезное блюдо. Ведь и мясо, и гречка содержат множество витаминов и полезных веществ. Это настоящая сокровищница белка, железа, витаминов группы В и многого другого.</p>
						<p>Инновационное формовочное оборудование придаёт гречаникам совершенную форму аппетитных шариков, имеющих насыщенный приятный аромат. Готовые гречаники можно подать к столу со сметаной.</p>			
						<p>Гречаники ТМ EkoSmac – аппетитные традиции Украины!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Говядина, свинина, мясо птицы, крупа гречневая, соль. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>7,19 г</span></li>
			<li>жиры<span>2,21 г</span></li>
			<li>углеводы<span>18,61 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>303,68 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Сковородку смазываете жиром, сливочным или подсолнечным маслом. Разогреваете. На разогретую сковородку выкладываете гречаники. Поджариваете до появления корочки. Подавать на стол, густо полив сметаной. Гречаники идеально сочетаются с любым блюдом, особенно хорошо идут под горячительные напитки.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon6.jpg" alt="">
	</div>
</div>