<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Фирменные»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_10.jpg" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>ТM SmaCom предлагает оценить миниатюрные пельмени «Фирменные», в основе которых тонкое тесто и сочный говяжий фарш с кусочками украинского сала. Эти пельмешки имеют форму полумесяца и вес всего 5 г. Сочное сочетание свинины и говядины в фарше почитается нашими соотечественниками. Соотношение фарша к тесту 50:50, что потешит мужчин вкусом и сытностью, а домохозяек максимально комфортным приготовлением.</p>
							<p>Приготовить пельмени «Фирменные» легко и быстро! Благодаря изящной, аккуратной лепке они будут уместны как на повседневном, так и на праздничном столе, а своими миниатюрными размерами и натуральному составу идеально подойдут детям.</p>
							<p>Пельмени «Фирменные» – всегда аппетитно, изящно, вкусно!</p>
						</div>		
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">
							Тесто: мука в/с, вода питьевая, яичный порошок, масло подсолнечное рафинированное, соль. <br>Фарш: говядина полужирная, вода, шпик, лук репчатый, соль, перец черный молотый.
						</div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>9,1 г</span></li>
							<li>жиры<span>14,5 г</span></li>
							<li>углеводы<span>25,4 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>1123,4 кДж</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>0,6 кг<span>± 5 г</span></li>
						</ul>												
					</div>
				</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>Пельмени «Фирменные», не размораживая, засыпать в кипящую подсоленную воду (1:4). Варить на слабом огне 5 минут до готовности. При подаче пельмени можно полить сметаной или сливочным маслом и посыпать зеленью.</p>	
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>