<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Сибирские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/sib_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
<p>Сибиряки – удивительный народ с древними обычаями и величественными традициями. Сибирь овеяна множеством красивых мифов и легенд, одна из которых повествует нам о национальной гордости сибиряков – пельменях.


<p>Сибирские пельмени, по преданию, стали прообразом всех блюд из теста с начинками. Это уникальное блюдо у сибиряков считается и культовым, и повседневным, но неизменно обязательным. Сибиряки берут его с собой и на отдых, и в гости. Существует такая сибирская присказка: «Не выходи из дома без пельменей». Шутки шутками, но правды здесь немало. Сибиряки лепят пельмени целыми семьями, домами, на праздники и без всякого повода, считая, что рецепт пельменей знать надо не хуже, чем молитву. 
</p>


						</div>
						<div>
							<div class="title">2</div>
							<p>Рецепт настоящих сибирских пельменей имеет массу особенностей. Например, начинку пельменей делают из мяса лося и охлаждают тёртым льдом, а в качестве «сочной изюминки» добавляют сок брусники, клюквы или голубики. Со временем лосятину заменил более либеральный вариант – мясо птицы. Как говорят сами сибиряки, все тонкости рецептуры сибирских пельменей мало кто знает даже в Сибири.</p>
							<p>Пельмени «Сибирские» ТМ SmaCom – это первозданный вкус и прогрессивные технологии. Пельмени «Сибирские» – это древняя рецептура сибирских мастеров и инновационное производство, уникальный симбиоз пошагового следования традициям и стремления к абсолютному качеству. </p>
						</div>						
						<div>
							<div class="title">3</div>
							Аккуратные, миниатюрно-утончённые, - (настоящие сибирские пельмени обязательно должны быть маленькими!) - пельмени «Сибирские» от ТМ SmaCom представляют собой лучшие образцы домашней сибирской кухни. Пластичное, тонкое тесто, охлаждённое строго по сибирской технологии, с венцом изящной лепки заключает в себе натуральную мясную начинку – (настоящие сибирские пельмени должны включать в себя три вида мяса, не меньше!) – из свинины, говядины и птицы, соблюдённых в исключительно строгих пропорциях. Домашний лук и чеснок обеспечивают потрясающую сочность, а душистый и чёрный перец создают аппетитный пряный аромат блюда. </p>
							<p>Пельмени «Сибирские» от ТМ SmaCom – первозданный вкус! Живите по-настоящему! </p>
						</div>			
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мука в/с, говядина, свинина, мясо птицы, лук, вода питьевая, соль, яичный порошок, масло растительное, перец черный, перец душистый, чеснок. </div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>9,14 г</span></li>
				<li>жиры<span>6,47 г</span></li>
				<li>углеводы<span>26,11 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>199,28 ккал</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,45 кг<span>± 5 г</span></li>
				<li>0,9 кг<span>± 5 г</span></li>
				<li>2,5</li>
			</ul>												
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Хорошо замороженные пельмени «Сибирские» засыпать в нежирный мясной бульон, заправленный пряностями (майоран, перец и др.). После приготовления всю жидкость тщательным образом сцедить (подавать пельмени в бульоне у сибиряков считается моветоном). Пельмени подавать на блюде со специальным соусом. Для приготовления соуса нужно на сухой горячей сковородке поджарить муку до коричневого цвета, затем развести её мясным бульоном, положить сливочное масло, добавить по вкусу черный молотый перец и соль. Отдельно к пельменям подавать уксус и бульон.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>