<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Киевские»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/kiev_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Считается, что Киев из кулинарных изысков, прежде всего, славится котлетами и тортами. Но есть ещё одно замечательное блюдо, любимое всеми киевлянами и украинцами, - это киевские пельмени.</p>
							<p>Пельмени «Киевские» от ТМ SmaCom воплощают в себе истинно киевские традиции лёгкого, изысканного вкуса. Как и в киевских котлетах, в пельменях главное – нежное мясо птицы. В сочетании со свежестью мелко нарубленной зелени, изысканной ненавязчивостью специй и натуральностью домашнего сливочного масла мясная начинка имеет оригинальный, подлинно утончённый вкус.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Благодаря уникальной рецептуре пельмени «Киевские» не создают «тяжести» в желудке, легко усваиваются, при этом в полной мере утоляют аппетит и насыщают организм полезными веществами. Ведь пельмени «Киевские» создаются исключительно из отборных, натуральных продуктов в соответствии с первозданной украинской рецептурой и европейским уровнем производства.</p>
							<p>Пельмени «Киевские» от ТМ SmaCom: своё, родное!   </p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, филе куриное охлажденное, шпик, вода питьевая, масло сливочное, яичный порошок, соль, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>8,43 г</span></li>
			<li>жиры<span>18,4 г</span></li>
			<li>углеводы<span>26,1 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>201,02 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени «Киевские», не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей к 4 частям воды). Отварить их до полуготовности, положить в горшочки и залить горячим бульоном со сметаной и жареными грибами. Горшочки закрыть и довести до готовности в духовом шкафу.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>