<div class="popupHeader">
	<div class="title"><h1>Фирменные пельмени</h1><span class="subtitle">с грибами</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop3.png" alt=""></div>

	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<p>Линейка пельменей «Фирменные» ТМ SmaCom пополнилась новым уникальным продуктом: пельменями с грибами.</p>
				<p>Фишка бренда «Фирменные» состоит в использовании натурального сырья, ручной лепке, исключительной форме продукта, а также в экологически чистой крафт-упаковке.</p>
				<p>В начинке пельменей 80 % шампиньонов, что говорит о их исключительном грибном вкусе. К самому главному ингредиенту мы добавили жареный лук, соль и черный перец.</p>
				<p>Фирменные пельмени с грибами – это диетический полезный продукт, который может входить в рацион как вегетарианцев, так и людей, соблюдающих пост.</p>
			</div>
		</div>

	</div>
	<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">
				Тесто: мука пшеничная в/с, вода питьевая, масло подсолнечное рафинированное дезодорированное, соль поваренная пищевая. Фарш: грибы шампиньоны 80%, лук репчатый жаренный, соль поваренная пищевая, молоко сухое, перец черный молотый.
			</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>6,5 г</span></li>
				<li>жиры<span>1,5 г</span></li>
				<li>углеводы<span>27,0 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>617,1 кДж /147,5 ккал.</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>0,8 кг<span>± 15 г</span></li>
			</ul>
		</div>
	</div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
		<div class="consistInside">
			<p>Пельмени, не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей: 4 части воды). Довести до кипения, варить на слабом огне 5-7 минут. Пельмени можно подать к столу со сливочным маслом, сметаной, соусом.</p>
			<br>
			<p>Условия хранения и срок годности при температуре минус 18°С  не более  6 месяцев.</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>