<div class="popupHeader">
	<div class="title"><h1>Фирменные пельмени</h1><span class="subtitle">с говядиной, свининой и свежей кинзой</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/firmovi_pop1.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>ТМ «Smacom» представляет новинку в пельменной линейке – фирменные пельмени с говядиной, свининой и свежей кинзой. Эти пельмени заслужено можно назвать кулинарным шедевром благодаря сочетанию отборного мяса и свежей зелени.</p>
							<p>Листья кинзы широко используются в кулинарии, что придает блюдам неповторимого аромата и обогащает полезными свойствами. Но ни с чем так не сочетается кинза, как с мясом! Традиция употреблять кинзу пришла к нам с Кавказа, также она популярна в Испании и Таиланде. Поэтому, кто желает проникнуться вкусом кавказской кухни, предлагаем попробовать новые пельмени ТМ «Smacom».</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
					<div class="consistInside">
						<div class="text">Тесто: мука пшеничная в/с, вода питьевая, яйца куриные, соль поваренная пищевая. Фарш: мясное сырье замороженное (свинина жилованная, говядина жилованная), маргарин, лук репчатый свежий, вода питьевая, соль поваренная пищевая, кинза, перец черный молотый, базилик, мускатный орех. </div>
						<div class="title">Питательная (пищевая) ценность:</div>
						<ul>
							<li>белки<span>8,5 г</span></li>
							<li>жиры<span>14,7 г</span></li>
							<li>углеводы<span>24,9 г</span></li>
						</ul>
						<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
						<ul>
							<li><span>265,9 ккал</span></li>
						</ul>
						<div class="title">Масса нетто и фасовки:</div>
						<ul>
							<li>0,8 кг<span>± 5 г</span></li>
							<!--<li>0,45 кг<span>± 5 г</span></li>-->
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени, не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей: 4 части воды), довести до кипения и варить на слабом огне 5-7 минут. Пельмени подавать со сливочным маслом, сметаной, соусом и пр.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>