<div class="popupHeader">
	<div class="title"><h1>Пельмени</h1><span class="subtitle">«Говяжьи»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat1/product_popup_8.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
<p>Любопытный факт: в 1879 году в Нижнем Новгороде была издана брошюра «Песни про пельмени». Эпиграфом к ней значились строки: «Готов упасть я на колени пред тем, кто выдумал пельмени». Далее в столь же эпическом стиле шли 20 строф, в которых воспевалось великое пельменное чудо. Да, пельмени на Руси не просто любили, а превозносили, почитали и преклонялись. Готовить пельмени – излюбленная славянская забава. Лепили всей семьёй, а иногда улицами и сёлами. </p><p>Устраивали пышные пельменные праздники и действа, где соревновались в мастерстве приготовления и поедания пельменей. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>Пельмени «Говяжьи» от ТМ SmaCom – это универсальное, сытное, вкусное блюдо на все случаи жизни. Дома или в гостях, в обеденный перерыв или на пикнике – пельмени «Говяжьи» всегда будут уместны! Оригинальная рецептура и только натуральные ингредиенты – вот почему «Говяжьи» пельмени так любимы холостяками и домохозяйками, бизнесменами и студентами!</p>
						</div>						
						<div>
							<div class="title">3</div>
							<p>Рецепт, по которому создаются «Говяжьи» пельмени, хорошо известен и имеет славную историю, в страницы которой вписаны многочисленные благодарности гурманов. Говядина для начинки нежна и сочна, свежа и витаминна, а главное - на 100% натуральна! Только свежие овощи! Исключительно аккуратная лепка тонкого теста, которое не трескается при приготовлении! Всё это про пельмени «Говяжьи»! Приготовить их может каждый. И каждому они подарят свой превосходный вкус!</p>
							<p>Пельмени «Говяжьи» от ТМ SmaCom: от восхищенья на колени – уж больно хороши пельмени! </p>
						</div>			
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука в/с, говядина, шпик, лук, вода питьевая, соль, яичный порошок, масло растительное, перец черный. </div>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>198,95 ккал</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,9 кг<span>± 5 г</span></li>
			<li>0,45 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени «Говяжьи», не размораживая, засыпать в кипящую подсоленную воду (1 часть пельменей к 4 частям воды). Варить на слабом огне 5-7 минут. Подать с приправой: чеснок, растертый с маслом, уксусом солью и молотым черным перцем.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>