<div class="popupHeader">
    <div class="title"><h1>Хинкали</h1></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img class="productPopupImage"
                                                      src="img/mother/img-khinkali_pop.png" alt=""></div>

    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>Раскрасьте свои будние дни! Пригласите в гости друзей и устройте праздник хинкали – хинклаоба! Это кавказское традиционное блюдо в исполнении ТМ SmaCom вам очень понравится.</p>
                <p>Важный элемент в создании новых хинкали – вкусный внутри бульон, который дарит настоящее наслаждение блюдом.</p>
                <p>Название линейки «Мамины рецепты» полностью отражает концепцию полуфабрикатов: своими вкусовыми качествами они ярко передают любовь производителя к потребителям.</p>
            </div>
            <div>
                <div class="title">2</div>
                <p>Попробовав новые хинкали, у вас сложится чувство, как будто мамины руки замешивали тесто, готовили мясной фарш и лепили настоящие хинкали.</p>
                <p>Еще одна особенность хинкали – это тонкое тесто и много мясной начинки с натуральными специями.</p>
                <p>Хинкали представлены в картонной ламинированной упаковке с прозрачным окошком для 100% видимости продукта. Коробка хинкали имеет «свой» яркий цвет, который позволяет легко дифференцировать позицию среди других новых.</p>
                <p>Изюминкой есть то, что на упаковке подан рецепт соуса, который мы рекомендуем для подчеркивания вкуса блюда при подаче на стол.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear:both"></div>

    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Cостав продукта</div>
        <div class="consistInside">
            <div class="text">
                <strong>Тесто:</strong> мука пшеничная в/с, вода питьевая, клетчатка пшеничная, соль поваренная пищевая.
                <br>
                <strong>Фарш:</strong> мясное сырье замороженное 66% (мясо говядины жилованное 33%, мясо механического обваливания куриное 23%, сало свиное 10%), лук репчатый свежий, вода питьевая, кинза свежая, соль поваренная пищевая, клетчатка пшеничная, перец черный молотый.
                <br>
                <strong>Не содержит ГМО.</strong>
            </div>
            <div class="title">Питательная (пищевая) ценность:</div>
            <ul>
                <li>белки<span>9,2 г</span></li>
                <li>жиры<span>9,0 г</span></li>
                <li>углеводы<span>25,8 г</span></li>
            </ul>
            <div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
            <ul>
                <li><span>924,7 кДж / 221,0 ккал</span></li>
            </ul>
            <div class="title">Масса нетто и фасовки:</div>
            <ul>
                <li>0,6 кг<span>± 15 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Способ приготовления</div>
        <div class="consistInside">
            <p>
                Хинкали, не размораживая, засыпать в кипящую подсоленную воду (1 часть хинкали: 4 части воды). Довести до кипения, варить на слабом огне 9-12 минут. Хинкали можно подать к столу со сливочным маслом, сметаной, соусом.
            </p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon3.jpg" alt="">
    </div>
</div>