<div class="popupHeader">
	<div class="title"><h1>Чізбургер з котлетою зі свинини та яловичини </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-1-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Чізбургер з котлетою зі свинини та яловичини можна впевнено назвати ситною та поживною стравою. Поєднання м’яса свинини та яловичини — головний секрет соковитої і ароматної котлети, а додавання сира, свіжого помідора, маринованих огірків, цибулі, кетчупа та гірчиці створює особливий смак. Навіть найвибагливіший гурман, безумовно, залишиться задоволеним!</p>
							<p>Чізбургери представлені у трьох видах у залежності від котлети: чізбургер з котлетою зі свинини та яловичини, чізбургер з котлетою з яловичини, чізбургер з котлетою з індички.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлета у чізбургері повністю готова до вживання, її обжарюють, охолоджують та компонують із іншими інгредієнтами. Заморожений чізбургер загортають у спеціальний брендований папір та яскраву картонну коробку.</p>
							<p>Чізбургери необхідно лише розігріти у мікрохвильовій печі. У кого не має часу на обідню перерву, скуштуйте чізбургер! Він додасть нам енергії та настрій для подальшої роботи.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">
							<b>Булочка для чізбургера:</b> борошно пшеничне в/г, вода питна, маргарин, молоко сухе,  цукор білий, дріжджі пресовані, сіль кухонна.
							<br>
							<b>Котлета для чізбургера:</b> м’ясна сировина заморожена – м’ясо свинини знежиловане, м’ясо яловичини знежиловане, вода питна, цибуля ріпчаста, сіль кухонна, перець чорний мелений; сир, огірок маринований, соус гірчичний, соус томатний, цибуля ріпчаста, помідор свіжий.
							<br>
							<b>Не містить ГМО.</b>
						</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>13,5 г</span></li>
							<li>жири<span>13,5 г</span></li>
							<li>вуглеводи<span>26,9 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>1201,2 кДж (283,1 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто і фасування:</div>
						<ul>
                            <li>155 г</li>
                            <li>2,48 кг</li>
						</ul>
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>
				Заморожений чізбургер у захисному папері помістити у мікрохвильову піч та розігрівати 3 хв. при потужності 700 Вт.
				<br>
				<b>Увага!</b> Час розігріву залежить від потужності мікрохвильової печі.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>