<div class="popupHeader">
	<div class="title"><h1>Суп гороховий</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_gr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Гороховий суп – страва, якою любить поласувати багато хто. Основним продуктом в ньому є сушений горох. У процесі приготування горох розварюється та стає м'яким, а страва набуває особливий смак і аромат. Кожній господині відомо, що процес приготування горохового супу має свої тонкощі: горох вимагає тривалого замочування у воді.</p>
                            <p>ТМ «SmaCom» пропонує вже готовий гороховий суп, на приготування якого не потрібно витрачати час.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Гороховий суп володіє відмінними смаковими якостями і при цьому корисний. Важко було б переоцінити користь такого продукту, як горох. Базовими інгредієнтами супу вважаються горох, морква, цибуля, прянощі і сіль. В якості основи супу виступає курячий бульйон.</p>
                            <p>Оцініть якість і неповторний смак горохового супу від ТМ «SmaCom»! Такий суп нагадає кожному про дитинство!</p>
						</div>
                        </div>
				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Вода питна, горох, картопля, олія соняшникова рафінована дезодорована, філе куряче, морква свіжа, цибуля ріпчаста свіжа, сіль кухонна, петрушка сушена, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>6,6 г</span></li>
			<li>жири<span>11,5 г</span></li>
			<li>вуглеводи<span>11,7 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>739,3 кДж (176,7ккал)</span></li>
		</ul>
		<div class="title">Маса нетто і фасування:</div>
		<ul>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
            <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>