<div class="popupHeader">
	<div class="title"><h1>Суп локшина</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_l_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Суп локшина – один із улюблених російських супів, запозичений у татар, який зайняв особливе місце в нашому раціоні. Родоначальником супу локшина вважають суп токмач.</p>
                <p>ТМ «SmaCom» пропонує смачний суп локшина, витриманий в традиціях національної татарської кухні з авторською родзинкою.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p> В якості основи супу виступає курячий бульйон, в якому локшина відварюється та в ньому ж подається. Відварна курка дістається з підсоленого бульйону та дрібно нарізається.</p>
                <p><p>Це можна назвати особливістю цієї страви, так як жодна страва не вимагає такої ретельної обробки м'яса. Суп локшина дуже ароматний, завдяки спеціям та прянощам. Відчуйте смак татарської кухні з ТМ «SmaCom»!</p></p>
			</div>
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, картопля, філе куряче, локшина, олія соняшникова рафінована дезодорована, морква свіжа, цибуля ріпчаста свіжа, сіль кухонна, перець чорний мелений, петрушка сушена.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>2,4 г</span></li>
				<li>жири<span>3,3 г</span></li>
				<li>вуглеводи<span>6,3 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>269,9 кДж (64,5 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто і фасування:</div>
			<ul>
                <li>0,3 кг.</li>
                <li>1 кг.</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
            <div class="text">
                <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
                <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
            </div>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>