<div class="popupHeader">
	<div class="title"><h1>Суп овочевий</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_ov_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Хочете на обід чогось легкого і при цьому корисного? Овочевий суп від ТМ «SmaCom» – прекрасний вибір! Готова перша страва – одне задоволення для вегетаріанців, а також людей, які дотримуються дієти і правильного харчування.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Овочевий суп дуже ароматний і нагадує літо, коли за вікном вже далеко не тепла погода. Овочі – головний інгредієнт у супі, який нітрохи не поступається м'ясним першим стравам. Їжте з користю разом із ТМ «SmaCom»!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, картопля, суміш овочева, капуста білокачанна свіжа, цибуля ріпчаста свіжа, морква свіжа, сіль кухонна, олія соняшникова рафінована дезодорована.
            </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>0,8 г</span></li>
				<li>жири<span>0,9 г</span></li>
				<li>вуглеводи<span>4,0 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>114,22 кДж (27,3 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто і фасування:</div>
			<ul>
                <li>0,3 кг</li>
                <li>1 кг</li>
			</ul>												
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
            <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>