<div class="popupHeader">
	<div class="title"><h1>Чізбургер з котлетою з яловичини</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-0-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Чізбургери є «фішкою» фаст-фудів, вони вже давно стали улюбленою стравою мільйонів людей. Це втілення швидкої, ситної та смачної їжі. Особливої популярності чізбургери отримали в кругу молоді, але старше покоління теж не проти їх скуштувати.</p>
							<p>Чізбургер з котлетою з яловичини вважається класичним. Це перший сендвіч, який заклав основу «чізбургерової культури». Зараз можна знайти бургери з інгредієнтами на будь-який смак.</p>
							<p>Чізбургери ТМ «Smacom» це надзвичайно смачне поєднання запашної булочки, вкритої кунжутом, м’ясної котлети, сира, свіжого помідора, маринованих огірків, цибулі, кетчупа та гірчиці. Серце наших чізбургерів – це стовідсоткові м’ясні котлети, які ми готуємо за спеціально розробленою технологією.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлета у чізбургері повністю готова до вживання, її обжарюють, охолоджують та компонують із іншими інгредієнтами. Заморожений чізбургер загортають у спеціальний брендований папір та яскраву картонну коробку.</p>
							<p>Чізбургери необхідно лише розігріти у мікрохвильовій печі. У кого немає часу на обідню перерву, скуштуйте чізбургер! Він додасть нам енергії та настрій для подальшої роботи.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">
							<b>Булочка для чізбургера:</b> борошно пшеничне в/г, вода питна, маргарин, молоко сухе,  цукор білий, дріжджі пресовані, сіль кухонна.
							<br>
							<b>Котлета для чізбургера:</b> м’ясна сировина заморожена – м’ясо яловичини знежиловане, вода питна, цибуля ріпчаста, сіль кухонна, перець чорний мелений; сир, огірок маринований, соус гірчичний, соус томатний, цибуля ріпчаста, помідор свіжий.
							<br>
							<b>Не містить ГМО.</b>
						</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>14,4 г</span></li>
							<li>жири<span>9,9 г</span></li>
							<li>вуглеводи<span>30,4 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>1124,2 кДж (268,3 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто і фасування:</div>
						<ul>
                            <li>155 г</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>
				Заморожений чізбургер у захисному папері помістити у мікрохвильову піч та розігрівати 3 хв. при потужності 700 Вт.
				<br>
				<b>Увага!</b> Час розігріву залежить від потужності мікрохвильової печі.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>