<div class="popupHeader">
	<div class="title"><h1>Крем-борщ</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_b_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Кулінарний світ такий різноманітний. ТМ «SmaCom» не перестає дивувати новими й оригінальними стравами. Так кухарі «SmaCom» створили традиційну першу страву «Український борщ» в іншій подачі, що абсолютно змінило до нього ставлення.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Крем-борщ має більш густу текстуру, ніж звичайний борщ. Такий результат досягається шляхом перемелювання всіх інгредієнтів, навіть не вимагаючи спеціальних згущувачів.
                                Якщо ви хочете здивувати своїх гостей кулінарними новинками, тоді вибір крем-борщу ТМ «SmaCom» – правильне рішення!</p>
						</div>								
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Вода питна, картопля свіжа – 10,7%, м'ясна сировина заморожена – 9,8% (філе куряче), капуста білокачанна свіжа, цибуля ріпчаста свіжа, буряк червоний свіжий, олія соняшникова рафінована дезодорована, морква свіжа, паста томатна, цукор білий, сіль кухонна, перець солодкий, оцет, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>2,8 г</span></li>
			<li>жири<span>2,6 г</span></li>
			<li>вуглеводи<span>4,1 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>213,38 кДж (51,0 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто і фасування:</div>
		<ul>
            <li>0,25 кг</li>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <p>Розморозити до повного відтавання, надколоти упаковку і розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>