<div class="popupHeader">
	<div class="title"><h1>Борщ</h1><span class="subtitle">"Український з грибами"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_u.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>За традицією у кулінарії перша страва завжди була найголовнішою. Всі знають, що гарячий суп або борщ, з'їдений в обідню перерву, – запорука ситості, здоров'я та гарного настрою на цілий день!</p>
                            <p>TM «SmaCom» презентує у лінійці готових перших страв «Борщ український з грибами».</p>
<!--                        </div>
						<div>
							<div class="title">2</div>-->
							<p> Всі звикли їсти український борщ, приготовлений на м'ясному бульйоні. Але мало хто знає, що м'ясо можна замінити грибами, які є прекрасною альтернативою традиційному рецепту. Більше того, борщ із грибами стане улюбленою стравою для тих, хто дотримується посту.</p>
                            <p>Спробувавши український борщ з грибами TM «SmaCom», його аромат і смак запам'ятаються вам надовго!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, картопля, гриби печериці, капуста білокачанна, цибуля ріпчаста свіжа, буряк червоний свіжий, олія соняшникова рафінована дезодорована, морква свіжа, томатна паста, цукор, сіль кухонна, перець солодкий, оцет, перець чорний мелений.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>2,4 г</span></li>
				<li>жири<span>2,6 г</span></li>
				<li>вуглеводи<span>3,7 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>200,0 кДж (47,8 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто і фасування:</div>
			<ul>
                <li>0,3 кг</li>
                <li>1 кг</li>
			</ul>												
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
            <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
        </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>