<div class="popupHeader">
	<div class="title"><h1>Борщ</h1><span class="subtitle">"Український з м'ясом"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_bu_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Борщ український – страва, яка прославила українську кухню. Дуже часто іноземці, спробувавши нашу традиційну страву, цікавляться унікальним рецептом її приготування. Запах та смак українського борщу ні з чим не сплутати та не порівняти. Це гордість українського народу!</p>
                            <p>TM «SmaCom» представляє справжній український борщ у повній готовності.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Ситний, смачний, поживний і найголовніше – натуральний! Рецепт приготування витриманий кулінарами ТМ «SmaСоm» у суворій відповідності з традиціями української кухні. В якості основи борщу використовується курячий бульйон, переваги якого у відносно невеликій кількості жиру.</p>
                            <p>Український борщ – джерело багатьох вітамінів для здоров'я людини, адже всі добірні овочі тільки тушаться та варяться, зберігаючи корисні речовини.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">Вода питна, картопля, філе куряче, капуста білокачанна, цибуля ріпчаста свіжа, буряк червоний свіжий, олія соняшникова рафінована дезодорована, морква свіжа, томатна паста, цукор, сіль кухонна, перець солодкий, оцет, перець чорний мелений.</div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>2,4 г</span></li>
						<li>жири<span>2,6 г</span></li>
						<li>вуглеводи<span>3,7 г</span></li>
					</ul>
					<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
					<ul>
						<li><span>200,0 кДж (47,8 ккал)</span></li>
					</ul>
					<div class="title">Маса нетто і фасування:</div>
					<ul>
						<li>0,3 кг</li>
						<li>1 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">
                        <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
                        <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
                    </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>