<div class="popupHeader">
	<div class="title"><h1>Суп рисовий</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
	<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_r_pop.png" alt=""></div>
	<div class="popupSliderWrapper">
		<div class="liquid-slider" id="ls3">
			<div>
				<!--<div class="title">1</div>-->
				<p>Рис – це не лише рисова каша або плов, це ще дуже смачні супи. Рисовий суп з м'ясом ТМ «SmaCom» дуже поживний та смачний. До того ж рисовий суп дуже приємний на вигляд: золотистий колір пасерованої цибулі додає йому апетитність. Така перша страва сподобається навіть чоловікам, любителям ситно поїсти.</p>
<!--			</div>
			<div>
				<div class="title">2</div>-->
				<p>Рисовий суп відноситься до зігріваючих супів і буде до смаку восени та взимку. Особливо корисним він стане людям, які дотримуються суворої дієти, а також молодим годуючим мамам. Це свідчить про те, що рисовий суп можна давати дітям, збиваючи в блендері у кашкову суміш. Смачного вам і вашим дітям!</p>
			</div>														
		</div>
	</div>
	<div class="clear" style="clear:both"></div>
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, картопля, м'ясна сировина (м'ясо куряче стегно, гомілка), крупа рисова, цибуля ріпчаста, морква, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний мелений.
            </div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>1,9 г</span></li>
				<li>жири<span>1,4 г</span></li>
				<li>вуглеводи<span>4,6 г</span></li>
			</ul>
			<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
			<ul>
				<li><span>161,5 кДж (38,6 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто і фасування:</div>
			<ul>
				<li>0,3 кг.</li>
				<li>0,5 кг.</li>
			</ul>
		</div>
	</div>		
	
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
            <p>Розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>							
</div>