<div class="popupHeader">
	<div class="title"><h1>Чізбургер з котлетою з індички</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/chiz-2-pop.png" alt=""></div>
				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>ТМ «Smacom» створила нову лінійку готових страв – чізбургери, які вже давно стали невід’ємним атрибутом громадського харчування. Це надзвичайно смачне поєднання запашної булочки, вкритої кунжутом, м’ясної котлети, сира, свіжого помідора, цибулі, маринованих огірків, кетчупа та гірчиці.</p>
							<p>Любов українців до м’яса птиці надихнула нас на створення чізбургера з котлетою з індички.  Серце цього чізбургера – це стовідсоткова м’ясна котлета, яку ми готуємо за спеціально розробленою технологією. Важко уявити, але завдяки дієтичному м’ясі індички, ми створили по-справжньому корисну страву, що легко замінить обід. М‘ясо індички дарує страві ніжний смак і соковитість, а організму – легкість та ситність.</p>
							<p>Чізбургери представлені у трьох видах у залежності від котлети: чізбургер з котлетою з індички, чізбургер з котлетою з яловичини, чізбургер з котлетою зі свинини та яловичини.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлета у чізбургері повністю готова до вживання, її обжарюють, охолоджують та компонують із іншими інгредієнтами. Заморожений чізбургер загортають у спеціальний брендований папір та яскраву картонну коробку.</p>
							<p>Чізбургери необхідно лише розігріти у мікрохвильовій печі. У кого не має часу на обідню перерву, скуштуйте чізбургер! Він додасть нам енергії та настрій для подальшої роботи.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">
							<b>Булочка для чізбургера:</b> борошно пшеничне в/г, вода питна, маргарин, молоко сухе, цукор білий, дріжджі пресовані, сіль кухонна.
							<br>
							<b>Котлета для чізбургера:</b> м’ясна сировина заморожена – філе індика, м’ясо куряче (стегно, гомілка), вода питна, цибуля ріпчаста, сіль кухонна, перець чорний мелений; сир, огірок маринований, соус гірчичний, соус томатний, цибуля ріпчаста, помідор свіжий.
							<br>
							<b>Не містить ГМО.</b>
						</div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>13,5 г</span></li>
							<li>жири<span>11,2 г</span></li>
							<li>вуглеводи<span>27,8 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>1112,9 кДж (266,0 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто і фасування:</div>
						<ul>
                            <li>155 г</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
		<div class="consistInside">
			<p>
				Заморожений чізбургер у захисному папері помістити у мікрохвильову піч та розігрівати 3 хв. при потужності 700 Вт.
				<br>
				<b>Увага!</b> Час розігріву залежить від потужності мікрохвильової печі.
			</p>
		</div>
	</div>
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>