<div class="popupHeader">
	<div class="title"><h1>Крем-суп грибний</div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_gr_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Напівфабрикати ТМ «SmaCom» створені для тих, хто цінує свій час і сили. Досить їх просто розігріти в мікрохвильовій печі і смачний сніданок, обід, або вечеря готові. ТМ «SmaCom» пропонує по-справжньому апетитну, ситну, домашню першу страву – «Крем-суп грибний».</p>

<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Від крем-супу з шампіньйонів не відмовиться, мабуть, жоден найвибагливіший гурман. Хто ще жодного разу не смакував грибний крем-суп ТМ «SmaCom», багато втратив, бо ця чудова страва здатна задовольнити найвибагливіший смак.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Вода питна, гриби печериці свіжі, молоко сухе, картопля свіжа, борошно пшеничне в/г, маргарин (рослинні жири та олії рафіновані дезодоровані в натуральному і модифікованому стані, вода питна, сіль кухонна, емульгатор (Е471), лецитин соєвий, консервант сорбат калію, ароматизатор молока і вершкового масла, регулятор кислотності кислота лимонна, барвник харчовий каротин), цибуля ріпчаста свіжа, сіль кухонна, перець чорний мелений.</div>
        <div class="title">Поживна (харчова) цінність:</div>
        <ul>
            <li>білки<span>4,4 г</span></li>
            <li>жири<span>4,3 г</span></li>
            <li>вуглеводи<span>8,7 г</span></li>
        </ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>347,3 кДж (83,0 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто і фасування:</div>
		<ul>
            <li>0,25 кг</li>
            <li>0,3 кг</li>
            <li>1 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <div class="text">
            <p>1. Брикет: розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
            <p>2. Стакан: зняти захисну кришку та фольгу, розігрівати у мікрохвильовій печі 7-10 хв.</p>
        </div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>