<div class="popupHeader">
	<div class="title"><h1>Крем-суп зі шпинату</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/first_k_sh_pop.png" alt=""></div>

				
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Вишуканий та легкий суп-пюре зі шпинату – один із кулінарних витворів французької кухні. Французи називають шпинат королем овочів, використовуючи цей інгредієнт у багатьох стравах. Ці зелене листя має багато корисних властивостей, що вкрай необхідні для здоров'я людини.</p>
                            <p>ТМ «SmaCom» відтворила французький кулінарний шедевр для цінителів дуже смачної та ніжної їжі.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Вишуканий крем-суп зі шпинату також сподобається людям, які віддають перевагу вегетаріанським стравам. Хто пробував листя шпинату, той знає, що яскравого смаку вони не мають.</p>
                            <p>Але варто їх тільки додати в суп, як шпинат розкриває свій тонкий смак, даруючи страві незвичайні смакові нотки. Навіть найвибагливіший гурман оцінить вишуканий крем-суп зі шпинату ТМ «SmaCom». Подавайте першу страву з грінками або тостами.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

				<div class="consistContainer">
					<div class="consist" onClick="showConsist(this)">Склад продукту</div>
					<div class="consistInside">
						<div class="text">Вода питна, шпинат заморожений – 25,4%, молоко сухе, цибуля ріпчаста свіжа, борошно пшеничне в/г, маргарин (рослинні жири та олії рафіновані дезодоровані в натуральному і модифікованому стані, вода питна, сіль кухонна, емульгатор (Е471), лецитин соєвий, консервант сорбат калію, ароматизатор молока і вершкового масла, регулятор кислотності кислота лимонна, барвник харчовий каротин), сіль кухонна, перець чорний мелений.
                        </div>
						<div class="title">Поживна (харчова) цінність:</div>
						<ul>
							<li>білки<span>4,1 г</span></li>
							<li>жири<span>3,2 г</span></li>
							<li>вуглеводи<span>8,3 г</span></li>
						</ul>
						<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
						<ul>
							<li><span>328,03 кДж (78,4 ккал)</span></li>
						</ul>
						<div class="title">Маса нетто і фасування:</div>
						<ul>
                            <li>0,3 кг</li>
                            <li>1 кг</li>
						</ul>												
					</div>
				</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <p>Розморозити до повного розтавання, надколоти упаковку та розігріти в СВЧ печі – 7 – 10 хв. при температурі 750 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>