<div class="popupHeader">
    <div class="title"><h1>Котлети   </h1><span class="subtitle"> «Богатирські»</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-heroic-pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>
                    Здавна щедра, родюча українська земля славилася своїми богатирями, які свято охороняли традиції батьківщини. Вони були такі сильні, що могли, згідно з переказами, звернути гори. Саме з тих богатирських часів пішла народна мудрість: «Ми є те, що ми їмо». Вважалося, що сила в їжі. Тому наші предки готували ситну їжу, яка була максимально багата вітамінами, корисними речовинами та енергією. Особливе місце у раціоні наших предків займало м'ясо. Його готували в різному вигляді. Час минав, і коли в Україні з'явилися так звані котлети, вони стали однією з головних м'ясних страв. </p>
                <p>TM EkoSmac, чия високоякісна продукція є синтезом українських традицій смаку та європейського рівня виробництва, поєднала м'ясні традиції слов'ян і оригінальну французьку рецептуру. Результат - котлети «Богатирські». Мабуть, самі ситні та енергійні котлети в Україні! </p>
            </div>
            <div>
                <div class="title">2</div>
                <p>У виробництво надходить добірна, натуральна свинина та яловичина, вони очищені від жив, клейм, відбитків. За цим суворо стежать фахівці, які пройшли практику в зарубіжних компаніях. М'ясний фарш для створення особливого смаку змішується з висококласним шпиком та приправляється індійськими спеціями, які вважаються кращими у світі. Все це створює неповторний аромат і смак котлет «Богатирські» від TM EkoSmac. Але особливий шик - обвалка апетитних м'ясних кульок у справжніх панірувальних сухарях. Завдяки цьому при смаженні котлет створюється вишукана корочка, мрія будь-якого гурмана.</p>
                <p>Саме тому «Богатирські» котлети дарують силу, енергію та справжній смак, втілюючи у собі стародавні традиції наших предків!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">Яловичина, свинина, вода питна, шпик боковий, цибуля, крупа манна, сухарі панірувальні, сіль, перець чорний мелений, часник.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span> 11,05 г</span></li>
                <li>жири<span>17,12  г</span></li>
                <li>вуглеводи<span>11,6 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>244,68 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>2,5 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Сковорідку змащуєте жиром, вершковим маслом або соняшниковою олією. На розігріту сковорідку викласти котлети. Підсмажити до появи скоринки. Подавати на стіл, прикрасивши зеленню. Котлети добре поєднуються з будь-яким гарніром.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>