<div class="popupHeader">
    <div class="title"><h1>Котлети «Селянські» </h1><span class="subtitle"> з часником</span></div>
    <div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
    <div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-selyanskye-pop.png" alt=""></div>
    <div class="popupSliderWrapper">
        <div class="liquid-slider" id="ls3">
            <div>
                <div class="title">1</div>
                <p>
                    Котлети виготовлені виключно з українських інгредієнтів. Адже ми знаємо, що найкраще - це своє, рідне. Їжа, приготована вдома, відрізняється особливим смаком і ароматом, вона несе у собі силу та енергію рідних стін. Тож, фахівці TM SmaCom у котлетах «Селянські з часником» відтворили смакові якості цієї страви за домашніми традиціями української кухні.  </p>
                <p>Котлети соковиті та смачні, адже в складі добірна натуральна  яловичина, ніжна вирізка сала та, звичайно ж, ароматні спеції. Рум'яна скоринка й легкий запах часнику нададуть надзвичайного смаку страві під будь-який гарнір.</p>
                <p>Коли створювали котлети «Селянські з часником», то в рецептурі використовували ключові інгредієнти – щиру любов та відданість своїй справі. Тому котлети вийшли такими апетитними, натуральними та корисними!</p>
            </div>
        </div>
    </div>
    <div class="clear" style="clear:both"></div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Склад продукту</div>
        <div class="consistInside">
            <div class="text">М'ясо яловиче, сало, вода, цибуля, сухарі панірувальні, сіль, перець чорний мелений, перець духмяний мелений, часник.</div>
            <div class="title">Поживна (харчова) цінність:</div>
            <ul>
                <li>білки<span> 11,19 г</span></li>
                <li>жири<span>17,12  г</span></li>
                <li>вуглеводи<span>5,08 г</span></li>
            </ul>
            <div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
            <ul>
                <li><span>228,81 ккал</span></li>
            </ul>
            <div class="title">Маса нетто и фасування:</div>
            <ul>
                <li>2,5 кг<span>± 5 г</span></li>
            </ul>
        </div>
    </div>
    <div class="consistContainer">
        <div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
        <div class="consistInside">
            <p>Сковорідку змащуєте жиром, вершковим маслом або соняшниковою олією. На розігріту сковорідку викласти котлети. Підсмажити до появи скоринки. Подавати на стіл, прикрасивши зеленню. Котлети добре поєднуються з будь-яким гарніром.</p>
        </div>
    </div>
    <div class="icons">
        <img src="img/popup_icon1.jpg" alt="">
        <img src="img/popup_icon2.jpg" alt="">
        <img src="img/popup_icon4.jpg" alt="">
    </div>
</div>