<div class="popupHeader">
	<div class="title"><h1>Котлети  «Вкусные»</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer margin_left"><img  class="productPopupImage" src="img/frozen/img-cutlet-delicious-pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
                        <p>В данном продукте гармонично сочетаются натуральное куриное мясо, ароматные специи и насыщенный вкус. Котлеты «Вкусные» ТМ «SmaCom» выпускаются без панировки, имеют круглую форму, идеально подчеркивают абсолютные преимущества нежного куриного мяса.</p>
                        <p>Котлеты «Вкусные» - это необычная сочность, натуральный состав и безупречно сбалансированные вкусовые качества, делают блюдо по-настоящему сытным для ценителей вкусной еды. Котлеты полностью сохраняют полезные свойства и изящно подчеркивают совершенный вкус мяса, создавая доминирующее совершенство и благородное изящество кулинарного деликатеса.</p>
                        <p>Котлеты «Вкусные» от ТМ SmaCom - это всегда вкусно!</p>
					</div>
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мясо куриное, вода, лук репчатый, мука пшеничная в/с, соль, соевый белок, чеснок.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>8,6 г</span></li>
			<li>жиры<span>13,9  г</span></li>
			<li>углеводы<span>4,6 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>744,3 кДж (177,9ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>2,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>На разогретую смазанную маслом сковороду выложить котлеты. Жарить до готовности под закрытой крышкой на слабом огне не менее 10 мин. Котлеты хорошо сочетаются с любым гарниром.</p>
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon4.jpg" alt="">
	</div>
</div>