<div class="popupHeader">
	<div class="title"><h1>Пельмени </h1><span class="subtitle"> с сёмгой и горбушей</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat8/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Необычные и невероятно нежные пельмени с семгой и горбушей ручной работы от ТМ SmaCom  созданы для гурманов и любителей неординарного и  утонченного вкуса.</p>	
						<p>В этих  пельменях используется необычный  фарш – охлажденное филе семги и горбуши. Эта промышленная рыба семейства лососевых полезна по всем показателям – благодаря своей высокой питательной ценности. В рыбопродуктах скрыта настоящая формула здоровья: легко усваиваемые белки, жирные кислоты, витамин D и целый ряд минералов, таких, как йод, селен, фтор, магний, кальций. По технологии рыба обрабатывается с соблюдением всех стандартов качества, что обеспечивает ее максимальную питательность. А добавление майорана в фарш, вносит свою “изюминку” и имеет неповторимый вкус. Это не только вкусно, но и полезно. </p>
						<p>Кушайте на здоровье!</p>	
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мука пшеничная в/с, филе рыбы (семга, горбуша), вода питьевая, лук, яйца куриные, соль, масло подсолнечное, майоран, перец черный. </div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>11,9 г</span></li>
			<li>жиры<span>4,5 г</span></li>
			<li>углеводы<span>24,4 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>777 кДж</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>0,5 кг<span>± 5 г</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>Пельмени с семгой и горбушей, не размораживая, засыпать в кипящую подсоленную воду /1:4/ с добавлением лаврового листа. Довести до кипения, варить 5-7 минут на слабом огне до полной готовности. Выловить шумовкой пельмени и выложить их на большое блюдо. Приправить по вкусу.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon3.jpg" alt="">
	</div>
</div>