<div class="popupHeader">
	<div class="title"><h1>Котлети «Богатирські»</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/bog-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>TM Smacom, чия високоякісна продукція є синтезом українських традицій смаку та європейського рівня виробництва, поєднала м&#39;ясні традиції слов&#39;ян і оригінальну французьку рецептуру. Результат - котлети «Богатирські».</p>
							<p>Мабуть, самі ситні та енергійні котлети в Україні! У виробництво надходить добірна, натуральна свинина та яловичина. М&#39;ясний фарш для створення особливого смаку змішується з висококласним шпиком та приправляється індійськими спеціями, які вважаються кращими у світі. Все це створює неповторний аромат і смак котлет «Богатирські».</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Яловичина, свинина, вода питна, шпик боковий, цибуля, крупа манна, сухарі панірувальні, сіль, перець чорний мелений, часник.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>11,05 г</span></li>
						<li>жиры<span>17,12 г</span></li>
						<li>углеводы<span>11,6 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>244,68 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">У мікрохвильовій печі: викласти у посуд заморожені котлети в один ряд та розігрівати 3-5 хв. при потужності 700 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>