<div class="popupHeader">
	<div class="title"><h1>Котлети</h1><span class="subtitle">"Ніжні"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/third_kn_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Котлети "Ніжні" названі так не випадково. Готові напівфабрикати TM «SmaCom» – це втілення легкості і одночасно ситості. У ніжних котлетках відчувається ніжне ставлення кухарів до кожного кулінарного інгредієнту. Неперевершений смак створюють куряче м'ясо і золотиста цибуля з ароматними спеціями.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Котлети відрізняються прекрасним смаком, корисністю і легкістю, тому як у курячому м'ясі набагато менше жирності в порівнянні з будь-якими іншими видами м'яса. Вони підходять для дієтичного харчування та для харчування маленьких дітей. Відчуйте ніжність котлет TM «SmaCom» з першого шматочка!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">М'ясна сировина заморожена – 93,5% (філе куряче – 80%, сало – 13,5%), цибуля ріпчаста свіжа, сіль кухонна, перець чорний мелений.
                    </div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>16,0 г</span></li>
						<li>жири<span>14,1 г</span></li>
						<li>вуглеводи<span>1,0 г</span></li>
					</ul>
					<div class="title">Eнергетична цінність:</div>
					<ul>
						<li><span> 818,8 кДж (195,7 ккал)</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>1 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">На розігріту змащену олією сковороду викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв.
                    </div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>