<div class="popupHeader">
	<div class="title"><h1>Тефтелі</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/tef-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Фахівці ТМ Smacom готують тефтелі з найніжнішого, найсвіжішого курячого фаршу, змішаного зі стовідсотковою яловичиною та високоякісним рисом . Відповідно до класичної технології, тефтелі від ТМ Smacom панірують у сухарях, щоб придбати свій справжній смак, який дійшов до нас з часів середньовічної французької кухні, де тефтелі подавалися до королівського столу.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">М&#39;ясо птиці, яловичина, вода питна, крупа рисова, сухарі панірувальні, цибуля, сіль, перець чорний мелений.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>12,74 г</span></li>
						<li>жиры<span>7,97 г</span></li>
						<li>углеводы<span>20,69 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>205 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">У мікрохвильовій печі: викласти у посуд заморожені тефтелі в один ряд та розігрівати 3-5 хв. при потужності 700 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>