<div class="popupHeader">
	<div class="title"><h1>Гречаники</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/grech-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>ТМ Smacom використовує дивне поєднання соковитої свинини, вітамінної яловичини та ніжного м&#39;яса птиці. Саме з цих трьох видів м&#39;яса із старовини готуються гречаники. Треба сказати, що це дуже корисна страва. Адже і м&#39;ясо, і гречка містять безліч вітамінів та корисних речовин. Це справжня скарбниця білка, заліза, вітамінів групи В та іншого.</p>
							<p>Інноваційне формувальне обладнання надає гречаниками досконалу форму, які мають стійкий приємний аромат. Готові гречаники можна подавати до столу зі сметаною. Гречаники Smacom - апетитні традиції Україні!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Яловичина, свинина, м&#39;ясо птиці, крупа гречана,сіль.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>7,19 г</span></li>
						<li>жиры<span>2,21 г</span></li>
						<li>углеводы<span>18,61 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>303,68 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">У мікрохвильовій печі: викласти у посуд заморожені гречаники в один ряд та розігрівати 3-5 хв. при потужності 700 Вт. Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>