<div class="popupHeader">
	<div class="title"><h1>Котлети</h1><span class="subtitle">"Курячі"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Котлети "Курячі" TM «SmaCom» виготовляються з добірного натурального курячого філе. Головна відмінність курячих котлет від свинячих, або яловичих – ніжність і легкість. Їх відносять до дієтичних продуктів. Курячі котлети можна їсти тим, хто стежить за фігурою. Також вони відмінно підходять для годування маленьких дітей.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Рецепт котлет витриманий у класичному стилі. Використовується свіже куряче м'ясо, яке обробляється спеціями для створення особливого запашного аромату і пікантного смаку. Далі напівфабрикати панірують у сухариках, надаючи особливого колориту і традиційного вигляду.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">М'ясна сировина заморожена – 70% (філе куряче – 40%, м'ясо куряче (гомілки) – 20%, сало – 10%), хліб пшеничний, цибуля ріпчаста свіжа, вода питна, сіль кухонна, перець чорний мелений, часник сушений.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>15,0 г</span></li>
				<li>жири<span>11,9 г</span></li>
				<li>вуглеводи<span>1,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність:</div>
			<ul>
				<li><span>722,6 кДж (172,0 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>На розігріту змащену олією сковороду викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>