<div class="popupHeader">
	<div class="title"><h1>Котлети</h1><span class="subtitle">"Домашні"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_d_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
                            <p>Котлети "Домашні" – символ любові, турботи та родинного затишку. Там, де насолоджуються котлетками TM «SmaCom», панує радість і домашня атмосфера.</p>
                            <p>Рецепт приготування котлет створений у відповідності з усіма стандартами і відрізняється особливою, істинно домашньою ретельністю.</p>
						</div>
						<div>
							<div class="title">2</div>
							<p> Неповторний і ніжний смак домашніх котлет відчувається завдяки правильному поєднанню свинячого і курячого м'яса, що вимагає особливого підходу і знання багатьох кулінарних тонкощів.</p>
                            <p>Котлетки можна подати з зеленню, овочами, будь-яким гарніром, а їх домашній смак посилить ваш улюблений соус.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">М'ясна сировина заморожена – 65% (м'ясо свинини жиловане – 30%, м'ясо курки (гомілки) – 25%, сало – 10%), хліб пшеничний, цибуля ріпчаста свіжа, вода питна, сіль кухонна, перець чорний мелений, часник сушений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>11,5 г</span></li>
			<li>жири<span>10,3 г</span></li>
			<li>вуглеводи<span>1,3 г</span></li>
		</ul>
		<div class="title">Eнергетична цінність:</div>
		<ul>
			<li><span>978,6 кДж (233,9 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>На розігріту змащену олією сковороду викласти котлети. Смажити до готовності під закритою кришкою на слабкому вогні не менше 10 хв.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>