<div class="popupHeader">
	<div class="title"><h1>Пиріжки  </h1><span class="subtitle">з лівером</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_2.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>ММи знаємо про пиріжки все і можемо сміливо стверджувати, що пиріжки з лівером від  ТМ SmaСom кардинально відрізняються від всього, що ви пробували раніше.  З великою кількістю начинки і тонким шаром  ароматного, ніжного здобного тіста пиріжки з лівером мають досить велику форму. Це продукт, який відмінно вгамовує голод, заряджаючи енергією і силою на весь день. Пиріжки з лівером ТМ SmaСom цінуються як за оригінальну форму, так і за пікантний  смак. </p>

						</div>
						<div>
							<div class="title">2</div>
							<p>До того ж, ТМ SmaСom  не економить на якості – на виробництві ретельно контролюється  надходження  свіжих екологічно чистих і безпечних продуктів, які відповідають всім санітарно-гігієнічним і мікробіологічним нормам.   </p>
							<p>Якісна випічка гарантована, переконайтеся  самі! </p>
						</div>															
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, вода, легені яловичі відварені, цукор, цибуля смажена, маргарин,  крупа гречана відварена, печінка свиняча відварена, сало, дріжджі хлібопекарські, білок яєчний сухий, сіль, перець чорний мелений. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>7,7 г</span></li>
			<li>жири<span>11,7 г</span></li>
			<li>вуглеводи<span>40,4 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>297,7 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							

