<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">з картоплею </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_3.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Цікаво, що корінь слова «пиріжок» є похідним від російського «пир» - бенкет, тобто з давніх часів пиріжки були неодмінним атрибутом будь-якого святкового столу.  Та й дотепер ними обідають, ними пригощають, їх подають на стіл, як окрему страву… </p>
							<p>В Україні особливою популярністю користуються пиріжки з картоплею. Їх цінують , перш за все, за ситність і незрівняний смак. Картопля з обсмаженою цибулею - відмінна начинка для втамування голоду.  Ніжні округлої  форми пиріжки ТМ SmaСom додають апетитність і доповнять  ваш раціон. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p> У приготуванні дотримана класична рецептура в домашніх традиціях, що задовольнить найвимогливіших  знавців української кухні. </p>
							<p>Тепер кожна господиня може швидко, без зайвого клопоту приготувати коханим і близьким смачну ситну випічку!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, картопля відварена, вода, цукор, маргарин, цибуля смажена, дріжджі хлібопекарські, білок яєчний сухий, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>6,5 г</span></li>
			<li>жири<span>9,4 г</span></li>
			<li>вуглеводи<span>46,7 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>297,4 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>