<div class="popupHeader">
	<div class="title"><h1>Тісто  </h1><span class="subtitle">листково-дріжджове заморожене</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_8.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Це тісто створене для справжніх ласунчиків. Його можна використовувати без додаткової розкатки для максимального піднімання або розкатати в тонкий лист для приготування тортів, пирогів, основ для піци.  А зручний формат фасування тіста листами (замість рулону) дозволяє розморожувати лише необхідну його кількість.</p>
							<p>Смачної випічки!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, маргарин для листового тіста, ароматизатор натурально-ідентичний «Масло-вершки», барвник натуральний β-каротин, лимонна кислота,  вода питна, сіль, хлібопекарський поліпшувач, яєчний порошок.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,68 г</span></li>
			<li>жири<span>17,46 г</span></li>
			<li>вуглеводи<span>37,21 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>319,49 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>450 г <span>± 3 %</span></li>
			<li>900 г <span>± 3 %</span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Звільнити  тісто від зовнішньої упаковки, розморозити при кімнатній температурі (20-25 °C). Розкатати при необхідності до потрібної товщини. Сформувати вироби, викласти на змащене олією деко. Для нарізування використовувати гострий ніж або виїмку, щоб не зім’яти країв тіста. Накрити поліетиленом, щоб уникнути обвітрювання, поставити в тепле місце (+25…+28 °C), дати підійти. Для надання готовим виробам блиску та рум’яності – перед випіканням змастити їхню поверхню яйцем. Розігріти духовку до 220-230 °C. Випікати при температурі 220-230 °C до утворення рум’яної скоринки (дрібні вироби – 10-15 хв., великі -15-20 хв.).</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>