<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">смажені з м’ясом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-0.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Смажені пиріжки з м'ясом від ТМ SmaCom створені за унікальною домашньою рецептурою з борошна вищого сорту. В якості начинки відібране обсмажене м'ясо свинини, яловичини, курки, з додаванням пасированого цибулі і перцю. Таке поєднання дає надзвичайну ніжність. Пиріжки прямокутної форми, представлені в упаковці по 3 шт.</p>
							<p>Пиріжки з м'ясом особливо люблять чоловіки, які цінують пиріжки за смак і ситність. Господині ж люблять пиріжки з м'ясом, тому що готуються вони всього за кілька хвилин у мікрохвильовій печі.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто:  борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, цукор білий, дріжджі пресовані, сіль кухонна. Начинка: м’ясна сировина заморожена (сало, м’ясо свинини знежиловане, м’ясо яловичини знежиловане, м’ясо механічного обвалювання куряче),  цибуля ріпчаста пасерована, вода питна, сіль кухонна, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>6,5 г</span></li>
			<li>жири<span>8,4 г</span></li>
			<li>вуглеводи<span>31,3 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>948,9 кДж (226,8 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігрівати у мікрохвильовій печі 3-4 хв. при потужності 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>