<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">з вишнею </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_6.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Вишня, оспівана Джанні Радарі, увічнена в коньяку та навіть стала загальною назвою, завоювала світ. Можна сміливо казати, що це одна з найвдаліших ягід для випічки.</p>
							<p>Не дивлячись на свою соковитість, вишня не робить тісто мокрим, а додає легкої  кислинки та насичує випічку своїм чудовим смаком і ароматом. Вишня хороша ще й тим, що пиріжки з нею можна готувати як влітку, в сезон ягід, так і зимою, коли для приготування здоби можна взяти заморожені ягоди. Для цього фахівці ТМ SmaСom використовують екологічно безпечну технологію швидкого заморожування  ICEFree, завдяки чому зберігаються всі корисні вітаміни та мікроелементи ягід. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p> Пиріжки з вишнею від ТМ SmaСom, приготовані за класичним рецептом в домашніх традиціях української кухні є дуже смачними, пишними й ніжними. Це асоціації з теплими, сонячними днями, безхмарним небом та чудовим настроєм. </p>
							<p>Пиріжки з вишнею ТМ SmaCom – смачне літо цілий рік! Живіть з сонячним настроєм! </p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, дріжджі хлібопекарські, сіль, білок яєчний сухий, вишня заморожена, вода, цукор, маргарин.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,6 г</span></li>
			<li>жири<span>8,7 г</span></li>
			<li>вуглеводи<span>46,8 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>287,9 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>