<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">з м'ясом </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_1.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Пиріжки з м'ясом від ТМ SmaСom створені за унікальною домашньою рецептурою з борошна вищого ґатунку, в якості начинки обсмажене куряче м'ясо, з додаванням пасерованої цибулі та спецій. Таке поєднання дає надзвичайну ніжність, одночасно ситність і соковитість. Для апетитної м'ясної начинки чудово підходить  прямокутна форма пиріжка, що допомагає вгамувати голод. Склад пиріжків з м'ясом ТМ SmaСom дуже ретельно та  доцільно продумано. В них розумно розподілені білки і вуглеводи,  тому пиріжки добре засвоюються організмом. Поєднання натуральності українських інгредієнтів й новітнього обладнання дозволяють домогтися максимальної якості продукту. Це не лише смачно, але й безпечно.  </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Пиріжки з м'ясом особливо люблять чоловіки. Ця страва підкреслює їх характер. Вони цінують пиріжки за смак та ситність. Господині ж люблять пиріжки з м'ясом ТМ SmaСom, тому що приготувати їх можна лише за декілька хвилин тільки розігрівши, а смак і вигляд у них істинно домашній. </p>
							<p>Побалуйте себе домашньою випічкою!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, м'ясо птиці куряче смажене, вода, цибуля смажена, цукор, маргарин, дріжджі хлібопекарські, білок яєчний сухий, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,2 г</span></li>
			<li>жири<span>10,4 г</span></li>
			<li>вуглеводи<span>39,3 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>287,6 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>