<div class="popupHeader">
	<div class="title"><h1>Пиріжки  </h1><span class="subtitle">з капустою</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_4.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Пиріжки з капустою від ТМ SmaСom з відмінними смаковими якостями, виготовлені згідно класичної рецептури української кухні.  Випічка з дріжджового здобного тіста з великою кількістю начинки, неодмінно сподобається любителям смачненького.  </p>
							<p>Варто відмітити, що пиріжки з капустою – це корисна для здоров’я страва. Лікувальні властивості капусти оспівували ще Гален та Авіценна. Це цілком логічно, адже цей овоч містить майже весь набір вітамінів, і зокрема, противиразковий вітамін U, фітонциди, ферменти, солі калію, кальцію, фосфору, сіри, заліза, йоду.  </p>
						</div>
						<div>
							<div class="title">2</div>
							<p> Клітковина капусти покращує моторну діяльність кишечника та позитивно впливає на розвиток корисної кишкової мікрофлори. Крім того, сприяє виведенню з організму шлаків.</p>
							<p>Пиріжки з капустою від ТМ SmaСom – це смачна й здорова їжа. Їжте на здоров'я!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, капуста смажена, вода, цибуля смажена, морква смажена, цукор, маргарин, дріжджі хлібопекарські, білок яєчний сухий, сіль, перець чорний мелений.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>9,1 г</span></li>
			<li>жири<span>11,4 г</span></li>
			<li>вуглеводи<span>48,5 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>333 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>