<div class="popupHeader">
	<div class="title"><h1>Пиріжки  </h1><span class="subtitle">з наповнювачем «Малина»</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_5.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>«Не сідай на пеньок, не їж пиріжок» - так примовляла героїня народної казки ведмедеві, який обожнює  малину. Зробимо крок з казки в реальність?  </p>
							<p>ТМ SmaСom пропонує справжню смакоту для ласунів – пиріжки з малиновим наповнювачем. Поєднавши найкращі спеції з натуральними інгредієнтами, ми винайшли дивовижний смак і аромат випічки, яка, поза сумнівом, буде до смаку всім. Пиріжки ТМ SmaСom сміливо можете подати гостям до гарячого чаю, додавши не аби якої родзинки гостинності. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Випічка не лише швидко втамує відчуття голоду, але й принесе відчуття внутрішньої гармонії та задоволення. Спокушає гармонійне поєднання  яблучного пюре з ароматним малиновим наповнювачем в оздобленні ніжного дріжджового тіста. Випечені за домашнім рецептом, з любов'ю і ніжністю, пиріжки будуть улюбленим гостем до сніданку або обіду, на святі чи бенкеті. </p>
							<p>Коли хочеться літнього настрою, коли жага соку життя, легко приготуйте пиріжки ТМ SmaСom. Зробити це можна за декілька хвилин. Наша випічка – це чудовий смак і прекрасний настрій для дружніх родинних зустрічей!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/г, дріжджі хлібопекарські, білок яєчний сухий, сіль, наповнювач яблучний з присмаком малини (пюре яблучне, патока крохмальна, кислота лимонна, бензоат натрію, ароматизатор харчовий «Малина»), вода, цукор, маргарин.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,6 г</span></li>
			<li>жири<span>8,7 г</span></li>
			<li>вуглеводи<span>54,8 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>319,9 ккал</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг<span></span></li>
			<li>2,5 кг<span></span></li>
		</ul>												
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності  700 Вт або в попередньо розігрітій  духовці  при температурі  180-200 С. Час розігріву залежить  від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>	
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>