<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">смажені з капустою</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-2.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Пиріжки з капустою від TM SmaCom приготовлені згідно з класичною рецептурою української кухні. Наші кухарі готують їх за особливим рецептом, завдяки якому відчувається ніжність тіста та гармонійне поєднання капусти.</p>
							<p>Варто відзначити, що пиріжки з капустою – це корисна для здоров'я страва.</p>
							<p>Пиріжки з капустою від TM SmaCom – це смачна та здорова їжа. Насолоджуйтесь широким асортиментом пиріжків ТМ Smacom і забудьте про турботи на кухні!</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто: борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, цукор білий, дріжджі пресовані, сіль кухонна; начинка: капуста білокачанна, вода питна, цибуля ріпчаста свіжа, цукор білий, оцет столовий, сіль кухонна, олія соняшникова рафінована дезодорована, паста томатна. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>4,7 г</span></li>
			<li>жири<span>3,2 г</span></li>
			<li>вуглеводи<span>31,1 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>736,4 кДж (176,0 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг </li>
			<li>300 г <span>± 9 г</span> </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігрівати у мікрохвильовій печі 3-4 хв. при потужності 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>