<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">з яблуками та корицею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat6/product_popup_10.jpg" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<div class="title">1</div>
							<p>Яблука з корицею - відмінний творчий тандем. Поєднання цього корисного фрукту й прянощів використовується в приготуванні багатьох страв. Спробуйте ароматні пиріжки ТМ «Smacom» та оцініть їх неперевершений смак і якість. </p>
							<p>Впевнені, що солодкі пиріжки стануть улюбленими ласощами для всієї вашої сім'ї. Наші кухарі готують їх за особливим рецептом, завдяки якому відчувається ніжність тіста і гармонійне поєднання яблук з корицею. </p>
						</div>
						<div>
							<div class="title">2</div>
							<p>Пиріжки стануть відмінним десертом до чаю, а також просто закускою для втамування голоду. Начинка пиріжків потребує особливої ​​уваги, оскільки в її приготуванні дуже важливо дотримуватися пропорції фруктів і прянощів, правильну чистку та нарізку яблук. </p>
							<p>Рум'яні, пишні, ароматні пиріжки ТМ «Smacom» не тільки смачні, але й є джерелом поживних речовин завдяки своїй начинці. Насолоджуйтесь широким асортиментом пиріжків ТМ «Smacom» і забудьте про турботи на кухні!</p>
						</div>														
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Борошно пшеничне в/с, яблука, вода питна, цукор білий, маргарин, дріжджі пресовані хлібопекарські, крохмаль картопляний, сіль кухонна, білок яєчний сухий пастеризований, поліпшувач хлібопекарський ), емульгатор (Е 471), кориця. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,7 г</span></li>
			<li>жири<span>8,7 г</span></li>
			<li>вуглеводи<span>58,9 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>1408,8 кДж (336,7 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг <span>± 3 %</span></li>
			<li>2,5 кг</li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігріти у мікрохвильовій печі 3-4 хвилини при потужності 700 Вт або в попередньо розігрітій духовці при температурі 180-200 С.</p>
	<p>Час розігріву залежить від кількості виробів, які одночасно розігріваються: чим більше виробів, тим більше потрібно часу. Пиріжки попередньо не потрібно розморожувати.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>