<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">смажені з горохом</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-1.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Спробуйте ароматні смажені пиріжки з горохом ТМ Smacom та оцініть їх неперевершений смак і якість. Спробувавши один раз, вони займуть гідне місце на вашій кухні. Пиріжки наших кухарів нагадають вам смак домашніх бабусиних пиріжків, і діти із задоволенням їх скуштують. Пиріжки з горохом підійдуть до всіх перших страв, а також цілком замінять повноцінний обід, або вечерю.</p>
							<p>Пиріжки з горохом ТМ Smacom особливо актуально під час посту.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто: борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, цукор білий, дріжджі пресовані, сіль кухонна; начинка: горох варений, цибуля ріпчаста пасерована, вода питна, олія соняшникова рафінована дезодорована, сіль кухонна, перець чорний мелений. </div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,9 г</span></li>
			<li>жири<span>4,2 г</span></li>
			<li>вуглеводи<span>33,6 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>819,2 кДж (195,8 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг </li>
			<li>300 г <span>± 9 г</span> </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігрівати у мікрохвильовій печі 3-4 хв. при потужності 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>