<div class="popupHeader">
	<div class="title"><h1>Пиріжки </h1><span class="subtitle">смажені з картоплею</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-fried-pop-3.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>На Україні особливою популярністю користуються пиріжки з картоплею. Їх цінують, перш за все, за ситність і незрівняний смак. Картопля з обсмаженою цибулею – відмінна начинка для втамування голоду. Повітряні прямокутної форми пиріжки TM SmaCom надають апетитність та доповнять ваш раціон.</p>
							<p>У приготуванні витримана класична рецептура в домашніх традиціях, що задовольнить найвишуканіші вимоги знавців української кухні.</p>
							<p>Тепер кожна господиня може швидко, без зайвого клопоту приготувати коханим і близьким смачну ситну випічку!</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Склад продукту</div>
	<div class="consistInside">
		<div class="text">Тісто: борошно пшеничне в/г, вода питна, олія соняшникова рафінована дезодорована, цукор білий, дріжджі пресовані, сіль кухонна; начинка: картопля варена, цибуля ріпчаста смажена, сіль кухонна, кріп свіжий.</div>
		<div class="title">Поживна (харчова) цінність:</div>
		<ul>
			<li>білки<span>5,7 г</span></li>
			<li>жири<span>3,6 г</span></li>
			<li>вуглеводи<span>41,1 г</span></li>
		</ul>
		<div class="title"> Енергетична цінність (калорійність) 100 г продукту:</div>
		<ul>
			<li><span>918,8 кДж (219,6 ккал)</span></li>
		</ul>
		<div class="title">Маса нетто и фасування:</div>
		<ul>
			<li>1 кг </li>
			<li>300 г <span>± 9 г</span> </li>
		</ul>
	</div>
</div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
	<p>Пиріжки розігрівати у мікрохвильовій печі 3-4 хв. при потужності 700 Вт.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
			</div>							
</div>