<div class="popupHeader">
	<div class="title"><h1>Котлеты</h1><span class="subtitle">"Куриные"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                                <p>Котлеты «Куриные» TM «SmaCom» изготавливается из отборного натурального куриного филе. Главное отличие куриных котлет от свиных, или говяжьих – это нежность и воздушность. Их относят к диетическим продуктам. Куриные котлеты можно есть тем, кто следит за фигурой. Также они отлично подходят для питания маленьких детей. </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Рецепт котлет выдержан в классическом стиле. Используется только свежее куриное филе, которое обрабатывается специями для придания особого душистого аромата и пикантного вкуса. Далее полуфабрикат панируется в сухарях, приобретая особый колорит и традиционный вид. </p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
		<div class="consistInside">
			<div class="text">Мясное сырье замороженное – 70% (филе куриное – 40%, мясо куриное (голени) – 20%, сало – 10%), хлеб пшеничный, лук репчатый свежий, вода питьевая, соль поваренная пищевая, перец черный молотый, чеснок сушеный.</div>
			<div class="title">Питательная (пищевая) ценность:</div>
			<ul>
				<li>белки<span>15,0 г</span></li>
				<li>жиры<span>11,9 г</span></li>
				<li>углеводы<span>1,0 г</span></li>
			</ul>
			<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
			<ul>
				<li><span>722,6 кДж (172,0 ккал)</span></li>
			</ul>
			<div class="title">Масса нетто и фасовки:</div>
			<ul>
				<li>1 кг</li>
			</ul>
		</div>
	</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>На разогретую смазанную растительным маслом сковороду выложить котлеты. Жарить до готовности под закрытой крышкой на слабом огне не менее 10 минут.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>