<div class="popupHeader">
	<div class="title"><h1>Тефтели</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/tef-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>Специалисты ТМ EkoSmac, следуя оригинальной рецептуре, готовят аппетитные шарики тефтелей из нежнейшего, свежайшего куриного фарша, смешанного со стопроцентной говядиной и рисом. Согласно классической технологии, тефтели от ТМ EkoSmac панируются в хрустящих сухарях, дабы приобрести свой подлинный вкус, дошедший к нам со времён средневековой французской кухни, где тефтели подавались к королевскому столу.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Мясо птицы, говядина, вода питьевая, крупа рисовая, лук репчатый, соль, перец черный молотый.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>12,74 г</span></li>
						<li>жиры<span>7,97 г</span></li>
						<li>углеводы<span>22,65 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>205 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">В микроволновой печи: выложить в посуду замороженные тефтели в один ряд и разогревать 3 – 5 мин. при мощности 700 Вт. Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше требуется времени.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>