<div class="popupHeader">
	<div class="title"><h1>Котлеты</h1><span class="subtitle">"Домашние"</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/cout_d_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Котлеты «Домашние» – символ любви, заботы и семейного уюта. Там, где наслаждаются котлетками TM «SmaCom», царит радость и домашняя атмосфера.</p>
                            <p>Рецепт приготовления котлет создан в соответствии со всеми стандартами и отличается особой, истинно домашней тщательностью.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p> Неповторимый и нежный вкус домашних котлет чувствуется благодаря правильному сочетанию свиного и куриного мяса, что требует особенного подхода и знания многих кулинарных тонкостей.</p>
                            <p>Котлетки можно подать с зеленью, овощами, любым гарниром, а их домашний вкус усилит ваш любимый соус.</p>
						</div>
					</div>

				</div>
			<div class="clear" style="clear:both"></div>

<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
	<div class="consistInside">
		<div class="text">Мясное сырье замороженное – 65% (мясо свинины жилованное – 30 %, мясо курицы (голени) – 25%, сало – 10%), хлеб пшеничный, лук репчатый свежий, вода питьевая, соль поваренная пищевая, перец черный молотый, чеснок сушеный.</div>
		<div class="title">Питательная (пищевая) ценность:</div>
		<ul>
			<li>белки<span>11,5 г</span></li>
			<li>жиры<span>10,3 г</span></li>
			<li>углеводы<span>1,3 г</span></li>
		</ul>
		<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
		<ul>
			<li><span>978,6 кДж (233,9 ккал)</span></li>
		</ul>
		<div class="title">Масса нетто и фасовки:</div>
		<ul>
			<li>1 кг</li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
	<div class="consistInside">
	<p>На разогретую смазанную растительным маслом сковороду выложить котлеты. Жарить до готовности под закрытой крышкой на слабом огне не менее 10 мин.</p>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>