<div class="popupHeader">
	<div class="title"><h1>Гречаники</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/grech-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p>В гречаниках ТМ Smacom используется сочетание сочной свинины, витаминной говядины и нежного мяса птицы. Именно из этих трёх видов мяса с древности готовятся гречаники на Украине.</p>
							<p>Надо сказать, что это удивительно полезное блюдо. Ведь и мясо, и гречка содержат множество витаминов и полезных веществ. Это настоящая сокровищница белка, железа, витаминов группы В и многого другого.</p>
							<p>Инновационное формовочное оборудование придаёт гречаникам совершенную форму, имеющих насыщенный приятный аромат. Готовые гречаники можно подать к столу со сметаной. Гречаники ТМ EkoSmac – аппетитные традиции Украины!</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Говядина, свинина, мясо птицы, крупа гречневая, соль.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>7,19 г</span></li>
						<li>жиры<span>2,21 г</span></li>
						<li>углеводы<span>18,61 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>303,68 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">В микроволновой печи: выложить в посуду замороженные гречаники в один ряд и разогревать 3 – 5 мин. при мощности 700 Вт. </div>
					<div class="text">Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше требуется времени.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>