<div class="popupHeader">
	<div class="title"><h1>Котлеты «Богатырские»</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/bog-horec-s-pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<p> TM Smacom, чья высококачественная продукция является синтезом украинских традиций вкуса и европейского уровня производства, соединила мясные традиции славян и оригинальную французскую рецептуру. Результат – котлеты «Богатырские». Пожалуй, самые сытные и энергичные котлеты в Украине! </p>
							<p> В производство поступает отборная, натуральная свинина и говядина. Мясной фарш для создания особого вкуса смешивается с высококлассным шпиком и приправляется индийскими специями, которые считаются лучшими в мире. Всё это создаёт неповторимый аромат и вкус котлет «Богатырские».</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Cостав продукта</div>
				<div class="consistInside">
					<div class="text">Говядина, свинина, вода питьевая, шпик боковой, лук репчатый, белок соевый, крупа манная, сухари панировочные, соль, перец черный молотый, чеснок.</div>
					<div class="title">Питательная (пищевая) ценность:</div>
					<ul>
						<li>белки<span>11,05 г</span></li>
						<li>жиры<span>17,12 г</span></li>
						<li>углеводы<span>11,6 г</span></li>
					</ul>
					<div class="title">Энергетическая ценность (калорийность) 100 г продукта:</div>
					<ul>
						<li><span>244,68 ккал</span></li>
					</ul>
					<div class="title">Масса нетто и фасовки:</div>
					<ul>
						<li>2,5 кг</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Способ приготовления</div>
				<div class="consistInside">
					<div class="text">В микроволновой печи: выложить в посуду замороженные котлеты в один ряд и разогревать 3 – 5 мин. при мощности 700 Вт. </div>
					<div class="text">Время разогрева зависит от количества изделий, которые одновременно разогреваются: чем больше изделий, тем больше требуется времени.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>