<div class="popupHeader">
	<div class="title"><h1>Узвар</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/four_u_pop.png" alt=""></div>
				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
							<p>Узвар – традиційний український напій із сушених фруктів і ягід. TM «SmaCom» створила по-справжньому домашній, смачний узвар, який буде незамінним на вашому святковому столі. У напої вдало поєднані яблука, груші, шипшина.
                            </p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>Узвар – джерело корисних вітамінів, тому що фрукти тільки доводять до кипіння, а не піддають тривалому варінню.</p>
						</div>
					</div>
				</div>
			<div class="clear" style="clear:both"></div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Склад продукту</div>
				<div class="consistInside">
					<div class="text">Вода питна, сухофрукти – 10% (яблука, груші, шипшина), цукор, кислота лимонна.</div>
					<div class="title">Поживна (харчова) цінність:</div>
					<ul>
						<li>білки<span>0,3 г</span></li>
						<li>жири<span>0,0 г</span></li>
						<li>вуглеводи<span>10,01 г</span></li>
					</ul>
					<div class="title">Eнергетична цінність:</div>
					<ul>
						<li><span>174,1 кДж (41,6 ккал)</span></li>
					</ul>
					<div class="title">Маса нетто и фасування:</div>
					<ul>
						<li>1 л</li>
					</ul>
				</div>
			</div>
			<div class="consistContainer">
				<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
				<div class="consistInside">
					<div class="text">Розморозити до повного розтавання.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>