<div class="popupHeader">
	<div class="title"><h1>Компот</h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/four_k_pop.png" alt=""></div>

				<div class="popupSliderWrapper">
					<div class="liquid-slider" id="ls3">
						<div>
							<!--<div class="title">1</div>-->
                            <p>Літо – прекрасна пора вітамінів і час заготівлі дарів природи на зиму. Тепла пора дарує нам багато смачних ягід, завдяки яким ми можемо насолоджуватися літніми напоями в холодну погоду.</p>
<!--						</div>
						<div>
							<div class="title">2</div>-->
							<p>TM «SmaCom» зберегла шматочок літа в заморожених компотах, які допоможуть підтримувати необхідний рівень вітамінів в організмі людини і взимку. До складу напою входять вишня, чорна смородина, полуниця і слива – дуже вдалий ягідний союз!</p>
						</div>															
					</div>
				</div>
			<div class="clear" style="clear:both"></div>

	<div class="consistContainer">
		<div class="consist" onClick="showConsist(this)">Склад продукту</div>
		<div class="consistInside">
			<div class="text">Вода питна, суміш для компоту заморожена (вишня, чорна смородина, полуниця, слива), цукор, кислота лимонна.</div>
			<div class="title">Поживна (харчова) цінність:</div>
			<ul>
				<li>білки<span>0,1 г</span></li>
				<li>жири<span>0,04 г</span></li>
				<li>вуглеводи<span>7,0 г</span></li>
			</ul>
			<div class="title">Eнергетична цінність:</div>
			<ul>
				<li><span>120,3 кДж (28,8 ккал)</span></li>
			</ul>
			<div class="title">Маса нетто и фасування:</div>
			<ul>
				<li>1 л</li>
			</ul>
		</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Спосіб приготування</div>
	<div class="consistInside">
        <div class="text">Розморозити до повного відтавання.</div>
				</div>
			</div>
			<div class="icons">
				<img src="img/popup_icon1.jpg" alt="">
				<img src="img/popup_icon2.jpg" alt="">
				<img src="img/popup_icon3.jpg" alt="">
			</div>							
</div>