<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with cherries  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_14.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						SmaCom™ is an extremely juicy and tender food whose taste, despite its simplicity, is refined and gorgeous. Pancakes with cherries give gourmets a real summer mood. Golden openwork pancakes, shiny and attracting with their fatness and satiety, give primordial Energy (caloric) 100 g of the sun. Cherries give extraordinary freshness and vivacity, refreshing the organism. Everyone who fully enjoys natural cherries, knows that this berry is the scarlet beauty on the greening branches which implies a lot of new ideas, forms and an active life.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Fresh cherry is an unquestionable prerogative of the Ukrainian cuisine. Traditionally, in an appropriate season. But thanks to the dedicated specialists from SmaCom™ and innovative freezing, which allows to fully preserve all the nutrients of the product, you can now enjoy pancakes with cherries all year round.</p>
						<p>Hot pancakes with cherries are served with honey, sour cream and melted butter in bowls. Rest assured that the appetite of the most demanding will be fully satisfied. Pancakes with cherries from SmaCom™ give you the summer all year round! </p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">dough: water, extra class wheat flour, skimmed milk, sugar, butter, salt, egg powder. <br>
filling: cherry, sugar, water, potato starch.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>10,0 g</span></li>
			<li>fat<span>3,3 g</span></li>
			<li>carbohydrates<span>28,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>136,2 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,4 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Cooking time in the microwave is 2-3 minutes. Can be warmed in a pre-oiled frying pan, at a low heat under the closed lid.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>