<div class="popupHeader">
	<div class="title"><h1>Meat dumplings </h1><span class="subtitle">with chicken </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_4.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ meat dumplings with chicken embody the tradition of a light, delicate taste. Their peculiarity lies in a gentle filling made of selected freshest chicken meat. Skillfully cooked chicken perfectly blends with a nourishing, thin and tender dough. Thanks to the natural ingredients, the meat dumplings a have nice and refined taste. This is a wonderful product for the harmonious combination of diet and wholesome nutrition.</p>	
						<p>Thanks to a unique recipe, meat dumplings with chicken don't create a stomach heaviness because they are extremely light. Thanks to the unique method of shock freezing, they have the whole set of nutrients and minerals that are contained in fresh chicken meat. </p>	
						<p>SmaCom™ meat dumplings with chicken are a perfection of gentle taste!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt. <br>
Minced meat: chicken fillet - 40%, chicken meat - 35%, onion, water, wheat fiber, salt, ground black pepper.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>11,8 g</span></li>
			<li>fat<span>4 g</span></li>
			<li>carbohydrates<span>25,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>186,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 15 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with butter, sour-cream or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>