<div class="popupHeader">
	<div class="title"><h1>Dumplings  </h1><span class="subtitle">with cottage cheese</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_s_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						SmaCom™ dumplings with cottage cheese are the traditional dumplings, created for those who do not only love tasty and nourishing food, but also for those who honor dairy products and care about their health. Cottage cheese filling is an excellent source of calcium and phosphorus. It is impossible to form the skeletal system without these elements. That is why SmaCom™ dumplings with cottage cheese are useful for everyone, but especially they are recommended for children.</p>	
						<p>Dough is made from extra class flour. While cooking, it becomes gentle and lush. A special cooling technology allows to get an absolute strength and integrity of the dough. Cottage cheese for the filling is an exceptionally natural dairy product.</p>	
						<p>An elegant and delicious mix of lush dough and sweet cottage cheese is useful for children and adults. A delicate flavor of SmaCom™ dumplings with cottage cheese will leave nobody indifferent!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: Extra class flour, water, sunflower oil, egg powder, salt. <br>
Filling: fermented cottage cheese, semolina, sugar, salt, vanilla.
 </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>3,3 g</span></li>
			<li>fat<span>11,4 g</span></li>
			<li>carbohydrates<span>33,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>211,1 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,35 kg<span>± 5 g</span></li>
			<li>0,9 kg<span>± 5 g</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 7-10 minutes. Dumplings are served with butter and sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>