<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with chicken and mushrooms </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_12.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Pancakes with chicken and mushrooms is the original and unusual dish that causes delight both with children and adults. First of all, it's a rich flavor palette, which does not leave indifferent. And, of course, pancakes, mushrooms and tender poultry filet serve as a wonderful filling, nourishing and nutritious.</p>	
						<p>Chicken and mushrooms for the filling come from ecologically clean regions of Ukraine. It is not only satisfying and nutritious, but also an extremely tasty dish. Mushrooms are very rich in protein: it's content is up to 30%, which is more than in meat. Also, mushrooms contain cellulose, carbohydrates, amino acids, a lot of different fatlike substances - fatty acids, essential oils. But the most important of all is lecithin which prevents deposition of cholesterol 2.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Natural chicken treats are wrapped in thin pancakes, which, thanks to their porous structure absorb all the flavors and juices of the fillings and create the most gentle delicacy.</p>
						<p>Pancakes with chicken and mushrooms from SmaCom™ are nourishing, delicious and sophisticated!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">dough: water, extra class wheat flour, skimmed milk, sugar, sunflower oil, salt, egg powder. <br>
filling: 33% chicken meat, 30% chicken fillet, 16% fried champignons, browned onions, water, salt, ground black pepper.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,2 g</span></li>
			<li>fat<span>2,4 g</span></li>
			<li>carbohydrates<span>18,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>124,8 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,4 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Cooking time in the microwave is 2-3 minutes. Can be warmed in a pre-oiled frying pan, at a low heat under the closed lid.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>