<div class="popupHeader">
	<div class="title"><h1>Pancakes  </h1><span class="subtitle"> with cottage cheese and raisins</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_11.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
							<p>SmaCom™ has created pancakes with cottage cheese and raisins for those who choose an active lifestyle, who knows how to live in a dynamic rhythm of the modern world, for all those who want to be healthy, feel fresh and active. Taking care of your own health, you should provide the body with daily calcium. Cottage cheese has enough of it. It should be noted that calcium is best absorbed combined with floury meals, such as pancakes. </p>	
					</div>
					<div>
						<div class="title">2</div>
						<p>Oily, homogeneous cottage cheese is among the best examples of home cooking and dairy products. It is highly enjoyable in appearance and taste. Knowledge and care of our professionals create high-quality sweet cottage cheese (high quality cottage cheese is never sour). Adding raisins to the pancakes gives firstly, even more useful microelements, and, secondly, is a real treat for true lovers of sweets. The combination of cottage cheese and raisins is familiar to everyone from their childhood. For everyone who loves a sweet treat, pancakes with cottage cheese and raisins is the perfect dish.</p>			
					</div>																										
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">dough: water, extra class wheat flour, milk powder, sugar, sunflower oil, salt, powdered eggs. <br>
Filling: cottage cheese, raisins - 16%, sugar, drinking water, semolina, salt, vanilla flavoring.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,5 g</span></li>
			<li>fat<span>1,2 g</span></li>
			<li>carbohydrates<span>27,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>151,2 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,4 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Cooking time in the microwave is 2-3 minutes. Can be warmed in a pre-oiled frying pan, at a low heat under the closed lid.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>