<div class="popupHeader">
	<div class="title"><h1>Pancakes </h1><span class="subtitle">with meat  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_13.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ offers you a classic English breakfast - pancakes with meat. They are tasty and quick to prepare, and they satisfy your hunger. In just a few minutes you can prepare yourself a wonderful breakfast. Technology of their production is based on a bilateral frying of dough, which is exactly the one used for making pancakes at home. This provides an excellent taste, attractive appearance of the product and its high degree of readiness. Natural ingredients and innovative freezing allow to keep all the useful elements and flavor properties.
</p>	
						<p>Pancakes with meat from SmaCom™ are real homemade yummies!</p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">dough: water, extra class wheat flour , skimmed milk, sugar, sunflower oil, salt, egg powder. <br>filling: 60% beef, 20% pork, browned onions, water, salt, ground black pepper.</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>7,3 g</span></li>
			<li>fat<span>4,8 g</span></li>
			<li>carbohydrates<span>18,5 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>146,4 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,4 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Cooking time in the microwave is 2-3 minutes. Can be warmed in a pre-oiled frying pan at a low heat under the closed lid.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>