<div class="popupHeader">
	<div class="title"><h1>Cherry  </h1><span class="subtitle">dumplings</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_10.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						Cherry has always been held in high esteem among the Slavic peoples. This luscious berry was always harvested in large quantities. It was used to make jam, liquors and, of course, it was used in cooking. Cherry dumplings is another iconic Ukrainian trend, which is known worldwide. </p>	
						<p>SmaCom™ cherry dumplings are: white dough made of premium flour and juicy frozen cherries, crushed in the production process. Recipe is held by the masters of SmaCom™ according to the classical Ukrainian traditions with homemade taste. Ultramodern technologies and professional control at all stages of making SmaCom™ dumplings make them absolutely safe and ensure the integrity of the dish after cooking. </p>	
						<p>Enjoy your meal!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: Extra class flour, water, sunflower oil, egg powder, salt.  <br>
Filling: cherry, sugar, potato starch.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>10,9 g</span></li>
			<li>fat<span>3,3 g</span></li>
			<li>carbohydrates<span>35,3 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>190,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 7-10 minutes. Dumplings are served with butter and sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>