<div class="popupHeader">
	<div class="title"><h1>Dumplings </h1><span class="subtitle">with potatoes and mushrooms  </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_7.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ dumplings with potatoes and mushrooms are the dumplings,  which one can really be proud of. Basis of the filling is fried mushrooms, of course, which emphasize the nourishing potatoes with their unique rich flavor. Dumplings with the potatoes and mushrooms filling are primarily valued for satiety and incomparable taste.</p>	
						<p>Created according to a classical home recipe out of selected products, the dumplings with potatoes and mushrooms filling are passaged in butter and can be prepared in just a few minutes, without much difficulty and time-consuming! Nourishing, tasty, original! Perfect for dinner!</p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: Extra class flour, water, sunflower oil, egg powder, salt. <br>
Filling: boiled potatoes, mushrooms, fried mushrooms - 12%, fried onion, salt.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,6 g</span></li>
			<li>fat<span>2 g</span></li>
			<li>carbohydrates<span>38,6 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>195,1 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 15 g</span></li>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 7-10 minutes. Dumplings are served with butter and sour cream.</p>				
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>