<div class="popupHeader">
	<div class="title"><h1>Dumplings  </h1><span class="subtitle">with potatoes</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_pack/var_k_pop.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<div class="title">1</div>
						<p>
						SmaCom™ dumplings with potatoes are a native national product, which  has become a real classic of Ukrainian cuisine. This delicacy was created to be a culinary pride, that's why it meets very serious requirements of gourmets.</p>	
						<p>Thin delicate crumbly dough and golden potatoes is the combination not only aesthetically pleasing, but also very tasty. We have embodied this particular harmony of taste into our dumplings with potatoes. This is an amazing synthesis of the potatoes Energy (caloric) 100 g, juicy onion and spices. But a key component, of course, is a truly home recipe.</p>
					</div>
					<div>
						<div class="title">2</div>
						<p>Wherever you are, you can always cook dumplings with potatoes in only 7-10 minutes and feel like home. This is a healthy everyday dish.</p>
						<p>SmaCom™ dumplings with potatoes - delicious and healthy!</p>			
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: Extra class flour, water, sunflower oil, egg powder, salt.<br>Filling: boiled potatoes, fried onion, salt, ground black pepper.
 </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>5,6 g</span></li>
			<li>fat<span>2,2 g</span></li>
			<li>carbohydrates<span>40,2 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>190,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,35 kg<span>± 15 g</span></li>
			<li>0,9 kg<span>± 15 g</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 7-10 minutes. Dumplings are served with butter and sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>