<div class="popupHeader">
	<div class="title"><h1>Meat dumplings </h1><span class="subtitle">with pork and beef </span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-1.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ is ready to offer you a decent solution - meat dumplings for the whole family. Meat dumplings with pork and beef have a favorable appetizing "Saturn" shape that provides a higher ratio of meat to dough. </p>	
						<p>The particular feature is filling of a harmonious combination of pork, beef and onions. Everything is observed in certain proportions. Pork makes the meat dumplings tender, beef makes them nourishing, onions make them juicy, and allspice and black pepper create a delicious spicy flavor of the dish. </p>	
						<p>Wherever you are - at work or on holiday, you can always cook the meat dumplings and enjoy their taste!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt <br>
Minced meat: pork - 42%, fat - 19%, beef - 14%, onion, water, wheat fiber, salt, ground black pepper.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>14,2 g</span></li>
			<li>fat<span>8,2 g</span></li>
			<li>carbohydrates<span>25,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>264,2 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 15 g</span></li>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with butter, sour-cream or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>