<div class="popupHeader">
	<div class="title"><h1>Dumplings   </h1><span class="subtitle">with potatoes and liver</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_9.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Dumplings is the main Ukrainian culinary trend around the world. Dumplings are even put to the monuments, and cooks do not get tired to experiment with fillings. SmaCom™ dumplings with potatoes and liver are created for those who love to try different combinations in food. Liver dilutes the familiar taste of potato dumplings, making them more juicy and delicious. It should be noted that liver is extremely useful for the organism. It contains essential amino acids, enzymes and a significant amount of extractives, iron and phosphorus. Liver is rich in B vitamins, it has vitamins A, D, E, K.</p>	
						<p>SmaCom™ dumplings with potato and liver are made according to a traditional recipe with strict adherence to the one and only right technology. Loyalty to the Ukrainian traditions and European technological innovations are the two key factors that ensure the highest quality of our product. </p>	
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: Extra class flour, water, sunflower oil, egg powder, salt. <br>
Filling: boiled potatoes, boiled beef liver - 20%, fried onion, salt, ground black pepper.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>6,8 g</span></li>
			<li>fat<span>2,3 g</span></li>
			<li>carbohydrates<span>36,8 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>190,6 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the dumplings into boiling salted water (1 part of dumplings: 4 parts of water), bring to a boil and cook over low heat for 7-10 minutes. Dumplings are served with butter and sour cream.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>