<div class="popupHeader">
	<div class="title"><h1>Khinkali </h1></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_5.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						Khinkali is the national dish of Georgian cuisine which has gained popularity worldwide. Khinkali were brilliantly glorified by Nodar Dumbadze, and, like any pride and symbol, they have their own characteristics and secrets that are passed from generation to generation. An ancient Caucasian recipe of SmaCom™ khinkali is used in preparation.</p>
						<p>Harmonious blend of beef with chicken, fragrant herbs and spices make the dish memorably delicious. It is an incomparable flavor: spicy, fragrant and always juicy. The main "highlight" of the dish is actually in the juice. It is important not to lose any single meat nectar droplet when you eat khinkali. SmaCom™ khinkali are wonderful in their convenience. They can be prepared in just a few minutes and they will be pertinent to any company for any occasion. In fact, as Georgians say themselves "Hot khinkali is a holiday at home".</p>	
						<p>SmaCom™ khinkali  - a real taste of the East!</p>		
					</div>																					
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt. <br>
Minced meat: beef - 42%, lard - 22%, chicken fillet - 12%, onion, water, salt, ground black pepper, ground red pepper, basil, parsley, dill.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>10 g</span></li>
			<li>fat<span>10 g</span></li>
			<li>carbohydrates<span>24,8 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>229,2 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,5 kg<span>± 5 g</span></li>
			<li>2,5 кг</li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put khinkali into the meat broth, spiced up with oriental spices, and boil until cooked. Serve khinkali and broth with tartar sauce in portioned pots.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>