<div class="popupHeader">
	<div class="title"><h1>Meat dumplings </h1><span class="subtitle">with beef</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/new_img/img-dump-pop-0.png" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ offers meat dumplings with delicate dough and tasty juicy meat. They are produced according to the current state standards for the production of this product. Meat dumplings with beef have round "Saturn" shape, which provides greater ratio of dough to meat than the "ravioli" shape.</p>	
						<p>SmaCom™ meat dumplings with beef are a versatile, nourishing, tasty dish for any occasion. At home or away, at lunchtime or on a picnic, they will always be pertinent! The original recipe and only natural ingredients is why meat dumplings with beef are so beloved by bachelors and housewives, businessmen and students!</p>	
						<p>Enjoy your meal!</p>
					</div>															
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt <br>
Minced meat: beef - 53%, lard - 22%, onion, water, wheat fiber, salt, ground black pepper.
</div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>12,6 g</span></li>
			<li>fat<span>9 g</span></li>
			<li>carbohydrates<span>25,9 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>253 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,35 kg<span>± 15 g</span></li>
			<li>0,9 kg<span>± 15 g</span></li>
			<li>2,5 кг<span></span></li>
		</ul>
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with butter, sour-cream or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>