<div class="popupHeader">
	<div class="title"><h1>Meat Dumplings  </h1><span class="subtitle">with pork</span></div>
	<div class="close" onClick="popupRemove();"></div>
</div>
<div class="borderDown"></div>
<div class="popupContent">
			<div class="PopupImageContainer"><img  class="productPopupImage" src="img/products/cat9/product_popup_1.jpg" alt=""></div>
			<div class="popupSliderWrapper">
				<div class="liquid-slider" id="ls3">
					<div>
						<p>
						SmaCom™ proudly presents meat dumplings with pork. Only natural products are used, the ratio of meat to dough is 50/50, thanks to a successful Saturn shape. The meat dumplings consist of fat juicy pork and, of course, of gentle dough from high quality flour. Real home-grown onion gives the SmaCom™ meat dumplings with pork special juiciness, and natural spices emphasize a sophisticated flavor palette. </p>	
						<p>Meat dumplings with pork have a pleasant spicy flavor, they are nourishing and juicy. </p>	
						<p>Enjoy your meal!</p>
					</div>																
				</div>
			</div>
			<div class="clear" style="clear:both"></div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Ingredients</div>
	<div class="consistInside">
		<div class="text">Dough: extra class flour, water, salt <br>
Minced meat: pork - 55%, lard - 20%, onion, water, wheat fiber, salt, ground black pepper.
 </div>
		<div class="title">Nutritional (food) information:</div>
		<ul>
			<li>proteins<span>15,5 g</span></li>
			<li>fat<span>7,8 g</span></li>
			<li>carbohydrates<span>26 g</span></li>
		</ul>
		<div class="title">Energy (caloric) 100 g:</div>
		<ul>
			<li><span>274,7 kcal</span></li>
		</ul>
		<div class="title">Net weight and packing:</div>
		<ul>
			<li>0,9 kg<span>± 15 g</span></li>
			<li>0,45 kg<span>± 5 g</span></li>
		</ul>												
	</div>
</div>
<div class="consistContainer">
	<div class="consist" onClick="showConsist(this)">Cook Method</div>
	<div class="consistInside">
	<p>Without defrosting, put the meat dumplings into boiling salted water (1 part of meat dumplings to 4 parts of water). Bring to a boil, cook for 5-7 minutes on low heat until cooked. Serve the meat dumplings with butter, sour-cream or sauce.</p>					
	</div>
</div>		
	<div class="icons">
		<img src="img/popup_icon1.jpg" alt="">
		<img src="img/popup_icon2.jpg" alt="">
		<img src="img/popup_icon5.jpg" alt="">
	</div>
</div>